<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container col-md-12">
<p id="notice"><%= notice %></p>
<h3>Edit <%=@merchandise.name %> </h3>

<% if @merchandise.user_id == current_user.id %>

<%= form_for(@merchandise) do |f| %>
  <% if @merchandise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@merchandise.errors.count, "error") %> prohibited this merchandise from being saved:</h2>

      <ul>
      <% @merchandise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blacktxt">
    <b>Patron Perk name </b><br>
    <%= f.text_field :name, :size => 80 %><br><br>
    <b>Perk Picture </b><br>
        Upload a picture that represents the item you are offering (.jpg, .gif, .jpeg, or .png) - <i>a square picture works best</i>
        <br><%= f.file_field :itempic %> 
    <br>
    <b>About this Perk </b><br>
      What is this product? What is the main reason someone might want this item?<br>
    <%= f.text_area :desc, :cols => 82, :rows => 7 %><br><br>
    <b>Price </b><br>
      $<%= f.text_field :price, size: 70 %>USD<br>
  </div><br>

  <div class="blacktxt">
    <b>Video </b><br>
      If you have a video about your item on <b>YouTube</b>, paste the YouTube URL below. Your video's 11-digit ID will be saved. Any non-YouTube url will be ignored. <br /> 
      <div class="profilebox" >
        <%= f.text_area :youtube, :cols => 70, :rows => 2, placeholder: 'http://www.youtube.com/watch?v=/frlviTJcVUo' %>
      </div><br>
  </div>

  <div class="actions">
    <%= f.submit "Update Perk" %>
  </div>
<% end %>
<% end %>
<br><br><br>
</div>
</div>
</div>
</div>
