<h3>Edit Patron Perks</h3>


<% if @merchandise.user_id == current_user.id %>

<%= form_for(@merchandise) do |f| %>
  <% if @merchandise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@merchandise.errors.count, "error") %> prohibited this merchandise from being saved:</h2>

      <ul>
      <% @merchandise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blacktxt">
    <b>Patron Perk name </b><br>
    <%= f.text_field :name, :size => 80, placeholder: "The Best Project Ever" %><br><br>
    <b>About this perk </b><br>
      What is this product? What is the main reason someone might want this item? (You may add to this later)<br>
    <%= f.text_area :desc, :cols => 82, :rows => 7 %><br><br>
    <b>Price </b>(in USD) $<%= f.text_field :price, placeholder: "10.00" %><br>
  </div>
      <div class="field">
        Upload a picture that represents the item you are offering (.jpg, .gif, .jpeg, or .png) - <i>a square picture works best</i>
        <br><%= f.file_field :itempic %> 
      </div><br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>
<br><br>
