<h2>These are some of the awesome Rewards our members offer to their fans</h2>

    <% @merchandisepic.each do |merchandise| %>

      <div class="col-md-4 col-sm-6 col-xs-12" > 
        <div class= "groupimage" style="vertical-align:center; horizontal-align:center; height:190px; width:300px; right-margin:50px; overflow:hidden" >
          <% if merchandise.itempic.present? && merchandise.itempic != '' %>
            <% merchthumb = merchandise.itempic.url.to_s %>
          <% else %>
            <% merchthumb = "crowddark.png" %>
          <% end %>

          <%= link_to (image_tag merchthumb, style: "opacity:0.5; filter:alpha(opacity=50); max-height:150px"), merchandise_path(merchandise.id) 
          %>

          <grouptext>
          <div style="font-size:22px"><%= link_to merchandise.name, merchandise, style: "font" %></div>
            <%= merchandise.desc %><br>
              <% if user_signed_in? %>
                <% if group.user_id == current_user.id %>
                  <%= link_to 'Edit', edit_group_path(group.id) %> 
                <% end %>
              <% end %></grouptext>
        </div>
      </div>
    <% end %> 

<table>
  <tbody>
    <% @merchandiselisa.each do |merchandise| %>
      <tr>
        <td><%= merchandise.name %></td>
        <td>Dr. Lisa </td>
        <td><%= merchandise.desc %></td>
      </tr>
    <% end %>
    <% @merchandisenopic.each do |merchandise| %>
      <% author = User.find(merchandise.user_id) %>
      <tr style = "padding-bottom:10px">
        <td class = "merchandise"><%= link_to merchandise.name, merchandise %></td>
        <td><%= author.name %> </td>
        <td><%= merchandise.desc %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
