<div class="row" >
  <div class="col-md-7 col-sm-offset-2 col-sm-8 col-sm-offset-1 col-xs-12 " style= "text-align:left" >

<h3>Offer a new Patron Perk</h3>

<%= form_for(@merchandise) do |f| %>
  <% if @merchandise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@merchandise.errors.count, "error") %> prohibited this merchandise from being saved:</h2>
      <ul> <% @merchandise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blacktxt">
    <b>Patron Perk name </b><br>
    <%= f.text_field :name, size: 80, placeholder: "The Best Stuff Ever" %><br><br>
    <b>About this perk </b> - You may add to this later<br>
    <%= f.text_area :desc, cols: 82, :rows => 7, placeholder: "What is this product? What is the main reason someone might want this item?" %><br><br>
    <b>Price </b><br>
    <%= f.text_field :price, size: 80, placeholder: "$10.00" %>
  </div>
      <div class="field">
        Upload a picture that represents the item you are offering (.jpg, .gif, .jpeg, or .png) - <i>a square picture works best</i>
        <br><%= f.file_field :itempic %> 
      </div><br>

  <div class="blacktxt">
    <b>Video </b><br>
      If you have a video about your item on <b>YouTube</b>, paste the YouTube URL below. Your video's 11-digit ID will be saved. Any non-YouTube url will be ignored. <br /> 
      <div class="profilebox" >
        <%= f.text_area :youtube, cols: 70, rows: 2, placeholder: 'http://www.youtube.com/watch?v=/frlviTJcVUo' %>
      </div><br>
  </div>

  <div class="actions">
    <%= f.hidden_field :phase_id, value: @phase_id %>
    <%= f.hidden_field :rttoeditphase, value: "editphase" %>
    <%= f.submit "Add Perk" %>
  </div>
<% end %>
<br><br>
</div>
</div>
