<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <br><br>
        <% if !current_user.stripeid.present? %>
            <div class="alert alert-danger">
                You must <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%= STRIPECONNECTCLIENTID %>&scope=read_write" target="_blank"><%= link_to image_tag("stripebutton.png") %></a> to receive payments!
            </div>
        <% end %>
        

        <h1>Create a Perk</h1>
        <p>Offer your fans an item, experience, or benefit they can purchase on your page or during your livestreams. Don't worry, you can edit these details later! All items offered for sale through CrowdPublish.TV are meant to be immediately available and fulfilled within a week. So if you're offering to tweet to them, do it as soon as you see their contribution posted on your dashboard. If you're offering an hour of consulting time, text or call to arrange a session right away! Check your dashboard often.</p>

        <%= form_for(@merchandise) do |f| %>
        <% if @merchandise.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@merchandise.errors.count, "error") %> prohibited this merchandise from being saved:</h2>
            <ul> <% @merchandise.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
        <% end %>

        <div class="form-group">
            <h2><%= f.label :name, "Title" %></h2>
            <p class="help-block">"Choose a descriptive name for this perk.</p>
            <%= f.text_field :name, placeholder: "The Best Stuff Ever" %> <!--PLACEHOLDER???-->
        </div>

        <div class="form-group">
            <h2><%= f.label :price, "Price" %></h2>
            <p class="help-block">Enter the cost of this Perk.</p>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <%= f.text_field :price, :class => "form-control" %>
                <div class="input-group-addon">.00</div>
            </div>
        </div>

        <div class="form-group">
            <h2><%= f.label :desc, "Description" %></h2>
            <p class="help-block">What comes with this Perk?</p>
            <%= f.text_area :desc, :rows => "5", :class => "form-control" %>
        </div>

        <div class="form-group">
            <h2><%= f.label :itempic, "Image" %></h2>
            <p class="help-block">Upload an image that represents the Perk you are offering (JPEG, GIF, or PNG).</p>
            <%= f.file_field :itempic, :class => "form-control" %>
        </div>

        <div class="form-group">
            <h2><%= f.label :youtube, "Video" %></h2>
            <p class="help-block">If you have a YouTube video about your Perk, paste the URL below.</p>
            <%= f.text_area :youtube, :class => "form-control"  %>
        </div>

        <div class="form-group">
            <h2><%= f.label :expiration, "Expiration Date" %></h2>
            <p class="help-block">Get it while it's hot! Choose the last day fans can purchase this Perk.</p>
            <%= f.date_select :expiration, :class => "form-control", selected: Date.today + 2.months, :start_year => Date.today.year, :end_year => Date.today.year + 1 %>
        </div>

        <!--I don't think this div is necessary?-->
        <div class="actions">
            <%= f.submit "Create Perk", :class => "btn btn-primary" %>
        </div>
        <% end %>

        <% if !current_user.stripeid.present? %>
            You must 
                <% if Rails.env.development? || Rails.env.test? %>
                    <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%= STRIPE_CONNECT_CLIENT_ID %>&scope=read_write" target="_blank">Sign up for Stripe </a>
                <% else %>
                    <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%= ENV['STRIPE_CONNECT_CLIENT_ID'] %>&scope=read_write" target="_blank">Sign up for Stripe </a>
                <% end %>
            before offering items for sale.
        <% end %>

    </div>
</div>