<div class="container">

<p id="notice"><%= notice %></p>

  <% if @merchandise.itempic.present? && @merchandise.itempic != '' %>
    <%= image_tag(@merchandise.itempic.url.to_s, height: '200px') %><br>
  <% end %>

  <h3><%= @merchandise.name %> </h3>
    <% if @user.stripeid.present? || @user.id == 143  %>
      <!--Download perk file-->

    <%if @merchandise.buttontype == 'Donate'%>
        <h2>Donation Successful!</h2>
      <%else%>
        <h2>Purchase Successful!</h2>
      <%end%>

      <% if @merchandise.audio.present? %>
      <%end%>

      <% if @merchandise.youtube? %>
        <% if @merchandise.youtube.match(/[0-9A-Za-z]/) && @merchandise.youtube.length < 20 %>
          <iframe width="420" height="315" src="//www.youtube.com/embed/<%= @merchandise.youtube %>" frameborder="0" allowfullscreen></iframe>
        <% end %>
      <% end %>


<div class="goals">
  <% if @merchandise.desc.present? %> 
    <br><%= simple_format @merchandise.desc.gsub(/\n/, '<br>') %><br>
  <% end %> 

  <% if @merchandise.price.present? %>
        $<%= sprintf('%.2f', @merchandise.price) %> USD  <br>
      <% end %>

  <div class="last4">
      Using default card ending *<%= @last4 %>, Expiration <%= @expmonth %>-<%= @expyear %><br>
  </div>

</div>
<br><br><br><br>
</div>