<p id="notice"><%= notice %></p>

<div class="blacktxt">
  <h4><%= @merchandise.name %> </h4>
  $<%= sprintf('%.2f', @merchandise.price) %> USD  
  <%= link_to image_tag("buypdf.png" ), new_purchase_path(:user_id => current_user.id, :merchandise_id => @merchandise.id), :method=> :get %> <br>

  <%= @author.name %><br><br>
  <%= @merchandise.desc %>
</div>