<div style="height: 70px;"></div>
<div class="container">

<p id="notice"><%= notice %></p>

  <% if @merchandise.itempic.present? && @merchandise.itempic != '' %>
    <%= image_tag(@merchandise.itempic.url.to_s, height: '200px') %><br>
  <% end %>

  <h3><%= @merchandise.name %> </h3>
    <% if @user.stripeid.present? || @user.id == 143  %>
      <!--Download perk file-->

      <% if @merchandise.audio.present? %>
      <%end%>

      <%if @merchandise.buttontype == 'Donate'%>
        <%= link_to "Donate Now", new_purchase_path(:merchandise_id => @merchandise.id, :group_id => params[:groupid]), :class => "btn btn-primary" %> 
      <%else%>
        <%= link_to "Buy Now", new_purchase_path(:merchandise_id => @merchandise.id, :group_id => params[:groupid]), :class => "btn btn-primary" %> 
      <%end%>
      <% if @merchandise.price.present? %>
        $<%= sprintf('%.2f', @merchandise.price) %> USD  <br>
      <% end %>
    <% else %>
        <%= @user.name %> has not made this item available yet. Please check back later to purchase. <%= @merchandise.name %>.
    <% end %>

<div class="goals">
  <% if @merchandise.desc.present? %> 
    <br><%= simple_format @merchandise.desc.gsub(/\n/, '<br>') %><br>
  <% end %> 
      <% if @merchandise.youtube? %>
        <% if @merchandise.youtube.match(/[0-9A-Za-z]/) && @merchandise.youtube.length < 20 %>
          <iframe width="420" height="315" src="//www.youtube.com/embed/<%= @merchandise.youtube %>" frameborder="0" allowfullscreen></iframe>
        <% end %>
      <% end %>
</div>
<br><br><br><br><br><br><br><br>
</div>