<div class="container">

<p id="notice"><%= notice %></p>

<!--TOP HALF-->

<div class="text-center">
  <h1 class="new"><%= @merchandise.name %> </h1>
  <h2 class="mt-3 new text-center text-dark"> Last Day to Purchase: <%= @merchandise.deadline %> </h2><br>
  <% if @merchandise.itempic.present? && @merchandise.itempic != '' %>
    <%= image_tag(@merchandise.itempic.url.to_s, height: '600px') %><br>
  <% end %><br>
  <% if @user.stripeid.present? || @user.id == 143  %>
      <!--Download perk file-->

      <% if @merchandise.audio.present? %>
      <%end%>

      <% if @merchandise.price.present? %>
        <br><h2 class="text-center text-dark"> Price: $<%= sprintf('%.2f', @merchandise.price) %> USD </h2>
      <% end %>
      
      <%if @merchandise.buttontype == 'Donate'%>
        <%= link_to "Donate Now", new_purchase_path(:merchandise_id => @merchandise.id, :group_id => params[:groupid]), :class => "btn btn-lg bg-warning" %> 
      <%else%>
        <%= link_to "Buy Now", new_purchase_path(:merchandise_id => @merchandise.id, :group_id => params[:groupid]), :class => "btn btn-lg bg-warning" %> 
      <%end%>
      
    <% else %>
        <%= @user.name %> has not made this item available yet. Please check back later to purchase. <%= @merchandise.name %>.
    <% end %>
</div>

  
    

<div class="goals">
  <% if @merchandise.desc.present? %> 
    <br><%= simple_format @merchandise.desc.gsub(/\n/, '<br>') %><br>
  <% end %> 
      <% if @merchandise.youtube? %>
        <% if @merchandise.youtube.match(/[0-9A-Za-z]/) && @merchandise.youtube.length < 20 %>
          <iframe width="420" height="315" src="//www.youtube.com/embed/<%= @merchandise.youtube %>" frameborder="0" allowfullscreen></iframe>
        <% end %>
      <% end %>
</div>
<br><br><br><br><br><br><br><br>
</div>

