<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container" style="float:left; text-align:left; width:700px;">
<p id="notice"><%= notice %></p>

<div class="blacktxt">
  <% if @merchandise.itempic.present? && @merchandise.itempic != '' %>
    <%= image_tag(@merchandise.itempic, size: '500x200') %><br>
  <% end %>

  <h3><%= @merchandise.name %> </h3>
  <% if user_signed_in? %>
    <%= link_to image_tag("buynow.png" ), new_purchase_path( :merchandise_id => @merchandise.id, :group_id => params[:groupid]), :method=> :get %> 
    $<%= sprintf('%.2f', @merchandise.price) %> USD  <br>
  <% else %>
    <br><%= link_to image_tag("signup.png", :size => "155x40"), "/signup" %> to get awesome Perks from <%= @author.name %> 
  <% end %>

  <% if @merchandise.desc %> 
    <br><%= simple_format @merchandise.desc.gsub(/\n/, '<br>') %>
  <% end %> 
</div>
      <% if @merchandise.youtube? %>
        <% if @merchandise.youtube.match(/[0-9A-Za-z]/) && @merchandise.youtube.length < 20 %>
          <iframe width="420" height="315" src="//www.youtube.com/embed/<%= @merchandise.youtube %>" frameborder="0" allowfullscreen></iframe>
        <% end %>
      <% end %>
<br><br><br>
</div>
</div>
</div>
</div>
