f<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container col-md-12" >
<p id="notice"><%= notice %></p>

  <% if @merchandise.itempic.present? && @merchandise.itempic != '' %>
    <%= image_tag(@merchandise.itempic.url.to_s, height: '200px') %><br>
  <% end %>

  <h3><%= @merchandise.name %> </h3>
  <% if user_signed_in? %>
    <% if @user.stripeid.present? || @user.id == 143  %>
      <%= link_to image_tag("buynow.png" ), new_purchase_path( :merchandise_id => @merchandise.id, :group_id => params[:groupid]), :method=> :get %> 
      <% if @merchandise.price.present? %>
        $<%= sprintf('%.2f', @merchandise.price) %> USD  <br>
      <% end %>
    <% else %>
        <%= @user.name %> has not made this items available yet. Please check back later to purchase <%= @merchandise.name %>.
    <% end %>
  <% else %>
    <br><%= link_to image_tag("signup.png", :size => "155x40"), "/signup" %> to get awesome Perks from <%= @author.name %> 
  <% end %>

<div class="goals">
  <% if @merchandise.desc %> 
    <br><%= simple_format @merchandise.desc.gsub(/\n/, '<br>') %><br>
  <% end %> 
      <% if @merchandise.youtube? %>
        <% if @merchandise.youtube.match(/[0-9A-Za-z]/) && @merchandise.youtube.length < 20 %>
          <iframe width="420" height="315" src="//www.youtube.com/embed/<%= @merchandise.youtube %>" frameborder="0" allowfullscreen></iframe>
        <% end %>
      <% end %>
</div>
<br><br><br>
</div>
</div>
</div>
</div>
