<div class="blacktxt">
<% if user_signed_in? %>

  <div class="helps" >
    Offer standard Rewards as-is or customize for your project or expertise. </i>
  </div><br>


  <div class="row" >
    <div class="col-sm-6 col-xs-12" >
      <div class="socialize" style="padding-bottom:10px" >
        Engage directly with fans
      </div>

      <div class="font19left" >
<% "SOCIAL MEDIA POST" %>
        <div class="accordion" id="accordion1">
          <div class="accordion-group" style="background:#eee; padding-left:10px; padding-top:5px; padding-bottom:5px">
            <div id="accordion-toggle1" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= form_for(@merchandise) do |f| %>
                  <b>Perk Name </b><br>
                  <%= f.text_field :name, size: 60, value: "I'll Post on your facebook wall or mention you in a tweet every week for 4 weeks" || :name %><br><br>
                  <b>About this Reward </b><br>
                  What is this Reward? What is the main reason someone might want this Reward? (You may edit this before fans purchase)<br>
                  <%= f.text_area :desc, cols: 62, rows: 7, value: "I will write a tip of the week on your facebook wall or in a tweet to you every Tuesday for the next 4 weeks. Please state whether you'd prefer a facebook post or tweet." || :desc %><br><br>
                  <b>Price </b><br>
                  $<%= f.text_field :price, size: 10, value: 20.00 || :price %>USD<br>
                  <%= button_to "Offer Social Media Post", class: "button" %>
                <% end %>
              </div>
            </div>
            <a class="accordion-toggle1" data-toggle="collapse" href="#accordion-toggle1">
              <span>
                Informative or inspirational <b>Social Media Post</b>
              </span>
              <span class="hidden1more">
                ...Hide <b>Social Media Post</b> details<br><br>
              </span>
            </a>
          </div>
        </div>
<% "SOCIAL MEDIA POST 2" %>
    <div class="accordion" id="accordion2">
      <div class="accordion-group" style="padding-left:10px; padding-top:5px; padding-bottom:5px">
        <div id="accordion-toggle2" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= form_for(@merchandise) do |f| %>
              <b>Reward Title </b><br>
              <%= f.text_field :name, size: 60, value: "I'll Post on your facebook wall or mention you in a tweet every week for 4 weeks" || :name %><br><br>
              <b>About this Reward </b><br>
              <%= f.text_area :desc, cols: 62, rows: 7, value: "I will write a brief greeting or line from my latest gag reel on your facebook wall and in a tweet to you every day one week." || :desc %><br><br>
              <b>Price </b><br>
              $<%= f.text_field :price, size: 10, value: 20.00 || :price %>USD<br>
              <%= button_to "Offer Social Media Post", class: "button" %>
            <% end %>
          </div>
        </div>
        <a class="accordion-toggle2" data-toggle="collapse" href="#accordion-toggle2">
          <span>
            Comedic <b>Social Media Post</b>
          </span>
          <span class="hidden2more">
            ...Hide <b>Social Media Post</b> details<br><br>
          </span>
        </a>
      </div>
    </div>
  <% "SOCIAL MEDIA VIDEO" %>
    <div class="accordion" id="accordion7">
      <div class="accordion-group" style="background:#eee; padding-left:10px; padding-top:5px; padding-bottom:5px">
        <div id="accordion-toggle7" class="accordion-body collapse">
          <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <b>Perk Name </b><br>
                <%= f.text_field :name, size: 60, value: "Video Reading posted on your facebook wall" || :name %><br><br>
                <b>About this Reward </b><br>
                What is this Reward? Main reason someone might want this Reward? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 62, rows: 7, value: "I will record a video of myself reading from my next chapter and post it on your facebook wall. " || :desc %><br><br>
            <b>Price </b><br>
            $<%= f.text_field :price, size: 10, value: 400.00 || :price %>USD<br>
                <%= button_to "Offer Facebook Video Reward", class: "button" %><br><br>
              <% end %>
          </div>
        </div>
          <a class="accordion-toggle7" data-toggle="collapse" href="#accordion-toggle7">
            <span>
              <b>Facebook Video Post</b> where fans' friends can see your work
            </span>
            <span class="hidden7more">
              ...Hide <b>Facebook Video Post</b> details
            </span>
          </a><br>
      </div>
    </div>
<% "ACCESS TO BEHIND THE SCENES BLOG" %>
        <div class="accordion" id="accordion3">
          <div class="accordion-group" style="padding-left:10px; padding-top:5px; padding-bottom:5px">
            <div id="accordion-toggle3" class="accordion-body collapse">
              <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <b>Perk Name </b><br>
                <%= f.text_field :name, size: 60, value: "Patrons Only behind the scenes Secrets " || :name %><br><br>
                <b>About this Reward </b><br>
                What is this Reward? Main reason someone might want this Reward? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 62, rows: 7, value: "I'll email you my Patrons Only news blog that contains Secrets about what happened this week behind the scenes of my latest movie - My take on what goes on when the camera is off." || :desc %><br><br>
                <b>Price </b><br>
                $<%= f.text_field :price, size: 10, value: 30.00 || :price %>USD<br>
                <%= button_to "Offer Behind The Scenes Blog Reward", class: "button" %>
              <% end %>
              </div>
            </div>
            <a class="accordion-toggle3" data-toggle="collapse" href="#accordion-toggle3">
              <span>
                Behind the Scenes <b>Premium Blog Access </b>
              </span>
              <span class="hidden3more">
                ...Hide <b>Behind the Scenes Blog</b> details<br><br>
              </span>
            </a><br>
          </div>
        </div>
<% "SOCIAL MEDIA VIDEO" %>
    <div class="accordion" id="accordion4">
      <div class="accordion-group" style="background:#eee; padding-left:10px; padding-top:5px; padding-bottom:5px">
        <div id="accordion-toggle4" class="accordion-body collapse">
          <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <b>Reward Title </b><br>
                <%= f.text_field :name, size: 60, value: "Video Reading posted on your facebook wall" || :name %><br><br>
                <b>About this Reward </b><br>
                What is this Reward? Main reason someone might want this Reward? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 62, rows: 7, value: "I will record a video of myself practicing jokes I wrote and post it on your facebook wall. " || :desc %><br><br>
            <b>Price </b><br>
            $<%= f.text_field :price, size: 10, value: 400.00 || :price %>USD<br>
                <%= button_to "Offer Facebook Video Reward", class: "button" %>
              <% end %>
          </div>
        </div>
          <a class="accordion-toggle4" data-toggle="collapse" href="#accordion-toggle4">
            <span>
              <b>Premium Video</b> for Patrons' Social Media
            </span>
            <span class="hidden4more">
              ...Hide <b>Video for Patrons' Social Media</b> details<br><br>
            </span>
          </a><br>
      </div>
    </div>
<% "NAME IN CREDITS" %>
        <div class="accordion" id="accordion5">
          <div class="accordion-group" style="padding-left:10px; padding-top:5px; padding-bottom:5px">
            <div id="accordion-toggle5" class="accordion-body collapse">
              <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <b>Reward Title </b><br>
                <%= f.text_field :name, size: 60, value: "Your Name In Credits of the next chapter of my book" || :name %><br><br>
                <b>About this Reward </b><br>
                Main reason someone might want this item? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 62, rows: 7, value: "Get on the List of Patrons at the end of the next independent video of my monologues that I am producing. This video will be sent out to Patrons next month." || :desc %><br><br>
                <b>Price </b><br>
                $<%= f.text_field :price, size: 10, value: 40.00 || :price %>USD<br><br>
                <b>Reward Picture </b><br>
                Upload a picture (optional) that represents the Reward you are offering (.jpg, .gif, .jpeg, or .png) - <i>a square picture works best</i>
                <br><%= f.file_field :itempic %>
                <%= button_to "Offer Name in Credits Reward", class: "button" %>
              <% end %>
              </div>
            </div>
            <a class="accordion-toggle5" data-toggle="collapse" href="#accordion-toggle5">
              <span>
                <b>Name in Credits</b> of the next video you produce
              </span>
              <span class="hidden5more">
                ...Hide <b>Name in Credits</b> details<br><br>
              </span>
            </a><br>
          </div>
        </div>
<% "RUNNING STORY ON SOCIAL MEDIA" %>
    <div class="accordion" id="accordion6">
      <div class="accordion-group" style="background:#eee; padding-left:10px; padding-top:5px; padding-bottom:5px">
        <div id="accordion-toggle6" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= form_for(@merchandise) do |f| %>
              <b>Reward Title </b><br>
              <%= f.text_field :name, size: 60, value: "We'll write a 30-line story together on your Facebook wall or your latest Instagram picture" || :name %><br><br>
              <b>About this Reward </b><br>
              Be specific about what you're willing to offer (You may edit this before fans purchase)<br>
              <%= f.text_area :desc, cols: 62, rows: 7, value: "I will write a the first sentence of a story on your facebook wall or latest instagram photo. You write the second line. I'll write the third and we'll keep taking turns until I've written 15 lines, resulting in a 30 or more line story (more lines if your friends join in). Please state whether you'd prefer a facebook post or instagram comment." || :desc %><br><br>
              <b>Price </b><br>
              $<%= f.text_field :price, size: 10, value: 20.00 || :price %>USD<br>
              <%= button_to "Offer Social Media Post", class: "button" %>
            <% end %>
          </div>
        </div>
        <a class="accordion-toggle6" data-toggle="collapse" href="#accordion-toggle6">
          <span>
            Interactive <b>30 Line Story</b>
          </span>
          <span class="hidden6more">
            ...Hide <b>30 Line Story</b> details
          </span>
        </a>
      </div>
    </div>

<% "READ FAN WORK ON FACEBOOK LIVE" %>
    <div class="accordion" id="accordion">
      <div class="accordion-group" style="padding-left:10px; padding-top:5px; padding-bottom:5px">
        <div id="accordion-toggle8" class="accordion-body collapse">
          <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <b>Reward Title </b><br>
                <%= f.text_field :name, size: 60, value: "Facebook Livestream Reading " || :name %><br><br>
                <b>About this Reward</b><br>
                What is this Reward? Main reason someone might want this Reward? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 62, rows: 7, value: "I'll read a 3 minute excerpt of your writing as a Facebook Livestream and discuss it with my fans for another five minutes. Feel free to share the video on your own facebook wall after the stream is completed." || :desc %><br><br>
            <b>Price </b><br>
            $<%= f.text_field :price, size: 10, value: 40.00 || :price %>USD<br>
                <%= button_to "Offer Live Online Reading Reward", class: "button" %><br><br>
              <% end %>
          </div>
        </div>
        <a class="accordion-togglea8" data-toggle="collapse" href="#accordion-toggle8">
          <span>
            <b>Facebook Livestream Reading</b> of fan's story
          </span>
          <span class="hidden8more">
            ...Hide <b>Facebook Livestream Reading</b> details
          </span>
        </a><br>
      </div>
    </div>
<% "LIVE READING" %>
    <div class="accordion" id="accordion9">
      <div class="accordion-group" style="background:#eee; padding-left:10px; padding-top:5px; padding-bottom:5px">
        <div id="accordion-toggle9" class="accordion-body collapse">
          <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <b>Reward Title </b><br>
                <%= f.text_field :name, size: 60, value: "Live Online Reading before it's released" || :name %><br><br>
                <b>About this Reward </b><br>
                What is this Reward? Main reason someone might want this Reward? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 62, rows: 7, value: "Fans can reserve a spot to listen to me give a 10 minute reading on Skype, Hangouts, or Facetime. Suggested times are: Weeknights at 7:00pm PST and 7:15 PST. " || :desc %><br><br>
            <b>Price </b><br>
            $<%= f.text_field :price, size: 10, value: 40.00 || :price %>USD<br>
                <%= button_to "Offer Live Online Reading Perk", class: "button" %><br><br>
              <% end %>
          </div>
        </div>
        <a class="accordion-toggle9" data-toggle="collapse" href="#accordion-toggle9">
          <span>
            <b>Live Online Reading</b> on 10 min. Hangouts, Facetime, or Skype call
          </span>
          <span class="hidden9more">
            ...Hide <b>Live Online Reading</b> details
          </span>
        </a><br>
      </div>
    </div>
<% "EVENT TICKETS" %>
        <div class="accordion" id="accordion10">
          <div class="accordion-group" style="padding-left:10px; padding-top:5px; padding-bottom:5px">
            <div id="accordion-toggle10" class="accordion-body collapse">
              <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <b>Perk Name </b><br>
                <%= f.text_field :name, size: 60, value: "Attend My Conversation Panel"|| :name %><br><br>
                <b>About this Reward </b><br>
                Main reason someone might want this Reward? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 62, rows: 7, value: "Four local authors are putting on a conversation panel about our books on May 9 7:30pm at the Central Library in Phoenix. Come and join the Q & A. " || :desc %><br><br>
                <b>Price </b><br>
                $<%= f.text_field :price, size: 10, value: 20.00 || :price %>USD<br>
                <%= button_to "Offer Event Reward", class: "button" %>
              <% end %>
              </div>
            </div>
            <a class="accordion-toggle10" data-toggle="collapse" href="#accordion-toggle10">
              <span>
                <b>Tickets</b> to your local <b>Event</b>
              </span>
              <span class="hidden10more">
                ...Hide <b>Event Tickets</b> details<br><br>
              </span>
            </a><br>
          </div>
        </div>
<% "INTERACTIVE MURDER MYSTERY" %>
        <div class="accordion" id="accordion12">
          <div class="accordion-group" style="background:#eee; padding-left:10px; padding-top:5px; padding-bottom:5px">
            <div id="accordion-toggle12" class="accordion-body collapse">
              <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <b>Reward Title</b><br>
                <%= f.text_field :name, size: 60, value: "Be part of a Live presentation"|| :name %><br><br>
                <b>About this Reward </b><br>
                Main reason someone might want this Reward? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 62, rows: 7, value: "Join me and up to 7 other fans in a google Hangouts session at 6:30pm PST (9:30pm EST) on November 15. My colleagues and I will each play characters in a Murder Mystery we have written. My colleagues and I will all be in the same location. The first 7 lucky fans will join us onscreen and participate in the dialogue from the comfort of their own home. Additional fans will be able to watch but won't be onscreen. I'll send instructions on how to join the Hangouts session three days before the Hangouts event. Will one of YOU be the culprit?" || :desc %><br><br>
                <b>Price </b><br>
                $<%= f.text_field :price, size: 10, value: 60.00 || :price %>USD<br>
                <%= button_to "Offer Interactive TV Reward", class: "button" %>
              <% end %>
              </div>
            </div>
            <a class="accordion-toggle12" data-toggle="collapse" href="#accordion-toggle12">
              <span>
                <b>Murder Mystery</b> reading via google hangouts
              </span>
              <span class="hidden12more">
                ...Hide <b>Murder Mystery</b> details<br><br>
              </span>
            </a><br>
          </div>
        </div>
<% "APPEARANCE AT BOOK CLUB" %>
    <div class="accordion" id="accordion13">
      <div class="accordion-group" style="padding-left:10px; padding-top:5px; padding-bottom:5px">
        <div id="accordion-toggle13" class="accordion-body collapse">
          <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <b>Reward Title </b><br>
                <%= f.text_field :name, size: 60, value: "Speak at your book club meeting " || :name %><br><br>
                <%= f.text_field :name, size: 60, value: "Speak at your movie party " || :name %><br><br>
                <b>About this Reward </b><br>
                What is this Reward? Main reason someone might want this Reward? Be specific so it isn't a mystery what you are offering. (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 62, rows: 7, value: "I will talk to your book club members for a half hour about what went on behind the scenes of my latest book. Must be within the Phoenix metro area or on Skype." || :desc %><br><br>
            <b>Price </b><br>
            $<%= f.text_field :price, size: 10, value: 200.00 || :price %>USD<br>
                <%= button_to "Offer Party Appearance Reward", class: "button" %><br><br>
              <% end %>
          </div>
        </div>
          <a class="accordion-toggle13" data-toggle="collapse" href="#accordion-toggle13">
            <span>
              Make an <b>Appearance at Book Club Meeting</b>
            </span>
            <span class="hidden13more">
              ...Hide <b>Book Club Appearance</b> details
            </span>
          </a><br>
      </div>
    </div>
<% "INTERACTIVE TV" %>
        <div class="accordion" id="accordion14">
          <div class="accordion-group" style="background:#eee; padding-left:10px; padding-top:5px; padding-bottom:5px">
            <div id="accordion-toggle14" class="accordion-body collapse">
              <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <b>Reward Title </b><br>
                <%= f.text_field :name, size: 60, value: "Be part of a Live Drama presentation"|| :name %><br><br>
                <b>About this Reward</b><br>
                Main reason someone might want this Reward? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 62, rows: 7, value: "Join me and up to 7 other fans in a google Hangouts session at 6:30pm PST (9:30pm EST) on November 15. My colleagues and I will each play characters in a Murder Mystery we have set up. My colleagues will all be in the same location, however the first 7 fans to snap up tickets will join us onscreen and participate in the dialogue from the comfort of their own home. I'll send instructions on how to join the Hangouts session three days before the Hangouts event. Will one of YOU be the culprit?" || :desc %><br><br>
                <b>Price </b><br>
                $<%= f.text_field :price, size: 10, value: 60.00 || :price %>USD<br>
                <%= button_to "Offer Interactive TV Reward", class: "button" %>
              <% end %>
              </div>
            </div>
            <a class="accordion-toggle14" data-toggle="collapse" href="#accordion-toggle14">
              <span>
                <b>Interactive TV </b>
              </span>
              <span class="hidden14more">
                ...Hide <b>Interactive TV</b> details<br><br>
              </span>
            </a><br>
          </div>
        </div>
<% "APPEARANCE AT PARTY" %>
    <div class="accordion" id="accordion15">
      <div class="accordion-group" style="padding-left:10px; padding-top:5px; padding-bottom:5px">
        <div id="accordion-toggle15" class="accordion-body collapse">
          <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <b>Reward Title</b><br>
                <%= f.text_field :name, size: 60, value: "Speak at your movie party " || :name %><br><br>
                <b>About this Reward</b><br>
                What is this Reward? Main reason someone might want this Reward? Be specific so it isn't a mystery what you are offering. (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 62, rows: 7, value: "I will talk to your party guests for a half hour about what goes on behind the scenes of my latest movie in character. Must be within the Phoenix metro area. " || :desc %><br><br>
            <b>Price </b><br>
            $<%= f.text_field :price, size: 10, value: 200.00 || :price %>USD<br>
                <%= button_to "Offer Party Appearance Reward", class: "button" %>
              <% end %>
          </div>
        </div>
          <a class="accordion-toggle15" data-toggle="collapse" href="#accordion-toggle15">
            <span>
              Make an <b>Appearance at fans' Party</b>
            </span>
            <span class="hidden15more">
              ...Hide <b>Party Appearance</b> details<br><br>
            </span>
          </a><br>
      </div>
    </div>
<% "Q & A" %>
        <div class="accordion" id="accordion16">
          <div class="accordion-group" style="background:#eee; padding-left:10px; padding-top:5px; padding-bottom:5px">
            <div id="accordion-toggle16" class="accordion-body collapse">
              <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <b>Reward Title </b><br>
                <%= f.text_field :name, size: 60, value: "Consultation package" || :name %><br><br>
                <b>About this Reward </b><br>
                What is this Reward? Main reason someone might want this Reward? Be specific so it isn't a mystery what you are offering. (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 62, rows: 7, value: "We will set up weekly video appointments for a half hour each over the next eight weeks to discuss any questions you may have or any advice you are seeking." || :desc %><br><br>
                <b>Price </b><br>
                $<%= f.text_field :price, size: 10, value: 1000.00 || :price %>USD<br>
                    <%= button_to "Offer Consultation Reward", class: "button" %>
                  <% end %>
              </div>
            </div>
            <a class="accordion-toggle16" data-toggle="collapse" href="#accordion-toggle16">
              <span>
                <b>Chat With Storyteller</b>
              </span>
              <span class="hidden16more">
                ...Hide <b>Q & A</b> details<br><br>
              </span>
            </a><br>
          </div>
        </div>
<% "EXPERT CONSULTATION" %>
        <div class="accordion" id="accordion17">
          <div class="accordion-group" style="padding-left:10px; padding-top:5px; padding-bottom:5px">
            <div id="accordion-toggle17" class="accordion-body collapse">
              <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <b>Reward Title </b><br>
                <%= f.text_field :name, size: 60, value: "Consultation package" || :name %><br><br>
                <b>About this Reward </b><br>
                What is this Reward? Main reason someone might want this Reward? Be specific so it isn't a mystery what you are offering. (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 62, rows: 7, value: "We will set up weekly phone appointments for a half hour each over the next eight weeks to discuss any questions you may have or any advice you are seeking." || :desc %><br><br>
                <b>Price </b><br>
                $<%= f.text_field :price, size: 10, value: 1000.00 || :price %>USD<br>
                    <%= button_to "Offer Consultation Reward", class: "button" %><br><br>
                  <% end %>
              </div>
            </div>
            <a class="accordion-toggle17" data-toggle="collapse" href="#accordion-toggle17">
              <span>
                <b>Expert Consultation</b>
              </span>
              <span class="hidden17more">
                ...Hide <b>Consultation</b> details
              </span>
            </a><br>
          </div>
        </div>
      </div> <% "end font19left" %>
      </div> <% "end col" %>


      <div class="col-sm-6 col-xs-12" >
        <div class="socialize" style="padding-bottom:10px" >
          Special content relevant to your story
        </div>

     <div class="font19left" >
<% "LIVE READING" %>
    <div class="accordion" id="accordion18">
      <div class="accordion-group" style="padding-left:10px; padding-top:5px; padding-bottom:5px">
        <div id="accordion-toggle18" class="accordion-body collapse">
          <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <b>Reward Title</b><br>
                <%= f.text_field :name, size: 60, value: "Live Online Reading before it's released" || :name %><br><br>
                <b>About this Reward</b><br>
                What is this Reward? Main reason someone might want this Reward? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 62, rows: 7, value: "Fans can reserve a spot to listen to me give a 10 minute reading on Skype, Hangouts, or Facetime. Suggested times are." || :desc %><br><br>
            <b>Price </b><br>
            $<%= f.text_field :price, size: 10, value: 40.00 || :price %>USD<br>
                <%= button_to "Offer Live Online Reading Perk", class: "button" %>
              <% end %>
          </div>
        </div>
        <a class="accordion-toggle18" data-toggle="collapse" href="#accordion-toggle18">
          <span>
            <b>Live Online Reading</b> on video call
          </span>
          <span class="hidden18more">
            ...Hide <b>Live Online Reading</b> details<br><br>
          </span>
        </a><br>
      </div>
    </div>
<% "ACT FAN WORK ON FACEBOOK LIVE" %>
    <div class="accordion" id="accordion19">
      <div class="accordion-group" style="background:#eee; padding-left:10px; padding-top:5px; padding-bottom:5px">
        <div id="accordion-toggle19" class="accordion-body collapse">
          <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <b>Reward Title </b><br>
                <%= f.text_field :name, size: 60, value: "Facebook Livestream Reading " || :name %><br><br>
                <b>About this Reward </b><br>
                What is this Reward? Main reason someone might want this Reward? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 62, rows: 7, value: "I'll act out a 3 minute excerpt of your short script as a Facebook Livestream and discuss it with my fans for another five minutes. Feel free to share the video on your own facebook wall after the stream is completed." || :desc %><br><br>
            <b>Price </b><br>
            $<%= f.text_field :price, size: 10, value: 40.00 || :price %>USD<br>
                <%= button_to "Offer Live Online Reading Reward", class: "button" %><br><br>
              <% end %>
          </div>
        </div>
        <a class="accordion-togglea19" data-toggle="collapse" href="#accordion-toggle19">
          <span>
          </span>
          <span class="hidden19more">
            ...Hide <b>Facebook Livestream Acting</b> details
          </span>
        </a><br>
      </div>
    </div>
<% "PLAY VIDEO GAME" %>
        <div class="accordion" id="accordion20">
          <div class="accordion-group" style="padding-left:10px; padding-top:5px; padding-bottom:5px">
            <div id="accordion-toggle20" class="accordion-body collapse">
              <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <b>Reward Title</b><br>
                <%= f.text_field :name, size: 60, value: "I'll Play Minecraft with you and your friends for a half hour"|| :name %><br><br>
                <b>About this Reward </b><br>
                Main reason someone might want this Reward? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 62, rows: 7, value: "I'll play Minecraft with you for 30 minutes on a weekday evening before midnight PST. Will email you next week to schedule date and time and get your screenname." || :desc %><br><br>
                <b>Price </b><br>
                $<%= f.text_field :price, size: 10, value: 60.00 || :price %>USD<br>
                <%= button_to "Offer Video Game Reward", class: "button" %>
              <% end %>
              </div>
            </div>
            <a class="accordion-toggle20" data-toggle="collapse" href="#accordion-toggle20">
              <span>
                Play <b>Video Game</b> with fans
              </span>
              <span class="hidden20more">
                ...Hide <b>Video Game</b> details<br><br>
              </span>
            </a><br>
          </div>
        </div>
<% "NAME IN CREDITS" %>
        <div class="accordion" id="accordion21">
          <div class="accordion-group" style="background:#eee; padding-left:10px; padding-top:5px; padding-bottom:5px">
            <div id="accordion-toggle21" class="accordion-body collapse">
              <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <b>Reward Title </b><br>
                <%= f.text_field :name, size: 60, value: "Your Name In Credits of the next chapter of my book" || :name %><br><br>
                <b>About this Reward</b><br>
                Main reason someone might want this Reward? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 62, rows: 7, value: "Get on the list of Patrons at the end of the next chapter of the book I'm currently writing. This chapter will be send out to qualifying Patrons in two months. After the book is completed, your name will be included in the page of thanks at the end of the book." || :desc %><br><br>
                <b>Price </b><br>
                $<%= f.text_field :price, size: 10, value: 40.00 || :price %>USD<br><br>
                <b>Reward Picture </b><br>
                Upload a picture (optional) that represents the Reward you are offering (.jpg, .gif, .jpeg, or .png) - <i>a square picture works best</i>
                <br><%= f.file_field :itempic %>
                <%= button_to "Offer Name in Credits Reward", class: "button" %><br><br>
              <% end %>
              </div>
            </div>
            <a class="accordion-toggle21" data-toggle="collapse" href="#accordion-toggle21">
              <span>
                Include <b>Fans' Name</b> in the credits at the end of your next chapter
              </span>
              <span class="hidden21more">
                ...Hide <b>Name in Credits</b> details
              </span>
            </a><br>
          </div>
        </div>
<% "NAME A CHARACTER" %>
        <div class="accordion" id="accordion22">
          <div class="accordion-group" style="padding-left:10px; padding-top:5px; padding-bottom:5px">
            <div id="accordion-toggle22" class="accordion-body collapse">
              <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <b>Reward Title</b><br>
                <%= f.text_field :name, size: 60, value: "Name the next Character in my book"|| :name %><br><br>
                <b>About this Reward</b><br>
                Main reason someone might want this Reward? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 62, rows: 7, value: "The next character we introduce will be hilarious. Name her or him after yourself or select your own custom name." || :desc %><br><br>
                <b>Price </b><br>
                $<%= f.text_field :price, size: 10, value: 40.00 || :price %>USD<br>
                <%= button_to "Offer Character Name Reward", class: "button" %><br><br>
              <% end %>
              </div>
            </div>
            <a class="accordion-toggle22" data-toggle="collapse" href="#accordion-toggle22">
              <span>
                Fans <b>Name</b> the next <b>Character</b> in your book
              </span>
              <span class="hidden22more">
                ...Hide <b>Character Name</b> details
              </span>
            </a><br>
          </div>
        </div>
<% "ADVANCE CHAPTER ACCESS" %>
        <div class="accordion" id="accordion23">
          <div class="accordion-group" style="background:#eee; padding-left:10px; padding-top:5px; padding-bottom:5px">
            <div id="accordion-toggle23" class="accordion-body collapse">
              <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <b>Reward Title</b><br>
                <%= f.text_field :name, size: 60, value: "Advance access to read a chapter of my current book before it's released" || :name %><br><br>
                <b>About this Reward </b><br>
                What is this Reward? Main reason someone might want this Reward? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 62, rows: 7, value: "Within the next two months I will email a near-final draft of the next chapter of my book to everyone who orders this perk." || :desc %><br><br>
                <b>Price </b><br>
                $<%= f.text_field :price, size: 10, value: 30.00 || :price %>USD<br>
                <%= button_to "Offer Chapter Advance Reward", class: "button" %><br><br>
              <% end %>
              </div>
            </div>
            <a class="accordion-toggle23" data-toggle="collapse" href="#accordion-toggle23">
              <span>
                <b>Advance Chapter Access </b>
              </span>
              <span class="hidden23more">
                ...Hide <b>Advance Chapter Access</b> details
              </span>
            </a><br>
          </div>
        </div>

        <div class="socialize" style="padding-bottom:10px" >
          Miscellaneous Rewards
        </div>

     <div class="font19left" >
<% "RECIPE" %>
        <div class="accordion" id="accordion24">
          <div class="accordion-group" style="background:#eee; padding-left:10px; padding-top:5px; padding-bottom:5px">
            <div id="accordion-toggle24" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= form_for(@merchandise) do |f| %>
                    <b>Reward Title</b><br>
                  <%= f.text_field :name, size: 60, value: "My Personal Recipe for Something Delicious" || :name %><br><br>
                  <b>About this Reward</b><br>
                  What is this Reward? What is the main reason someone might want this Reward? (You may edit this before fans purchase)<br>
                  <%= f.text_area :desc, cols: 62, rows: 7, value: "Recipe for Disaster: My assistant will email you my personal recipe for how to turn your baking disasters into a creamy fruity dessert." || :desc %><br><br>
                  <b>Price </b><br>
                  $<%= f.text_field :price, size: 10, value: 20.00 || :price %>USD<br>
                  <%= button_to "Offer Recipe Reward", class: "button" %>
                <% end %>
              </div>
            </div>
            <a class="accordion-toggle24" data-toggle="collapse" href="#accordion-toggle24">
              <span>
                <b>Recipe</b> for disaster
              </span>
              <span class="hidden24more">
                ...Hide <b>Recipe</b> details<br><br>
              </span>
            </a>
          </div>
        </div>
<% "COMBO" %>
        <div class="accordion" id="accordion25">
          <div class="accordion-group" style="padding-left:10px; padding-top:5px; padding-bottom:5px">
            <div id="accordion-toggle25" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= form_for(@merchandise) do |f| %>
                    <b>Reward Title</b><br>
                  <%= f.text_field :name, size: 60, value: "One Hour Q&A, One Tweet Per Week, Plus Your Name a Video posted on your facebook wall" || :name %><br><br>
                  <b>About this Reward</b><br>
                  What is this Reward? Main reason someone might want this Reward? (You may edit this before fans purchase)<br>
                  <%= f.text_area :desc, cols: 62, rows: 7, value: "Get all three of these items for one special price by the end of the month." || :desc %><br><br>
                  <b>Price </b><br>
                  $<%= f.text_field :price, size: 10, value: 400.00 || :price %>USD<br>
                  <%= button_to "Offer Combo Reward", class: "button" %>
                <% end %>
              </div>
            </div>
            <a class="accordion-toggle25" data-toggle="collapse" href="#accordion-toggle25">
              <span>
                <b>Combo</b> Package
              </span>
              <span class="hidden25more">
                ...Hide <b>Combo Package</b> details<br><br>
              </span>
            </a><br>
          </div>
        </div>

      </div>
      </div>

      </div>
    </div><br>

    <div>
        <%= form_for(@merchandise) do |f| %>
          <b>Reward Title </b><br>
                  <%= f.text_field :name, size: 80, value: "Podcast Title" || :name %><br><br>
          <br><%= f.file_field :podcast %>
          $<%= f.text_field :price, size: 10, value: 400.00 || :price %>USD<br>
          <%= button_to "Add Podcast", class: "button" %>

        <% end %>
    </div>
    <br><br>

  <%= button_to "Add my own custom Reward", new_merchandise_path , method: :get, class: "button" %>

<br>All Rewards offered for sale through ThinQ.tv are meant to be immediately available and fulfilled within a week.
<br><b>Check your dashboard often</b> to see if any Perks were ordered by your Fans.<br>

  <br>I'm done adding Rewards for now. <%= link_to "Go to my page " , user_profile_path(current_user.permalink) %> and see how it looks.

</div>

<% end %>

<br><br><br>
