<%= form_with(model: invite, local: true) do |form| %>
  <% if invite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invite.errors.count, "error") %> prohibited this invite from being saved:</h2>

      <ul>
        <% invite.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :country_code %>
    <%= form.text_field :country_code %>
  </div>

  <div class="field">
    <%= form.label :relationship %>
    <%= form.number_field :relationship %>
  </div>

  <div class="field">
    <%= form.label :preferred_name %>
    <%= form.text_field :preferred_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
