<p id="notice"><%= notice %></p>

<h1>Invites</h1>

<table>
  <thead>
    <tr>
      <th>Phone number</th>
      <th>Country code</th>
      <th>Relationship</th>
      <th>Preferred name</th>
      <th>Sender</th>
      <th>Custom message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invites.each do |invite| %>
      <tr>
        <td><%= invite.phone_number %></td>
        <td><%= invite.country_code %></td>
        <td><%= invite.relationship %></td>
        <td><%= invite.preferred_name %></td>
        <td><%= invite.sender_id %></td>
        <td><%= invite.custom_message %></td>
        <td><%= link_to 'Show', invite %></td>
        <td><%= link_to 'Edit', edit_invite_path(invite) %></td>
        <td><%= link_to 'Destroy', invite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invite', new_invite_path %>
