<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12 " >

    <div class="helps" >
      Why we created CrowdPublish.TV 
    </div ><br>
    <div class="font19left" >
      I had been attending a writers workshop run by a former president of the Mystery Writers of America mid-Atlantic chapter. She really knew her craft and her business. One thing she said that stuck with me was, "It's your art, but their business," referring to publishers. But I didn't want my stories to be the business of publishers. They weren't serving authors. I wanted it to be my business. And I knew other authors who wanted more options to be in charge of their own business also. <br><br>

      One day I went to a meeting where Biz Stone spoke. As I sat there listening, I thought about how ridiculous twitter was and knew I could come up with something much better. So I decided to learn how to do web development to create something for authors that was better than the limited, predatory business options that were available. <br><br>

      CrowdPublish.TV is a member of the ASU Venture Devils program. <%= link_to "What is CrowdPublish.TV", '/howwk' %> 
    </div >
  </div >
</div ><br>

  <div class="col-sm-2 col-sm-offset-1 col-xs-12 " >
    <%= image_tag "https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-9/32932613_10155236049091721_3537996013207814144_n.jpg?_nc_cat=0&_nc_eui2=AeH6-jhkJUgR2QFW9XIu3fxjvrbkmqXHuCSrgTju1NpIfprWP3i5Cena9ftdXq8psHKScEAGEC2sXSmzYmB621L4mR72MAw6xNsXRK6morP2CA&oh=26b6518e969f51807545bb026951ca75&oe=5B9373EC", height: "250", style: "padding-top:40px" %>
  </div ><br>

  <div class="col-sm-6 col-sm-offset-1 col-xs-12 " >
    <div class="helps" >
      About the founder 
    </div ><br>
    <div class="font19left" >
      <%= link_to "Lisa Schaefer", '/lisa' %> earned her Ph.D. in engineering from Arizona State. She taught statistics classes at Marymount & American Universities and taught Ruby on Rails at George Mason University. Dr. Schaefer did engineering research at a tech think tank in the Washington, DC, suburbs where management did more tanking than thinking. <br><br>

      Dr. Schaefer took screenwriting classes from a Hollywood screenwriter and completed graduate level video production courses at American University. She has written books and produced two movies about women in technology: <%= link_to "Budget Justified", '/phases/budgetjustified' %> and <%= link_to "Lisa's 80s Catholic High School Movie", '/movie/1' %>.<br><br>

      Dr. Schaefer lives in Phoenix with her husband of 24 years, her cat, and the two cats next door who think they live with her.
    </div ><br>
  </div ><br>
