<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="ThinQtv" content="Conversations to make you ThinQ">

  <meta charset="UTF-8">
  <title>ThinQtv - Conversations to make you ThinQ</title>

</head>

<div class="row" >
  <div class="col-lg-7 col-lg-offset-1 col-md-8 col-md-offset-1 col-xs-12">
    <h3 class="aboutHeader">
      What we are
    </h3 >
    <h4 class = "aboutBody">
      Imagine going to a party where you can drop in to many conversations. When you arrive, you talk to people who are in Japan, New York, Denmark, and Mexico City - and you didn't even have to get on a plane. <br><br>

      ThinQ.tv is creating an online platform for thought-provoking conversations. We're building conversation communities for <%= link_to "Faith", '/faith' %>, <%= link_to "Tech", '/tech' %>, and <%= link_to "International", '/international' %> topics. <%= link_to "Join the Conversation", 'https://crowdpublishtv.herokuapp.com/lisa', class: "btn btn-primary btn-sm" %> LIVE on Tuesday, Wednesday, & Thursday evenings to discuss intellectual topics affecting your life & invite your friends! Feel free to add your own conversations to <%= link_to "the schedule", '/' %>.<br><br>

      THINQ.tv is a member of the ASU Venture Devils program.<br><br>
    </h4>
    <br>

    <h3 class="aboutHeader">
      Who we are
    </h3 >
    <div class="aboutBody2">
      <h4 > Founder:</h4>
      <div class="row">
        <div class="col-sm-4">
          <%= image_tag("lisa.jpg", height: "150")%>
        </div>
        <div class="col-sm-8 ">
          <%= link_to "Lisa Schaefer", '/lisa' %> earned her Ph.D. in systems engineering at Arizona State University, was a research engineer at a think tank in Washington, DC, and taught courses at several universities. Dr. Schaefer has several years of project management experience. She completed graduate level courses in screenwriting and video production and is the writer/producer of Budget Justified, a movie about women in technology, and Lisa's 80s Catholic High School Movie. She volunteers for Life Teen at St. Theresa Church.
        </div>
      </div><br>
      
      <h4>Outreach: </h4>
      Geneva Casebolt - University of Arizona<br>
      Sierra Conboy - Gettysburg College<br><br>

      <h4>User Experience Designers: </h4>
      Chris Kurian - Arizona State University <br>
      Nha Nguyen - Arizona State University <br>
      Justin Curry - Duquesne University <br>
      <br>

      <h4>Software Engineers:</h4>
      Gabe Gulbransen - Arizona State University<br>
      Greg Duffley - Arizona State University<br>
      Jason Wu - Arizona State University<br>
      Peter Lyssikatos - Regis University<br>
      Cody Karunas - University of South Florida<br>
      <br><br>

      <h5>Past Interns:</h5>
      Gianmarco Minin - GoDaddy<br>
      Roni Polus - Connexta<br>
      AJ Asa - Charles Schwab<br>
      Prachi Miyan - First Solar<br>
      Chris Adams  <br>
      Robert Haas<br>
      Jacob Hreshchyshen<br>
      Tristan Soto  <br>
    </div>

    <br><br><br>
  </div>
</div>
