<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="ThinQtv" content="Conversations to make you ThinQ">

  <meta charset="UTF-8">
  <title>ThinQtv - Conversations to make you ThinQ</title>

</head>

<div class="row" >
  <div class="col-lg-7 col-lg-offset-1 col-md-8 col-md-offset-1 col-xs-12">
    <h3 class="aboutHeader">
      What we are
    </h3 >
    <h4 class = "aboutBody">
      Imagine going to a party where you can drop in to many conversations. When you arrive, you talk to people who are in Japan, New York, Denmark, and Mexico City - and you didn't even have to get on a plane. <br><br>

      ThinQ.tv is creating an online platform for thought-provoking conversations. We're building conversation communities for <%= link_to "Faith", '/faith' %>, <%= link_to "Tech", '/tech' %>, and <%= link_to "International", '/international' %> topics. <%= link_to "Join the Conversation", 'https://crowdpublishtv.herokuapp.com/lisa', class: "btn btn-primary btn-sm" %> LIVE on Tuesday, Wednesday, & Thursday evenings to discuss intellectual topics affecting your life & invite your friends! Feel free to add your own conversations to <%= link_to "the schedule", '/' %>.<br><br>

      THINQ.tv is a member of the ASU Venture Devils program.<br><br>
    </h4>
  </div>
    <br>

  <div class="col-lg-8 col-lg-offset-1 col-md-12">
    <h3 class="aboutHeader">
      Who we are
    </h3 >
    <div class="aboutBody2">
      <h4 > Founder:</h4>
      <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-4" style="margin-bottom: 16px; margin-left: -50px;">
          <%= image_tag("lisa.jpg", height: "180")%>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-8">
            <%= link_to "Lisa Schaefer", '/lisa' %> earned her Ph.D. in systems engineering at Arizona State University, was a research engineer at a think tank in Washington, DC, and taught courses at several universities. Dr. Schaefer has several years of project management experience. She completed graduate level courses in screenwriting and video production and is the writer/producer of Budget Justified, a movie about women in technology, and Lisa's 80s Catholic High School Movie. She volunteers for Life Teen at St. Theresa Church.<br><br>
          <div style="font-size: 18px; line-height: 1.2em; font-style: italic; text-align: center"> 
            Invite Lisa to speak to your organization about 
            <br><%= link_to "Faith, International Cultures, Technology", '/drschaeferspeaking' %><br> <a href="mailto:info@thinq.tv" alt="Email" target="_blank" class="f-link">info@ThinQ.tv</a> 602-888-3089
          </div>
        </div>

      </div><br>
      
      <h4>Outreach: </h4>
      We're seeking enthusiastic <%= link_to "interns", '/internship' %> & volunteers who are passionate about thought-provoking conversations about Technology, Faith, and International Cultures. Interested? Curious? Let us know! <a href="mailto:info@thinq.tv" alt="Email" target="_blank" class="f-link">info@ThinQ.tv</a> <br><br>

      <h4>User Experience Designers: </h4>
      Maria Manaog - Arizona State University <br>
      <br>

      <h4>Software Engineers:</h4>
      Travis Qing - Arizona State University<br>
      Jason Wu - Arizona State University<br>
      Peter Lyssikatos - Regis University<br>
      Hulbert Zeng - University of California, Riverside<br>
      <br><br>

      <h5>Past Interns:</h5>
      Gianmarco Minin - GoDaddy<br>
      Roni Polus - Connexta<br>
      AJ Asa - Charles Schwab<br>
      Prachi Miyan - First Solar<br>
      Gabe Gulbransen - Mobivity<br>
      Chris Adams - FEFA <br>
      Cody Karunas <br>
      Robert Haas<br>
      Jacob Hreshchyshen<br>
      Tristan Soto  <br>
    </div>

    <br><br><br>
  </div>
</div>
