<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="Where authors and actors earn more money from their loyal fans">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-7 col-sm-offset-1 col-xs-12 " >

    <div class="helps" >
      Why we created CrowdPublish.TV 
    </div ><br>
    <div class="font19left" >
      After CSI grew popular, students signed up in droves to become forensic scientists. Lisa Schaefer noticed the impact popular culture had on what people think is possible for their own lives and lamented the lack of stories about women in tech and leadership positions.<br><br>

      Upon completion of her Ph.D. in engineering, Dr. Schaefer moved to Washington, DC, where management created videos about research they didn't do, in efforts to fool the federal government into giving them more taxpayer money. So when Dr. Schaefer started teaching statistics at American University, she took screenwriting and video production courses to create stories and videos not about lies, but about the truth. She created RoleModel Enterprises, LLC, to produce a movie about her experiences as a female engineer and what went on in federal government offices. #metoo #wastefraudandabuse<br><br>

      One day Dr. Schaefer went to a meeting where Biz Stone spoke. As she sat there, she thought about how ridiculous twitter was and knew she could come up with something much better. So she decided to learn a new programming language to create something scalable for storytellers that was better than the limited, predatory business options that were available - to CrowdSource stories about RoleModels, the antithesis to the vapid people who were famous for being famous. <br><br>

      Dr. Schaefer hopes that CrowdPublish.TV will become Interactive Television that provides learning experiences and a culture not dependent on The Man to develop a career, where people are empowered to make an impact on society with Truth. <br><br>

      CrowdPublish.TV is a member of the ASU Venture Devils program. <%= link_to "What is CrowdPublish.TV", '/faq' %> 
    </div >
  </div >
</div ><br>

  <div class="col-sm-2 col-sm-offset-1 col-xs-12 " >
    <%= image_tag "https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-9/32932613_10155236049091721_3537996013207814144_n.jpg?_nc_cat=0&_nc_eui2=AeH6-jhkJUgR2QFW9XIu3fxjvrbkmqXHuCSrgTju1NpIfprWP3i5Cena9ftdXq8psHKScEAGEC2sXSmzYmB621L4mR72MAw6xNsXRK6morP2CA&oh=26b6518e969f51807545bb026951ca75&oe=5B9373EC", height: "250", style: "padding-top:40px" %>
  </div ><br>

  <div class="col-sm-6 col-sm-offset-1 col-xs-12 " >
    <div class="helps" >
      About the founder 
    </div ><br>
    <div class="font19left" >
      <%= link_to "Lisa Schaefer", '/lisa' %> earned her Ph.D. in industrial systems engineering from Arizona State University. She lived in the Washington, DC, suburbs for 16 years and taught statistics classes at Marymount & American Universities and Ruby on Rails software engineering at George Mason University. Dr. Schaefer performed engineering research at a tech think tank in the Washington, DC, suburbs where contractors and federal employees did more tanking than thinking. <br><br>

      Dr. Schaefer took screenwriting classes from a Hollywood screenwriter and completed graduate level video production courses at American University. She has written books and produced two movies about women in technology: <%= link_to "Budget Justified", '/phases/budgetjustified' %> and <%= link_to "Lisa's 80s Catholic High School Movie", '/movie/1' %>.<br><br>

      Dr. Schaefer lives in Phoenix with her husband of 24 years, her cat, and the two cats next door who think they live with her.
    </div ><br>
  </div ><br>
