<div class="row" style="background-color: #938373" >
  <div class="col-lg-8 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-12">
    <h3 class="aboutHeader" style="text-align: center; font-size: 48px">
      Lisa Schaefer: Conversations to Make You ThinQ
    </h3 >
          <div class="col-sm-4">
            <%= image_tag("lisaSpeaks.jpg", height: "290")%>
          </div>
          <div class="col-sm-8 " style="font-size: 18px; line-height: 1.2em">
            <br><br>ThinQ.tv founder, <%= link_to "Lisa Schaefer", '/lisa' %>, earned her Ph.D. in systems engineering at Arizona State University and was a Future Vision innovator at a think tank in Washington, DC. She taught statistics and engineering courses at several universities. She took graduate level courses in screenwriting and video production at American University and is the writer/producer of <i>Budget Justified</i>, a movie about women in technology, and <i>Lisa's 80s Catholic High School Movie</i>, a hilarious true comedy about class clown twins versus math girl. She wrote the book <i>Budget Justified - The Waste Fraud and Abuse of Government Workers</i>, a true story about engineering culture, sleeping on the job, and #MeToo. 
          </div>
          <div class="col-sm-8 " style="font-size: 18px; line-height: 1.2em; font-style: italic;"> 
            <br>Invite Lisa to speak to your organization <a href="mailto:info@thinq.tv" alt="Email" target="_blank" class="f-link">info@ThinQ.tv</a> 602-888-3089<br><br> 
          </div>
  </div>
</div><br>
  <br>

<div class="row" >
  <div class="col-lg-8 col-lg-offset-1 col-md-9 col-md-offset-1 col-xs-12">
    <h3 class="aboutHeader" style="font-size: 40px">
      Speaking Topics
    </h3 >
      Inspired by her years of university professor experience, Dr. Schaefer's talks are very interactive where she asks the audience as many questions as they ask her. An avid learner as well as teacher, she understands that the professor always learns from the students.<br><br>

      <div style="display:inline; font-weight: bolder; font-size: 20px">For Student Organizations:</div>
      <h4 style="display:inline;"> <%= link_to "Your Online Mom", 'internship_path' %> </h4><br>
      What have you witnessed other people doing on the internet? How is your behavior online? If you feel you need someone responsible to turn to, Your Online Mom is there for you. <br><br>

      <div style="display:inline; font-weight: bolder; font-size: 20px">For Parent Organizations & Adult leaders of Teens:</div>
      <h4 style="display:inline;"><%= link_to "Be an Online Mom - or Dad, or Big Sibling", parents_path %> </h4><br>
      Sometimes the internet needs responsible adult supervision. Adult leaders have the power and responsibility to influence teens and young adults to create a harassment-free society. With live video, we can influence the future generation of adults to make good choices. <br><br>

      <div style="display:inline; font-weight: bolder; font-size: 20px">For Organizations against Online Harassment:</div>
      <h4 style="display:inline;"><%= link_to "Toward a Sexual Harassment-Free Internet", getinvolved_path %> </h4><br>
      Live video is becoming more prominent in web platforms and phone apps. We can work together to lead a culture where people don't look the other way when creepiness happens.
      <br><br><br>

    <h3 class="aboutHeader" style="font-size: 32px">
      Where Dr. Lisa Spread The Word
    </h3 >
  </div>
</div>

<div class="row" >
          <div class="col-lg-2 col-md-3 col-sm-4" style="height: 160px; width: 190px; background-color:#77aadd; padding-top: 20px;  text-align: center;">
            <%= image_tag("umary.png", width: "120")%>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4" style="height: 200px; text-align: center">
            <br><br><br><%= image_tag("pureheart.png", width: "250")%>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4" style="height: 200px; text-align: center">
            <br><br><br><%= image_tag("sttheresaphx.jpg", width: "250")%>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4" style="height: 200px; text-align: center">
            <br><br><%= image_tag("stmary.png", width: "250")%>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4" style="height: 200px; text-align: center">
            <%= image_tag("rubyrails.png")%>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4" style="height: 200px; text-align: center">
            <%= image_tag("utoronto.png", width: "200")%>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4" style="height: 200px; text-align: center">
            <%= image_tag("jiaotong.png", width: "200")%>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4" style="height: 200px; text-align: center">
            <br><br><br><%= image_tag("marymount.png", width: "300")%>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4" style="height: 200px; text-align: center">
            <%= image_tag("ignite.png", width: "200")%>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4" style="height: 200px; text-align: center">
            <%= image_tag("1mcups.png", width: "200")%>
          </div>
</div><br><br>
  <div class="col-lg-7 col-lg-offset-1 col-md-8 col-md-offset-1 col-xs-12">
    <h4>
      And many other universities and technical organizations
    </h4>  
  </div>
    <br><br><br>
