<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="ThinQtv" content="Conversations to make you ThinQ">

  <meta charset="UTF-8">
  <title>ThinQtv - Conversations to make you ThinQ</title>

</head>

<div class="row" >
  <div class="col-lg-8 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-12">
    <h3 class="aboutHeader" style="text-align: center; font-size: 48px">
      Lisa Schaefer: Conversations to Make You ThinQ
    </h3 >
  </div>
    <div class="aboutBody2">
      <div class="row" style="background-color: #938373" >
        <div class="col-lg-8 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-12">
          <div class="col-sm-4">
            <%= image_tag("lisaSpeaks.jpg", height: "290")%>
          </div>
          <div class="col-sm-8 " style="font-size: 18px; line-height: 1.2em">
            <br><br>ThinQ.tv founder, <%= link_to "Lisa Schaefer", '/lisa' %>, earned her Ph.D. in systems engineering at Arizona State University and was a Future Vision innovator at a think tank in Washington, DC. She taught courses at several universities, including software engineering courses she developed. She took graduate level courses in screenwriting and video production at American University and is the writer/producer of Budget Justified, a movie about women in technology, and Lisa's 80s Catholic High School Movie a hilariously true comedy about class clown twins versus math girl. She wrote the book <i>Budget Justified - The Waste Fraud and Abuse of Government Workers</i>, a true story about engineering culture, sleeping on the job, and #MeToo. She volunteers for Life Teen at St. Theresa Church in Phoenix.
          </div>
          <div class="col-sm-8 " style="font-size: 18px; line-height: 1.2em; font-style: italic;"> 
            <br>Invite Lisa to speak to your organization <a href="mailto:info@thinq.tv" alt="Email" target="_blank" class="f-link">info@ThinQ.tv</a> 602-888-3089<br><br> 
          </div>
        </div>
      </div><br>
</div><br>

<div class="row" >
  <div class="col-lg-7 col-lg-offset-1 col-md-8 col-md-offset-1 col-xs-12">
    <h3 class="aboutHeader" style="font-size: 40px">
      Speaking Topics
    </h3 >
      Inspired by her years of university professor experience, Dr. Schaefer's talks are very interactive where she asks the audience as many questions as they ask her. An avid learner as well as teacher, she understands that the professor always learns from the students.<br><br>

      <div style="display:inline; font-weight: bolder; font-size: 20px">Faith:</div>
      <h4 style="display:inline;"> <%= link_to "How to Use Technology to Evangelize and Deepen Your Faith", '/faith' %> </h4><br>
      Explore ways to balance our desire for detachment from social media and our desire to connect with others through social media. Religious leaders have the power and responsibility to spread the Good News. Now with the right tools, we do too. Discover how social media can be a tool for sharing the Good News and learning to Love Better.<br><br>

      <div style="display:inline; font-weight: bolder; font-size: 20px">International Cultures:</div>
      <h4 style="display:inline;"><%= link_to "People to People Cultural Exchange From Your Living Room", '/international' %> </h4><br>
      Imagine going to a party where you can drop in to many conversations. When you arrive, you talk to people who are in Japan, New York, Denmark, and Mexico City - and you didn't even have to get on a plane. Political leaders have the power and responsibility to spread peace. Now with the right tools, we do too. Find out how you can Be The Change in the world. <br><br>

      <div style="display:inline; font-weight: bolder; font-size: 20px">Technology:</div>
      <h4 style="display:inline;"><%= link_to "The Future of Innovation", '/international' %> </h4><br>
      Innovation of the past happened bottom down in the secrecy of corporate labs. Innovation of the Future happens when we share ideas as a grassroots movement. Together we can work out problems and share your innovations with an online community.
      <br><br><br>

    <h3 class="aboutHeader" style="font-size: 32px">
      Where Dr. Lisa Spread The Word
    </h3 >
  </div>

</div>

<div class="row" >
          <div class="col-lg-2 col-md-3 col-sm-4" style="height: 160px; width: 190px; background-color:#77aadd; padding-top: 20px;  text-align: center;">
            <%= image_tag("umary.png", width: "120")%>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4" style="height: 200px; text-align: center">
            <br><br><br><%= image_tag("sttheresaphx.jpg", width: "250")%>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4" style="height: 200px; text-align: center">
            <br><br><%= image_tag("stmary.png", width: "250")%>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4" style="height: 200px; text-align: center">
            <%= image_tag("rubyrails.png")%>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4" style="height: 200px; text-align: center">
            <%= image_tag("utoronto.png", width: "200")%>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4" style="height: 200px; text-align: center">
            <%= image_tag("jiaotong.png", width: "200")%>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4" style="height: 200px; text-align: center">
            <br><br><br><%= image_tag("marymount.png", width: "300")%>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4" style="height: 200px; text-align: center">
            <%= image_tag("ignite.png", width: "200")%>
          </div>
</div>
  <div class="col-lg-7 col-lg-offset-1 col-md-8 col-md-offset-1 col-xs-12">
    <h4>
      And many other universities and technical organizations
    </h4>  
  </div>
    <br><br><br>
