<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="ThinQ tv" content="Where authors and actors earn more money from their loyal fans">
<title>ThinQtv - The Future of Empowerment is Your Story</title>
</head>

<div class="title">
	<%= image_tag "faith.jpg", width: "100%" %>
	<h1 class="text">Faith Wednesday</h1>
</div>


<div class="row" >
	<div class="col-sm-6 col-sm-offset-1">
		<h2 style="margin-left: 3%; margin-top:10%; font-size: 20px">
			<div style="font-size: 22px">Welcome to <b>Faith Wednesday</b></div>
			<br>You can learn about different faiths on Faith Wednesday
			<br>We are currently lauching Faith topics with Catholic students. 
			<br>Meet us <%= link_to 'here on ThinQ.tv', '/lisa' %> at 6:30 pm every Wesnesday. 
		</h2>

		<h3 style="margin-top: 15%; margin-left: 5%; font-size: 20px">
			<b>Current Topics include:</b>
			<ul style="margin-left: 5%">
				<li>Apologetics</li>
				<li>Evangelization</li>
				<li>Relationships</li>
				<li>Living out your faith in everyday life</li>
			</ul>
		</h3>
	</div>
	
	<div class="col-sm-4">
		<div style="margin: 5%; margin-top: 10%">
			<%= image_tag "open_faith.jpg", width: "100%" %>
		</div>
	</div>
	<div class="col-sm-6 col-sm-offset-1">
		<h3 style="margin-top: 10%; margin-left: 5%; font-size: 20px">
			<b>Future Topics:</b>
			<ul style="margin-left: 5%">
				<li>Muslim student issues</li>
				<li>Jewish student issues</li>
				<li>Missionary work</li>
				<li>Faith & Science</li>
			</ul>
		</h3>

		<div style="margin-left:5%; margin-top: 10%">
			Got a Faith-related topic you'd like to discuss? <%= link_to 'Submit Here ', new_event_path %>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div style="margin:5%">
			<%= image_tag "faith_mountain.jpg", width:"100%" %>
		</div>
	</div>



</div>
