<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row" style="background-color: white; padding-bottom: 10px; box-shadow: 0 5px 15px rgba(0,0,0,.5); ">
  <h3 class="aboutHeader" style = "text-align: center; font-size: 30px;">
    Can't socialize in person?<br>
    Drop in for fellowship on ThinQ.tv! 
  </h3>
</div>


  <div class="row" style="margin-bottom: 20px; padding-bottom: 20px; margin-top: 20px; ">
    <div class="col-lg-4 col-md-12" style=" margin-top:0px; margin-bottom: 0px; padding: 0px; ">
          <%= image_tag("videoconference.jpg", :class=>"img-responsive" , :style => "height:auto; width:100%;")%>
      </div>

    <div class="col-lg-8 col-md-12" style=" height: auto; margin-top: 0px; box-shadow: 0 5px 15px rgba(0,0,0,.5);">
        <h3 style=" color: #8C1D40;font-weight: bold;"> WHAT IS THIQ.TV:</h3>
        <p style=" font-size: 18px; padding-top: 2px; line-height: 1.0em;">
          - A platform where people can join live video fellowship online. It’s similar to going to a Cocktail Party on Zoom. <br><br>
          - ThinQ.tv breaks the paradigm of an organization inviting people to listen to one person talk on social media. <br><br>
          - Instead, ThinQ.tv is for intellectually curious individuals who would like to discover interesting conversations with each other. <br><br> 
          - Individuals can join a conversation by clicking “Join Fellowship Hour” on the schedule listed on the <%= link_to "http://ThinQ.tv", root_path%> <br>
        </p>

        <!-- <div class="col-lg-8 col-md-12" style=" width:100%; padding-bottom: 20px; margin-bottom: 10px; box-shadow: 0 5px 15px rgba(0,0,0,.5);"> -->
        <h3 style="color:#8C1D40; font-weight: bold;"> YOU SHOULD:</h3>
       <p style=" font-size:18px;  line-height: 2.0em;padding-top: 2px;">

      - Invite friends & family to conversations when you'll be there so you can participate together. <br>
      - Invite seniors who are quarantined by sending them this link <%= link_to "http://www.ThinQ.tv/seniorliving", seniorliving_path%>
        OR email them directly 
        <button style="background-color: #8C1D40; border-radius: 4px; padding-top: 4px"><a href="mailto:?&subject=Join%20me%20at%20ThinQ.tv!&body=Every%20afternoon%20and%20evening%20ThinQ.tv%20has%20meaningful%20live%20video%20conversations%20to%20keep%20you%20from%20feeling%20isolated%20during%20COVID-19.%20A%20Fellowship%20Host%20will%20be%20live%20on%20ThinQ.tv%20to%20listen,%20play%20a%20trivia%20game,%20or%20even%20pray%20with%20you.%20Go%20to%20http://www.ThinQ.tv/seniorliving%20and%20click%20on%20Click%20Here%20to%20Join%20Fellowship%20Conversation." alt="Email" target="_blank" style="color: white">E-Mail &#9993</a></button> <br>
      - Spread the word about <span style="font-weight: bold; ">THINQ.TV </span> via 
                     <% domainurl = "http://www.ThinQ.tv" %>
                <% desc = "Participate in thought-provoking conversations!"%>
              
                <!-- Share -->
                <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>
                
                  <!-- Facebook Share -->
                  <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.thinq.tv%2F&amp;src=sdkpreparse"
                    onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.thinq.tv%2F&amp;src=sdkpreparse',
                    'newwindow',
                    'width=600,height=400,top=100,left=300');
                    return false;">
                    <img src="<%= asset_url('social-share-button/facebook.png') %>"></img>
                  </a>
                  <!-- Twitter Tweet -->
                  <a href="https://twitter.com/intent/tweet?hashtags=ThinQTV&text=Participate%20in%20live%20thought-provoking%20conversations%20or%20Host%20your%20own%20Live%20Video%20office%20hours!&tw_p=tweetbutton&url=http%3A%2F%2Fwww.ThinQ.tv%2F"><img src="<%= asset_url('social-share-button/twitter.png') %>"></img></a>
                  <!-- LinkedIn Share -->
                  <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= domainurl %>&title=ThinQTV&summary=<%= desc %>" onclick="window.open(this.href, 'mywin',); return false;"><img src="<%= asset_url('social-share-button/linkedin.png') %>"/></a>
                  <!-- Email Share -->
                  <a href="mailto:?subject=Check out ThinQ.TV! Conversations to Make you ThinQ&amp;body=You are invited to check out <%= domainurl %>!%0D%0A%0D%0A<%= desc %>%0D%0A%0D%0AHost your own Live Video office hours on thought-provoking topics!%0D%0A%0D%0A%0D%0A%0D%0A"><img src="<%= asset_url('social-share-button/email.png') %>"></a>
                <!-- </div> -->
        </p>
               
               
 
          
        <!-- </div> -->
      </div>
  </div>



<div class="container">
<div class="row" >
  <div class="col-lg-6 col-md-12 col-sm-12" style="margin-bottom: 60px;">
    <div class="flip-card-container">
      <div class="flip-card">
        <div class="flip-card-front">
          <%= image_tag("activities.jpg")%>
          <h3 style = " padding-top: 10px; font-weight: bold; color:white">What You might want to talk about: </h3>
        </div>
      <div class="flip-card-back">
          <p>
           - News <br><br>
           - Books <br><br>
           - Trivia games <br><br>
           - You can even pray with others on THINQ.TV!. <br><br>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="flip-card-container">
      <div class="flip-card">
        <div class="flip-card-front" >
          <%= image_tag("question.jpg")%>
          <h3 style = "padding-top: 10px; font-weight: bold; color:white">Questions? </h3>
        </div>
      <div class="flip-card-back">
          <p>
            - Drop in to any of the live video YourOnlineMom conversations by Dr. Lisa Schaefer listed on the <%= link_to 'ThinQ.tv schedule', root_path %> so we can meet you. <br><br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

 <script>
   $(document).ready(function(){
        $('.arrow').click(function(){
     $('.location-content').toggleClass('current');
         $('.location-icon').toggleClass('current');
     $('#angle').toggleClass('rotate');
    });
        
   });

  </script>
