<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

   <div class = "jumbotron pb-3 mb-1" >   
            <div class = "container-fluid">  
              <h2 class = "text-center text-primary"><strong>ELECTION 2020</strong></h2>
              <h2 class = "text-center text-primary"><strong>Can't go to a fundraising party in person?</strong></h2>
              <h2 class = "text-center text-primary"><strong>Drop in for Conversations on ThinQ.tv!</strong></h2>
            </div>
    </div>


 <div class = "row mb-1 pb-3 mt-1">
      <div class = "col-lg-4 col-md-12 mt-0 mb-0 p-0">
          <%= image_tag("videoconference.jpg", :style => "min-height: 372px; max-height:auto; width:100%;")%>
      </div>

    <div class= "container col-lg-8 col-md-12 mt-0 mb-0 p-0">
      <h2 class =" text-primary"><strong>WHAT IS THINQ.TV:</strong></h2>
      <p class = "lead">
          * A platform where people can join intellectual video chat online. It’s similar to going to a Cocktail Party on Zoom. Drop in to a conversation on the home page schedule & discover interesting conversations to motivate each other to get involved with the 2020 election!
           <br>
          * ThinQ.tv is for people who like to keep themselved well-informed to have conversations about current events - politics, science, social justice.
      </p>
          <h3 class ="pt-1 pb-1 mb-1 text-primary"><strong>HELP US MOTIVATE OTHERS TO GET OUT THE VOTE:</strong></h3>
         <p class = "lead">* Invite friends & family to conversations when you'll be there so you can participate together.</p>
         <p>- <a href="mailto:?&subject=Join%20me%20for%20conversations%20about%202020%20elections%20on%20ThinQ.tv!&body=Every%20afternoon%20and%20evening%20ThinQ.tv%20has%20meaningful%20live%20video%20chat%20conversations%20to%20get%20you%20motivated%20for%20the%202020%20elections.%20Go%20to%20http://ThinQ.tv%20and%20browse%20the%20schedule%20of%20Conversations." class = "btn btn-primary btn-lg">E-mail <span class="glyphicon glyphicon-envelope"></span></a></p>
      
      <p class = "lead">- Spread the word about <strong>THINQ.TV</strong> via <% domainurl = "http://www.ThinQ.tv" %>
                <% desc = "Participate in Conversations about the 2020 election!"%>
                            <!-- Facebook -->                  
                 <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.thinq.tv%2F&amp;src=sdkpreparse"
                    onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.thinq.tv%2F&amp;src=sdkpreparse',
                    'newwindow',
                    'width=600,height=400,top=100,left=300');
                    return false;">
                    <%= image_tag("facebook_icon.png", :style => "margin-left: -4px; width:25px; height:25px; border-radius:4px")%>
                  </a>

                     <!-- Twitter -->
                  <a href="https://twitter.com/intent/tweet?hashtags=ThinQTV&text=Every%20afternoon%20and%20evening%20ThinQ.tv%20has%20meaningful%20live%20video%20chat%20conversations%20to%20get%20you%20motivated%20for%20the%202020%20elections!%20Go%20to%20http://ThinQ.tv%20and%20browse%20the%20schedule%20of%20Conversations.&tw_p=tweetbutton&url=http%3A%2F%2Fwww.ThinQ.tv%2F"><img src="<%= asset_url('social-share-button/twitter.png') %>"></a>
                     <!-- LinkedIn -->
                  <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= domainurl %>&title=ThinQTV&summary=<%= desc %>" onclick="window.open('https://www.linkedin.com/uas/login?session_redirect=https%3A%2F%2Fwww.linkedin.com%2FshareArticle%3Fmini%3Dtrue%26url%3Dhttp%3A%2F%2Fwww.ThinQ.tv%26title%3DThinQTV%26summary%3DParticipate%2520in%2520Conversations%2520about%2520the%25202020%2520election%21', 'newwindow',
                    'width=600,height=400,top=100,left=300'); 
                    return false;"><img src="<%= asset_url('social-share-button/linkedin.png') %>"/></a>
     </p>                 
     </div>
   </div>
   <br>
   
</div>  
<br>

  <div class = "container">
    <div class = "row">

<div class="col-lg-6 col-md-12 col-sm-12  mb-2 container-hover">
  <%= image_tag("activities.jpg", :class => "img-squares")%>
   <h3 class = "text-center bg-primary"><strong> IDEAS TO TALK ABOUT</strong><br><br> </h3>  
  <div class="overlay">
    <br>
    <br>
   <p class="text-center lead">
        - Current events
        <br>
        <br>
        - Social Justice
        <br>
        <br>
        - Environmental issues
        <br>
        <br>
        - TED talks
        <br>
        <br>
        - John Oliver, Hasan Minhaj, or Seth Meyers 
</p>
    </div>
</div>


<div class="col-lg-6 col-md-12 col-sm-12  mb-2 container-hover">
  <%= image_tag("question.jpg", :class => "img-squares")%>
    <h3 class = "bg-primary text-center"><strong>QUESTIONS?</strong><br><br></h3>
  <div class="overlay">
    <br><br><br><br><br><br><br>
    <p class="text-center lead">
    - Drop in to any of the Study Hall hours listed on the <%= link_to 'ThinQ.tv Study Hall schedule', studyhall_path %> so we can meet you. <br><br>
  </p>
  </div>
</div>

    </div>
  </div>


 <script>
   $(document).ready(function(){
        $('.arrow').click(function(){
     $('.location-content').toggleClass('current');
         $('.location-icon').toggleClass('current');
     $('#angle').toggleClass('rotate');
    });
        
   });

  </script>