<div class="row" style="background-color: #E0D2C3; padding-top: 15px; padding-bottom: 10px; margin-bottom: 10px">
  <h3 class="aboutHeader">Create a culture where speaking up against sexual harassment is the norm</h3>
      <h4>
        Live video conversations are becoming more mainstream as video technology evolves. However several platforms and apps have defaulted to a culture where women are solicited for nude pictures and lewd acts for money. When we walk down the street in public, we are not assumed to be prostitutes, why is that the assumption when we are online? This treatment results in forums where people interested in civil discourse leave and bad behavior thrives. When women feel they need to hide their identities, they are not represented proportionately in society and their voices go unheard. <br><br>

        Want an internet culture where harassment and sexual solicitations are not the norm? We're inviting student organizations, parent organizations, women's organizations, and any other interested groups to form a Coalition to steer live video culture toward a civilized society where we can all grow our minds - where speaking out against harassment is the norm.<br><br>

        Drop in to any Your Online Mom session scheduled on the <%= link_to 'ThinQ.tv', "/" %> home page if you have questions. <br>
      </h4>
</div>  

<div class="row" style="background-color: #F2EBE4" >
      <h3 style = "color:#8C1D40">What can ORGANIZATIONS do: </h3>
      <div style="font-size: 18px; line-height: 1.5em">
        - Invite other organizations to participate in the Your Online Mom coalition<br>
        - Nominate adults to be <%= link_to "Online Parents or Siblings", parents_path %><br>
        - Announce to student organizations that their members can drop in & be heard<br>
        - Spread the word via social media <br>
      </div> 

      <h3 style = "color:#8C1D40">Goals of coalition: </h3>
      <div style="font-size: 18px; line-height: 1.5em">
        - Draft a List of guidelines for what bystanders on the internet can do when they witness harassment and solicitation in live video<br>
        - A monthly day to take over apps that have high sexual harassment activity by sending a group of responsible adults into the apps to do the items on the List<br>
        - Vet a force of <%= link_to 'Online Parents and Siblings', parents_path %> to host conversation times for students<br>
      </div> 

      <h3 style = "color:#8C1D40">How to Join the coalition: </h3>
      <div style="font-size: 18px; line-height: 1.5em">
        - Email info@ThinQ.tv to state your interest or call 602-888-3089<br>
        - Drop in to any of the Your Online Mom Conversations by Dr. Lisa Schaefer listed on the <%= link_to 'ThinQ.tv schedule', "/" %> so we can meet you & you can ask questions <br>
        - Or drop in to any of the Coalition Conversations to be listed on the <%= link_to 'ThinQ.tv schedule', "/" %> soon. <br>
      </div> 

</div><br>
