<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- top row of content-->
<div class="row ">
  <div class="col-lg-8 col-md-8 col-small-12">
    <!-- main column-->
<div class ="row text-center">
    <%= image_tag("logoMg.png", :style => "max-height:50%; width:50%; padding-top:50px;padding-bottom:20px;")%>
    </div>
    <div class="col-lg-6 col-md-6 col-small-12">
      <%= image_tag("videopic.jpg", :style => "max-height:auto; width:100%;")%>
    </div>
    <div class="col-lg-6 col-md-6 col-small-12">
      <!-- main content-->
      <h2 class="new">ThinQ is an online experience similar to going to a cocktail party!
      </h2>
      <p>ThinQ.TV is a free platform where people can explore their passions. By participating in intellectual video chats, people can discover different opinons or can enhance their skillls through collaboration.
      </p>
    </div>
    <!-- closing main content -->
  </div>

  <!--side column -->
  <div class="col-lg-4 col-md-4">
    <h1 class="new">
      Our Mission
    </h1>
    <h2 class="new">Discover People Who Make you ThinQ</h2>
    <p>At ThinQ, we want to bring people together to help them learn about new topics through conversations or working together on projects.
    </p>
  </div>
</div>
<!-- closing top section-->

<! -- why thinQ.tv section -->
<div class="row mb-0 pb-0 mt-3 pt-3">
  <h1 class="new">
    Why ThinQ.tv?
  </h1>
  <div class="row align-items-end">
    <div class="col-lg-3 col-md-3 col-small-6 align-self-end">
      <%= image_tag("knowledge_icon.png", :style => "height:auto; max-width:27.5%;")%>
    </div>
    <div class="col-lg-3 col-md-3 col-small-6 align-self-end">
      <!--<br> this is a short icon, so Im adding a break to fix the spacing -->
      <%= image_tag("discovery_icon.png", :style => "height:auto; max-width:27.5%;")%>
    </div>
    <div class="col-lg-3 col-md-3 col-small-6 align-self-end">
      <!--t <br> <br> his is a really short icon, so Im adding 2 breaks to fix the spacing. Theres probably a more elegant way to do this -->
      <%= image_tag("collaboration_icon.png", :style => "height:auto; max-width:27.5%;")%>
    </div>
    <div class="col-lg-3 col-md-3 col-small-6 align-self-end">
      <%= image_tag("schedule_icon.png", :style => "height:auto; max-width:27.5%;")%>
    </div>
  </div>
  <div class="row mt-0 pt-0">
    <div class="col-lg-3 col-md-3 col-small-6">
      <h2 class="new">
        Knowledge
      </h2>
      <p>
        Learn about topics by participating in intelligent conversations.
      </p>
    </div>
    <div class="col-lg-3 col-md-3 col-small-6">
      <h2 class="new">
        Discovery
      </h2>
      <p>
        Gain answers to questions by conversing and working with others.
      </p>
    </div>
    <div class="col-lg-3 col-md-3 col-small-6">
      <h2 class="new">
        Collaboration
      </h2>
      <p>
        Work together to enhance your skills with students, interns and professionals.
      </p>
    </div>
    <div class="col-lg-3 col-md-3 col-small-6">
      <h2 class="new">
        Schedule
      </h2>
      <p>
        Don’t wait to be invited! Look at our Coversation and Study Hall schedules to join us at any time!
      </p>
    </div>
  </div>
</div>
<!-- closing why section -->

<! -- our story section -->
<div class="row mb-1 pb-3 mt-1 mx-5 px-5">
  <h1 class="new">
    Our Story
  </h1>
  <div class="col-lg-8 col-md-8 col-sm-12">
    <p>
      ThinQ.TV was created in 2019 by Dr. Lisa Schaefer. After attending videochats with inappropiate behavior, she wanted to create a positive online space for passionate individuals to connect and inspire eachother. After creating the site and assessing
      what people wanted from the site, it became so much more.
    </p>
    <p>
      As more interns joined the team, the site became more of a virtual office where interns and Dr. Schaefer would sign on to work on the site. Because of this, our Study Hall was created to inform others what we were working on.
    </p>
    <p>
      As we grow we hope to increase the conversations and provide more study rooms so all developers can come to the site to collaborate with each other
    </p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <%= image_tag("lisaSpeaks.jpg", :style => "max-height:auto; width:65%;")%>
  </div>
</div>
<!--closing our story section -->

<script>
  $(document).ready(function () {
    $('.arrow').click(function () {
      $('.location-content').toggleClass('current');
      $('.location-icon').toggleClass('current');
      $('#angle').toggleClass('rotate');
    });

  });
</script>
