<!-- top row of content-->
<div class="row pt-3 mt-2 pb-1 pl-3 ml-3" >
    <div class="col-lg-5 col-md-12 col-sm-12 pl-4">
      <%= image_tag("videopic.jpg", :style => "max-height:auto; width:100%;")%>
    </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
      <!-- main content-->
      <h1 class="maroon">Help build a community where Women and Minorities in STEM take center stage
      </h1>
      <p class = "lead pr-2 mr-1">
        ThinQ.TV is a free video chat platform where women and minority professionals in STEM fields sign up to host Mentor Hours. At ThinQ.tv, women and minorities in STEM are thought leaders and RoleModels. College students and early career STEMinists can stop by throughout the day for live peer advice, mentor advice and networking via video conversations.<br><br>
        <%= link_to "Drop In", studyhall_path %> to mentor, learn, and collaborate. Meet fellow STEMinists!
      </p>
    <h1 class="maroon">Our Mission</h1>
    <p class = "black">
      To empower you to grow a community where women & minorities in STEM are thought leaders who help you grow your skills and your network. Change your world one Conversation at a time.
    </p>
  </div>
</div>
<!-- closing top section-->


<!-- why thinQ.tv section -->
<div class="row mb-1 pb-1 pl-5 bg-primary">
  <h1 class="white">
    Why ThinQ.tv?
  </h1>
  <div class="row align-items-end" >
    
  </div>
  <div class="row mt-0 pt-0 row cols-sm-2" >
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="row align-self-end pl-5 pb-2">
        <%= image_tag("discovery_icon.png", :style => "height:auto; max-width:40%;")%>
      </div>
      <h3 class="text-warning pt-2 mt-1 "><strong>
        STEM Career Advice - LIVE!</strong>
      </h3>
      <p class = "text-white ml-0 lead">
        We have mentors throughout the week who are available to answer career-related questions from STEM students and early career professionals. Need advice? RSVP to a Mentor Hour on our home page <%= link_to "schedule", root_path, style: "color: #FFC627;" %>.
      </p>
    </div>
    <div class="clearfix visible-sm">
        <!-- clearfix sm cols every 2 -->
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="row pl-3 ml-4 pb-3 mb-2">
        <%= image_tag("dialogue_icon.png", :style => "height:auto; max-width:37%;")%>
      </div>
      <h3 class="text-warning pt-2 mt-1"><strong>
         Dialogue</strong>
      </h3>
      <p class = "text-white lead">
        Share experiences and advice <i>with</i> others instead of talking <i>at</i> them. Initiate a video chat <%= link_to "Mentor Hour", new_event_path, style: "color: #FFC627;" %> yourself!
      </p>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="row align-self-end pl-3 ml-4 pb-4 mb-1">
        <%= image_tag("schedule_icon.png", :style => "height:auto; max-width:36%;")%>
      </div>
      <h3 class="text-warning pt-2 mt-1"><strong>
      Schedule</strong>
      </h3>
      <p class = "text-white mr-5 lead">
        Meet virtually with wise women & minorities in STEM at any time! Check our <%= link_to "Mentor Hour", root_path, style: "color: #FFC627;" %> and <%= link_to "Drop-In", studyhall_path, style: "color: #FFC627;" %> schedules. We're adding more mentors every week!

      </p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="row align-self-end pl-3 ml-4">
        <%= image_tag("activism_icon.png", :style => "height:auto; max-width:46%;")%>
      </div>
      <h3 class="text-warning""><strong>
        Activism</strong>
      </h3>
      <p class = "text-white lead">
        Being a woman or minority in engineering or tech requires moxie. Coworkers and management often overlook our contributions. We have to constantly be alert because no one else is looking out for us. On ThinQ.tv, women & minorities are the Role Models. <br><br>
      </p>
    </div>
  </div>
</div>
</div>
<!-- closing why section -->


<!-- our story section -->

<div class="container-fluid pt-1 mt-1">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-12 pt-3 pl-5">
  <h1 class="maroon">
    Our Story
  </h1>
    <p class = "h6">
      Back when ThinQ.tv Founder & Software Engineer, Dr. Lisa Schaefer, lived in Washington, DC, she attended a meeting where Biz Stone, the founder of Twitter, spoke. All she could thinQ of during the entire meeting was, "I can come up with something better."<br><br>

      Years earlier, Dr. Schaefer had a vision for multi-location book party with hundreds of intellectual conversations to drop in to and discovered live-streaming in its early days. "This changes everything," she thought. Anyone with a computer, webcam, and internet connection can communicate with anyone with anyone else who has an internet connection.<br><br>

      Dr. Schaefer developed her own web platform, embedded video chat, and experimented with talk show formats. Most were awful. People wanted to talk at the internet without listening to others in a dialogue. However the thought-provoking conversations that followed were worth coming back for. 

      When COVID19 hit, college students gathered on ThinQ.tv to talk about substantive topics such as feminism and Black Lives Matter, while learning web development with Dr. Schaefer as their mentor. She asked the students to work on code in chatrooms on ThinQ.tv. We now have student in our chatrooms 8 - 12 hours per day. Anyone is welcome to Drop In to find out what we're up to - come to share ideas, collaborate on learning, and create tech. <br><br>

      Dr. Schaefer's passion for activism is Coding While Female, which combines the interests - feminism & tech mentoring - of the students that joined ThinQ.tv this summer. ThinQ.tv is gathering women and minorities in STEM fields to host Mentor Hours on ThinQ.tv so they can be seen as Role Models in society, and so the future generation of STEM professionals can more easily find a source of expertise to turn to. 
      <br><br>

    </p>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-12 pt-5 mt-2 pb-0">
   <%= image_tag("aboutus.png", float: "right", :class=> "img-responsive img-thumbnail")%><br>
   <p class = "text-lead text-center">Some of our staff gather to observe the dynamics of our first Mentor Hour on ThinQ.tv</p>

  </div>
  </div>
</div>
