<div class="row" style="padding-top: 15px; padding-bottom: 10px; margin-bottom: 10px">
  <div class="col-md-3">
    <%= image_tag("logoDigitalHollow300.png", :class => "hidden-xs", :style => "display: block; margin-left: auto;  margin-right: auto; height: 150px;")%>
  </div>
  <div class="col-md-offset-1 col-md-8" style="padding-right: 15px;">
    <p style="display:inline;">Our Mission: </p>
    <h3 class="aboutHeader" style="display:inline;"> Create a culture where speaking up against sexual harassment is the norm</h3>
      <h4 style="line-height: 1.3em">
        Live video conversations are becoming more mainstream as video technology evolves. However several platforms and apps have defaulted to a culture where women are solicited for nude pictures and lewd acts for money. When we walk down the street in public, we are not assumed to be prostitutes, why is that the assumption when we are online? Thus women leave the table and their voices go unheard. <br><br>

        Want an internet culture where harassment and sexual solicitations are not the norm? We're inviting individuals and organizations to form a Coalition to steer live video culture toward a civilized society where speaking up against harassment is the norm.<br>
      </h4>
  </div>  
</div>

<div class="row" >
  <h1 class="aboutHeader" style="background-color: #F2EBE4; text-align: center; padding-top: 20px; padding-bottom: 20px; margin-bottom: 10px">Apply to be on the YourOnlineMom BOARD OF DIRECTORS!<br><br>
  <%= link_to 'Apply Here', boardofdirectors_path, :class => "btn btn-lg btn-primary", :style => "border-radius:5px;"%></h3>
</div>  


<div class="row" >
      <h3 class="aboutHeader">What can ORGANIZATIONS do: </h3>
      <div style="font-size: 18px; line-height: 1.5em">
        - Invite other organizations to participate in the Your Online Mom coalition<br>
        - Nominate adults to be <%= link_to "Online Parents or Siblings", parents_path %><br>
        - Announce to student organizations that their members can drop in & be heard<br>
        - Spread the word via social media <br>
      </div>

      <h3 style = "color:#8C1D40">Goals of Coalition: </h3>
      <div style="font-size: 18px; line-height: 1.5em">
        - Draft a list of Bystander Guidelines for what people can do when they witness harassment in live video<br>
        - Stage occasional Intervention Days to take over apps that have high sexual harassment activity by sending responsible adults into the apps to enact the Bystander Guidelines<br>
        - Vet a force of <%= link_to 'Online Parents and Siblings', parents_path %> to host conversation times for students<br>
      </div> 

      <h3 style = "color:#8C1D40">How to join the Coalition: </h3>
      <div style="font-size: 18px; line-height: 1.5em">
        - Email info@ThinQ.tv to state your interest or call 602-888-3089<br>
        - Drop in to any of the Your Online Mom Conversations by Dr. Lisa Schaefer listed on the <%= link_to 'ThinQ.tv schedule', "/" %> so we can meet you & you can ask questions <br>
      </div> 

</div><br>
