<div class="row mt-2" id = "heroImage">
  <!-- DO NOT DELETE Where the home page images came from:
       https://unsplash.com/photos/IL4WL6bf-h4
       https://unsplash.com/photos/RIt88XBR3G0
       https://unsplash.com/photos/rrI02QQ9GSQ 
       https://unsplash.com/photos/SJvDxw0azqw 
  -->  

  <div class="col-lg-5 pt-3 pb-4 ml-2 mr-2">
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>" style = "height:50px">
        <%= value %>
      </div>
    <% end %>

    <div style="background-color: rgba(255, 255, 255, 0.4); border-radius: 7%">
      <h1 class="text-center maroon mt-5 pl-2 pt-5" style="font-size: 50px">
        <strong>Women who inspire you to </strong>
        <%= image_tag("thinqMaroon.png", style: "height: 80px; margin-top: 10px") %>
      </h1>
    
      <h2 class="maroon pl-4 pr-4" style="font-size: 1.5em; text-shadow: 0.05em 0.05em #EEE, -0.05em 0.05em #EEE, 0.05em -0.05em #EEE, -0.05em -0.05em #EEE, 0 -0.05em #EEE, -0.05em 0 #EEE, 0.05em 0 #EEE, 0 0.05em #EEE;">
        <li style="margin-bottom: 10px"> A network of students, teachers, parents, and STEM professionals helping women to become confident in STEM classes & careers</li>
        <li> Free video chat for all women! RSVP to or schedule casual conversations, career networking sessions, homework help, book clubs, meetings, etc.</li>
      </h2>

      <div class="text-center">
        <%= render 'layouts/countdown_clock' %>
      </div>
    </div>
  </div>

  <div class="col-lg-6 py-5 my-5 mx-3"></div>
</div>

<div>
  <div class="convo-container text-center" style="background-color: #8C1D40">
    <div id="scheduleStart"></div>

    <!-- col-lg-3 col-md-6 -->
    <h1 class="white">Drop in to these Conversations</h1>
    <h2 class="mb-0 pb-2" style="color:#FFF"> Everyone is welcome!</h2>
    <div class="pt-2 pb-2" id="button">
      <%= link_to 'Host a Conversation', new_event_path, class: "btn btn-warning", title: "Host drop-in conversation sessions or invite people to ask questions about your area of expertise" %>
    </div>
    
  </div>
</div>

<div class="tabContainer text-center pl-2 pr-2 pb-2" style="background-color: #8C1D40" >
  <div class="buttonContainer mx-auto pb-1" >
    <button onclick="showPanel(0,'#4caf50')">List View</button>
    <button onclick="showPanel(1,'#4caf50')">Daily View</button>
    <button onclick="showPanel(2,'#4caf50')">Monthly View</button>
  </div>

  <div class="listView tabPanel">
    <%= render 'layouts/convocalendar', collection: @conversations %>
  </div>
  <div class="tabPanel container-fluid">
    <%= render 'layouts/weeklycalendar', eventPartial: "layouts/renderdayhome"%>
  </div>
  <div class="tabPanel container-fluid">
    <div id="events">
      <%= render partial: "layouts/calendar", locals: {baseDate: (Time.now - 10.hour).to_date,
          events: @calendar_events_all, monthNum: 0, type: 0}%>
    </div>
  </div>
</div>

<script type="text/javascript">
  showPanel(0, '#f44336');
</script>
