<!-- Jumbotron -->
<div class="jumbotron jumobtron-fluid cptv-jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 jumbotron-col-1">
        <p class="h1">JOIN OUR LIVESTREAMS</p>
        <p class="h1">Real People. Real Topics.</p>
        <br />
        <br />
        <p class="lead">
        Join us for weekly topics on Faith,
        Technology, Environmental issues & more!
        </p>
        <br />
        <span class="jumbotron-nav-link">
          <a href=#connectFans class="btn btn-primary btn-lg">View Schedule</a>
        </span>
        <span class="jumbotron-nav-link">
          <%= link_to 'Join Discussion', "https://crowdpublishtv.herokuapp.com/lisa", class: "btn btn-lg btn-primary btn-alert" %>
        </span>
        <!-- <button type="button" class="btn btn-primary btn-lg">View Schedule</button> -->
      </div>
      <% if !user_signed_in? %>
        <div class="col-sm-6 jumbotron-col-2">
          <h4>Create an account to host live streams!</h4>
          <%= render "devise/registrations/new" %>
          <!--
            <form>
            <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Username">
            </div>
            <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn btn-primary">Create your account</button>
            <p class="jumbotron-sign-up">Already a member? <%#= link_to "Sign In", "#", class: "jumbotron-sign-in-link" %></p>
            </form>
          -->
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Our Purpose -->
<div class="cptv-section-1">
  <div class="container">
    <div class="aboutus-section-header">
      <h2 class="aboutus-title">Our Purpose</h2>
    </div>
    <div class="aboutus-section-body">
      <p class="lead">
      Broadcast live discussions about what you're doing to change the world.
      Participate in intellectual discussions to broaden your knowledge. Learn
      Ruby on Rails with us on Tuesday evenings. Wednesday evening Faith
      discussions. Thursday evenings we'll talk about international issues.
      Friday lunch/afternoon is Health & Wellness time. We'll add more topics and
      time slots throughout the summer.
      </p>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="aboutus-section-header">
      <h2 class="aboutus-subtitle">Interested in influencing the topics discussed on CrowdPublish.tv?</h2>
    </div>
    <div class="aboutus-section-body">
      <p class="lead">
      Feel free to add your own show! We recommend selecting a time immediately
      before or after other shows for increased exposure.
      </p>
    </div>
  </div>
</div>

<!-- WeekDays -->
<%#= render "layouts/upcoming_events", collection: @events %>

<!-- Upcoming Events -->
<%= render "events/upcoming_events", collection: @events %>

<!-- Row Only -->
<%#= render "events/upcoming_events_row_only", collection: @events %>

<div class="cptv-section-2" id="offerPerks">
  <div class="container">
    <div class="row">
      <div class="ctpv-section-2-col-1 col-sm-6">
        <div class="cptv-section-2-header">
          <%= image_tag("homePerks.jpg", class: "hidden-xs", style: "height:250px") %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="cptv-section-2-body">
          <p class="lead">
          Broadcast live discussions about what you're doing to change the world.
          Participate in intellectual discussions to broaden your knowledge. Learn
          Ruby on Rails with us on Tuesday evenings. Wednesday evening Faith
          discussions. Thursday evenings we'll talk about international issues.
          Friday lunch/afternoon is Health & Wellness time. We'll add more topics and
          time slots throughout the summer.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cptv-section-3">
  <div class="container">
    <div class="cptv-section-3-header">
      <h2>Find out when our events are posted.</h2>
    </div>
    <div class="cptv-section-3-body">
      <form>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-8">
              <input type="email" class="form-control" placeholder="Enter Email" />
            </div>
            <div class="col-sm-4">
              <button type="submit" class="btn btn-primary btn-rounded btn-lg">Notify Me</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="cptv-section-2" id="offerPerks">
  <div class="container">
    <div class="row">
      <div class="ctpv-section-2-col-1 col-sm-6">
        <div class="cptv-section-2-header">
          <%= image_tag("homeFans.jpg", class: "hidden-xs", style: "height:250px") %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="cptv-section-2-body">
          <p class="lead">
          Broadcast live discussions about what you're doing to change the world.
          Participate in intellectual discussions to broaden your knowledge. Learn
          Ruby on Rails with us on Tuesday evenings. Wednesday evening Faith
          discussions. Thursday evenings we'll talk about international issues.
          Friday lunch/afternoon is Health & Wellness time. We'll add more topics and
          time slots throughout the summer.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
