<div class="alert mt-3">
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>
</div>
<div class ="row">
  <div class="col-lg-5 col-md-11">
      <div id="home" >
        <div style="display:inline; font-size: 54px; color:#ffc627; font-family: 'Arial';" >
          Discover Activism that makes you
        </div>
        <div style="display:inline;" >
          <%= image_tag("GoldThinQ60.png", style: "margin-bottom: 30px")%><br>
        </div>
        <div style="font-size: 30px; color:#fff; font-family: 'Arial';" >
          Crowdsource Activism via Video Chat
        </div><br><br><br>

        <h3 style="color:#fff; margin-right: 20px; margin-left: 20px; line-height: 1.2em"><i>New to ThinQ.tv?</i>
          <br>Most of the day we have a video chat <%= link_to "Drop-In", studyhall_path, style: "color: #ffc627" %> Hours so you can meet Activists and ask questions about ThinQ.tv!
        </h3>
        <% if @displaystudy.present? %>
          <% if (Time.current > Time.parse(@start_timestudy)) && (Time.current < Time.parse(@end_timestudy)) %>
            <div id="eventCurrentdiv">
              <%= link_to " Drop In Now ", user_viewer_path(@hoststudy.permalink, chatrm: @displaystudy.topic, event: @displaystudy.id), class: "btn btn-primary btn-sm fa fa-video-camera", style: "margin-top: 10px; margin-bottom: 10px; font-size: 45px; border-color:#ffc627; border-radius: 5px; " %>
            </div>
          <% end %>
        <% end %>
        <% if @displayresearch.present? %>
          <% if (Time.current > Time.parse(@start_timeresearch)) && (Time.current < (Time.parse(@start_timeresearch) + 1.hour)) %>
            <div id="eventCurrentdiv">
              <p style="color:#fff">We're working on Group Problem Solving for <%= link_to @nameresearch, event_path(@displayresearch.id), style: "color: #ffc627" %></p>
              <p style="color:#fff"> right NOW!</p><br>
              <%= link_to " Join Group Problem Solving", user_viewer_path(@hostresearch.permalink, chatrm: @displayresearch.topic, event: @displayresearch.id ), class: "btn btn-primary btn-sm fa fa-video-camera", style: "margin-top: 10px; margin-bottom: 10px; font-size: 42px; border-color:#ffc627; border-radius: 5px;" %>
            </div>
          <% end %>
        <% end %>
        <% if @displaystudy.present? && @displayresearch.present? %>
          <% if !(Time.current > Time.parse(@start_timeresearch)) && (Time.current < (Time.parse(@start_timeresearch) + 1.hour)) %>
            <% if !(Time.current > Time.parse(@start_timestudy)) && (Time.current < (Time.parse(@start_timestudy) + 1.hour)) %>
              <h2 id="buttonTitle">
              <h2 id="buttonTitle" style="margin-bottom: 30px">
              <%= link_to 'See an example Video Chat Room', "/youronlinemom/viewer?chatrm=Conversation", class: "btn btn-lg btn-primary", style: "border-radius: 5px;", title: "Check your webcam" %>
              </h2>
            <% end %>
          <% end %>
        <% end %>        <br><br>
      </div>
    </div>

<div class="col-lg-7 col-md-12" id="countdown_clock">
  <div class="main row">
    <br>
    <div class="col-lg-3 col-md-6">
      <h2>Conversation Schedule</h2>
      <h4>Discover topics that motivate you!</h4>
      <% if user_signed_in? %>
        <%= link_to 'Post your Own Conversation', new_event_path, class: "btn btn-warning", title: "Host drop-in conversation sessions or invite people to ask questions about your area of expertise" %>
      <% end %>
    </div>
    <div class="col-lg-3 col-md-6">
      <%= render 'layouts/countdown_clock' %>
    </div>
  </div>
  <div class="tabContainer">
    <div class="buttonContainer">
      <button onclick="showPanel(0,'#4caf50')">List View</button>
      <button onclick="showPanel(1,'#4caf50')">Daily View</button>
      <button onclick="showPanel(2,'#4caf50')">Monthly View</button>
    </div>
    <div class="tabPanel">
      <%= render 'layouts/convocalendar', collection: @conversations %>
    </div>
    <div class="tabPanel">
      <%= render 'layouts/weeklycalendar', eventPartial: "layouts/renderdayhome"%>
    </div>
    <div class="tabPanel">
      <div id="events">
        <%= render partial: "layouts/calendar", locals: {baseDate: (Time.now - 10.hour).to_date,
           events: @calendar_events_all, monthNum: 0, type: 0}%>
      </div>
    </div>
  </div>
</div>
</div>

<br><br><br>
<script type="text/javascript">
  showPanel(0, '#f44336');
</script>
