<div class="row mt-2" id = "heroImage">
  <!-- https://unsplash.com/photos/IL4WL6bf-h4
       https://unsplash.com/photos/RIt88XBR3G0
       https://unsplash.com/photos/rrI02QQ9GSQ 
       https://unsplash.com/photos/SJvDxw0azqw 
  -->  

  <div class="col-lg-5 pt-3 pb-4 pl-1 ml-3">
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>" style = "height:50px">
        <%= value %>
      </div>
    <% end %>

    <h1 class="text-center maroon mt-5 pl-2 pt-5" style="font-size: 50px">
      <strong>Women who inspire you to </strong>
        <%= image_tag("thinqMaroon.png", style: "height: 80px; margin-top: 10px") %>
    </h1>
    <h2 class="text-center" style="color:#8C1D40">
      <br><br>Video Chat support community for moms & aunts to empower Confident Young Women <br><br><br>
    </h2>

    <div class=" text-center" >
        <%= render 'layouts/countdown_clock' %>
    </div>
  </div>

  <div class="col-lg-6 py-5 my-5 mx-3">
  </div>
</div>

    <!--end of drop in column-->
</div>
      <div>
        <div class="convo-container text-center" style="background-color: #8C1D40">
          <!-- col-lg-3 col-md-6 -->
          <h1 class = "white">Conversations</h1>
          <% if user_signed_in? %>
            <%= link_to 'Host a Conversation', new_event_path, class: "btn btn-warning", title: "Host drop-in conversation sessions or invite people to ask questions about your area of expertise" %>
          <% end %>
        </div>
      </div>

      <div class="tabContainer text-center pr-2" style="background-color: #8C1D40" >
        <div class="buttonContainer pr-3" >
          <button onclick="showPanel(0,'#4caf50')">List View</button>
          <button onclick="showPanel(1,'#4caf50')">Daily View</button>
          <button onclick="showPanel(2,'#4caf50')">Monthly View</button>
        </div>

        <div class="tabPanel">
          <%= render 'layouts/convocalendar', collection: @conversations %>
        </div>
        <div class="tabPanel container-fluid">
          <%= render 'layouts/weeklycalendar', eventPartial: "layouts/renderdayhome"%>
        </div>
        <div class="tabPanel container-fluid">
        <div id="events">
          <%= render partial: "layouts/calendar", locals: {baseDate: (Time.now - 10.hour).to_date,
             events: @calendar_events_all, monthNum: 0, type: 0}%>
        </div>
      </div>
    </div>
<br><br>

<script type="text/javascript">
showPanel(0, '#f44336');
</script>