<div class="row bg-primary mt-2 pl-5">
  <div class="alert">
  </div>
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <%= value %>
      </div>
    <% end %>
  <div >
    <h1 class="text-center text-white mt-5 pl-5">
      <strong>STEMinism to make you</strong>
        <%= image_tag("GoldThinQ60.png")%>
    </h1>
    <br>
    <h2 class="text-center text-white">
      Video Chat community throughout the day for <br>
      Women & Minorities in STEM
    </h2>
  </div>
  
  <div class="col-lg-6 pt-3 pb-4 pl-5 ml-3">
    <%= image_tag("HomeBanner.png", style: "width:100%;")%>
  </div>

</div>
  <!-- end of top section-->
  <div class = "pt-4 mt-2 pb-1">
    
    <h1 class="text-primary text-center"><strong>
      Want feedback on your tech or designs? <br>
      Need an online study group or career advice? </strong>
    </h1>
    <p class="lead text-center">
      Most of the day we have a video chat Drop-In
      hours to support Women & Minorities in Tech.
      <br>
      <%= link_to "Drop-In", studyhall_path, style: "color: #FFB704" %> to meet us! <br>
      <%= link_to "Become a Drop-In peer volunteer or mentor", new_event_path, style: "color: #FFB704" %>
    </p>
  </div>

  <!-- end of new to thinQ section-->

<div class="row">
    <!--study hall and conversation section -->

    <div class="col-lg-6 col-md-12 col-sm-12 pt-2">
      <!--conversations column-->
      <div class="col-lg-12 col-md-12 text-center" style = "height:auto">
        <%= render 'layouts/countdown_clock' %>
      </div>
      <%= image_tag("convo_photo.png", class:"mx-auto d-block pb-3", style: "border-radius: 112px; width: 75%;")%>
      <h2 class="text-warning text-center"><strong>Conversations</strong>
      </h2>
      <p class = "text-center">Join conversations hosted by grassroots activists to have
        <br>
        scheduled small group conversations about activism!
      </p>

    </div>

    <!--end of conversations column-->

    <div class="col-lg-6 col-md-12 col-sm-12 pb-5 pt-3 mt-3 ">
      <!--study hall column; col-md-6 col-lg-6 col-sm-12 col-xs-12-->
      <div class="col-lg-12 col-md-12 col-sm-7 text-center" style = "height: auto">
        <%= render 'layouts/countdown_clockstudy' %>
      </div>
      <%= image_tag("activism_hall.jpg", class:" mx-auto d-block  pb-3", style: "border-radius:112px; width:75%;")%>
      <h2 class="text-warning text-center pl-5"><strong>
        Drop-In Hours</strong>
      </h2>
      <p class = "text-center">
        Discover other activists working on similar causes. Drop in to
        <br>
        video chat throughout the day to meet us & collaborate!
      </p>     
    </div>
</div>
    <!--end of drop in column-->
    </div>
      <div>   
        <div class="convo-container text-center" style="background-color: #8C1D40">
          <!-- col-lg-3 col-md-6 -->
          <h1 class = "white">Conversation Schedule</h1>
          <% if user_signed_in? %>
            <%= link_to 'Post your Own Conversation', new_event_path, class: "btn btn-warning", title: "Host drop-in conversation sessions or invite people to ask questions about your area of expertise" %>
          <% end %>
        </div>
      </div>

      <div class="tabContainer text-center pr-2" style="background-color: #8C1D40" >
        <div class="buttonContainer pr-3" >
          <button onclick="showPanel(0,'#4caf50')">List View</button>
          <button onclick="showPanel(1,'#4caf50')">Daily View</button>
          <button onclick="showPanel(2,'#4caf50')">Monthly View</button>
        </div>
        
        <div class="tabPanel">
          <%= render 'layouts/convocalendar', collection: @conversations %>
        </div>
        <div class="tabPanel container-fluid">
          <%= render 'layouts/weeklycalendar', eventPartial: "layouts/renderdayhome"%>
        </div>
        <div class="tabPanel container-fluid">
        <div id="events">
          <%= render partial: "layouts/calendar", locals: {baseDate: (Time.now - 10.hour).to_date,
             events: @calendar_events_all, monthNum: 0, type: 0}%>
        </div>
      </div>
      </div>
<br><br>

<script type="text/javascript">
showPanel(0, '#f44336');
</script>
