<!--This wrapper is a bad cheat for centering until I figure out our views-->
<div id="homeWrapper">
<div class="row" id="heroImage">
    <div>
        <h1 id="heroTitle">Be on Interactive TV and discover an Income Stream</h1>
    </div><br><br>
    <!--Sign Up button-->
    <% if user_signed_in? %>
        <%= link_to "Offer Perks", new_merchandise_path, :class => "btn btn-lg btn-primary" %>
    <% else %>
        <%= link_to 'Sign Up', "/signup", :class => "btn btn-lg btn-primary" %>
    <% end %> 
    <!--Livestream button-->
    <%= link_to 'Host Discussion', new_event_path, :class => "btn btn-lg btn-primary", :style => "margin-left: 50px;" %>
    <% if user_signed_in? %>
    <% else %>
        <br><br><small>Have an account? <%= link_to 'Sign in.', "/login" %></small>
    <% end %>
</div>
<div class="row darkBlock" id="connectFans">
    <div class="col-sm-4 col-sm-offset-1">
        <h2><%= link_to "Livestream", "https://crowdpublishtv.herokuapp.com/livestream", :target => "_blank" %></h2>
        <p>Go live to your audience in a video chat where you take center stage. Try a Q&amp;A with your viewers, or collaborate with other discussion hosts to engage in a panel!</p>
    </div>
    <div class="col-sm-5 col-sm-offset-1">
        <%= render 'layouts/maincalendar' %>
    </div>
</div>
<div class="row lightBlock" id="offerPerks">
    <div class="col-sm-6">
      <%= image_tag("homePerks.jpg", :class => "hidden-xs", :style => "height:250px") %>
    </div>
    <div class="col-sm-4 col-sm-offset-1">
        <h2>Offer Perks</h2>
        <p>Alongside viewing your livestream, viewers can take advantage of fun perks by supporting you! Offer to post to their Facebook wall, sign a poster, or even just sell a sneak preview of new products &mdash; the choices are only limited by your creativity!</p>
    </div>
</div>
<div class="row darkBlock" id="livestream">
    <div class="col-sm-4 col-sm-offset-1">
        <h2>Connect with Fans</h2>
        <p>Your fans can join in your livestream through text chat, as well as directly support you through purchasing perks on your page during your livestream and when you're offline.</p>
    </div>
    <div class="col-sm-6 col-sm-offset-1">
      <%= image_tag("homeFans.jpg", :class => "hidden-xs", :style => "height:250px") %>
    </div>
</div>
<div class="row" id="faqBlock">
    <h3>Want to know more? Visit our <%= link_to "FAQ.", '/faq' %></h3><br>
    <% if user_signed_in? %>
        <%= link_to "Create Perk", 'new_merchandise_path', :class => "btn btn-lg btn-primary" %>
    <% else %>
        <%= link_to 'Join', "/signup", :class => "btn btn-lg btn-primaryy" %>
    <% end %>
</div>
</div>