<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="CrowdPublish.TV" content="Actors Filmmakers Authors - Increase Fan Engagement & Earn More Funds">
    <meta property="og:url" content="http://CrowdPublish.TV" />
    <meta property="og:image" content="http://crowdpublish.tv/images/crowdpublishLogo.png" />
    <meta property="og:description" content="CrowdPublishTV helps actors, filmmakers, authors Increase Fan Engagement & Earn More Funds" />
    <title>CrowdPublishTV - Actors Authors - Increase Fan Engagement & Earn More Funds</title>
</head>

<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="/assets/crowdPublishIcon.png">
                </a>
            </div>
            <p class="navbar-text navbar-right">
            <% if user_signed_in? %>
                Signed in as <%= link_to  current_user.name, user_profile_path(current_user.permalink) %>
                <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => "btn btn-default" %>
            <% else %>
                <%= link_to 'Sign In', "/login", :class => "btn btn-primary"  %>
            <% end %>
            </p>
        </div>
    </nav>
</header>

<body class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
<!--ADD BACKGROUND IMAGE-->
            <div class="joinButton">
                <% if user_signed_in? %>
                    <%= link_to "Offer Perks", new_merchandise_path, :class => "btn btn-primary btn-lg" %>
                <% else %>
                    <%= link_to "Join", new_user_signup_path, :class => "btn btn-primary btn-lg" %>
                <% end %>
            </div>
        </div>
    <div class="row" id="homeHero">
        <div class="col-sm-12">
            <h1>
                What is CrowdPublish.tv?<br>
                <small>Connect With Fans</small><br>
                <small>Offer Perks</small><br>
                <small>Filler</small>
            </h1>
        </div>
    </div>
<!--Right-side Image Block-->
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Connect with Fans</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisiLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi</p>
                </div>
                <div class="col-sm-6">
                    <img class="hidden-xs" src="https://via.placeholder.com/350x150">
                </div>
            </div>
        </div>
    </div>
<!--Left-side Image Block-->
    <div class="row">
        <div class="col-sm-12">
            <div class="row greyBlock">
                <div class="col-sm-6">
                    <img class="hidden-xs" src="https://via.placeholder.com/350x150">
                </div>
                <div class="col-sm-6">
                    <h2>Offer Perks</h2>
                    <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisiconsectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi</p>
                </div>
            </div>
        </div>
    </div>
<!--Right-side Image Block-->
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Connect with Fans</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisiLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi</p>
                </div>
                <div class="col-sm-6">
                    <img class="hidden-xs" src="https://via.placeholder.com/350x150">
                </div>
            </div>
        </div>
    </div>
<!--Left-side Image Block-->
    <div class="row">
        <div class="col-sm-12">
            <div class="row greyBlock">
                <div class="col-sm-6">
                    <img class="hidden-xs" src="https://via.placeholder.com/350x150">
                </div>
                <div class="col-sm-6">
                    <h2>Offer Perks</h2>
                    <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisiconsectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi</p>
                </div>
            </div>
        </div>
    </div>
<!--FAQ Block-->
    <div class="row">
        <div class="col-sm-12">
            <h3>Want to know more? Visit our <%= link_to "FAQ", "/faq" %>.</h3>
            <div class="joinButton">
                <% if user_signed_in? %>
                    <%= link_to "Offer Perks", new_merchandise_path, :class => "btn btn-primary btn-lg" %>
                <% else %>
                    <%= link_to "Join", new_user_signup_path, :class => "btn btn-primary btn-lg" %>
                <% end %>
            </div>
        </div>
    </div>
    </div>
</body>

<footer class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            Site<br>
            <%= link_to "About", '/aboutus' %><br>
            <%= link_to "FAQ", '/faq' %><br>
            <%= link_to "Terms of Use", '/tos' %>
            <!--<ul>
                <li><%= link_to "About", '/aboutus' %></li>
                <li><%= link_to "FAQ", '/faq' %></li>
                <li><%= link_to "Terms of Use", '/tos' %></li>
            </ul>-->
        </div>
        <div class="col-sm-3">
            Contact<br>
            <a href="mailto:info@crowdpublish.tv" alt="Email" target="_blank">info@crowdpublish.tv</a><br>
            Facebook<br>
            Twitter
            <!--<ul>
                <li><a href="mailto:info@crowdpublish.tv" alt="Email" target="_blank">info@crowdpublish.tv</a></li>
                <li>Facebook</li>
                <li>Twitter</li>
            </ul>-->
        </div>
        <div class="pull-right">
            <small>&copy;2018 RoleModel Enterprises, LLC</small>
        </div>
    </div>
</footer>
