<div class="row" id="heroImage">
    <div style= "color:#fff">
        <h1>Be on Interactive TV and get Crowdfunding</h1>
    </div><br><br>
    <!--Sign Up button-->
    <% if user_signed_in? %>
        <%= link_to "Create Perk", '/merchandises/new', :class => "btn-huge" %>
    <% else %>
        <%= link_to 'Sign Up', "/signup", :class => "btn-huge bouncy" %>
    <% end %> 
    <!--Livestream button-->
        <%= link_to 'Livestream', "/livestream", :class => "btn-huge", :style => "margin-left: 50px;" %>
    <% if user_signed_in? %>
    <% else %>
        <br><br><small>Have an account? <%= link_to 'Sign in.', "/login" %></small>
    <% end %>
</div>
<div class="row lightBlock" id="connectFans bootstrap-override">
    <div class="col-sm-4 col-sm-offset-1">
        <h2><%= link_to "Livestream", "/livestream" %></h2>
        <p>Go live to your audience in a video chat where you take center stage. Try a Q&amp;A with your viewers, or collaborate with other discussion hosts to engage in a script reading!</p>
    </div>
    <div class="col-sm-5 col-sm-offset-1">
        <%= render 'layouts/maincalendar' %>
    </div>
</div>
<div class="row darkBlock" id="offerPerks bootstrap-override">
    <div class="col-sm-6">
        <img src="/assets/homePerks.jpg" height="250" class="hidden-xs">
    </div>
    <div class="col-sm-4 col-sm-offset-1">
        <h2>Offer Perks</h2>
        <p>Alongside viewing your livestream, viewers can take advantage of fun perks by supporting you! Offer to post to their Facebook wall, sign a poster, or even just sell a sneak preview of your writings in progress &mdash; the choices are only limited by your creativity!</p>
    </div>
  </div>
<br>

<div class="row" > 
  <% @merchusers.each do |u| %>
    <% next if !u.youtube1.present? && !u.profilepic.present? %>
    <div class="col-md-4 col-sm-4 col-xs-6" >
      <div class="row hiddenover" >
        <% if u.youtube1.present? %>
          <div class="r" style="vertical-align:top; horizontal-align:center; height:290px; width:395px; overflow:hidden;" >
            <iframe width="370" height="220" src="//www.youtube.com/embed/<%= u.youtube1 %>" frameborder="0" allowfullscreen></iframe>
            <br><%= link_to u.name, user_profile_path(u.permalink) %>
          </div>
        <% elsif u.profilepic.present? %>
          <%= link_to(image_tag(u.profilepic.url.to_s, :height => "220",  :title => u.name), user_profile_path(u.permalink)) %>
        <% end %>
        <br><%= link_to u.name, user_profile_path(u.permalink) %>
      </div>
    </div><br>
  <% end %>
</div><br>

  <div class="indexlist" >
    <b>Browse more CrowdPublish.TV campaigns</b><br> <%= will_paginate @merchusers %> <br>
  </div><br><br>

  <div class="row" style="margin-top:15px;" >
    <div class="col-md-5" >
      <div class = "copyalpha" >
        Questions? Contact info@CrowdPublish.TV 
        <br><br>(C) Copyright 2018, RoleModel Enterprises, LLC. All Rights Reserved.
      </div>
    </div>
</div>
<div class="row" id="faqBlock">
    <h3>Want to know more? Visit our <%= link_to "FAQ.", '/faq' %></h3><br>
    <% if user_signed_in? %>
    <%= link_to "Create Perk", '/merchandises/new', :class => "btn-huge" %>
    <% else %>
    <%= link_to 'Join', "/signup", :class => "btn-huge bouncy" %>
    <% end %>
</div>