<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="CrowdPublish.TV" content="Actors Filmmakers Authors - Increase Fan Engagement & Earn More Funds">
<meta property="og:url" content="http://CrowdPublish.TV" />
<meta property="og:image" content="http://crowdpublish.tv/images/crowdpublishLogo.png" />
<meta property="og:description" content="CrowdPublishTV helps actors, filmmakers, authors Increase Fan Engagement & Earn More Funds" />
  <title>CrowdPublishTV - Actors Filmmakers Authors - Increase Fan Engagement & Earn More Funds</title>
</head>

<div class="headerimage" style="margin-top:-20px">
  <div class="row">
    <div class="col-md-5 col-sm-6 col-xs-12" style="padding-top:20px">
      <div class="whitetxt", style="position:relative; z-index: 9999; font-size:28px">
        <b>Filmmakers - Actors - Authors </b>
      </div>
      <div class="lavenderlink" style="text-shadow: 1px 1px #000;">
      <% if user_signed_in? %>
          <br><%= link_to "Increase fan engagement &", new_phase_path %><br>
          <%= link_to "Raise more funds", new_phase_path, :class => "btn btn-primary", style: "font-size:24px; margin-top:10px; background:#6c7691; color:#fff" %>
        <% else %>
          <br><%= link_to "Increase fan engagement &", new_user_signup_path(usertype: "creator") %><br>
          <%= link_to "Raise more funds", new_user_signup_path(usertype: "creator"), :class => "btn btn-primary", style: "font-size:24px; margin-top:10px; background:#6c7691; color:#fff;" %>
        <% end %>
      </div>
      <div class = "usermenu">
        <br>Become an Early Adopter & 
      </div>
      <%= button_to "TAKE THE SURVEY", "https://docs.google.com/forms/d/e/1FAIpQLSf8ncM7rLxeKUOOlLrgCexuk2B0_sYw8JRZJM2JY2hOqkebhg/viewform?c=0&w=1", method: :get, form: {target: '_blank'}, class: "button" %>

    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <br><%= image_tag("cpLogo150.png") %><br><br> 
          <% if !user_signed_in? %>
            <div class="usermenu" >
              <%= link_to 'Sign in', "/login", {:style=>'color:#FFFFFF;'}  %><br>
            </div> 
          <% end %>
    </div>
    <div class="col-md-4 col-sm-7 col-xs-12" style="padding-top:20px">
      <div class="whitetxt" style="font-size:28px" >
        <b>Movie & Book Fans </b>
      </div>
      <div class="lavenderlink" style="text-shadow: 1px 1px #000; width:350px;">
        <% if user_signed_in? %>
          <br><%= link_to "Sneak preview access &", phases_path %><br>
          <%= link_to "Personalized content", phases_path, :class => "btn btn-primary", style: "font-size:24px; margin-top:10px; background:#6c7691; color:#fff;" %>
        <% else %>
          <br><%= link_to "Get sneak preview access &", "/signup" %>
          <br><%= link_to "Personalized content", "/signup", :class => "btn btn-primary", style: "font-size:24px; margin-top:10px; background:#6c7691; color:#fff;" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
          <div class="navbar-inner clearfix usermenu" >
            <ul class="nav navbar-nav pull-left" style="padding-left:20px; ">
              <li><%= link_to "Projects", phases_path %>
              <li><%= link_to "Organizations", groups_path, title: "Find the Organization that referred you to CrowdPublish.TV" %>
              <li><%= link_to "FAQ", '/howwork' %>
              <% if user_signed_in? %>
                <li><%= link_to current_user.name, user_profile_path(current_user.permalink) %>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete%>
              <% end %>
            </ul>
          </div> 
  </div>
</div>

    <div class="hsmovieimage username" style="height:300px; text-shadow: 1px 1px #000; margin-top:20px; padding-top:40px; text-align:center; font-size:28px"> 
      <%= link_to "Featured Project: ", "/phases/lisas80scatholichighschoolmovie", title: "Lisas 80s Catholic High School Movie " %><br><br><br>
      <%= link_to "Lisa's 80's Catholic High School Movie", "/phases/lisas80scatholichighschoolmovie", title: "Lisas 80s Catholic High School Movie" %><br>
      <%= link_to image_tag("transparent.png", size: "370x130", title: "Lisas 80s Catholic High School Movie"), "/phases/lisas80scatholichighschoolmovie" %> 
    </div>

<br><br>
<div class="row" > 
  <div class="helps" >
    Authors, Filmmakers, Actors to Watch
  </div><br>
</div>
<div class="row" > 
  <% @authors.each do |u| %> 
      <div class="col-md-4 col-sm-6 col-xs-12" > 
        <div class="r" style="vertical-align:top; horizontal-align:center; height:290px; width:395px; overflow:hidden;" >
          <iframe width="370" height="220" src="//www.youtube.com/embed/<%= u.youtube1 %>" frameborder="0" allowfullscreen></iframe>
          <br><%= link_to u.name, user_profile_path(u.permalink) %>
          <br><%= u.genre1 %>, <%= u.genre2 %>, <%= u.genre3 %>
        </div>
      </div>
  <% end %>
</div>
  <div class="indexlist" >
    <b>Browse more videos by CrowdPublish.TV authors</b><br> <%= will_paginate @authors %> <br>
  </div>
<%= image_tag("futureEmpStory.png", :size => "712x25") %><p>

  <div class="row" style="margin-top:15px;" >
    <div class="col-md-5" >
      <div class = "copyalpha" >
        <br><br>Questions? Contact info@CrowdPublish.TV 
        <br><br>(C) Copyright 2018, RoleModel Enterprises, LLC. All Rights Reserved.
      </div>
    </div>
    <div class="col-md-5" >
    </div>
  </div>
  <br><br>
