 
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
<html>
<head>
</head>
<body>
<div class="banner">
  <div class="home-video-wrapper">
        <%= video_tag('WelcomeToThinQtv.mp4', controls: 'false', autoplay: 'true', loop: 'true', muted: 'true', playsinline: 'true', class: "home_video")%>

    <div class="row">
      <div class="herocaption col-xs-12 " id="home">
        <div class="alert">
                <% flash.each do |key, value| %>
                      <div class="<%= flash_class(key) %>">
                            <%= value %>
                      </div>
                <% end %>
        </div>
          <h2 id="heroTitle1">Conversations to make you ThinQ!</h2>
          <h3 id="heroTitle3">Participate in LIVE conversations on Tech, Faith, International Awareness & more!</h3>
          <% if (Time.current > Time.parse(@start_time)) && (Time.current < Time.parse(@end_time)) %>
            <div id="eventCurrentdiv">
              <h3>We're talking about <%= link_to @name, event_path(@currconvo.id), :class=> "currentEvent", title: @description %></h3>  
              <p> right NOW!</p><br>
              <%= link_to "Join Conversation", "https://crowdpublishtv.herokuapp.com/" + @host.permalink, class: "btn btn-primary btn-lg", style: "margin-top: 10px; margin-bottom: 10px;" %>
              <br>
              Hosted by: <%= link_to @host.name, @host.permalink %>
            </div>
          <% else %>
            <h2 id="buttonTitle">
            <%= link_to 'Join Conversation', "https://crowdpublishtv.herokuapp.com/lisa", :class => "btn btn-lg btn-primary", :style => "margin-left: 30px; border-radius: 5px;" %>
            </h2>
          <% end %>
          <h2 id="heroTitle4">Tuesdays 6:00pm PDT / 9:00pm EDT - <%= link_to 'Tech Tuesday ', '/tech',:class => "topic_link"%><br></h2>
          <h2 id="heroTitle4">Wednesdays 6:00pm PDT / 9:00pm EDT - <%= link_to 'Conversations on Faith ', '/faith', :class => "topic_link"%><br></h2>
          <h2 id="heroTitle4">Thursdays 6:00pm PDT / 9:00pm EDT - <%= link_to 'International Awareness ', '/international',:class => "topic_link"%>
          </h2>
      </div>
    </div>
  </div>
</div>

<div class="main">
    <br><br><br>
    <div class="row" id="countdown_clock">
      <div class="col-md-4 col-md-offset-1 col-xs-11">
        <h2>Upcoming Conversations</h2>
      </div>
      <div class="col-md-6">
         <%= render 'layouts/countdown_clock', collection: @events %>
      </div>
    </div>
    <div class="row" id="calendar">
      <div class="col-md-9 col-md-offset-1 col-xs-11">
          <%= render 'layouts/maincalendar', collection: @events %>
      </div>     
    </div>
    <br><br><br>
    <div class="row" id="purpose">
      <div class="col-md-5 col-md-offset-1">
        <%= image_tag("circle1.png", :class => "hidden-xs", :style => "width:100%")%>
      </div>
      <div class="col-md-5 col-md-offset-1 col-xs-12">     
        <h3>Our Purpose</h3><br>
        <p> 
        Imagine a party where you can join in on a variety of conversations. Except at this party, you're talking to people in Japan, New York, Denmark, and Mexico City - all at the same time!<br><br>
        ThinQ.tv is creating a forum for thought-provoking conversations. We're starting with Tech, Faith, and International topics and expanding to more topics to feed your brain.</p><br><br>
        <br><br>
      </div>
    </div>
    <br><br>    
    <div class="row learnMore">
    <div class="col-md-8 col-md-offset-2 col-xs-11">
      <br><br>
      <h3>Have something to say?</h3>
      <h3>Host your own Conversation!</h3>
      <br>
      <p>Interested in influencing the topics discussed on ThinQ.tv? Feel free to add your own Conversation to the schedule and invite friends! </p>
      To get more exposure for your Conversation, we recommend selecting a time immediately before or after other scheduled conversations.
      <br><br>
      <p><%= link_to 'Add Your Conversation', new_event_path, :class => "btn btn-lg btn-primary", :style => "margin-left: 0px; border-radius: 5px;" %></p>
      <br>
    </div>
    </div>
    <div class="info">
      <div class="row" id="rewards">
          <div class="col-md-6" id="info1">
            <h2>Offer Rewards & Receive Donations</h2>
            <p>Alongside viewing your Conversation, viewers can support you through donations or by purchasing your downloads or physical items. Offer a post to their Facebook wall, downloads of your writings, or other exclusive products to your Conversation cohorts.</p>
          </div>
          <div class="col-md-6"></div>
      </div>
      
      <div class="row" id="connect">
          <div class="col-md-6"></div>
          <div class="col-md-6" id="info2">
            <h2>Connect with Intellectually Curious Donors</h2>
            <p>Viewers can ask questions during your Conversation through text chat or by voice. Save your Conversation & YouTube videos to your profile so donors and fans can watch your content at their convenience. </p>
          </div>
          <br><br>
      </div>
    </div>
    <br><br>
</div>
</body>
</html>