
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

<div class="banner">
<div class="home-video-wrapper" style="background-image: linear-gradient(rgba(51,51,51,0.6),rgba(51,51,51,0.6));">
        <%= video_tag('WelcomeToThinQtv.mp4', controls: 'false', autoplay: 'true', loop: 'true', muted: 'true', class: "home_video")%>

          <div class="row">
          <div class="col-md-12" id="home">
          <br><br><br>
            <div class="col-md-8"> 
              <br><br><br><br><br>
              <h2 id="heroTitle" style="font-size: 50px; color: #FFC627; font-family: Helvetica, sans-serif;">Conversations make you ThinQ!</h2>
            </div>
            <div class="col-md-4">
                <h1 id= "heroTitle"><p><br><br><br></p></h1>
            </div>
          <h2 class = "col-md-8" style = float-left id="heroTitle">Real People. Real Topics. </h2> <br>
          <h3 id="heroTitle" style="color: white; padding: 10px; ">Join us for live conversations on Faith, Tech, International Awareness & more!</h3><br>
          <br>
            <h4>Tuesdays 6:30pm PDT / 9:30pm EDT - <%= link_to 'Tech Tuesday ', '/tech', :style => "color: #FFC627; font-weight: bold;" %><br><br>
                Wednesdays 7:00pm PDT / 10:00pm EDT - <%= link_to 'Conversations on Faith ', '/faith', :style => "color: #FFC627; font-weight: bold;"%><br><br>
                Thursdays 6:00pm PDT / 9:00pm EDT - <%= link_to 'International Awareness ', '/international', :style => "color: #FFC627; font-weight: bold;" %>
            </h4>
          <br><br>
          <h2 id="buttonTitle">
          <%= link_to 'View Schedule', events_path, :class => "btn btn-lg btn-primary", :style => "margin-left: 0px; border-radius: 5px;" %>
          <%= link_to 'Join Discussion', "https://crowdpublishtv.herokuapp.com/lisa", :class => "btn btn-lg btn-primary", :style => "margin-left: 30px; border-radius: 5px;" %>
          </h2>
        </div></div>
        </div>
</div>
</div>

<div class="main">
    <br><br><br>
    <div class="row" id="main1">
      <div class="col-xs-1"></div>
      <div class="col-xs-4">
        <h2 style="font-weight: bolder; font-size: 50px; color: #8C1D40; font-family: Oswald, sans-serif;">&emsp;&emsp;Upcoming Events</h2>
      </div>
      <div class="col-xs-6">
         <%= render 'layouts/countdown_clock', collection: @events %>
      </div>
      <div class="col-xs-1"></div>
    </div>
    <div class="row" id="main2">
      <div class="col-xs-12">
        <div class="event_calendar">
          <%= render 'layouts/maincalendar', collection: @events %>
        </div>
      </div>
    </div>
    <div class="row" id="main3">
      <div class="col-xs-1"></div>
      <div class="col-xs-5">
        <%= image_tag("circle1.png", :class => "hidden-xs", :style => "width:100%")%>
      </div>
      <div class="col-xs-5">
        <br><br>
        <h3 style="font-weight: bolder; font-size: 30px; color: #8C1D40;">Our Purpose</h3><br>
        <p style="text-align: left; font-size: 20px;"> 
        &emsp;Imagine a party where you can join in on a variety of conversations. Except at this party, you're talking to people in Japan, New York, Denmark, and Mexico City - all at the same time!<br><br>
        &emsp;ThinQ.tv is creating a forum for thought-provoking conversations about any intellectual topic. We're starting with Tech, Faith, and International topics and expanding to more topics to feed your brain.</p><br><br>
        <br><br>
      </div>    
    </div>
  <br><br><br><br><br>
  <div class="learnMore" style="background-color: #FFC627;">
      <br><br>
      <h3>Do you have something to say?</h3>
      <h3>Host your own show & influence others!</h3>
      <br>
      <p>Interested in influencing the topics discussed on CrowdPublish.TV? Feel free to add your own show! We recommend selecting a time immediately before or after other shows for increased exposure</p>
      <br>
      <p><%= link_to 'Learn More', events_path, :class => "btn btn-lg btn-primary", :style => "margin-left: 0px; border-radius: 5px;" %></p>
      <br>
  </div>
  <br><br><br>
  <div class="info">
      <br><br><br>
      <div class="row" id="rewards">
          <div class="col-xs-6" id="info1">
            <br><br><br><br>
            <h2 style="background-color: #8C1D40; color: white; padding: 15px;">Offer Rewards & Receive Donations</h2>
            <p style="text-align: left;">Alongside viewing your livestream, viewers can support you through donations or by purchasing your downloads or physical items. Offer a post to their Facebook wall, downloads of your writings, or other exclusive products to your livestream viewers.</p>
          </div>
        <div class="col-xs-6"></div>
      </div>
      <br><br>
      <div class="row" id="connect">
            <div class="col-xs-6"></div>
            <div class="col-xs-6" id="info2">
            <br><br><br><br>
            <h2 style="background-color: #8C1D40; color: white; padding: 15px;">Connect with Intellectually Curious Donors</h2>
            <p style="text-align: left;">Viewers can ask questions during your livestream through text chat or by voice. Save your livestream & YouTube videos to your profile so donors and fans can watch your content at their convenience. </p>
            </div>
      </div>
      <br>
  </div>
  <div class="foot1"> <%= image_tag("foot_img.png", :class => "hidden-xs", :style => "width:100%") %>   
  </div>
</div>











 
