<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="eBay for authors - with video!">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div style="background-color:transparent;text-align:left;margin-left:auto;margin-right:auto;position:relative;width:950px;">

<%= render 'form' %>


<div class="helps" style="position:absolute; left:67px; top:330px;">
  Readers:
</div>
<div class="txt_9" style="position:absolute; left:17px; top:360px; width:318px; ">
  <%= link_to 'Sign up for your own Booklover page', "/signup" %><p>
  Chat with other booklovers</p>
  Host live streaming book discussions</p>
  Meet people who have similar interests </p>
  Coming soon: Buy ebooks
</div>

<div class="helps" style="position:absolute; left:385px; top:330px;">
  Authors:
</div>
<div class="txt_10" style="position:absolute; left:336px; top:360px; width:256px; overflow:hidden;">
  <%= link_to 'Sign up for your own Author site', "/signup" %><p>
  Host live streaming talks </p>
  Keep in touch with fans</p>
  Coming soon: Sell ebooks
</div>

<div class="helps" style="position:absolute; left:630px; top:330px ">
  Clubs &amp; Organizations:
</div>
<div id="txt_30" style="position:absolute; left:643px; top:360px; width:255px;  ">
  <%= link_to 'Sign up for a Club site', "/signup" %><p>
  Host live streaming meetings <p>
  Keep in touch with members<p>
</div>

<div class = "featured" style="position:absolute; left:29px; top:600px; ">
  Featured Books <p>
  <%= link_to image_tag("bjBkCover170.png"), "http://BudgetJustified.com", :target => "_blank" %>
</div>
<div style="position:absolute; left:150px; top:530px;">
  <img src="/assets/futureEmpStory.png" width="712" height="38">
</div>
</div>
