<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

<div class="banner">
  <div class="home-video-wrapper">
    <%= video_tag('WelcomeToThinQtv.mp4', controls: 'false', autoplay: 'true', loop: 'true', muted: 'true', playsinline: 'true', class: "home_video")%>

    <div class="row">
      <div class="herocaption col-xs-12 " id="home">
        <div class="alert">
          <% flash.each do |key, value| %>
            <div class="<%= flash_class(key) %>">
              <%= value %>
            </div>
          <% end %>
        </div>
        <div style="display:inline; font-size: 60px; color:#ffc627; font-family: 'Arial';" > Conversations to make you ThinQ</div>
        <div style="display:inline;" > <%= image_tag("logoGold60.png", style: "margin-bottom: 20px")%></div>
        <div style="font-size: 40px; color:#ffc627; font-family: 'Arial';" >
          <br><%= link_to "Grassroots Movements via Video Chat to keep you Well-Informed", getinvolved_path, class: "topic_link", title: "Like a cocktail party on Zoom" %>
        </div>
            
        <% if @displayconvo.present? %>
          <% if (Time.current > Time.parse(@start_time)) && (Time.current < Time.parse(@end_time)) %>
            <div id="eventCurrentdiv">
              <h3>Conversation <%= link_to @name, event_path(@displayconvo.id), title: @description, style: "text-shadow: 1px 1px 1px #fff" %></h3>  
              <p> is happening right NOW!</p><br>
              <%= link_to " Join Conversation ", "https://thinQtv.herokuapp.com/" + @host.permalink, class: "btn btn-primary btn-lg fa fa-video-camera", style: "margin-top: 10px; margin-bottom: 10px; font-size: 50px; border-radius: 5px;" %><br>
              Hosted by: <%= link_to @host.name, @host.permalink, style: "font-size: 40px; text-shadow: 1px 1px 1px #fff" %>
            </div>
          <% else %>
            <h2 id="buttonTitle">
            <%= link_to 'See an example Live Video Conversation Room', "https://thinqtv.herokuapp.com/youronlinemom", class: "btn btn-lg btn-primary", style: "border-radius: 5px;", title: "Check your webcam - make sure to use Chrome or Firefox" %>
            </h2>
          <% end %>
        <% end %><br><br>
        <%= link_to "Get Out the Vote!", "/signup", class: "btn btn-lg btn-primary", style: "border-radius: 5px; font-size: 25px", title: "Sign up to host live video Conversations" %><br><br>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <br>
  <div class="row" id="countdown_clock">
    <div class="col-md-4 col-md-offset-1 col-xs-11">
      <h2>Schedule of Conversations</h2>
        <h3>Topics to motivate Getting Out the Vote!</h3>
          <% if user_signed_in? %>
            <%= link_to 'Post your Own Conversation', new_event_path, class: "btn btn-warning", title: "Host drop-in conversation sessions or invite people to ask questions about your area of expertise" %>
          <% end %>
    </div>
    <div class="col-md-6">
      <%= render 'layouts/countdown_clock' %>
    </div>
  </div>
<div class="tabContainer">
 <div class="col-md-9 col-md-offset-1 col-xs-11"> 
  <div class="buttonContainer">
    <button onclick="showPanel(0,'#f44336')">List View </button>
    <button onclick="showPanel(1,'#4caf50')">Monthly View </button>
    <!-- <button onclick="showPanel(2,'#2196f3')">Weekly View</button> -->
  </div>
</div>
  <div class="tabPanel">
    <div class="row" id="calendar"> 
      <div class="col-md-9 col-md-offset-1 col-xs-11"> 
            <%= render 'layouts/maincalendar', collection: @events %> 
       </div>   
      </div> 
  </div>
  <div class="tabPanel" >
       <%= render 'layouts/monthcalendar', collection: @eventsAll %>
</div>
</div>
  <div class="row" id="purpose">
    <div class="col-md-3 col-md-offset-1", style="margin-top: 40px">
      <%= image_tag("logoDigitalHollow300.png", :class => "hidden-xs", :style => "display: block; margin-left: auto;  margin-right: auto;")%>
    </div>
    <div class="col-md-5 col-md-offset-1 col-xs-12">
      <h3>Our Purpose</h3><br>
      <p>
        Instead of the paradigm of an organization inviting people to listen to one person talk on social media, ThinQ.tv is for grassroots movements to motivate people through small group conversations. It’s similar to going to a cocktail party on Zoom. We're discussing about issues important in the 2020 election.
        <br><br>
        Want to lead the Conversation? <%= link_to 'Host live video Conversations', new_event_path %>
      </p>
      <h4>
        <br>Need to ask us questions LIVE? Drop in to any session hosted by Dr. Lisa Schaefer above & meet our Founder.
      </h4>
    </div>
  </div>
</div>


<script type="text/javascript">
  var tabButtons=document.querySelectorAll(".tabContainer .buttonContainer button");
  var tabPanels=document.querySelectorAll(".tabContainer .tabPanel");

  function showPanel (panelIndex, colorCode) {
    tabButtons.forEach(function(node) {
      node.style.backgroundColor="";
      node.style.color="";
    });

    tabButtons[panelIndex].style.backgroundColor="none";
    tabButtons[panelIndex].style.color="none";
    tabPanels.forEach(function(node) {
      node.style.display="none";
    });
    tabPanels[panelIndex].style.display="block";
    tabPanels[panelIndex].style.backgroundColor="white";
  } 
  showPanel(0,'#f44336');
</script>

