<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="CrowdPublish.TV" content="Actors Filmmakers Authors - Increase Fan Engagement & Earn More Funds">
<meta property="og:url" content="http://CrowdPublish.TV" />
<meta property="og:image" content="http://crowdpublish.tv/images/crowdpublishLogo.png" />
<meta property="og:description" content="CrowdPublishTV helps actors, filmmakers, authors Increase Fan Engagement & Earn More Funds" />
  <title>CrowdPublishTV - Actors Authors - Increase Fan Engagement & Earn More Funds</title>
</head>

<div class="container-flex">

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="10000" style="margin-top:-20px; height:490px;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner"> 
    <div class="item active" style="height:490px;">
      <img src="http://www.CrowdPublish.TV/teacher.png">
      <div class="carousel-caption" >
        <%=  image_tag("classy.png", width: "180") %>
      </div>    
    </div>

    <div class="item" style="height:490px;">
      <img src="http://www.CrowdPublish.TV/womanTED.jpg" alt="TED talk">
      <div class="carousel-caption">
        <%=  image_tag("classy.png", width: "180") %>
      </div>    
    </div>

    <div class="item" style="height:490px;">
      <img src="http://www.CrowdPublish.TV/romance3.png" alt="3 Trash Romance">
      <div class="carousel-caption">
        <%=  image_tag("trashy.png", width: "180") %>
      </div>    
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>


<div class="container-flex">
  <div class="row" style = "position: absolute; top:20px; text-align:center; width: 100vw" >
      <div class="whitetxt", style="position:relative; z-index: 9999; font-size:50px; text-shadow: 1px 1px #000;">
        Crowdfund stories about <br><br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp&nbsp Characters
      </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="whitetxt", style="margin-top:30px; z-index: 9999; font-size:30px; text-shadow: 1px 1px #000;">
        <b>Storytellers </b>
      </div>
      <div class="lavenderlink" style="text-shadow: 1px 1px #000; margin-top:20px; z-index: 999999;">
        <% if user_signed_in? %>
          <%= link_to "Create a Campaign", new_phase_path, :class => "btn btn-primary", style: "font-size:24px; background:#6e73d1; color:#fff; z-index: 999999;" %>
        <% else %>
          <%= link_to "Create a Campaign", new_user_signup_path(usertype: "creator"), :class => "btn btn-primary", style: "font-size:24px; background:#6e73d1; color:#fff; z-index: 999999;" %>
        <% end %>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="whitetxt" style="font-size:30px; text-shadow: 1px 1px #000;  margin-top:30px;">
        <b>Storylovers </b>
      </div>
      <div class="lavenderlink" style="text-shadow: 1px 1px #000; margin-top:20px; z-index: 99999;">
        <% if user_signed_in? %>
          <%= link_to "Contribute to Stories", phases_path, :class => "btn btn-primary", style: "font-size:24px; background:#6e73d1; color:#fff;" %>
        <% else %>
          <%= link_to "Contribute to Stories", "/signup", :class => "btn btn-primary", style: "font-size:24px; background:#6e73d1; color:#fff;" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style= "margin-top:0px; z-index: 99999;">
          <% if !user_signed_in? %>
            <%= link_to "SIGN UP", new_user_signup_path(usertype: "creator"), :class => "btn btn-primary", style: "font-size:20px; margin-top:10px; background:#6e73d1; color:#fff;" %>
            <div class="usermenu" style= "text-shadow: 1px 1px #000;">
              <%= link_to 'Sign in', "/login", {:style=>'color:#FFFFFF;'}  %>
            </div> 
          <% end %>
      <div class = "usermenu" style= "text-shadow: 1px 1px #000; margin-top:10px;">
        Become an Early Adopter & 
      </div>
      <div style="margin-left:-10px; z-index: 99999;">
        <%= button_to "TAKE THE SURVEY", "https://docs.google.com/forms/d/1brvWNjjac4k1AZXHCOIs5KOJJnE6fxM4jJpZcoM0wrI", method: :get, form: {target: '_blank'}, class: "button" %>
      </div>
    </div>

  </div>

</div>
  <div class="row" style="background-color:#1e1e46">
          <div class="navbar-inner clearfix usermenu" >
            <ul class="nav navbar-nav pull-left" style="padding-left:20px; text-shadow: 1px 1px #000">
              <li><%= link_to "WHAT IS CrowdPublishTV", '/aboutus' %>
              <li><%= link_to "Campaigns", phases_path %>
              <li><%= link_to "FAQ", '/faq' %>
              <% if user_signed_in? %>
                <li><%= link_to current_user.name, user_profile_path(current_user.permalink) %>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete%>
              <% else %>
                <li><%= link_to 'SIGN UP', "/signup" %>
                <li><%= link_to 'Sign in', "/login" %>
              <% end %>
            </ul>
          </div> 
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top:20px; padding-right:30px;">
      <div class = "helps" >
        AUTHORS, FILMMAKERS, YOUTUBERS, GAME DEVELOPERS
        <br>To crowdfund your stories:
      </div><br>
      <% if user_signed_in? %>
        <div class = "helps" style = "text-align:left" >
          <% if @user.profilepic.present? %>
            <span class="dot"></span> <%= link_to "Improve your profile", user_profileinfo_path(current_user.permalink), title: "Embed your YouTube videos, update your banner, give your fans more details about your work" %>
          <% else %>
            <span class="dot"></span> <%= link_to "Create profile", user_profileinfo_path(current_user.permalink), style:"color:red;", title: "Tell your fans about yourself... Add a picture of yourself, a banner about your books or videos" %> 
          <% end %><br>

          <% if @user.phases.any? %>
            <span class="dot" style = "margin-top:10px"></span> <%= link_to "Start another CrowdPublish campaign", new_phase_path(current_user.permalink), title: "A great excuse to reach out to your most loyal fans" %> 
          <% else %>
            <span class="dot" style = "margin-top:10px"></span> <%= link_to "Start campaign about characters we can Respect", new_phase_path(current_user.permalink), style:"color:red;", title: "Your most loyal fans are eager to support your next story" %> 
          <% end %><br>

          <% if @user.phases.any? %>
            <% if @recentphase.merchandises.any? %>
              <span class="dot" style = "margin-top:10px"></span> <%= link_to "Enter more Perks to offer fans", @perkpath, title: "Create new perks that only you can offer your most loyal fans!" %> 
            <% else %>
              <span class="dot" style = "margin-top:10px"></span> <%= link_to "Enter unique Perks to offer fans", @perkpath, style:"color:red;", title: "Offer perks that only you could give to your most loyal fans!" %> 
            <% end %>
          <% else %>
              <span class="dot"></span> Select & Create Perks to offer Fans
          <% end %><br>

          <span class="dot" style = "margin-top:10px"></span> <%= link_to "Tell all your friends & fans", '/tellfriends', style:"color:red;", title: "Announce your CrowdPublish Campaign on twitter, facebook, email, from rooftops..." %> <br>

          <% if @user.stripeid.present? %>
            <span class="dot" style = "margin-top:10px"></span> <%= link_to "Manage Your $", user_dashboard_path(@user.permalink), title: "View your dashboard" %>
          <% else %>
            <span class="dot" style = "margin-top:10px"></span> <%= link_to "Receive $", user_createstripeaccount_path(@user.permalink), style:"color:red;", title: "Get your money deposited directly into your bank account. CrowdPublish.TV uses the same trusted payment processor many of your favorite sites use." %>
          <% end %>
        </div><br>

      <% else %>
        <div class = "helps" style = "text-align:left" >
          <span class="dot"></span> <%= link_to "Create profile", '/signup', title: "Signup to get a free CrowdPublishTV web site." %> <br>
          <span class="dot" style = "margin-top:10px"></span> <%= link_to "Create campaign for story", '/signup', title: "Signup to create a Campaign" %> <br>
          <span class="dot" style = "margin-top:10px"></span> <%= link_to "Create Perks to offer fans", '/suggestedperks', title: "Offer your fans more than just your videos or books. We have a list of standard perks you can add to your Campaign" %> <br>
          <span class="dot" style = "margin-top:10px"></span> <%= link_to "Tell all your friends & fans", '/tellfriends', title: "The process of getting the word out about your CrowdPublish Campaign" %> <br>
          <span class="dot" style = "margin-top:10px"></span> <%= link_to "Receive $", '/signup', title: "We use the same trusted payment processor many of your favorite sites use", :target => "_blank" %>
        </div>
      <% end %>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top:20px">
      <div class = "helps" style = "color:#1F0D5F" >
        STORYLOVERS
        <br>To foster stories & media about role models:
      </div><br>
      <% if user_signed_in? %>
        <div class = "helps" style = "text-align:left" >
          <% if @user.bannerpic.present? %>
            <span class="dot" style = "margin-top:10px"></span> <%= link_to "Improve your profile", user_profileinfo_path(current_user.permalink), title: "Embed your YouTube videos, update your banner, give your fans more details about your work" %>
          <% else %>
            <span class="dot" style = "margin-top:10px"></span> <%= link_to "Create profile", user_profileinfo_path(current_user.permalink), style:"color:red;", title: "Tell your fans about yourself... Add a picture of yourself, a banner about your books or videos" %> 
          <% end %>
        </div>
      <% else %>
        <div class = "helps" style = "text-align:left" >
          <span class="dot" style = "margin-top:10px"></span> <%= link_to "Create profile", '/signup' %>
        </div>
      <% end %>

        <div class = "helps" style = "text-align:left" >
          <span class="dot" style = "margin-top:10px"></span> <%= link_to "Find a story worth supporting", phases_path, style:"color:red;", title: "Become a loyal fans of Characters we can Respect" %>     <br>

          <span class="dot" style = "margin-top:10px"></span> <%= link_to "Purchase Perks from fantastic storytellers", merchandises_path, title: "Purchase unique perks offered to loyal fans" %> <br>

          <span class="dot" style = "margin-top:10px"></span> <%= link_to "Tell all your friends", '/tellfriends', style:"color:red;", title: "Spread the word about campaigns for Characters we can Respect on twitter, facebook, email, from rooftops..." %> 
        </div>

    </div>
  </div>

      <div class = "helps" style = "font-size:40px" >
        Be the change you want to see in media & culture
      </div><br>
<div class="row" > 
  <div class="helps" >
    Current Campaigns 
  </div><br>
</div>
<div class="row" > 
  <% @campaigns.each do |c| %>

    <div class="col-md-4 col-sm-4 col-xs-6" >
      <div class="row" style="vertical-align:top; horizontal-align:center; height:250px; width:350px; overflow:hidden;" >
          <%= link_to(image_tag(c.phasepic, :height => "170",  :title => c.name ), phase_path(c.permalink)) %> 
        <br><%= link_to c.name, phase_path(c.permalink) %>
      </div>
    </div>
  <% end %>

</div>
  <div class="indexlist" >
    <b>Browse more CrowdPublish.TV campaigns</b><br> <%= will_paginate @campaigns %> <br>
  </div>


  <div class="row" style="margin-top:15px;" >
    <div class="col-md-5" >
      <div class = "copyalpha" >
        Questions? Contact info@CrowdPublish.TV 
        <br><br>(C) Copyright 2018, RoleModel Enterprises, LLC. All Rights Reserved.
      </div>
    </div>
  </div>


</div>
  <br><br>
