<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="banner">
<div class="home-video-wrapper" style="background-image: linear-gradient(rgba(51,51,51,0.6),rgba(51,51,51,0.6));">
        <%= video_tag "WelcomeToThinQtv.mp4", controls: false, autoplay: true, loop: true, muted: true, class: "home_video"%>

      <div id="home">
          <br><br><br><br><br><br>
          <h1 id="heroTitle" style="color: #FFC627;font-family: 'Pacifico', cursive;">ThinQ.tv! <h2 style="color: white;">Real People. Real Topics. </h2></h1> <br><br><br>
          <h3 id="heroTitle" style="color: white;">Join us for live conversations on Faith, Tech, International Awareness & more!</h3><br><br>
          <h4>Tuesdays 6:30pm PDT / 9:30pm EDT - <%= link_to 'Tech Tuesday ', '/tech', :style => "color: #FFC627; font-weight: bold;" %><br><br>
            Wednesdays 7:00pm PDT / 10:00pm EDT - <%= link_to 'Conversations on Faith ', '/faith', :style => "color: #FFC627; font-weight: bold;"%><br><br>
            Thursdays 6:00pm PDT / 9:00pm EDT - <%= link_to 'International Awareness ', '/international', :style => "color: #FFC627; font-weight: bold;" %>
          </h4>
          <br><br>
          <h4 id="buttonTitle">
          <%= link_to 'View Schedule', events_path, :class => "btn btn-lg btn-primary", :style => "margin-left: 0px; border-radius: 5px;" %>
          <%= link_to 'Join Discussion', "https://crowdpublishtv.herokuapp.com/lisa", :class => "btn btn-lg btn-primary", :style => "margin-left: 30px; border-radius: 5px;" %>
          </h4>
      </div>
</div>
</div>

<div class="main">
    <br><br><br>
     <div class="event_text" style="display: inline-table;">
        <h2 style="font-weight: bolder; font-size: 5vw; color: #8C1D40; font-family: Oswald, sans-serif; float: left; text-align: left; padding-right: 8vw;">&ensp;&ensp;Upcoming Events</h2>
    </div>
    <div class="ctdwn_clock" style="display: inline-table; float: right; padding-right: 10vw;">
         <%= render 'layouts/countdown_clock', collection: @events %>
    </div>
    <br><br><br><br>
    <div class="event_calendar">
        <%= render 'layouts/maincalendar', collection: @events %>
    </div>

  <div class="row" id="main3" style="padding-left: 10vw; padding-right: 10vw; padding-bottom: 10vw;">
     
    <div class="col-xs-6">
        <br><br>
        <%= image_tag("circle1.png", :class => "circle_pic", :style => "width: 100%")%>
    </div>
    <div class="col-xs-6">
        <h3 style="font-weight: bolder; font-size: 2.5vw; color: #8C1D40;">Our Purpose</h3><br>
        <p style="text-align: justify; font-size: 2vw;"> 
        &emsp;Imagine a party where you can join in on a variety of conversations. Except at this party, you're talking to people in Japan, New York, Denmark, and Mexico City - all at the same time!<br><br>
        &emsp;ThinQ.tv is creating a forum for thought-provoking conversations about any intellectual topic. We're starting with Tech, Faith, and International topics and expanding to more topics to feed your brain.</p>
    </div>    
  </div>

  <div class="learnMore" style="background-color: #FFC627;">
      <br><br>
      <h3>Do you have something to say?</h3>
      <h3>Host your own show & influence others!</h3>
      <br>
      <p>Interested in influencing the topics discussed on CrowdPublish.TV? Feel free to add your own show! We recommend selecting a time immediately before or after other shows for increased exposure</p>
      <br>
      <p><%= link_to 'Learn More', events_path, :class => "btn btn-lg btn-primary", :style => "margin-left: 0px; border-radius: 5px;" %></p>
      <br>
  </div>

  <div class="info">
      <div class="row" id="rewards">
          <div class="col-xs-6" id="info1">
            <h2 style="color: white; text-align: center; padding: 5px; font-size: 2.5vw;background-color: rgba(153,0,51,0.8); border-radius: 8px;">Offer Rewards & Receive Donations</h2>
            <p style="text-align: justify; font-size: 1.7vw;">Alongside viewing your livestream, viewers can support you through donations or by purchasing your downloads or physical items. Offer a post to their Facebook wall, downloads of your writings, or other exclusive products to your livestream viewers.</p>
          </div>
        <div class="col-xs-6"></div>
      </div>
      <br><br>
      <div class="row" id="connect">
            <div class="col-xs-6"></div>
            <div class="col-xs-6" id="info2"> 
            <h2 style="color:white; text-align: center; padding: 5px; font-size: 2.5vw;background-color: rgba(153,0,51,0.8); border-radius: 8px;">Connect with Intellectually Curious Donors</h2>
            <p style="text-align: justify; font-size: 1.7vw;">Viewers can ask questions during your livestream through text chat or by voice. Save your livestream & YouTube videos to your profile so donors and fans can watch your content at their convenience. </p>
            </div>
      </div>
  </div>

  <div style="text-align: center;"><h3 style="padding-top: 20vw; font-size: 2vw;">Want to know more? Visit our <a href="/faq">FAQ.</a></h3>
  <a class="btn btn-lg btn-primary" href="/signup" style="border-radius: 5px;">Join</a>
  <div class="foot1"> <%= image_tag("foot_img.png", :class => "foot_pic", :style => "width:100%") %>   
  </div>
</div>











 
