<div class="row" id="heroImage">
    <div>
        <div class="alert">
                <% flash.each do |key, value| %>
                      <div class="<%= flash_class(key) %>">
                            <%= value %>
                      </div>
                <% end %>
        </div>
        <h1 id="heroTitle">JOIN OUR WEEKLY DISCUSSIONS </h1>
        <h2 id="haveAccount" style="font-size: 30px; line-height: 150%">
          <br> Tuesdays 6:30pm PDT / 9:30pm EDT - <%= link_to 'Tech Tuesday ', '/tech' %>
          <br> Wednesdays 6:30pm PDT / 9:30pm EDT - <%= link_to 'Discussions on Faith ', '/faith' %>
          <br> Thursdays 7:30pm PDT / 10:30pm EDT - <%= link_to 'International Awareness ', '/international' %><br><br>
    </div>
          <%= link_to 'Join Discussion', "https://crowdpublishtv.herokuapp.com/lisa", :class => "btn btn-lg btn-primary" %>
</div>
<div class=row id=scroll>
  <a href= #connectFans><h1 class="glyphicon glyphicon-chevron-down"></h1></a>
</div>
<div class="row darkBlock" id="connectFans">
    <div class="col-md-5">
        <h2>Our Purpose</h2>
        <p> Imagine a party where you can join in on a variety of conversations. Except at this party, you're talking to people in Japan, New York, Denmark, and Mexico City - all at the same time!<br><br>

        CrowdPublish.TV is creating a forum for stimulating conversations about any intellectual topic. We're starting with Tech, Faith, and International topics and expanding to more topics to feed your brain.
    </div>
    <div class="col-md-7">
        <%= render 'layouts/maincalendar', collection: @events %>
    </div>
</div>
<div class="row lightBlock" id="offerPerks">
    <div class="col-sm-6">
      <%= image_tag("homePerks.jpg", :class => "hidden-xs", :style => "height:250px") %>
    </div>
    <div class="col-sm-4 col-sm-offset-1">
        <h2>Offer Rewards & Receive Donations</h2>
        <p>Alongside viewing your livestream, viewers can support you through donations or by purchasing your downloads or physical items. Offer a post to their Facebook wall, downloads of your writings, or other exclusive products to your livestream viewers.</p>
    </div>
</div>
<div class="row darkBlock" id="livestream">
    <div class="col-sm-4 col-sm-offset-1">
      <h2>Connect with Intellectually Curious Donors</h2>
      <p>Viewers can ask questions during your livestream through text chat or by voice. Save your livestream & YouTube videos to your profile so donors and fans can watch your content at their convenience. </p>
    </div>
    <div class="col-sm-6 col-sm-offset-1">
      <%= image_tag("homeFans.jpg", :class => "hidden-xs", :style => "height:250px") %>
    </div>
</div>
<div class="row" id="faqBlock">
    <h3>Want to know more? Visit our <%= link_to "FAQ.", '/faq' %></h3>
    <br>
    <% if !user_signed_in? %>
        <%= link_to 'Join', "/signup", :class => "btn btn-lg btn-primary" %>
    <% end %>
</div>