<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="CrowdPublish.TV" content="Actors Filmmakers Authors - Increase Fan Engagement & Earn More Funds">
<meta property="og:url" content="http://CrowdPublish.TV" />
<meta property="og:image" content="http://crowdpublish.tv/images/crowdpublishLogo.png" />
<meta property="og:description" content="CrowdPublishTV helps actors, filmmakers, authors Increase Fan Engagement & Earn More Funds" />
  <title>CrowdPublishTV - Actors Authors - Increase Fan Engagement & Earn More Funds</title>
</head>

<div class="container-flex">

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="10000" style="margin-top:-20px; height:490px;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active" style="height:490px;">
      <img src="https://scontent.fphx1-2.fna.fbcdn.net/v/t31.0-8/18237980_10209287354885726_2128376433509158023_o.jpg?oh=7f16e29f9c7602e23d212709742fe608&oe=5B4D6DBF" alt="Lisa's 80s Catholic High School Movie">
    </div>

    <div class="item" style="height:490px;">
      <img src="http://www.CrowdPublish.TV/byoadwar.JPG" alt="Actors">
    </div>

    <div class="item" style="height:490px;">
      <img src="http://www.CrowdPublish.TV/danMoldea.jpg" alt="Dan Moldea book talk">
      <div class="carousel-caption">
        .
      </div>    
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="container-flex">
  <div class="row" style = "position: absolute; z-index: 1; top:50px;" >
    <div class="col-md-5 col-sm-5 col-xs-9" style="padding-top:20px">
      <div class="whitetxt", style="position:relative; z-index: 9999; font-size:40px; text-shadow: 1px 1px #000; height: 80px">
        <b>Actors & Authors </b>
      </div>
      <div class="lavenderlink" style="text-shadow: 1px 1px #000;">
      <% if user_signed_in? %>
          <br><%= link_to "Increase fan engagement &", new_phase_path %><br>
          <%= link_to "Raise more funds", new_phase_path, :class => "btn btn-primary", style: "font-size:24px; margin-top:10px; background:#6e73d1; color:#fff" %>
        <% else %>
          <br><%= link_to "Increase fan engagement &", new_user_signup_path(usertype: "creator") %><br>
          <%= link_to "Raise more funds", new_user_signup_path(usertype: "creator"), :class => "btn btn-primary", style: "font-size:24px; margin-top:10px; background:#6e73d1; color:#fff;" %>
        <% end %>
      </div>
    </div>

    <div class="col-md-2 col-sm-2 col-xs-3">
      <br><%= image_tag("cpLogo100.png") %>
          <% if !user_signed_in? %>
            <%= link_to "SIGN UP", new_user_signup_path(usertype: "creator"), :class => "btn btn-primary", style: "font-size:20px; margin-top:10px; background:#6e73d1; color:#fff;" %>
            <div class="usermenu" style= "text-shadow: 1px 1px #000;">
              <%= link_to 'Sign in', "/login", {:style=>'color:#FFFFFF;'}  %>
            </div> 
          <% end %>
      <div class = "usermenu" style= "text-shadow: 1px 1px #000;">
        <br>Become an Early Adopter & 
      </div>
      <div style="margin-left:-20px;">
        <%= button_to "TAKE THE SURVEY", "https://docs.google.com/forms/d/e/1FAIpQLSf8ncM7rLxeKUOOlLrgCexuk2B0_sYw8JRZJM2JY2hOqkebhg/viewform?c=0&w=1", method: :get, form: {target: '_blank'}, class: "button" %>
      </div>
    </div>

    <div class="col-md-5 col-sm-5 col-xs-9" style="padding-top:20px">
      <div class="whitetxt" style="font-size:40px; text-shadow: 1px 1px #000; height: 80px;" >
        <b>Movie & Book Fans </b>
      </div>
      <div class="lavenderlink" style="text-shadow: 1px 1px #000;">
        <% if user_signed_in? %>
          <br><%= link_to "Sneak preview access &", phases_path %><br>
          <%= link_to "Personalized content", phases_path, :class => "btn btn-primary", style: "font-size:24px; margin-top:10px; background:#6e73d1; color:#fff;" %>
        <% else %>
          <br><%= link_to "Get sneak preview access &", "/signup" %>
          <br><%= link_to "Personalized content", "/signup", :class => "btn btn-primary", style: "font-size:24px; margin-top:10px; background:#6e73d1; color:#fff;" %>
        <% end %>
      </div>
    </div>
  </div>

</div>
  <div class="row" style="background-color:#1e1e46">
          <div class="navbar-inner clearfix usermenu" >
            <ul class="nav navbar-nav pull-left" style="padding-left:20px; text-shadow: 1px 1px #000">
              <li><%= link_to "Projects", phases_path %>
              <li><%= link_to "Organizations", groups_path, title: "Find the Organization that referred you to CrowdPublish.TV" %>
              <li><%= link_to "FAQ", '/faq' %>
              <li><%= link_to "About", '/aboutus' %>
              <% if user_signed_in? %>
                <li><%= link_to current_user.name, user_profile_path(current_user.permalink) %>
               <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete%>
              <% end %>
            </ul>
          </div> 
  </div>

  <div class="row">
    <div class="col-md-offset-1 " style="padding-top:20px">
      <% if user_signed_in? %>
        <div class = "helps" style = "font-size:32px">
          Create a fantastic CrowdPublishing Campaign!
        </div><br>
        <div class = "helps" style = "text-align:left" >
          <% if @user.bannerpic.present? %>
            <%= link_to "1. Improve Your Profile", user_profileinfo_path(current_user.permalink), title: "Embed your YouTube videos, update your banner, give your fans more details about your work" %>
          <% else %>
            <%= link_to "1. Create Profile", user_profileinfo_path(current_user.permalink), style:"color:red;", title: "Tell your fans about yourself... Add a picture of yourself, a banner about your books or videos" %> 
          <% end %><br><br>

          <% if @user.phases.any? %>
            <%= link_to "2. Create Another CrowdPublish Campaign", new_phase_path(current_user.permalink), title: "A great excuse to reach out to your most loyal fans" %> 
          <% else %>
            <%= link_to "2. Create CrowdPublish Campaign", new_phase_path(current_user.permalink), style:"color:red;", title: "Your most loyal fans are anticipating you'll reach out to them" %> 
          <% end %><br><br>

          <% if @user.phases.any? %>
            <% if @recentphase.merchandises.any? %>
              <%= link_to "3. Select more Perks to offer Fans", @perkpath, title: "Create new perks that only you can offer your most loyal fans!" %> 
            <% else %>
              <%= link_to "3. Select or Create Perks to offer Fans", @perkpath, style:"color:red;", title: "Offer perks that only you could give to your most loyal fans!" %> 
            <% end %>
          <% else %>
              3. Select & Create Perks to offer Fans
          <% end %><br><br>

          <%= link_to "4. Tell all your Friends & Fans", '/tellfriends', style:"color:red;", title: "Announce your CrowdPublish Campaign on twitter, facebook, email, from rooftops..." %> <br><br>

          <% if @user.stripeid.present? %>
            <%= link_to "5. Manage Your $", user_dashboard_path(@user.permalink), title: "View your dashboard" %>
          <% else %>
            <%= link_to "5. Get $", user_createstripeaccount_path(@user.permalink), style:"color:red;", title: "Sign up to get your money deposited directly into your bank account. CrowdPublish.TV uses the same trusted payment processor many of your favorite sites use." %>
          <% end %>

      <% else %>
        <div class = "helps" style = "font-size:32px; color:#1F0D5F" >
          <%= link_to "Signup", new_user_signup_path(usertype: "creator"), style: "color:red", title: "Sign up for CrowdPublishTV & we'll walk you through the CrowdPublishing process" %> & follow these steps to offer perks to your fabulous fans!
        </div><br>
        <div class = "helps" style = "text-align:left" >
          1. <%= link_to "Create Profile", '/lisa', title: "Everyone gets a free CrowdPublishTV web site. Click to see one of our members' web sites" %> <br><br>
          2. <%= link_to "Create CrowdPublish Campaign", phase_path('lisas80scatholichighschoolmovie'), title: "No need to have a particular reason to raise funds other than to support the time you spend on your work. Click to see one of our CrowdPublish Campaigns" %> <br><br>
          3. <%= link_to "Select & Create Perks to offer Fans", merchandises_path, title: "Offer your fans more than just your videos or books. Click for examples of what our members offer their fans" %> <br><br>
          4. <%= link_to "Tell all your Friends & Fans", '/tellfriends', title: "The process of getting the word out about your CrowdPublish Campaign" %> <br><br>
          5. <%= link_to "Get $", 'http://stripe.com', title: "We use the same trusted payment processor many of your favorite sites use", :target => "_blank" %>
        </div>
      <% end %>
        <br><br>

      </div>
    </div>
  </div>

<div class="row" > 
  <div class="helps" >
    Authors to Watch
  </div><br>
</div>
<div class="row" > 
  <% @authors.each do |u| %> 
      <div class="col-md-4 col-sm-6 col-xs-12" > 
        <div class="r" style="vertical-align:top; horizontal-align:center; height:290px; width:395px; overflow:hidden;" >
          <iframe width="370" height="220" src="//www.youtube.com/embed/<%= u.youtube1 %>" frameborder="0" allowfullscreen></iframe>
          <br><%= link_to u.name, user_profile_path(u.permalink) %>
          <br><%= u.genre1 %>, <%= u.genre2 %>, <%= u.genre3 %>
        </div>
      </div>
  <% end %>
</div>
  <div class="indexlist" >
    <b>Browse more videos by CrowdPublish.TV authors</b><br> <%= will_paginate @authors %> <br>
  </div>

<div class="row" > 
  <div class="helps" >
    Actors to Watch
  </div><br>
</div>
<div class="row" > 
  <% @actors.each do |u| %> 
      <div class="col-md-4 col-sm-6 col-xs-12" > 
        <div class="r" style="vertical-align:top; horizontal-align:center; height:290px; width:395px; overflow:hidden;" >
          <iframe width="370" height="220" src="//www.youtube.com/embed/<%= u.youtube1 %>" frameborder="0" allowfullscreen></iframe>
          <br><%= link_to u.name, user_profile_path(u.permalink) %>
          <br><%= u.genre1 %>, <%= u.genre2 %>, <%= u.genre3 %>
        </div>
      </div>
  <% end %>
</div>

<%= image_tag("futureEmpStory.png", :size => "712x25") %><p>

  <div class="row" style="margin-top:15px;" >
    <div class="col-md-5" >
      <div class = "copyalpha" >
        <br><br>Questions? Contact info@CrowdPublish.TV 
        <br><br>(C) Copyright 2018, RoleModel Enterprises, LLC. All Rights Reserved.
      </div>
    </div>
    <div class="col-md-5" >
    </div>
  </div>


</div>
  <br><br>
