<div class="box" style="background: url( <%= asset_path 'team.jpg' %> ); background-repeat: no-repeat; background-position: center center; background-size: cover; min-height: 450px; max-height: auto; padding-top:320px">
    <!-- team: https://unsplash.com/photos/QckxruozjRg -->

  <h1 class="pl-3 pt-5 text-white"><strong>Become a ThinQ.tv Team Member!</strong></h1>
</div>

<div class="container pt-4 mt-4 pb-3 mb-3 col-lg-10 col-md-8 col-sm-6 border shadow-lg">
  <div class="col-lg-12">
    <h2 class="text-center text-primary"><strong> Stop by our Virtual Office & visit us! </strong></h2>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <h4>
        - Go to the <%= link_to 'ThinQ.tv', root_path %> home page to see the schedule and Join a Conversation. <br><br>
        - Send your resume to info@ThinQ.tv. 
      </h4>
    </div>
    <div class="col-lg-6 col-md-6">
      <h4>
        <b>Remote team members</b> will be required to work while their ThinQ.tv video viewer is open, on a schedule of their choosing.<br> - You will have daily access to the Scottsdale based team via ThinQ.tv video chat and Discord. <br><br>
        <b>Interns</b> are required to work a minimum of 10 hours per week and are eligible receive course credit if they clear it through their university department.
      </h4>
    </div>
  </div>
</div>

<br>
<h2 class="text-primary text-center">
    <span> <strong> We have 3 types of roles: </strong> </span>
</h2>
<br>
<div class="row">
  <div class="col-md-4 pr-0 pl-5">
    <div class="container-fluid">
      <div>
        <%= image_tag("marketing.jpg" , :style => "height: 280px;  min-width: auto; width:90%;")%>
        <!-- marketing: https://unsplash.com/photos/wD1LRb9OeEo   -->
      </div>

      <div class="card-body pr-5 pl-1">
        <h4>
          <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseOne">
            OUTREACH, MARKETING, SALES <br>
          </a>
        </h4>
        <div class="collapse" id="collapseOne">
          This is the most important role at ThinQ.tv. It is your opportunity to be on the ground floor of a movement to promote Women in STEM as a form of Activism. Seeking reliable self-motivated people to spread brand awareness and promote internet sales for products that spread awareness for Female + STEM = Activism.<br><br>
 
              <span><b>Learning Outcomes:</b></span>
                - Branding, target market<br>
                - Effective social media messaging vs. throwing miscellaneous stuff at the internet<br>
                - Teamwork with remote colleagues<br><br>
 
              <span><b>Responsibilities:</b></span>
                - Post 10 hours per week when you will be at a computer to work in our video chat virtual office<br>
                - Create Thinq.TV-branded social media content, Kickstarter campaign about our products<br>
                - Help determine which products and messaging resonates best with target market<br>
                - Sell Female + STEM = Activism on Thinq.TV's Etsy, Instagram, Kickstarter, etc.<br><br>

              <span><b>Qualifications:</b></span>
                - Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience<br>
                - Excellent conversational and writing skills<br><br>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 pr-0 pl-5">
    <div class="container-fluid">
      <div>
        <%= image_tag("ruby.jpg" , :style => "height: 280px;  min-width: auto; width:90%;")%>
        <!-- marketing: https://unsplash.com/photos/wD1LRb9OeEo   -->
      </div>

      <div class="card-body pr-5 pl-1">
        <h4>
          <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            RASPBERRY PI ENGINEER/INTERN<br>
          </a>
        </h4>
        <div class="collapse" id="collapseExample">
          Seeking reliable, self-motivated engineers who are passionate about creating small electronic devices. We will build 2 - 3 different configurations of tiny video players from scratch using an Adafruit microcontroller board and analyze the advantages/disadvantages of each configuration. We will design a casing from scratch and use a 3-D printer to build/manufacture the casing for the best configurations.

          Interns will be responsible for building and documenting their own device configurations. Sharing of information and processes among team members is expected. This internship will only be offered to the most highly motivated and qualified candidates. <br><br>

          <span><b>Learning Outcomes:</b></span>
            - Creation of an electronic device from idea to finished consumer product<br>
            - Thorough assembly process documentation<br>
            - Product testing<br>
            - 3-D printing <br><br>

              <span><b>Responsibilities:</b></span>
                - Interns will research and select which screens, batteries, and possibly ports or memory to purchase and connect to a Pi Zero or other Adafruit microcontroller board. Interns will write efficient software to run the devices.<br>
                - Interns will test and statistically analyze the expected number of hours of battery life for each device/software configuration and battery type. Interns will write documentation for the process to build their device. <br>
                - Each intern will submit instructions every week documenting how to build an exact replica of the current state of their device. Dr. Schaefer will follow these instructions on her own devices and request that you address gaps in your documentation. <br>
                - Interns will develop .amf or other relevent 3-D file for printing cases in a university 3-D printing lab. <br><br>

              <span><b>Qualifications:</b></span>
                - Minimum: Demonstrated an ability to accomplish technical goals through previous academic, volunteer, or work experience.<br>
                - Preferred: Experience in creating devices with Raspberry Pi. Knowledge of CircuitPython. <br><br>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 pr-0 pl-5">
    <div class="container-fluid">
      <div>
        <%= image_tag("uidesign.jpg", :style => "height: 280px;  min-width: auto; width:90%;")%>
        <!-- uidesign: https://unsplash.com/photos/WYwT7pXuXvo  -->
      </div>
      <div class="card-body pr-5 pl-1">
        <h4>
          <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
            USER EXPERIENCE DESIGNERS <br>
          </a>
        </h4>
        <div class="collapse" id="collapseTwo">
          <div>
            Seeking interns and designers who are passionate about promoting Women in STEM as a form of Activism. <br><br>

            <span><b>Learning Outcomes:</b></span><br>
              - Customer experience surveys and observation<br>
              - Effective consumer messaging <br>
              - Teamwork with remote colleagues<br><br>

            <span><b>Responsibilities:</b></span><br>
              - Post 10 hours per week, 1 week in advance, when you will be at a computer with a browser window open and your camera on to the ThinQ.tv live video viewer to co-work with other college students <br>
              - Create surveys and solicit feedback from Women in STEM to understand their perceptions of ThinQ.tv products and messaging<br>
              - Improve product design and messaging based on user feedback<br></b>

            <span><b>Qualifications:</b></span><br>
              - Minimum: Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience.<br>
              - Preferred: Familiarity with customer surveys, HTML, CSS, graphics software.<br><br><br><br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>