<div class="box" style="background: url( <%= asset_path 'team.jpg' %> ); background-repeat: no-repeat; background-position: center center; background-size: cover; min-height: 450px; max-height: auto; text-align: center; margin: auto; padding:0;">
  <!-- team: https://unsplash.com/photos/QckxruozjRg -->
<p style="padding-top: 380px;padding-left: 10px;">
  BECOME A THINQ.TV TEAM MEMBER! <br>
</p>      
</div>
<div class="team">
  <div class="container">
    <div class="row"  >
      <div class="col-lg-6 col-md-6" style=" margin-top:0px; margin-bottom: 0px; padding: 10px; ">
         <h3 class="aboutHeader" style="text-align: center;" > Experience What We're Doing:<br> ATTEND A VIDEO CHAT CONVERSATION </h3> 
      <h4 style = "line-height: 1.5em" >
      <br>- Go to the <%= link_to 'ThinQ.tv', root_path %> home page to see the schedule and Join a Conversation. <br><br>
      - To access a Conversation by phone, download the JITSI Meet app in advance and join the THINQTV chatroom when prompted in the app.<br><br>
      </h4>          
      </div>
      <div class="col-lg-6 col-md-6" style=" margin-top:0px; margin-bottom: 0px; padding: 10px; ">
      <p style="font-size: 18px; line-height: 2.5rem;">
      <b>Scottsdale based team members</b> will work in our offices 3 miles north of the ASU main campus.<br> - Business hours are M-F 9:00am - 6:00pm, though you may schedule some of your hours remotely during evenings or weekend. <br><br>
      <b>Remote team members</b> will be required to work while their ThinQ.tv video viewer is open, on a schedule of their choosing.<br> - You will have daily access to the Scottsdale based team via ThinQ.tv video chat and Discord. <br><br>
      <b>Interns</b> are required to work a minimum of 10 hours per week and are eligible receive course credit if they clear it through their university department. <br>
    </p>
      </div>
    </div>
  </div>
</div>
    <h3 class="speaking" style="font-size: 32px; font-family: essonnes-headline, Georgia, serif;" >
      <span>We have 3 types of roles:</span>
    </h3 >
    <div class="row" style="padding-left: 90px; padding-right: 30px;">
      <div class="col-md-4">
        <div class="card-shadow">
          <div class="inner">
              <%= image_tag("marketing.jpg" , :style => "height: 331.917px;  min-width: auto; width:100%;")%>
              <!-- marketing: https://unsplash.com/photos/wD1LRb9OeEo   -->
          </div>
            <div class="card-body">
              <h4> LEADERSHIP, OUTREACH, & MARKETING <br> </h4>
              <p class="text" >
              <span id="dots"></span><span id="more" style="display:none; "> 
                  This is the most important role at ThinQ.tv. It is your opportunity to be on the ground floor of a movement to create the future of participatory thought-provoking entertainment.<br><br>
      
                  Seeking engaging self-starters to host video chat conversations about current events. Successful candidate(s) will gain leadership and community-building skills while moderating exciting live conversations within the context of celebrity news critic shows, such as those hosted by John Oliver, Stephen Colbert, and Hasan Minhaj. It's like going to a cocktail party on Zoom, but you don't have to wait to be invited to discover fascinating conversations with smart people.<br><br>
                  <span><b>Learning Outcomes:</b></span>
                    <br><br>
                    - Leadership skills<br>
                    - Teamwork with remote colleagues<br>
                    - Effective methods for building online community fellowship<br><br>
                  <span><b>Responsibilities:</b></span>
                    <br><br>
                    - Post 10 hours per week when you will be at a computer (or phone) with a window open to the ThinQ.tv live video viewer<br>
                    - Along with other interns, organize and participate in online conversations about TED talks and news critique shows.<br>
                    - Reach out to friends and family who are isolated: Get them to participate in video conversations throughout each week.<br>
                    - Invite organizations and influencers to join ThinQ.tv conversations.<br>
                    - Create social media videos.<br>
                    - Arrange podcast speaking engagements for Dr. Schaefer.<br><br>
                  <span><b>Qualifications:</b></span>
                    <br><br>
                    - Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience<br>
                    - Excellent conversational and writing skills<br>
            </span>
              </p>

          <div class="arrowdown" style="text-align: center;"> 
            <i class="fa fa-angle-down" id="angle" aria-hidden="true" onclick="read()"></i>
          </div> 
            </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card-shadow">
          <div class="inner">
              <%= image_tag("ruby.jpg", :style => "height: 331.917px;  min-width: auto; width:100%;")%>
              <!-- ruby: https://unsplash.com/photos/yktK2qaiVHI   -->
          </div>
            <div class="card-body">
                  <h4> RUBY ON RAILS DEVELOPERS <br> </h4>
              <p class="text">
            <span id="dots1"></span><span id="more1" style="display:none;"> 
                    Seeking open source developers who are passionate about creating and participating in a video chat platform for intellectual conversations. This position will only be offered to the most highly motivated and qualified candidates (MS in Computer Science or other significant experience in MVC architecture or object-oriented software engineering). <br><br>
                    Interns will learn Ruby on Rails by working with the existing code base for ThinQ.tv. This is your opportunity to be a part of a developers bootcamp taught by a highly educated, experienced software engineer - free of charge.<br><br>
                    If you do not have sufficient object-oriented experience, you are encouraged to apply for our UX/UI (front end Ruby on Rails) position. <br><br>
                <span><b>Learning Outcomes:</b></span><br><br>
                  - Ruby on Rails<br>
                  - Test Driven Development in MiniTest<br>
                  - Real-world experience at a tech startup<br><br>
                <span><b>Responsibilities:</b></span><br><br>
                  - Participate in live online conversations at least twice per week<br>
                  - You are required to begin installation of the environment on your machine in advance of meeting with us. Go to <b><a href="https://github.com/ece106/tomatocan" target="_blank"> https://github.com/ece106/tomatocan </a></b> for instructions.<br>
                  - Write tests to expand the current test suite for Test Driven Development<br><br>
                <span><b>Qualifications:</b></span><br><br>
                  - Minimum: Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience. Significant experience in an object-oriented language.<br>
                  - Preferred: Familiarity with Ruby, JavaScript, HTML, CSS, SQL.<br><br>
            </span>
              </p>

          <div class="arrowdown" style="text-align: center;"> 
            <i class="fa fa-angle-down" id="angle1" aria-hidden="true" onclick="read1()"></i>
          </div> 
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-shadow" >
          <div class="inner">
              <%= image_tag("uidesign.jpg", :style => "height: 331.917px;  min-width: auto; width:100%;")%>
              <!-- uidesign: https://unsplash.com/photos/WYwT7pXuXvo  -->
          </div>
            <div class="card-body">
                  <h4> UX/UI DESIGNERS <br> </h4>
              <p class="text">
            <span id="dots2"></span><span id="more2" style="display:none;"> 
                  Seeking interns, open source developers, and designers who are passionate about designing and participating in a video chat platform for intellectual conversations. <br><br>
                  Interns: This is your opportunity to work and learn alongside a developers bootcamp. You will gain tech startup experience in user outreach and integrating html/CSS into Ruby on Rails.<br><br>
              <span><b>Learning Outcomes:</b></span><br><br>
                - User experience surveys and observation<br>
                - Front-end development for embedded Ruby<br>
                - Real-world experience at a tech startup<br><br>
              <span><b>Responsibilities:</b></span><br><br>
                - Participate in live online conversations at least twice per week<br>
                - For those who will be writing front end code in addition to contributing designs, you will be expected to install the Ruby on Rails environment on your machine. Go to <b><a href="https://github.com/ece106/tomatocan" target="_blank"></b> https://github.com/ece106/tomatocan </a>for instructions.<br>
                - Solicit feedback from potential platform users to understand their perceptions of the site<br>
                - Improve site usage and design based on user feedback<br><br>
              <span><b>Qualifications:</b></span><br><br>
                - Minimum: Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience.<br>
                - Preferred: Familiarity with JavaScript, HTML, CSS, graphics software.<br><br><br><br><br>
            </span>
              </p>
          <div class="arrowdown" style="text-align: center;"> 
            <i class="fa fa-angle-down" id="angle2" aria-hidden="true" onclick="read2()"></i>
          </div> 
            </div>
        </div>
      </div>

