<div class="box" style="background: url( <%= asset_path 'team.jpg' %> ); background-repeat: no-repeat; background-position: center center; background-size: cover; min-height: 450px; max-height: auto; padding-top:320px">
    <!-- team: https://unsplash.com/photos/QckxruozjRg -->

    <h1 class="pl-3 pt-5 text-white"><strong>Become a ThinQ.tv Team Member!</strong></h1>
</div>

<div class="container pt-4 mt-4 pb-3 mb-3 col-lg-10 col-md-8 col-sm-6 border shadow-lg">
    <div class="col-lg-12">
        <h2 class="text-center text-primary"><strong> Experience What We're Doing: ATTEND A VIDEO CHAT </strong></h2>
    </div>
    <div class="row">

        <div class="col-lg-6 col-md-6">
            <h4>
                - Go to the <%= link_to 'ThinQ.tv', root_path %> home page to see the schedule and Join a Conversation. <br><br>
                - You may send a resume to info@ThinQ.tv. Preference will be given to those who first attend Conversations.
            </h4>

        </div>
        <div class="col-lg-6 col-md-6">
            <h4>
                <b>Remote team members</b> will be required to work while their ThinQ.tv video viewer is open, on a schedule of their choosing.<br> - You will have daily access to the Scottsdale based team via ThinQ.tv video chat and Discord. <br><br>
                <b>Interns</b> are required to work a minimum of 10 hours per week and are eligible receive course credit if they clear it through their university department.
            </h4>
        </div>
    </div>
</div>

<br>
<h2 class="text-primary text-center">
    <span> <strong> We have 3 types of roles: </strong> </span>
</h2>
<br>
<div class="row">

    <div class="col-md-4 pr-0 pl-5">
        <div class="container-fluid">
            <div>
                <%= image_tag("marketing.jpg" , :style => "height: 280px;  min-width: auto; width:90%;")%>
                <!-- marketing: https://unsplash.com/photos/wD1LRb9OeEo   -->
            </div>

            <div class="card-body pr-5 pl-1">
                <h4>
                    <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseOne">
                        OUTREACH & MARKETING <br>
                    </a>
                </h4>
                <div class="collapse" id="collapseOne">
                    <div>
                        This is the most important role at ThinQ.tv. It is your opportunity to be on the ground floor of a movement to promote Women in STEM as a form of Activism.<br><br>

                        Seeking engaging self-starters to invite STEM professionals and students to video chat conversations about experiences of women and minorities in STEM. It's like going to a cocktail party on Zoom, but you don't have to wait to be invited to discover fascinating conversations with smart women.<br><br>
                        <span><b>Learning Outcomes:</b></span>
                        <br>
                        - Leadership & networking skills<br>
                        - Teamwork with remote colleagues<br>
                        - Effective methods for building online community<br><br>

                        <span><b>Responsibilities:</b></span>
                        <br>
                        - Post 10 hours per week, 1 week in advance, when you will be at a computer with a browser window open and your camera on to the ThinQ.tv live video viewer to co-work with other college students <br>
                        - Greet new people who drop in to the chatroom and encourage them to participate on ThinQ.tv as mentors or to come to Mentor Hours for career advice <br>
                        - Invite college students & organizations to join ThinQ.tv mentorship conversations<br>
                        - Promote ThinQ.tv and its products on social media<br><br>

                        <span><b>Qualifications:</b></span>
                        <br>
                        - Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience<br>
                        - Excellent conversational and writing skills<br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 pr-0 pl-5">
        <div class="container-fluid">
            <div>
                <%= image_tag("ruby.jpg", :style => "height: 280px;  min-width: auto; width:90%;")%>
                <!-- ruby: https://unsplash.com/photos/yktK2qaiVHI   -->
            </div>

            <div class="card-body pr-5 pl-1">
                <h4>
                    <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        RUBY ON RAILS DEVELOPERS <br>
                    </a>
                </h4>
                <div class="collapse" id="collapseExample">
                    <div>
                        Seeking open source developers who are passionate about promoting Women in STEM as a form of Activism. This position will only be offered to the most highly motivated and qualified candidates (MS in Computer Science or other significant experience in MVC architecture or object-oriented software engineering). <br><br>

                        If you do not have sufficient object-oriented experience, you are encouraged to apply for our UX/UI (front end Ruby on Rails) position. <br><br>
                        <span><b>Learning Outcomes:</b></span><br>
                        - Ruby on Rails<br>
                        - Test Driven Development in MiniTest<br>
                        - Real-world experience at a tech startup<br><br>
                        <span><b>Responsibilities:</b></span><br>
                        - Post 10 hours per week, 1 week in advance, when you will be at a computer with a browser window open and your camera on to the ThinQ.tv live video viewer to co-work with other college students <br>
                        - Solicit feedback from potential ThinQ.tv customers to understand their perceptions of ThinQ.tv<br>
                        - Improve product design and messaging based on user feedback<br></b>
                        - You are required to begin installation of the environment on your machine in advance of meeting with us. Go to <b><a href="https://github.com/ece106/tomatocan" target="_blank"> https://github.com/ece106/tomatocan </a></b> for instructions.<br>
                        - Write tests to expand the current test suite for Test Driven Development<br><br>

                        <span><b>Qualifications:</b></span><br>
                        - Minimum: Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience. Significant experience in an object-oriented language.<br>
                        - Preferred: Familiarity with Ruby, JavaScript, HTML, CSS, SQL.<br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 pr-0 pl-5">
        <div class="container-fluid">
            <div>
                <%= image_tag("uidesign.jpg", :style => "height: 280px;  min-width: auto; width:90%;")%>
                <!-- uidesign: https://unsplash.com/photos/WYwT7pXuXvo  -->
            </div>
            <div class="card-body pr-5 pl-1">
                <h4>
                    <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
                        UX/UI DESIGNERS <br>
                    </a>
                </h4>
                <div class="collapse" id="collapseTwo">
                    <div>
                        Seeking interns, open source developers, and designers who are passionate about promoting Women in STEM as a form of Activism. <br><br>

                        <span><b>Learning Outcomes:</b></span><br>
                        - Customer experience surveys and observation<br>
                        - Front-end development for embedded Ruby<br>
                        - Real-world experience at a tech startup<br><br>
                        <span><b>Responsibilities:</b></span><br>
                        - Post 10 hours per week, 1 week in advance, when you will be at a computer with a browser window open and your camera on to the ThinQ.tv live video viewer to co-work with other college students <br>
                        - Solicit feedback from potential ThinQ.tv customers to understand their perceptions of ThinQ.tv<br>
                        - Improve product design and messaging based on user feedback<br></b>
                        - Those who will be writing front end code are required to install the Ruby on Rails environment on your machine. Go to <b><a href="https://github.com/ece106/tomatocan" target="_blank"></b> https://github.com/ece106/tomatocan </a>for instructions.<br><br>
                        <span><b>Qualifications:</b></span><br>
                        - Minimum: Demonstrated an ability to accomplish goals through previous academic, volunteer, or work experience.<br>
                        - Preferred: Familiarity with customer surveys, JavaScript, HTML, CSS, graphics software.<br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>