<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="eBay for authors - with video!">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div style="background-color:transparent;text-align:left;margin-left:auto;margin-right:auto;position:relative;width:950px;">

<%= render 'form' %>

<div id="txt_13" style="position:absolute; left:65px; top:365px;">
  <%= image_tag("bubbleButton165.png", :size => "155x40") %>
</div>

<div id="txt_13" style="position:absolute; left:73px; top:320px; width:800px;">
  <%= image_tag("futureEmpStory.png", :size => "712x25") %><br><br>
  
  <table CELLPADDING="0" CELLSPACING="8" WIDTH="700">
    <tr>
      <td style=> 
        <div class="signupbutton" > 
          <%= link_to ' SIGN UP ', "/signup" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for the Local Authors Scene!</div>
        <div class="sidebartitle"  style="float:right;width:75%;">
          Make sure to enter your DC area zip code</div>
      </td>
    </tr> 

    <tr>
      <td > 
        <br>
<b>JULY'S MEETING IS AT THE OAKTON LIBRARY </b><br> 
10304 Lynnhaven Pl, Oakton, VA 22124 <br>
Saturday July 26 1:00 – 3:00pm <p>
All book enthusiasts are encouraged to attend. There will be opportunity to announce news & events for your club or books.
Please send an invitation to your colleagues!<p>

We're gathering booklovers in the DC metro area to network, collaborate, and promote events that support local & indie authors. Come to the Local Authors Scene meetings the last Saturday of each month (enter your DC area zip code  
  <% if user_signed_in? %>
    <%= link_to 'in your profile', user_profileinfo_path(current_user.permalink) %> 
  <% else %>   
    into your profile when you <%= link_to 'Sign Up', "/signup" %> 
  <% end %>
and see <%= link_to 'Calendar', calendar_path %>). 
<p>PLEASE POST <%= link_to 'EVENTS', new_event_path %> & <%= link_to 'ORGANIZATIONS', new_group_path %> on the new <%= link_to 'Calendar', new_event_path %> and the new <%= link_to 'Organizations List', new_group_path %> so local people can find your book-related groups & events. (You must be <%= link_to 'signed in', "/signup" %> to post) <p>

Let me know if you have questions! Lisa@CrowdPublish.TV <p>

(The August 23 meeting is at the Patrick Henry Library in Vienna, and the September 27 meeting is at the Lorton Library. We will also meet for lunch at the National Book Festival on Sat. August 30 at the DC Convention Center and will meet for one of the talks at the GMU campus for Fall for the Book Sept. 11-18. - See <%= link_to 'Calendar', calendar_path %>. )
 
      </td>
    </tr> 
  </table>
</div>