<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="eBay for authors - with video!">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 " style= "text-align:left" >
    <%= image_tag("futureEmpStory.png", :size => "712x25") %><br><br>
  
    <% if !user_signed_in? %>
        <div class="signupbutton" > 
          <%= link_to image_tag("bubbleButton165.png", :size => "155x40"), "/signup" %> 
          for the Local Authors Scene!
        </div><br>
    <% end %>

The goal of the Local Authors Scene is to collaborate with DC area writer groups and book clubs to promote more buzz about local authors' work and help authors who own their rights navigate the changing world of publishing. Every month we feature an author who speaks about their book, followed by a discussion of how local authors create & publicize their books. The general public is always encouraged to come listen to our authors & stay for the following discussion. List your books, blog, & events and browse the calendar of local book events on CrowdPublish.TV! <br><br> 

<b>APRIL'S GATHERING </b><br> 
Arlington Central Library, 1015 N Quincy St, Arlington, VA (a few blocks from the Ballston metro station)<br>
Saturday, April 18 1:30 – 3:30pm <br><br>

Charles Toftoy, Professor of English at GWU, will speak about his book "AMAZING FIRESIDE TALKS," followed by a Q&A discussion geared toward helping local authors create & publicize their work. Go to the RSVP page for more details about the event
<%= button_to "RSVP NOW", event_path(53), :method => :get %> <br>
INVITE 7 (or more!) OF YOUR COLLEAGUES by sending them this link:<br> 
    <div class="sidebartitle" >
        http://www.CrowdPublish.TV/events/53
    </div> 
The more everyone spreads the word, the more buzz there will be about your books!
<br><br>

<%= link_to 'POST YOUR BOOK SIGNINGS & OTHER EVENTS SUPPORTIVE OF LOCAL AUTHORS', new_event_path %> on the new <%= link_to 'Calendar', calendar_path %> We're gathering booklovers in the DC metro area to network, collaborate, and promote events that support local & indie authors. <br><br>

<%= link_to 'POST YOUR BOOK ORGANIZATIONS', new_group_path %> (critique groups, coffee klatches, book clubs, etc.) on the new <%= link_to 'Organizations List', new_group_path %> so booklovers can find your book-related groups & events
<% if !user_signed_in? %>
   (You must be <%= link_to 'signed in', "/signup" %> to post. Make sure you enter your DC area zip code in your profile.)  
<% end %>.
<br><br>

May's Local Author Scene gathering will be on Thu. May 28, 7:00pm at the Patrick Henry Library in Vienna with Jenifer Joy Madden. For event details: <%= button_to "RSVP NOW", event_path(79), :method => :get %> <br>

  Would you like to have some say in organizing workshops & panel discussions for authors who own their rights? Email info@CrowdPublish.TV <br><br>  

  <%= image_tag("danMoldea.jpg", :height => "50%", :width => "50%" ) %> <br><br>
The Local Authors Scene Rocks Tysons-Pimmit Library. Standing-room-only in the back!

</div></div><br><br>