<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="eBay for authors - with video!">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 " style= "text-align:left" >
    <%= image_tag("futureEmpStory.png", :size => "712x25") %><br><br>
  
    <% if !user_signed_in? %>
        <div class="signupbutton" > 
          <%= link_to image_tag("bubbleButton165.png", :size => "155x40"), "/signup" %> 
          for the Local Authors Scene!
        </div><br>
    <% end %>

Are you interested in keeping up with what local writers are up to? Do you believe in supporting authors who own their rights? Sign up for CrowdPublish.TV & hang out with DC-area booklovers and local authors. 
<%= link_to "HOW TO GET INVOLVED", "/getinvolved" %>.<br><br>

The Local Authors Scene is an informal grassroots movement of authors who own the rights to their work & local intellectuals who are interested in hearing what authors have to say -- the story behind the story. Every month we host a local author, along with a discussion of how local authors produce their books and discover fans. The general public is always encouraged to come listen to our authors & get involved in the following discussion. <br><br>

Browse the calendar of <%= link_to "book events posted by local authors", "/events" %>. Sign up for a FREE web site on http://CrowdPublish.TV, an open source project developed by DC area software engineers. Authors can list their books, blog, videos, & events. Readers & book clubs can review books & post their blog and events. And most of all, <%= link_to "Get Involved!", "/getinvolved" %><br><br> 

<b>JUNE GATHERING </b><br> 
George Mason Library, 7001 Little River Turnpike, Annandale, VA <br>
Saturday, June 13, 1:30 – 3:30pm <br><br>

<div class="col-md-4" >
  <%= link_to image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Robert_F._Dorr_AH-1W_Oct_2003.jpg/405px-Robert_F._Dorr_AH-1W_Oct_2003.jpg", :size => "285x200"), "http://www.crowdpublish.tv/events/85" %>
</div>
<div class="col-md-8" >
  Join Northern Virginia author, Bob Dorr as he speaks about the most recent of his 70+ books and his experience with book signings at the Udvar Hazy museum.<br><br>

  <!--
  Learn more about Bob on <%= link_to " her CrowdPublishTV site", "http://www.crowdpublish.tv/jeniferjoymadden" %>. <br><br>
  -->

  Bob's talk will be followed by a Q&A discussion geared toward helping local authors create & publicize their work. Go to the RSVP page for more details about the event
<%= button_to "RSVP NOW", event_path(85), :method => :get %> <br>

</div>

INVITE 8 (or more!) OF YOUR COLLEAGUES by sending them this link:<br> 
    <div class="sidebartitle" >
        http://www.CrowdPublish.TV/events/85
    </div> 
The more everyone spreads the word, the more buzz there will be about your books!
<br><br>

<%= link_to 'POST YOUR BOOK SIGNINGS & OTHER EVENTS SUPPORTIVE OF LOCAL AUTHORS', new_event_path %> on the new <%= link_to 'Calendar', calendar_path %> We're gathering booklovers in the DC metro area to network, collaborate, and promote events that support local & indie authors. <br><br>

<%= link_to 'POST YOUR BOOK ORGANIZATIONS', new_group_path %> (critique groups, coffee klatches, book clubs, etc.) on the new <%= link_to 'Organizations List', new_group_path %> so booklovers can find your book-related groups & events
<% if !user_signed_in? %>
   (You must be <%= link_to 'signed in', "/signup" %> to post. Make sure you enter your DC area zip code in your profile.)  
<% end %>.
<br><br>

July's Local Author Scene gathering will be on Thu. July 23, 7:00pm at the Tysons-Pimmit Library in Falls Church with Mike O'Brien. For event details: <%= button_to "RSVP NOW", event_path(92), :method => :get %> <br>

  <%= image_tag("danMoldea.jpg", :height => "50%", :width => "50%" ) %> <br><br>
The Local Authors Scene Rocks Tysons-Pimmit Library. Standing-room-only in the back!

</div></div><br><br>