<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="eBay for authors - with video!">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 " style= "text-align:left" >
    <%= image_tag("futureEmpStory.png", :size => "712x25") %><br><br>
  
    <% if !user_signed_in? %>
        <div class="signupbutton" > 
          <%= link_to image_tag("bubbleButton165.png", :size => "155x40"), "/signup" %> 
          for the Local Authors Scene!
        </div><br>
    <% end %>

Are you interested in keeping up with what local writers are up to? Do you believe in supporting authors who own their rights? Sign up for CrowdPublish.TV & hang out with DC-area booklovers and local authors. 
<%= link_to "HOW TO GET INVOLVED", "/getinvolved" %>.<br><br>

The Local Authors Scene is an informal grassroots movement of authors who own the rights to their work & local intellectuals who are interested in hearing what authors have to say -- the story behind the story. The general public is always encouraged to come listen to our authors & get involved in the discussion. <br><br>

Sign up for a FREE web site on http://CrowdPublish.TV, an open source project developed by DC area software engineers. Authors can list their books, blog, videos, & events. Readers & book clubs can review books & post their blog and events. And most of all, <%= link_to "Get Involved!", "/getinvolved" %><br><br> 

<b>SEPTEMBER GATHERING </b><br> 
Meet us for lunch at the National Book Festival!<br> 
Walter E. Washington Convention Center, 801 Mt Vernon Pl NW, Washington, DC <br>
(Near Mt. Vernon Sq. & Metro Center stations)
Saturday, Sept. 5, 11:00am – 1:00pm <br><br>

<div class="col-md-4" >
  <%= link_to image_tag("http://cdn1.bizbash.com/content/editorial/storyimg/big/20140830ct0227.jpg", :size => "185x250"), "http://www.crowdpublish.tv/events/92" %>
</div>
<div class="col-md-8" >

  <!--
  Learn more about Bob on <%= link_to " her CrowdPublishTV site", "http://www.crowdpublish.tv/jeniferjoymadden" %>. <br><br>
  -->

  Mike's talk will be followed by a Q&A discussion geared toward helping local authors create & publicize their work. Go to the RSVP page for more details about the event
<%= button_to "RSVP NOW", event_path(96), :method => :get %> <br>

</div>

INVITE 9 (or more!) OF YOUR COLLEAGUES by sending them this link:<br> 
    <div class="sidebartitle" >
        http://www.CrowdPublish.TV/events/92
    </div> 
The more everyone spreads the word, the more buzz there will be about your books!
<br><br>

<%= link_to 'POST YOUR BOOK SIGNINGS & OTHER EVENTS SUPPORTIVE OF LOCAL AUTHORS', new_event_path %> on the new <%= link_to 'Calendar', calendar_path %> We're gathering booklovers in the DC metro area to network, collaborate, and promote events that support local & indie authors. <br><br>

<%= link_to 'POST YOUR BOOK ORGANIZATIONS', new_group_path %> (critique groups, coffee klatches, book clubs, etc.) on the new <%= link_to 'Organizations List', new_group_path %> so booklovers can find your book-related groups & events
<% if !user_signed_in? %>
   (You must be <%= link_to 'signed in', "/signup" %> to post. Make sure you enter your DC area zip code in your profile.)  
<% end %>.
<br><br>

The September Local Author Scene gathering will be Sat. Sept. 5 at the National Book Festival. We'll meet for lunch. For event details: <%= button_to "RSVP NOW", event_path(96), :method => :get %> <br>

  <%= image_tag("danMoldea.jpg", :height => "50%", :width => "50%" ) %> <br><br>
The Local Authors Scene Rocks Tysons-Pimmit Library. Standing-room-only in the back!

</div></div><br><br>