<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="eBay for authors - with video!">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 " style= "text-align:left" >
    <%= image_tag("futureEmpStory.png", :size => "712x25") %><br><br>
  
        <div class="signupbutton" > 
          <%= image_tag("bubbleButton165.png", :size => "155x40") %>
          for the Local Authors Scene!
        </div><br>


Come to the Local Authors Scene meetings the 4th Saturday of each month.<br>
<b>SEPTEMBER'S MEETING IS AT THE LORTON LIBRARY </b><br> 
9520 Richmond Highway, Lorton, VA<br>
Saturday September 27 1:00 – 3:00pm <br><br>

INVITE 7 (or more!) OF YOUR COLLEAGUES by sending them this link:<br> 
    <div class="sidebartitle" >
        http://CrowdPublish.TV/localauthorsscene
    </div> 
The more everyone spreads the word, the more buzz there will be about your books!
<br><br>

<%= link_to 'POST YOUR BOOK SIGNINGS & OTHER EVENTS SUPPORTIVE OF LOCAL AUTHORS', new_event_path %> on the new <%= link_to 'Calendar', calendar_path %> We're gathering booklovers in the DC metro area to network, collaborate, and promote events that support local & indie authors. <br><br>

<%= link_to 'POST YOUR BOOK ORGANIZATIONS', new_group_path %> (critique groups, coffee klatches, book clubs, etc.) on the new <%= link_to 'Organizations List', new_group_path %> so booklovers can find your book-related groups & events
<% if !user_signed_in? %>
   (You must be <%= link_to 'signed in', "/signup" %> to post. Make sure you enter your DC area zip code in your profile.)  
<% end %>.
<br><br>

Let me know if you have questions! Lisa@CrowdPublish.TV <br><br> 

(The October 25 meeting will be a talk by Poet Laureate Robert Scott at the John Marshal Library in Alexandria. We will also meet at the Sherwood Center in Fairfax for a for Fall for the Book panel at 3:00 Sun Sept. 14 and at the GWU Manassas campus for a Fall for the Book event at 6:00 on Thu Sept. 18. Carpool to Manassas leaves Vienna at 5:00. - See <%= link_to 'Calendar', calendar_path %>. )
 
</div></div>