<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="eBay for authors - with video!">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 " style= "text-align:left" >
    <%= image_tag("futureEmpStory.png", :size => "712x25") %><br><br>
  
    <% if !user_signed_in? %>
        <div class="signupbutton" > 
          <%= link_to image_tag("bubbleButton165.png", :size => "155x40"), "/signup" %> 
          for the Local Authors Scene!
        </div><br>
    <% end %>

The goal of the Local Authors Scene is to collaborate with DC area writer groups and book organizations to promote more buzz about local authors' work and help each other with the changing world of self-publishing. List your books, blog, & events and browse the calendar of local book events on CrowdPublish.TV! <br><br> 

<b>FEBRUARY'S GATHERING </b><br> 
Lorton Library 9520 Richmond Highway, Lorton, VA<br>
Saturday, February 28 1:00 – 3:00pm <br><br>

Andrew Kreig will speak about his book "Presidential Puppetry." For more details about the event & Andrew's background
<%= button_to "RSVP NOW", event_path(53) %> <br>
INVITE 9 (or more!) OF YOUR COLLEAGUES by sending them this link:<br> 
    <div class="sidebartitle" >
        http://www.CrowdPublish.TV/events/53
    </div> 
The more everyone spreads the word, the more buzz there will be about your books!
<br><br>

<%= link_to 'POST YOUR BOOK SIGNINGS & OTHER EVENTS SUPPORTIVE OF LOCAL AUTHORS', new_event_path %> on the new <%= link_to 'Calendar', calendar_path %> We're gathering booklovers in the DC metro area to network, collaborate, and promote events that support local & indie authors. <br><br>

<%= link_to 'POST YOUR BOOK ORGANIZATIONS', new_group_path %> (critique groups, coffee klatches, book clubs, etc.) on the new <%= link_to 'Organizations List', new_group_path %> so booklovers can find your book-related groups & events
<% if !user_signed_in? %>
   (You must be <%= link_to 'signed in', "/signup" %> to post. Make sure you enter your DC area zip code in your profile.)  
<% end %>.
<br><br>

We will be organizing workshops & panel discussions for self-published authors starting in the spring.<br>
Would you like to have some say in that? Email Lisa@CrowdPublish.TV <br><br>  
</div></div>