<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="CrowdPublish.TV" content="eBay for authors - with video!">
<title>CrowdPublishTV - The Future of Empowerment is Your Story</title>
</head>

<div class="row" >
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 " style= "text-align:left" >
    <%= image_tag("futureEmpStory.png", :size => "712x25") %><br><br>
  
    <% if !user_signed_in? %>
        <div class="signupbutton" > 
          <%= link_to image_tag("bubbleButton165.png", :size => "155x40"), "/signup" %> 
          for the Local Authors Scene & get a free author or reader web site!
        </div><br>
    <% end %>

    Are you interested in keeping up with what local writers are up to? Do you believe in supporting authors who own their rights? Come to our next event and meet other DC-area booklovers and local authors. 
    <%= link_to "HOW TO GET INVOLVED", "/getinvolved" %>.<br><br>

    <b>SEPTEMBER GATHERING </b><br> 
    Meet us for lunch at the National Book Festival!<br> 
    Walter E. Washington Convention Center, 801 Mt Vernon Pl NW, Washington, DC <br>
    (Near Mt. Vernon Sq. & Metro Center stations)<br>
    Saturday, Sept. 5, 11:00am – 1:00pm <br><br>

    <div class="col-md-5 col-sm-6" >
      <%= link_to image_tag("http://cdn1.bizbash.com/content/editorial/storyimg/big/20140830ct0227.jpg", :size => "350x250"), "http://www.crowdpublish.tv/events/96" %>
    </div>
    <div class="col-md-6 col-sm-5 col-sm-offset-1" >
      <!--
      Learn more about Bob on <%= link_to " her CrowdPublishTV site", "http://www.crowdpublish.tv/jeniferjoymadden" %>. <br><br>
      -->

      If the setup is the same as last year, we'll be at the big round tables in the huge hall where all the authors & books are. We'll stake out a few tables so you can grab a lunch at one of the many food vendors & come sit with us. Come & go as you please, we'll be there for two hours.<br><br>

      There will be a large seating area with several large round tables in the huge hall where the books & authors are located. Look for tables with Local Authors Scene cards bearing the CrowdPublishTV logo.
      <%= button_to "RSVP NOW", event_path(96), :method => :get %> <br>

      INVITE 7 (or more!) OF YOUR COLLEAGUES by sending them this link:<br> 
      <div class="sidebartitle" >
        http://www.CrowdPublish.TV/events/96
      </div> 
      The more everyone spreads the word, the more buzz there will be about your books!
    </div>

    <div class="col-md-12" >
      <br><br>
      <b><font size="2"> Invite booklovers to YOUR literary events </font>  </b><br>
      <%= link_to 'POST YOUR BOOK SIGNINGS & OTHER EVENTS SUPPORTIVE OF LOCAL AUTHORS', new_event_path %> on the new <%= link_to 'Calendar', calendar_path %> We're gathering booklovers in the DC metro area to network, collaborate, and promote events that support local & indie authors. <br><br>

      <%= link_to 'POST YOUR BOOK ORGANIZATION', new_group_path %> (critique groups, coffee klatches, book clubs, etc.) on the new <%= link_to 'Organizations List', new_group_path %> so booklovers can find your book-related groups & events
      <% if !user_signed_in? %>
        (You must be <%= link_to 'signed in', "/signup" %> to post. Make sure you enter your DC area zip code in your profile.)  
      <% end %>.<br><br>

      <!--
      The September Local Author Scene gathering will be Sat. Sept. 5 at the National Book Festival. We'll meet for lunch. For event details: <%= button_to "RSVP NOW", event_path(96), :method => :get %> <br>
      -->
      <%= image_tag("danMoldea.jpg", :height => "50%", :width => "50%" ) %> <br><br>
      The Local Authors Scene Rocks Tysons-Pimmit Library. Standing-room-only in the back!
    </div>

</div></div><br><br>