<div class="top" style="background-color: #dfbc9f; padding-top: 20px; padding-bottom: 20px">
  <h6 class="Header" style="text-align: center; font-size: 35px; ">
    Become an Online Fellowship Host
  </h6>
</div>
<div class="row" style="background-color: #ecd7c6; padding-bottom: 10px;">
  <h3 class="aboutHeader" style = "text-align: center; font-size: 30px;">Create an online culture where those who are isolated have someone to listen
  </h3>
</div>
<div class="row" style="padding-top: 15px; margin-bottom: 0px; padding-bottom: 10px; font-size: 18px;
    font-family: Helvetica;
    line-height: 24px;
    font-weight: 400;">
  <%=image_tag("volunteer.png", :style => "width: 25%", :align =>"right")%>
    We need good listeners to be Online Fellowship Hosts for an hour or two per week.<br>
    Be a role model to promote a healthy culture of thought-provoking live video fellowship where we look out for each other & grow intellectually and spiritually. <br>
    Have an area of expertise? Be sure to mention it in your <%= link_to 'Fellowship Hour', new_event_path %> description so students can ask about your career! <br><br>
  <h3 style = "color:#8C1D40">What Good Listeners can do: </h3>
    <div style=" line-height: 1.5em">
      - <%= link_to 'Post times', new_event_path %> on ThinQ.tv when you'll be at a computer or phone to listen to those who feel isolated. <br>
      - Tell student organizations, churches, and schools that their people can drop in to ThinQ.tv when they need someone to listen. <br>
      - Spread the word via social media. <br>
      - Participate in drafting <%= link_to 'Bystander Guidelines', bystanderguidelines_path %> for addressing online harassment by dropping in to the YourOnlineMom hours listed on the home page schedule. <br>
    </div>

      <h3 style = "color:#8C1D40">How to become a Fellowship Host: </h3>
      <div style=" line-height: 1.5em">
        - Drop in to any of the live video YourOnlineMom conversations by Dr. Lisa Schaefer listed on the <%= link_to 'ThinQ.tv schedule', root_path %> so we can meet you. <br>
        - Send an email with short biography to info@ThinQ.tv to nominate yourself or someone you know. 
      </div> 
</div>
<div class="row" style="background-color: #F2EBE4; text-align: center; padding-bottom: 20px; margin-bottom: 10px">
  <h1 class="aboutHeader">Apply to be on the YourOnlineMom BOARD OF ADVISORS!</h1>
  <br>
  <%= link_to 'Apply Here', boardofdirectors_path, :class => "btn btn-lg btn-primary", :style => "border-radius:5px;"%>
</div>  
