<div class="top" style="background-color: #f2e4d9;">
  <div class="top" style="background-color: #dfbc9f; padding-top: 20px; padding-bottom: 20px">
  <h6 class="Header" style="text-align: center; font-size: 35px; ">
    Become an Online Parent or Big Sibling
  </h6>
</div>
<div class="row" style="background-color: #ecd7c6; padding-bottom: 10px;">
  <h3 class="aboutHeader" style = "text-align: center; font-size: 30px;">Create an online culture where students have responsible adults and peers to talk to
  </h3>
</div>
<div class="row" style="background-color: #f2e4d9; padding-top: 1px; margin-bottom: 0px; padding-bottom: 10px; font-size: 20">
  <h4 style="line-height: 1.5em">
    <br>
    We need responsible adults to be Online Moms, Dads, Big Brothers or Big Sisters for an hour or two per week.<br><br>
    Be a role model to a younger generation to promote a healthy culture of thought-provoking live video conversations. <br>
    Become an Online Parent or Sibling and <%= link_to 'post Conversation times', new_event_path %> for high school & college students to drop in and be heard. <br>
    Have an area of expertise? Be sure to mention it in your Conversation description so students can ask about your career! <br><br>
 
  </h4>
</div>
  
<div class="row" style="background-color: #ecd7c6; padding-bottom: 5px; padding-top: 5px">
  <h3 class="aboutHeader" style="text-align: center;font-size: 30px; font-weight: bold;">
    Join Us
  </h3>
</div>
<div class="row" style="background-color: #f2e4d9; padding-bottom: 20px; padding-top: 5px" >
  <h3 style = "color:#8C1D40">What Responsible Adults can do: </h3>
  <%=image_tag("volunteer.png", :style => "width: 25%", :align =>"right")%>
    <div style="font-size: 20px; line-height: 1.5em">
      - <%= link_to 'Post times', new_event_path %> on ThinQ.tv when you'll be at a computer or phone when students can have someone who will listen<br>
      - Participate in drafting <%= link_to 'Bystander Guidelines', bystanderguidelines_path %> by attending meetings listed on the home page schedule<br>
      - Tell student organizations, churches, schools their teens & college students can drop in to ThinQ.tv where a responsible adult will listen<br>
      - Spread the word via social media <br>
    </div>

      <h3 style = "color:#8C1D40">How to become an Online Parent or Sibling: </h3>
      <div style="font-size: 18px; line-height: 1.5em">
        - Drop in to any of the live video Your Online Mom Conversations by Dr. Lisa Schaefer listed on the <%= link_to 'ThinQ.tv schedule', root_path %> so we can meet you <br>
        - Send an email with short biography to info@ThinQ.tv to nominate yourself or someone you know <br>
      </div> 
</div>
</div>





