<div class="container-fluid" >
  <% if request.host == "thinqtv.herokuapp.com" %>

    <div class="row">
      <!-- Left Hand (Viewer) Side -->
      <div class="col-md-8">

        <!-- Video Viewer -->
        <script src="https://meet.jit.si/external_api.js"></script>
        <script>
          jQuery(document).ready(function($) {
            var domain = "meet.jit.si";
            var options = {
              roomName: "thinqtv", 
              parentNode: document.querySelector('#meet')
            }
            var api = new JitsiMeetExternalAPI(domain, options);
          });
        </script>

        <!-- Label For Viewer -->
        <div class="panel panel-primary">
          <div class="panel-heading">
            ThinQ.tv Live Fellowship
          </div>
          <div class="panel-body embed-responsive embed-responsive-16by9">
            <div class="embed-responsive-item" id="meet"></div>
          </div>
        </div> 
        
        <!-- Help Area -->
        <div class="container">
          <a href="#demo" class="btn btn-info" data-toggle="collapse" style="background-color: #8C1D40; font-size: 17.5px; margin-left: -15px">Not seeing or hearing the Live Conversation above? Click here for troubleshooting options &#9660 </a>
          <div id="demo" class="collapse" style="font-size: 15px; padding-left: 5px">
            <p>- Are you using Safari or Edge? Close that and use Chrome or Firefox. - or -<br>
              - Reload the page. (Press F5) - or - <br>
                - If you have slow wifi, turn off your camera. (Click on the camera icon above) - or - <br>
                - Turn up the volume on your speakers. - or - <br>
                - Update Chrome or Firefox to the latest version. - or - <br>
                - Download the JITSI Meet app onto your phone and join the THINQTV chatroom on the app. - or -<br>
                - Call in on your phone: 1.512.402.2718 PIN: 968 707 817# (For audio only)<br>
                - You may also type in the chat by clicking on the Open/Close Chat icon next to the hand above.<br>
            </p>
          </div>
        </div>
      </div>

      <!-- Right Hand (Schedule) -->
      <div class="col-md-4">
        <!-- "ALLOW" Note -->
        <div style="margin-bottom: 10px; margin-top: -9px"><div style = "font-size: 18px; padding: 0px 5px 5px 5px; background-color: #F2EBE4;">
          <b>Note:</b><br>
          <div style="font-size:14px">
            Click “Allow” if a popup box asks to access your mic or camera.
          </div>
        </div></div>

        <!-- Schedule -->
        <div class="panel panel-default">
          <!-- Label for schedule -->
          <div class="panel-heading" style="background-color: #8C1D40; color: #ffffff">
            Schedule
          </div>
          <!-- Events List -->
          <% if @events.count != 0 %>
            <table class="table table-hover" id=calendar>
              <tbody>
                <% @events.sort_by{|t| t.start_at}.each do |event| %>
                <% user = User.find(event.usrid) %>
                <tr>
                  <td class=col-xs-6>
                    <div style="color: #8C1D40; font-size: 20px"><b><%= event.name %></b></div>
                    Hosted by: <i><%= user.name %></i>
                  </td>
                  <td class=col-xs-6>
                    <% edt = event.start_at + 3.hours %>
                    <span style="font-size:125%;" id=calendar-time><%= event.start_at.strftime("%a, %b. %d") %></span>
                    <span style="font-size:90%;"id=calendar-time><%= event.start_at.strftime("%l:%M%P") %> PDT</span>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          <% end %> 
        </div>

      </div>  
    </div>


  <% else %>


    <br><br>
      <center><%= link_to "Click here to Join Fellowship Conversation", "https://thinQtv.herokuapp.com/seniorliving", class: "btn btn-primary btn-lg", style: "margin-top: 10px; margin-bottom: 10px; font-size: 40px; border-radius: 8px" %></center>
      <br><br><br>

      <div class="row">

        <!-- Left hand place holder -->
        <div class="col-md-3"></div>

        <!-- Middle -->
        <div class="col-md-6">
          <!-- Copy Function -->
          <script>
            function copy() {
              var copyText = document.getElementById("myInput");
              copyText.select();
              copyText.setSelectionRange(0, 99999)
              document.execCommand("copy");
              alert("Link copied to clipboard!");
            }
          </script>

          <div style = "font-size: 22px; padding: 5px 5px 5px 5px; background-color: #F2EBE4;">
            <b>Share this page with your parents & grandparents!</b><br>
            <div style="margin-left: 5px; font-size: 17px">
              Click "Copy Link" to copy the link to your clipboard<br>
              <!-- The text field -->
              <input type="text" value="http://www.thinq.tv/seniorliving" id="myInput" style="width: 245px">        
              <!-- The button used to copy the text -->
              <button onclick="copy()" style="background-color: #8C1D40; color: white; border-radius: 4px">Copy link</button>
              <br>
              <div style="padding-top: 3px"> Click "E-Mail" to send the link via Email<div>
              <button style="background-color: #8C1D40; border-radius: 4px; padding-top: 4px"><a href="mailto:?&subject=Join%20me%20at%20ThinQ.tv!&body=Every%20afternoon%20and%20evening%20ThinQ.tv%20has%20meaningful%20live%20video%20conversations%20to%20keep%20you%20from%20feeling%20isolated%20during%20COVID-19.%20A%20Fellowship%20Host%20will%20be%20live%20on%20ThinQ.tv%20to%20listen,%20play%20a%20trivia%20game,%20or%20even%20pray%20with%20you.%20Go%20to%20http://www.ThinQ.tv/seniorliving%20and%20click%20on%20Click%20Here%20to%20Join%20Fellowship%20Conversation." alt="Email" target="_blank" style="color: white">E-Mail &#9993</a></button>
            </div>
          </div>
        </div>

        <!-- Right hand placeholder -->
        <div class="col-md-3"></div>

      </div>

    <br><br><br><br>
  <% end %> 
</div>
