<div class="row" style="margin-top: 50px">
</div>
<div class="row" >
  <div class="col-lg-12">
    <h2 class="text-center text-primary"><strong> Support Women in STEM Activism! </strong></h2>
    <h3 class="text-center">Wearables & Art inspired by science & tech to brand yourself & your friends as Activists in STEM
     </h3>
  </div>
</div>

<div class="row" style="margin-top: 50px">
  <% @merches.each do |merch| %>
    <% collapsenum = "c" + merch.id.to_s %>
    <div class="col-md-4 col-sm-6 col-xs-12 pr-0 pl-5">
      <div class="container-fluid text-center">
        <div style = "height: 280px;">
          <% if merch.itempic.present? %>
            <%= image_tag(merch.itempic.to_s , :style => "height: 280px;")%>
          <% end %>  
        </div>
        <div class="card-body pr-5 pl-1">
          <h4>
            <a class="btn btn-primary btn-lg btn-block mb-3" data-toggle="collapse" href="#<%=collapsenum%>" role="button" aria-expanded="false" aria-controls="<%=collapsenum%>">
            <%= merch.name %> <br>
            </a>
          <%= link_to " Buy Now $" + merch.price.to_s , new_purchase_path(pricesold: merch.price, author_id: 2), method: :get, :class => "backgroundbrand text-black", :target => "_blank", :style=> "padding: 10px;"  %>
          </h4>
          <div class="collapse" id="<%=collapsenum%>" style="text-align: left">
            <% if merch.desc.present? %>
              <%= merch.desc %>
            <% end %>  
          </div>
        </div>
      </div>
    </div>
  <% end %>  
</div>

<div class="row" style="margin-top: 50px">
  <div class="col-md-4 pr-0 pl-5">
    <div class="container-fluid">
      <div>
        <%= image_tag("convo_photo.png" , :style => "height: 280px;")%>
                <!-- marketing: https://unsplash.com/photos/wD1LRb9OeEo   -->
      </div>

      <div class="card-body pr-5 pl-1">
        <h4>
          <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseOne">
            Mother's Day / Valentines Video Necklace <br>
          </a>
        </h4>
        <div class="collapse" id="collapseOne">
          We are currently developing a mini-video player that you can load with videos of you & your siblings to give to Mom.  <br>
          Or add videos of you and your girlfriend/wife and give to her as a Valentines Day or Christmas gift.<br>
          Or load your own videos and brand yourself as a STEM Activist!
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 pr-0 pl-5">
    <div class="container-fluid text-center">
      <div>
        <%= image_tag("phonePocket10.png" , :style => "height: 280px;")%>
                <!-- marketing: https://unsplash.com/photos/wD1LRb9OeEo   -->
      </div>

      <div class="card-body pr-5 pl-1">
        <h4>
          <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                     
            Women's Pockets<br>
          </a>
        </h4>
        <div class="collapse" id="collapseExample">
          Going out for a run and you don't have a place to keep credit card, car key, and phone because women's clothing doesn't come with pockets? Attach this space-design Venn diagram pocket to your tank top or shorts to securely store your essential items. The text glows in the dark! <br><br>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 pr-0 pl-5">
    <div class="container-fluid text-center">
      <div>
        <%= image_tag("creditPocket10.png" , :style => "height: 280px;")%>
                <!-- marketing: https://unsplash.com/photos/wD1LRb9OeEo   -->
      </div>

      <div class="card-body pr-5 pl-1">
        <h4>
          <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
            Women's Pockets necklace<br>
          </a>
        </h4>
          <%= link_to " Buy Now $30 ", new_purchase_path(:pricesold => 30, :author_id => 1), method: :get, :class => "backgroundbrand text-black", :target => "_blank", :style=> "font-size: 1.0em; padding: 10px; "  %>
        <div class="collapse" id="collapseTwo">
          Need a handy place to store your credit cards, business cards, car key, and cash but have no pocket to put them in? This space-design Venn diagram pocket comes on a beaded chain to wear as a necklace. The text glows in the dark! <br><br>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 70px">
  <div class="col-md-4 pr-0 pl-5">
    <div class="container-fluid text-center">
      <div>
        <%= image_tag("bjBkCover170.png" , :style => "height: 280px; ")%>
                <!-- marketing: https://unsplash.com/photos/wD1LRb9OeEo   -->
      </div>

      <div class="card-body pr-5 pl-1">
        <h4>
          <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">
            Women + STEM = Activism Book Chapter <br>
          </a>
        </h4>
        <div class="collapse" id="collapse1">
          We're interviewing hundreds of women at various stages of their STEM career to get advice and to let you know you're not alone in handling discrimination. Get advance access to the first chapter of "Female + STEM = Activism." Second chapter coming soon! 
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 pr-0 pl-5">
    <div class="container-fluid">
      <div>
        <%= image_tag("activism_hall.jpg" , :style => "height: 280px;  min-width: auto; width:90%;")%>
                <!-- marketing: https://unsplash.com/photos/wD1LRb9OeEo   -->
      </div>

      <div class="card-body pr-5 pl-1">
        <h4>
          <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2">
                     
            Women's Aftershave<br>
          </a>
        </h4>
        <div class="collapse" id="collapse2">
          We admit it. It's just lotion we're calling aftershave. Why should men get all the aftershave? It's so good you'll want to use it on your hands too. <br><br>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 pr-0 pl-5">
    <div class="container-fluid text-center">
      <div>
        <%= image_tag("necklaceSTEM10.jpg" , :style => "height: 280px;")%>
                <!-- marketing: https://unsplash.com/photos/wD1LRb9OeEo   -->
      </div>

      <div class="card-body pr-5 pl-1">
        <h4>
          <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapse3">
                     
            Space Painting necklace<br>
          </a>
        </h4>
        <div class="collapse" id="collapse3">
          This beaded necklace has a space scene painted on a metal circle with Women + STEM = Activism slogan. <br><br>
        </div>
      </div>
    </div>
  </div>
</div>