<div class="team">
  <div class="container">
    <div class="row"  >
      <div class="col-lg-6 col-md-6">
        <h3 class="aboutHeader" style="text-align: center;" > What is STUDY HALL </h3> 
        <h4 style = "line-height: 1.5em" >
          - A place to meet people for pair-programming <br> 
          - Hang out in video chat with other people learning topics you're interested in - we're currently working on Web Development topics related to building ThinQ.tv <br>
          - Peers and possibly mentors are there while you're working incase you have questions or need someone to bounce ideas <br>
          - Or work quietly in the chat room to be there for each other when that Aha moment happens
         </h4>          
      </div>
      <div class="col-md-6 col-xs-12" style=" margin-top:0px; margin-bottom: 0px; padding: 10px; ">
        <div class="row" id="countdown_clock">
          <%= render 'layouts/countdown_clockstudy' %>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row" id="countdown_clock">
    <div class="col-md-4 col-md-offset-1 col-xs-12">
      <h2>Study Hall Schedule</h2>
    </div>
    <div class="col-md-6 col-xs-12">
          <% if user_signed_in? %>
            <br>Don't see your desired hour on the schedule yet? <br>
            <%= link_to 'Post Study Hall Hour', new_event_path, class: "btn btn-warning", title: "Host drop-in Study Hall sessions or invite people to ask questions about your area of expertise" %>
          <% end %>
    </div>
  </div>
  <div class="tabContainer">
    <div class="col-md-10 col-md-offset-1 col-xs-12"> 
      <div class="buttonContainer">
        <button onclick="showPanel(0,'#f44336')">List View </button>
        <button onclick="showPanel(1,'#4caf50')">Monthly View </button>
        <!-- <button onclick="showPanel(2,'#2196f3')">Weekly View</button> -->
      </div>
    </div>
    <div class="tabPanel">
      <div class="row" id="calendar"> 
        <div class="col-xs-12"> 
          <%= render 'layouts/maincalendar', collection: @events %> 
        </div>   
      </div> 
    </div>
    <div class="tabPanel" >
       <%= render 'layouts/monthcalendar', collection: @eventsAll %>
    </div> 
  </div>

    <h3 class="speaking" style="font-size: 32px; font-family: essonnes-headline, Georgia, serif;" >
      <span>We currently have Study Halls for 3 topics:</span>
    </h3 >
    <div class="row" style="padding-left: 90px; padding-right: 30px;">
      <div class="col-md-4">
        <div class="card-shadow">
          <div class="inner">
              <%= image_tag("marketing.jpg" , :style => "height: 331.917px;  min-width: auto; width:100%;")%>
              <!-- graphic came from https://unsplash.com/photos/wD1LRb9OeEo   -->
          </div>
            <div class="card-body">
              <h4> UX Surveys <br> </h4>
              <p class="text" >
              <span id="dots"></span><span id="more" style="display:none; "> 
                We currently have a group meeting several times per week to work on survey questions related to the ThinQ.tv site. The purpose of the UX Surveys Study Hall is to: <br>
                - Be in the video chat viewer for each other incase you want feedback from others with UX career interests. <br>
                - Form a support group available several hours per day who are there when you want to be around others also improving their UX Survey skills.<br>
              </span>
              </p>

          <div class="arrowdown" style="text-align: center;"> 
            <i class="fa fa-angle-down" id="angle" aria-hidden="true" onclick="read()"></i>
          </div> 
            </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card-shadow">
          <div class="inner">
              <%= image_tag("ruby.jpg", :style => "height: 331.917px;  min-width: auto; width:100%;")%>
              <!-- This image came from https://unsplash.com/photos/yktK2qaiVHI   -->
          </div>
          <div class="card-body">
              <h4> RUBY ON RAILS Web Development <br> </h4>
              <p class="text">
            <span id="dots1"></span><span id="more1" style="display:none;"> 
              Front and back end developers can co-work or co-hack with each other. The purpose of the Rails Study Hall is to: <br>
              - Be in the video chat viewer for each other incase you have Rails questions while working on your project. <br>
              - Form a support group available several hours per day who are there when you want to be around others also improving their Rails skills. <br><br>

              Several of us are working with the existing code base for ThinQ.tv to learn Ruby on Rails. Our repository is at <b><a href="https://github.com/ece106/tomatocan" target="_blank"> https://github.com/ece106/tomatocan </a></b> if you'd like to learn Rails by contributing to ThinQ.tv's code, the first step is to fork & clone the repository. Drop in to Study Hall hours and ask us how to join our Discord channel and find the list of tasks to work on.<br>
            </span>
              </p>

            <div class="arrowdown" style="text-align: center;"> 
              <i class="fa fa-angle-down" id="angle1" aria-hidden="true" onclick="read1()"></i>
            </div> 
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card-shadow" >
          <div class="inner">
              <%= image_tag("uidesign.jpg", :style => "height: 331.917px;  min-width: auto; width:100%;")%>
              <!-- uidesign: https://unsplash.com/photos/WYwT7pXuXvo  -->
          </div>
          <div class="card-body">
            <h4> Women Developers <br> </h4>
              <p class="text">
            <span id="dots2"></span>
            <span id="more2" style="display:none;"> 
              ThinQ.tv's founder, Lisa Schaefer, earned all 3 of her engineering degrees at Arizona State University. The purpose of our Women Developers Study Hall is to: <br>
              - Meet other female developers from around the US <br>
              - Support each other<br>
              - Bring #metoo issues we all face out in the open without backlash for doing so
            </span>
              </p>
            <div class="arrowdown" style="text-align: center;"> 
              <i class="fa fa-angle-down" id="angle2" aria-hidden="true" onclick="read2()"></i>
            </div> 
          </div>
        </div>
      </div>

    <script type="text/javascript">
      showPanel(0,'#f44336');
    </script>
