<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @movierole.role %>
</p>

<p>
  <strong>Roledesc:</strong>
  <%= @movierole.roledesc %>
</p>

<p>
  <strong>User:</strong>
  <%= @movierole.user_id %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @movierole.movie_id %>
</p>

<%= link_to 'Edit', edit_movierole_path(@movierole) %> |
<%= link_to 'Back', movieroles_path %>
