<%= form_with(model: embed_link, local: true) do |form| %>
  <% if embed_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(embed_link.errors.count, "error") %> prohibited this embed_link from being saved:</h2>

      <ul>
        <% embed_link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :border %>
    <%= form.check_box :border %>
  </div>

  <div class="field">
    <%= form.label :border_color %>
    <%= form.text_field :border_color %>
  </div>

  <div class="field">
    <%= form.label :border_size %>
    <%= form.text_field :border_size %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :special_position %>
    <%= form.text_field :special_position %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
