<p id="notice"><%= notice %></p>

<h1>Embed Links</h1>

<table>
  <thead>
    <tr>
      <th>Border</th>
      <th>Border color</th>
      <th>Border size</th>
      <th>Size</th>
      <th>Location</th>
      <th>Special position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @embed_links.each do |embed_link| %>
      <tr>
        <td><%= embed_link.border %></td>
        <td><%= embed_link.border_color %></td>
        <td><%= embed_link.border_size %></td>
        <td><%= embed_link.size %></td>
        <td><%= embed_link.location %></td>
        <td><%= embed_link.special_position %></td>
        <td><%= link_to 'Show', embed_link %></td>
        <td><%= link_to 'Edit', edit_embed_link_path(embed_link) %></td>
        <td><%= link_to 'Destroy', embed_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Embed Link', new_embed_link_path %>
