<p id="notice"><%= notice %></p>

<p>
  <strong>Border:</strong>
  <%= @embed_link.border %>
</p>

<p>
  <strong>Border color:</strong>
  <%= @embed_link.border_color %>
</p>

<p>
  <strong>Border size:</strong>
  <%= @embed_link.border_size %>
</p>

<p>
  <strong>Size:</strong>
  <%= @embed_link.size %>
</p>

<p>
  <strong>Location:</strong>
  <%= @embed_link.location %>
</p>

<p>
  <strong>Special position:</strong>
  <%= @embed_link.special_position %>
</p>

<%= link_to 'Edit', edit_embed_link_path(@embed_link) %> |
<%= link_to 'Back', embed_links_path %>
