<% @title="CrowdPublish.TV Community " %>

<%= render 'form' %>

<div id="signup" style="position:absolute; overflow:hidden; left:255px; top:250px; z-index:3">
<h3>Sign up to hang out and learn with CrowdPublish.TV members.
</h3>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  Full name<br />
  <%= f.text_field :name %>
  <br> 
  Email<br />
  <%= f.email_field :email, :autofocus => true %>
  <br>
  Password <br />
  <%= f.password_field :password %>
  <br>
  Enter password again <br />
  <%= f.password_field :password_confirmation %>	
  <br>
  <%= f.submit "Sign up" %>
<% end %>

<%= render "devise/shared/links" %>
</div>