<div class="container-flex" >
<div class="row" >
  <div class="col-md-4 col-sm-6" style= "text-align:left; margin-top:-30px;" >
    <% @usertype = params[:usertype] %>

<%= form_for(resource, :as => resource_name, :url => user_registration_path) do |f| %>
  <%= devise_error_messages! %>

  <b>Full name</b>  <br />
  <%= f.text_field :name, :autofocus => true, :size => 40 %> <br>
  <b>Email</b><br />
  <%= f.email_field :email, :autofocus => true, :size => 40 %>
  <br />

  Which kind of account do you wish to use? (This can be changed later.)<br>
  <table><tr><td>
    <%= radio_button_tag(:author, "actor") %>Actor</td>
  <td><%= radio_button_tag(:author, "filmmaker") %>Filmmaker</td></tr>
  <td><%= radio_button_tag(:author, "author") %>Author</td>
  <td><%= radio_button_tag(:author, "reader") %> Fan </td></tr>
  </table>

  <br><b>Username</b> - numbers and letters ONLY (must be less than 20 characters)<br />
  www.CrowdPublish.TV/<%= f.text_field :permalink, :autofocus => true, placeholder: "username" %> <br>

  Password <br />
  <%= f.password_field :password %><br>
  Enter password again <br />
  <%= f.password_field :password_confirmation %><br><br>
  I agree to the CrowdPublishTV
  <%= link_to("Terms of Service", tos_path, :target => "_blank" ) %><br>

    <% if @usertype == "creator" %> 
      <b>Get the Free eBook
    <% end %>
  <%= f.submit "Sign up" %></b>
<% end %>
  </div>

  <div class="col-md-8 col-sm-6 " style= "background-color: #EFBFFF; margin-top:-40px; height:100vh; " >
    <br>Already a member? <%= link_to 'Sign in', "/login" %><br><br>
    <% if @usertype == "creator" %> 
      <%= render "devise/registrations/creatornew" %>
    <% else %> 
      <%= render "devise/registrations/newfan" %>
    <% end %>
  </div>

</div>
</div>
