<% @title="CrowdPublish.TV Community " %>

<div style="background-color:transparent;text-align:left;margin-left:auto;margin-right:auto;position:relative;width:950px;">

<%= render 'form' %>

<div id="signup" style="position:absolute; overflow:hidden; left:10px; top:320px; ">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  Username - numbers and letters ONLY (Will be used in your unique URL.)<br />
  <%= f.text_field :permalink, :autofocus => true %>  <p> 
  Full name<br />
  <%= f.text_field :name, :autofocus => true %>  <p>
  Email<br />
  <%= f.email_field :email, :autofocus => true %>  <p>
  Zip Code; City, State; or City, Country<br />
  <%= f.text_field :address, :autofocus => true %>  <p>

  Which kind of account do you wish to use? (This can be changed later.)
  <br><%= radio_button_tag(:author, 1) %>
  <%= label_tag(:author_child, "Reader ") %>
  <br><%= radio_button_tag(:author, 2) %>
  <%= label_tag(:author_adult, "Author ") %>

  <p>  Password <br />
  <%= f.password_field :password %><br>
  Enter password again <br />
  <%= f.password_field :password_confirmation %><p>
  <%= f.submit "Sign up" %>
<% end %>
</div>

<div id="signup" style="position:absolute; left:670px; top:365px; ">
  Already a member? <p>
  <%= render "devise/shared/links" %>
</div>
</div>
