<div class="row" >
  <div class="col-md-6 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-12 " style= "text-align:left" >

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%#= f.hidden_field :latitude, :value => (request.location ? request.location.latitude : 38.899) %>
  <%#= f.hidden_field :longitude, :value => (request.location ? request.location.longitude : -77.037)%>
  
  <p><b>Username</b> - numbers and letters ONLY (must be less than 20 characters)<br />
  www.CrowdPublish.TV/<%= f.text_field :permalink, :autofocus => true, placeholder: "username" %>  <p> 
  <b>Full name</b>  <br />
  <%= f.text_field :name, :autofocus => true %>  <p>
  <b>Email</b><br />
  <%= f.email_field :email, :autofocus => true %>  <p>
  <br />

  Which kind of account do you wish to use? (This can be changed later.)
  <br><%= radio_button_tag(:author, 1) %>
  <%= label_tag(:author_child, "Reader ") %>
  <br><%= radio_button_tag(:author, 2) %>
  <%= label_tag(:author_adult, "Author ") %>

  <p>  Password <br />
  <%= f.password_field :password %><br>
  Enter password again <br />
  <%= f.password_field :password_confirmation %><p>
  I agree to the CrowdPublishTV
  <%= link_to("Terms of Service", tos_path, :target => "_blank" ) %>
  <br><br/>  <%= f.submit "Sign up" %>

<% end %>

    <br><br><br><br><br><br>
  </div>

  <div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12 " style= "text-align:left" >

    <div id="signup">
      Already a member? 
      <%= render "devise/shared/links" %>
    </div>
  </div>

</div>
</div>
