<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
  <title>Donation Confirmed</title>
  <%= stylesheet_link_tag "mailer" %>
</head>
<%=@seller.name %>,<br>
<body>
<p>
  <%=@user.name%> has made a donation<br><br>
  The donation totals to $<%=@purchase.pricesold%>.<br><br>
  Sincerely, <br><br>
  crowdpublish.TV<br><br>
  Visit us at again at <a href= '<%=@home_url%>'>crowdpublish.TV</a><br>
  <%= image_tag 'maroonLogo.png'%>
</p>
</body>
<footer>
</footer>
</html>
