<!DOCTYPE html>
<html>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
  <title>Purchase received</title>
 <style> 
    body {border: 5px solid #000000; padding:2%;}  
    div.one{margin: 10px auto 10px auto; text-align: left; border: 5px solid #000000; width : 40%;padding: 50px; }
    div.img{margin: 10% auto 10% auto;padding: 5%; }
  </style> 
</head>
<body>
  <div class = "one">
    <p>
      <%=@seller.name%>,<br><br>
      <%=@user.name %> has purchased <%=@merchandise.name%> 
      the purchase totals to $<%=@purchase.pricesold%>.<br><br>
      sincerely, <br>
      crowdpublish.tv<br><br>
      visit us at again at <a href= '<%=@home_url%>'>crowdpublish.tv</a><br><br>
      <div class = "img">
        <%= image_tag 'maroonLogo.png', size: "200x200"%>
      </div>
    </p>
  </div>
</body>
<footer>
</footer>
</html>
