<!DOCTYPE html>
<html>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
  <title>Purchase Confirmed</title>
  <%= stylesheet_link_tag "mailer" %>
</head>
<body>

<p>
  <%=@user.name %>, <br><br>
  Your purchase has been confirmed.<br>
  Thank you <%=@user.name%> for purchasing <%=@merchandise.name%>.<br>
  Your purchase totals to $<%=@purchase.pricesold%>.<br><br>
  Sincerely, <br><br>
  crowdpublish.TV<br><br>
  Visit us at again at <a href= '<%=@home_url%>'>crowdpublish.TV</a><br><br>
  <%= image_tag 'maroonLogo.png'%>
</p>
</body>
<footer>
</footer>
</html>