<h1>Listing rsvps</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>User</th>
      <th>Guests</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rsvps.each do |r| %>
      <tr>
        <td><%= rsvp.event_id %></td>
        <td><%= rsvps.user_id %></td>
        <td><%= rsvps.guests %></td>
        <td><%= link_to 'Show', rsvp %></td>
        <td><%= link_to 'Edit', edit_rsvpq_path(rsvp) %></td>
        <td><%= r.event_id %></td>
        <td><%= r.user_id %></td>
        <td><%= r.guests %></td>
        <td><%= link_to 'Show', r %></td>
        <td><%= link_to 'Edit', edit_rsvpq_path(r) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rsvp', new_rsvpq_path %>
