<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<%= stylesheet_link_tag "event_calendar" %>

<h1>Calendar</h1>

<%= raw(event_calendar) %>

<div id="calendar" style="position:absolute; left:0px; top:340px; width:900px; height:757px;" >

  <%= form_tag calendar_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  <% end %>

<br />

<%= link_to 'New Event', new_event_path %>
</div>	