<div class="row" style="margin-top:30px">
  <b><%= link_to movie.title, movie_path(:id => movie.id) %></b>
  <%= movie.genre %>
  <div class="covertitle">
    <%= movie.director %>
  </div>
</div>

<div class="row" style="margin-top:10px">
  <% if movie.youtube1.match(/[0-9A-Za-z]/) && movie.youtube1.length < 20 %>
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 " >
      <div class="blurb" style= "color:2c3651">
        <iframe width="420" height="315" src="//www.youtube.com/embed/<%= movie.youtube1 %>" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  <% end %>

  <% if movie.about.present? %> 
    <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12" >
      <div class="blurb" style= "color:2c3651">
        <%= simple_format movie.about.gsub(/\r\n/, '<br>') %>
      </div>
    </div>
  <% end %>

  <div class="col-lg-4 col-md-2 col-sm-12 col-xs-12" >
    <% if movie.moviepic.present? && movie.moviepic != '' %>
      <%= link_to image_tag(movie.moviepic.url.to_s, :size => "100x133", :title => "Purchase " + movie.title), movie_path(:id => movie.id) %>
    <% end %>

    <% if user_signed_in? %>
      <% if movie.user_id == current_user.id %>
        <%= button_to "Edit movie", edit_movie_path(movie.id), method: :get, form_class: 'btn btn-small' %>
      <% end %>
    <% end %>
  </div>
</div>
