<div class="row" >
  <div class="col-lg-9 col-lg-offset-2 col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-11 " >
    <div class="blurb" style= "text-align:left; ">
      <b><%= link_to(movie.title, movie) %></b>
    </div>  
  </div>
  <div class="col-md-1 col-sm-1 col-xs-1 ">
    <%= movie.genre %>
  </div>
</div>

<div class="row" >
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 " style="width:100px; height:133px; background-color:#dddddd; " >
    <% if movie.moviepic.present? && movie.moviepic != '' %>
      <%= link_to image_tag(movie.moviepic, :size => "100x133", :title => "Purchase " + movie.title), movie_path(:id => movie.id) %>
    <% elsif movie.title.match /[0-9A-Za-z]/ %> 
      <div class="covertitle">
        <br><%= link_to movie.title, movie_path(:id => movie.id), :style => 'color:#880000', :title => "Purchase " + movie.title %><br><br>
      </div>
      <div class="covername" style= "color:#2c3651">
        <%= movie.director %>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <% if movie.user_id == current_user.id %>
        <%= button_to "Edit movie", edit_movie_path(movie.id), method: :get, form_class: 'btn btn-small' %>
      <% end %>
    <% end %>


  </div>
  <div class="col-lg-9 col-md-9 col-md-offset-0 col-sm-9 col-xs-9 " >
    <div class="blurb" style= "color:2c3651">
      <% if movie.about %> 
        <%= simple_format movie.about.gsub(/\r\n/, '<br>') %>
      <% end %>
    </div>
  </div>
</div>
<div class="row" >
  <br><br>
</div>
