<title>CrowdPublishTV members</title>
<div class="featured">  Featured movies </div><br>

<div class="row" >
  <% @movies.each do |movie| %>
    <div class="col-md-4 col-sm-6 col-xs-12" > 
      <div class="r" style="vertical-align:top; horizontal-align:center; height:290px; width:395px; overflow:hidden;" >
        <iframe width="370" height="220" src="//www.youtube.com/embed/<%= movie.youtube1 %>" frameborder="0" allowfullscreen></iframe>

          <% usr = User.find(movie.user_id) %>
          <br><%= link_to movie.title, movie_path(:id => movie.id) %>
          <br><%= link_to movie.director, user_profile_path(usr.permalink), :class => 'covername', style: 'color:#2c3651' %>
        <br><%= movie.genre %>
      </div> 
    </div> 
  <% end %>
</div>
  <br>  

  <div class="row" >
    <div class="indexlist" >
      <b>Browse more videos by CrowdPublish.TV filmmakers</b><br> <%= will_paginate @movies %> <br>
    </div>
  </div>

