<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container-flex" >
<p id="notice"><%= notice %></p>

<div class="row" >
  <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12" style="margin-top:-30px">
    <center><b><h3><%= @movie.title %></b></h3>The People who made it Happen<br><br></center>
    <% if @castlist.count != 0 %>
      <% @castlist.each do |cast| %>
        <%= link_to cast[:name], user_profile_path(cast[:permalink]) %><br>
        <i><%= cast[:char] %></i><br>
        <div class="copyalpha"><%= cast[:chardesc] %></div><br>
      <% end %>
    <% end %>
    <br><br> 

    <% if user_signed_in? %>
    <%= form_for(Movierole.new) do |f| %> 
        <% if !@incast %>
          Were you in this movie?
          <%= f.hidden_field :movie_id, value: @movie.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          Role name<br> <%= f.text_field :role, size: 50, placeholder: "Writer, Production Assistant, Jennifer, Bartender, etc" %><br>
          Role description<br> <%= f.text_area :roledesc, cols: 52, rows: 3, placeholder: "Main character, a brilliant doctor..." %><br>
          <%= f.submit "Add Me to Movie" %>
        <% end %>
    <% end %>
    <% end %>
  </div> 

  <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12" style="margin-top:-20px">
      <% if @movie.moviepic.present? && @movie.moviepic != '' %>
        <%= image_tag(@movie.moviepic.url.to_s, :size => "600x200") %> 
      <% end %>
      <div class="password" >
        Directed by <%= @movie.director %> 
      </div> 
      <div class="blacktxt">
        <%= @movie.genre %>  
      </div>
      <div class="profilebox">  
        <% if @movie.about.present? %> 
          <br><%= simple_format @movie.about.gsub(/\r\n/, '<br>') %>
        <% end %><br><br>
      </div>

        <% if @movie.youtube1.present?  && @movie.youtube1 != '' %> 
          <% if @movie.youtube1.match(/[0-9A-Za-z]/) && @movie.youtube1.length < 20 && @movie.youtube1.length > 6 %>
            <iframe width="420" height="315" src="//www.youtube.com/embed/<%= @movie.youtube1 %>" frameborder="0" allowfullscreen></iframe>
          <% end %><br>
          <div class="profilebox" style="margin-left:15px">
            <% if @movie.videodesc1 %> 
              <br><%= simple_format @movie.videodesc1.gsub(/\r\n/, '<br>') %><br><br>
            <% end %><br><br>
          </div>
        <% end %>

      <% if @movie.youtube2.present?  && @movie.youtube2 != '' %> 
        <% if @movie.youtube2.match(/[0-9A-Za-z]/) && @movie.youtube2.length < 20 && @movie.youtube2.length > 6 %>
          <iframe width="420" height="315" src="//www.youtube.com/embed/<%= @movie.youtube2 %>" frameborder="0" allowfullscreen></iframe>
        <% end %><br>
      <% end %>
        <div class="profilebox" style="margin-left:col-xs-125px">
          <% if @movie.videodesc2.present? %> 
            <br><%= simple_format @movie.videodesc2.gsub(/\r\n/, '<br>') %><br><br>
          <% end %><br><br>
        </div>

      <% if @movie.youtube3.present?  && @movie.youtube3 != '' %> 
        <% if @movie.youtube3.match(/[0-9A-Za-z]/) && @movie.youtube3.length < 20 && @movie.youtube3.length > 6 %>
          <iframe width="420" height="315" src="//www.youtube.com/embed/<%= @movie.youtube3 %>" frameborder="0" allowfullscreen></iframe>
        <% end %><br>
      <% end %>
        <div class="profilebox" style="margin-left:col-xs-125px">
          <% if @movie.videodesc3.present? %> 
            <br><%= simple_format @movie.videodesc3.gsub(/\r\n/, '<br>') %><br><br>
          <% end %><br><br>
        </div>
  </div> 
</div> 

<br><br><br>
</div>
</div>
</div>
</div>
