<% @title=" add group bank account "  %>
<p class="flash"><%= flash.notice %></p>

<% if user_signed_in? %>
<% if @group.user_id == current_user.id %>
  <% if @group.stripeid.present? %>
<% if @group.stripeid.match(/acct/) %>
  <div class="col-md-8 " style="text-align:left">
    <div class="blacktxt" >
        This page is for adding a new bank account to your CrowdPublish.TV financial info. If you wish to edit your existing bank account information, do so on the <%= link_to "Manage Accounts", group_manageaccounts_path(@group.permalink) %> page.<br><br>
      <%= form_tag group_addbankacnt_path %>
        FILL OUT ALL FIELDS BELOW. This information is required before transfers can be made to your bank account:<br>
        <% if @countryoftax == "CA" %> 
          Businesses and residents with tax IDs in Canada may have their bank accounts located in either Canada or the US. Select the currency your bank account uses <%= select_tag :currency, options_for_select(["USD", "CAD"], prompt: true) %> <br>
          If your bank account currency is USD, select the country of your bank account: <%= select_tag :countryofbank, options_for_select(["US", "CA"], prompt: true), include_blank: true %><br>  
        <% elsif @countryoftax.match(/DK|NO|SE|FI/) %>
          Businesses and residents with tax IDs in Denmark, Norway, Sweden, and Finland may connect 
            <li>DKK bank accounts located in Denmark</li>
            <li>NOK bank accounts located in Norway</li>
            <li>SEK bank accounts located in Sweden</li>
            <li>GBP bank accounts located in Great Britain</li>
            <li>USD bank accounts located in the US</li> - or
            <li>EUR bank accounts located in AT, BE, CH, DE, DK, ES, FI, FR, GB, IE, IT, LU, NL, NO, or SE</li>
          Select the currency of your bank account: <%= select_tag :currency, options_for_select(["USD", "EUR", "DKK", "NOK", "SEK", "GBP"], prompt: true) %><br>
          If your bank account currency is EUR, select the country of your bank account: <%= select_tag :countryofbank, options_for_select(["AT", "BE", "CH", "DE", "DK", "ES", "FI", "FR", "GB", "IE", "IT", "LU", "NL", "NO", "SE"], prompt: true), include_blank: true %><br>
        <% elsif  @countryoftax.match(/AT|BE|DE|ES|FR|GB|IE|IT|LU|NL/) %>  
          Businesses and residents with tax IDs in Austria, Belgium, Germany, Spain, France, Great Britain, Ireland, Italy, Luxembourg, and the Netherlands may connect 
            <li>USD bank accounts located in the US</li>
            <li>GBP bank accounts located in Great Britain</li> - or
            <li>EUR bank accounts located in AT, BE, CH, DE, DK, ES, FI, FR, GB, IE, IT, LU, NL, NO, or SE</li>
          Select the currency of your bank account: <%= select_tag :currency, options_for_select(["USD", "GBP", "EUR"], prompt: true) %><br>
          If your bank account currency is EUR, select the country of your bank account: <%= select_tag :countryofbank, options_for_select(["AT", "BE", "CH", "DE", "DK", "ES", "FI", "FR", "GB", "IE", "IT", "LU", "NL", "NO", "SE"], prompt: true), include_blank: true %><br>
        <% end %> <br>
        <table>
          <tr><td>Bank account number: </td><td><%= text_field_tag :bankaccountnumber, '', :size => 30 %><br><br></td></tr>
          <tr><td>
          <% if @countryoftax.match(/US/) %> 
            ACH (not wire) 
          <% end %>
          Routing number for your bank: </td><td><%= text_field_tag :routingnumber, '', :size => 30 %><br><br></td></tr>
          <tr><td></td><td>You must also submit the business or personal address <%= @group.name %> uses for tax correspondence </td></tr>
          <tr><td>Street Address</td><td> <%= text_field_tag :line1, '', :size => 30 %>  Apt. or Suite <%= text_field_tag :line2, '', :size => 5 %></td></tr>
          <tr><td>City</td><td> <%= text_field_tag :city, '', :size => 30 %>
        <% if @countryoftax.match(/US|CA/) %> 
          State <%= text_field_tag :state, '', :size => 5 %> 
        <% end %>, <%= @countryoftax %> </td></tr><br>
          <tr><td>Zip Code</td><td> <%= text_field_tag :postal_code, '', :size => 30 %> </td></tr>
          <tr><td><br><br></td></tr>
          <tr><td>Employer tax ID Number (EIN)<br><br></td><td> <%= text_field_tag :ein, '', :size => 30, :placeholder => "12-3456789" %> <br><br></td></tr>
          <tr><td>Last 4 digits of Social Security Number (SSN) of person who has signature authority for this account</td><td> <%= text_field_tag :ssn, '', :size => 30, :placeholder => "4321" %> </td></tr>
        </table > <br>

      <center><%= submit_tag "Update Account" %> </center><br>

      <% if @countryoftax == "US" %> 
        Businesses and residents with tax IDs in the US must have their bank accounts located in the US, in USD.
      <% elsif @countryoftax == "AU" %> 
        Businesses and residents with tax IDs in Australia must have their bank accounts located in Australia, in AUD.
      <% end %>  
    </div><br><br><br>
  </div>
<% else %>
  To add a bank account you must first submit name, birthdate, country on the <%= link_to "Create Stripe Account", group_createstripeaccount_path(@group.permalink) %> page.
<% end %>
  <% end %>
<% end %>
<% end %>

<%# form_for @user, :url => { :action => "updatebankaccount" } do |f| #what if user changed email address - that ability is currently not enabled in edit profile %>
