<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container" >
<p class="flash"><%= flash.notice %></p>
  Profits from each entire month's CrowdPublish.TV sales will be deposited in Users' bank accounts on the 7th of the following month. <br><br>

<% if @group.user_id == current_user.id %> 
<% if @group.stripesignup.present? %>
  <div class="col-md-10 " style="text-align:left">
    <div class="blacktxt" >

      <div style='font-size:130%;'><b>Your sales<br></b></div>
      <div style='font-size:110%;'><b>Income each month<br></b></div>
      <table>
        <tr style='font-weight:bold;'><td><b>Month</td><td>Total Earned (USD)</b></td></tr>
        <% @incomeinfo.each do |item| %>
          <tr><td><%= item[:month] %></td><td style='text-align:right'> <%= number_with_precision(item[:monthtotal], :precision => 2) %></td></tr>
        <% end %>
      </table><br>
      
      <div style='font-size:110%;'><b>List of each sale<br></b></div>
      <table>
        <tr style='font-weight:bold;'><td>Author/Filmmaker</td><td>Item Sold</td><td>Organization's Cut</td><td>Sales Date</td></tr>
        <% @totalinfo.each do |item| %>
          <tr><td><i><%= item[:author] %> </i> </td><td><%= item[:itemsold] %></td><td style='text-align:right' > <%= number_with_precision(item[:groupcut], :precision => 2) %> </td><td> <%= item[:soldwhen] %></td></tr>
        <% end %>
      </table><br><br><br>
<% else %>
  You must sign up for a <%= link_to "Stripe Account", group_createstripeaccount_path(@group.permalink) %> to receive payments  
<% end %>
<% end %>
</div>
</div>
</div>
</div>
    