<div style="background-color:transparent;text-align:left;margin-left:auto;margin-right:auto;position:relative;width:850px;">

  <%= render 'form' %>

<div id="calendar" style="position:absolute; left:0px; top:310px; width:900px; height:757px;" align:"left">

<% if @group.user_id == current_user.id %>
  <%= link_to 'Delete Group', @group, method: :delete, data: { confirm: 'Are you sure?' } %>
<h1>Editing group</h1>

<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Group Name <br>
    <%= f.text_field :name, :size => 60 %>
  </div>
  <div class="field">
    Address or zip code of typical meeting place <br>
    <%= f.text_field :address, :size => 60 %>
  </div>
  <div class="field">
    About group: How often do you usually meet? What would people likely join your group for? <br>
    <%= f.text_area :about, :cols => 62, :rows => 5 %>
  </div>
  <div class="field">
      <p>Group type:
      <p><%= f.radio_button(:grouptype, 1) %>
      <%= label_tag(:grouptype_child, "Critique Group") %>
      <br><%= f.radio_button(:grouptype, 2) %>
      <%= label_tag(:grouptype_adult, "Book Club") %>
      <br><%= f.radio_button(:grouptype, 3) %>
      <%= label_tag(:grouptype_adult, "Writers Organization") %>
      <br><%= f.radio_button(:grouptype, 4) %>
      <%= label_tag(:grouptype_adult, "Informal Neighborhood Writer Gathering") %>
      <br><%= f.radio_button(:grouptype, 5) %>
      <%= label_tag(:grouptype_adult, "Library") %>
      <br><%= f.radio_button(:grouptype, 6) %>
      <%= label_tag(:grouptype_adult, "Book Store") %>
      <br><%= f.radio_button(:grouptype, 7) %>
      <%= label_tag(:grouptype_adult, "Other") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @group %> |
 
<% end %>

<%= link_to 'Back', groups_path %>
</div>
</div>