<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>CrowdPublish.TV <%  @group.name %> 's calendar</title>
<meta name="description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!"/>
<meta property="og:title" content="CrowdPublishTV - The Future of Empowerment is Your Story" />
<meta property="og:url" content="http://CrowdPublish.TV" />
<meta property="og:image" content="http://crowdpublish.tv/images/crowdpublishLogo.png" />
<meta property="og:description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!" />
</head>

<div class="row" >
  <div class="col-md-7 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12 " style= "text-align:left" >
      <% if @events.count != 0 %> 
          <table >
          <tr>
          <th>Event </th>
          <th>When</th>
          <th>Where</th>
          <th> <% if @group.user_id == current_user.id %>
                 Delete from <%= @group.name %> calendar?
               <% end %>  </th>
          </tr>

        <% @events.sort_by{|t| t.start_at}.each do |event| %>
          <% if event.start_at.to_i >= Time.now.to_i - 18000  %>
            <tr>
            <td ><%= link_to event.name, event %><br><br></td>
            <td ><%= event.start_at.strftime("%A %B %d, %Y at %I:%M %p")  %><br><br></td>
            <td><%= event.address %><br><br></td>
            <td>
            <%= form_for(event) do |f| %>
              <% if event.group1id == @group.id %>
                <%= f.hidden_field :group1id, :value => 0 %>
              <% elsif event.group2id == @group.id %>
                <%= f.hidden_field :group2id, :value => 0 %>
              <% elsif event.group3id == @group.id %>
                <%= f.hidden_field :group3id, :value => 0 %>
              <% end %>
              <% if @group.user_id == current_user.id %>
                <%= f.submit "Delete Event" %> 
              <% end %>  
            <% end %>
            <br><br></td>
          </tr>
          <% end %>
        <% end %>
          </table>
      <% else %>  
        <%= @group.name %> doesn't have any upcoming events

      <% end %>
  </div>
</div>  