<div style="background-color:transparent;text-align:left;margin-left:auto;margin-right:auto;position:relative;width:850px;">
<%= render 'form' %>

<div id="groups" style="position:absolute; left:0px; top:300px; width:900px; height:757px;" >
  <%= form_tag groups_path, :method => :get do %>
      <table >
      <tr>
        <th>Address</th>
        <th>Distance (miles)</th>
        <th></th>
      </tr>
      <tr>
        <td><%= text_field_tag :search, params[:search] %></td>
        <td><%= text_field_tag :dist, params[:dist] %></td>
        <td><%= submit_tag "Search Near", :name => nil %></td>
      </tr>
    </table>  
  <% end %>

<h1>Listing groups</h1>

<%= link_to 'Create a New Writers Group ', new_group_path %> in Your Community!<br><br>
Need to change your location? <%= link_to 'Edit zip code or address', user_profileinfo_path(current_user.permalink) %> <br><br>

<% if @groups.count != 0 %>
  <table>
  <thead>
    <tr>
      <th>Group Name</th>
      <th>Address</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= group.address %></td>
        <td><%= group.type %></td>
        <td>
          <% if group.user_id == current_user.id %>
            <%= link_to 'Edit Group', edit_group_path(group.id) %> 
          <% end %>
        </td>  
      </tr>
    <% end %>
  </tbody>
  </table>
<% else %>
  *** No groups near you yet ***
<% end %>  

</div>
</div>