<div id="groups" style="position:absolute; " >

  <h4>Earn $ for your Favorite Organization by supporting a Campaign through the organization's page  </h4>
  <% if user_signed_in? %>
      Are you an officer of an organization? <%= button_to "Add Your Organization", new_group_path, style: "font-size:20px", method: :get %><br><br>
    <% if current_user.groups.any? %>
      <%= link_to "Partner Your Organization with an Actor", userswithmerch_path %> <br><br>
    <% end %> 
  <% end %> 

  <% if @groups.count != 0 %>
    <% @groups.each do |group| %>

      <div class="col-md-4 col-sm-6 col-xs-12" > 
        <div class= "groupimage" style="vertical-align:center; horizontal-align:center; height:190px; width:300px; right-margin:50px; overflow:hidden" >
          <% if group.grouppic.present? && group.grouppic != '' %>
            <% groupthumb = group.grouppic.url.to_s %>
          <% else %>
            <% groupthumb = "crowddark.png" %>
          <% end %>

          <%= link_to (image_tag groupthumb, :style => "opacity:0.5; filter:alpha(opacity=50); max-height:150px"), group_path(group.id) 
          %>

          <grouptext>
          <div style="font-size:22px"><%= link_to group.name, group, :style => "font" %></div>
            <%= group.grouptype %><br>
              <% if user_signed_in? %>
                <% if group.user_id == current_user.id %>
                  <%= link_to 'Edit', edit_group_path(group.id) %> 
                <% end %>
              <% end %></grouptext>
        </div>
      </div>
    <% end %> 
  <% else %>
    *** No groups near you yet ***
  <% end %>  
</div>
