<div id="groups" style="position:absolute; " >
  <%= form_tag groups_path, :method => :get do %>
    <table >
      <tr>
        <th>Address</th>
        <th>Distance (miles)</th>
        <th></th>
        <th> Find in-person groups in your Local area </th>
      </tr>
      <tr>
        <td><%= text_field_tag :search, params[:search] %></td>
        <td><%= text_field_tag :dist, params[:dist] %></td>
        <td><%= submit_tag "Search Near", :name => nil %></td>
        </tr>
    </table>  
  <% end %>

  <h2>Groups On CrowdPublish.TV</h2>

  <%= link_to 'Create a New Group ', new_group_path %> in Your Community!<br><br>

  <% if @groups.count != 0 %>
    <% @groups.each do |group| %>

      <div class="col-md-4 col-sm-6 col-xs-12" > 
        <div class= "groupimage" style="vertical-align:center; horizontal-align:center; height:190px; width:300px; right-margin:50px; overflow:hidden" >
          <% if group.grouppic.present? && group.grouppic != '' %>
            <% groupthumb = group.grouppic %>
          <% else %>
            <% groupthumb = "crowddark.png" %>
          <% end %>

          <%= link_to (image_tag groupthumb, :style => "opacity:0.5; filter:alpha(opacity=50); max-height:150px"), group_path(group.id) 
          %>

          <grouptext>
          <div style="font-size:22px"><%= link_to group.name, group, :style => "font" %></div>
            <% if group.grouptype == 1 %> Critique Group 
              <% elsif group.grouptype == 2 %> Book Club
              <% elsif group.grouptype == 3 %> Writers Organization
              <% elsif group.grouptype == 4 %> Informal Neighborhood Writer Gathering
              <% elsif group.grouptype == 5 %> Library
              <% elsif group.grouptype == 6 %> Book Store
              <% end %>
          <br><%= group.address %>
              <% if user_signed_in? %>
                <% if group.user_id == current_user.id %>
                  <%= link_to 'Edit', edit_group_path(group.id) %> 
                <% end %>
              <% end %></grouptext>
        </div>
      </div>
    <% end %> 
  <% else %>
    *** No groups near you yet ***
  <% end %>  
</div>
