<% @title=" manage group account "  %>
<p class="flash"><%= flash.notice %></p>
  Profits from each entire month's CrowdPublish.TV sales will be deposited in Users' bank accounts on the 7th of the following month. <br><br>

<% if user_signed_in? %>
<% if @group.user_id == current_user.id %>
  <% if @group.stripeid.present? %>
<% if @group.stripeid.match(/acct/) %>
  <div class="col-md-8 " style="text-align:left">
    <div class="blacktxt" >

      <%= form_tag group_updatestripeacnt_path %>
        Businesses and residents with tax IDs in 
        <% if @countryoftax == "US" %> 
          the US must have their bank accounts located in the US, in USD.
        <% elsif @countryoftax == "AU" %> 
          Australia must have their bank accounts located in Australia, in AUD.
        <% elsif @countryoftax == "CA" %>  
          Canada may have their bank accounts located in either Canada or the US. Select the currency your bank account uses <%= select_tag :currency, options_for_select(["USD", "CAD"], prompt: true) %> <br>
          If your bank account is in USD, select the country of your bank account: <%= select_tag :countryofbank, options_for_select(["US", "CA"], prompt: true), include_blank: true %><br>  
        <% elsif @countryoftax.match(/DK|NO|SE|FI/) %>
          Denmark, Norway, Sweden, and Finland may connect 
            <li>DKK bank accounts located in Denmark</li>
            <li>NOK bank accounts located in Norway</li>
            <li>SEK bank accounts located in Sweden</li>
            <li>GBP bank accounts located in Great Britain</li>
            <li>USD bank accounts located in the US</li> - or
            <li>EUR bank accounts located in AT, BE, CH, DE, DK, ES, FI, FR, GB, IE, IT, LU, NL, NO, or SE</li>
          Select the currency of your bank account: <%= select_tag :currency, options_for_select(["USD", "EUR", "DKK", "NOK", "SEK", "GBP"], prompt: true) %><br>
          If your bank account is in EUR, select the country of your bank account: <%= select_tag :countryofbank, options_for_select(["AT", "BE", "CH", "DE", "DK", "ES", "FI", "FR", "GB", "IE", "IT", "LU", "NL", "NO", "SE"], prompt: true), include_blank: true %><br>
        <% elsif  @countryoftax.match(/AT|BE|DE|ES|FR|GB|IE|IT|LU|NL/) %>  
          Austria, Belgium, Germany, Spain, France, Great Britain, Ireland, Italy, Luxembourg, and the Netherlands may connect 
            <li>USD bank accounts located in the US</li>
            <li>GBP bank accounts located in Great Britain</li> - or
            <li>EUR bank accounts located in AT, BE, CH, DE, DK, ES, FI, FR, GB, IE, IT, LU, NL, NO, or SE</li>
          Select the currency of your bank account: <%= select_tag :currency, options_for_select(["USD", "GBP", "EUR"], prompt: true) %><br>
          If your bank account is in EUR, select the country of your bank account: <%= select_tag :countryofbank, options_for_select(["AT", "BE", "CH", "DE", "DK", "ES", "FI", "FR", "GB", "IE", "IT", "LU", "NL", "NO", "SE"], prompt: true), include_blank: true %><br>
        <% end %> <br> <br>
        Bank account numbers, routing numbers, EIN, and SSN cannot be edited for bank accounts that have already been approved. If you need to add a new bank account, add the new account's information on the <%= link_to "Add Bank Account", group_addbankaccount_path(@group.permalink) %> page. <br><br>
        <table>
          <tr><td></td><td>Address you use for tax correspondence </td></tr>
          <tr><td>Street Address</td><td> <%= text_field_tag :line1, '', :size => 30, :placeholder => @streetaddress %> 
            Apt. or Suite <%= text_field_tag :line2, '', :size => 5 %></td></tr>
          <tr><td>City</td><td> <%= text_field_tag :city, '', :size => 30 %> <br>
          <% if @countryoftax.match(/US|CA/) %> 
            <tr><td>State</td><td> <%= text_field_tag :state, '', :size => 5 %> <br>
          <% end %>  
          <tr><td>Zip Code</td><td> <%= text_field_tag :zip, '', :size => 30 %> <br><br></td></tr>
          <tr><td>email</td><td> <%= text_field_tag :email, '', :size => 30 %> </td></tr>
        </table > <br>

        <center><%= submit_tag "Update Account" %> </center><br>
        <% if @fieldsneeded.present? %>  
          Payments cannot be received until you submit: <br>
          <% @fieldsneeded.each do |x| %>
            <%= x.split('.')[-1] %>   <br>
          <% end %> <br> 
          If you do not see a way to fix the missing information here, you will need to make corrections on the <%= link_to "Correct Errors", group_correcterrors_path(@group.permalink) %> page. 
        <% end %>  

        <br>
    </div>
  </div>
<% else %>
  To manage account data you must first add a bank account on the <%= link_to "Add Bank Account", group_addbankaccount_path(@group.permalink) %> page.
<% end %>
  <% else %>
    To manage account data you must first add a bank account on the <%= link_to "Add Bank Account", group_addbankaccount_path(@group.permalink) %> page.
  <% end %>
<% end %>
<% end %>
