<div class="row" >
  <div class="col-md-7 col-sm-offset-2 col-sm-8 col-sm-offset-1 col-xs-12 " style= "text-align:left" >

<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    Group Name <br>
    <%= f.text_field :name, :size => 80 %>
  </div>
  <div class="field">
    Group page URL ending (http://www.CrowdPublish.TV/yourgroupurl) - numbers and letters ONLY <br />
    <%= f.text_field :permalink, :size => 80, placeholder:  "YourGroupURL"  %>  <p> 
  </div>

  <div class="field">
    Address or zip code of typical meeting place <br>
    <%= f.text_field :address, :size => 80 %>
  </div>
  <div class="field">
    About group: How often do you usually meet? What would people likely join your group for? How can people find you?<br>
    <%= f.text_area :about, :cols => 82, :rows => 7 %>
  </div>
  <div class="field">
      <p>Group type:
      <p><%= f.radio_button(:grouptype, 1) %>
      <%= label_tag(:grouptype_child, "Critique Group") %>
      <br><%= f.radio_button(:grouptype, 2) %>
      <%= label_tag(:grouptype_adult, "Book Club") %>
      <br><%= f.radio_button(:grouptype, 3) %>
      <%= label_tag(:grouptype_adult, "Writers Organization") %>
      <br><%= f.radio_button(:grouptype, 4) %>
      <%= label_tag(:grouptype_adult, "Informal Neighborhood Writer Gathering") %>
      <br><%= f.radio_button(:grouptype, 5) %>
      <%= label_tag(:grouptype_adult, "Library") %>
      <br><%= f.radio_button(:grouptype, 6) %>
      <%= label_tag(:grouptype_adult, "Book Store") %>
      <br><%= f.radio_button(:grouptype, 7) %>
      <%= label_tag(:grouptype_adult, "Other") %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
</div>
