<div class="row" >
  <div class="col-md-7 col-sm-offset-2 col-sm-8 col-sm-offset-1 col-xs-12 " style= "text-align:left" >

<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <b>Group Name </b><br>
    <%= f.text_field :name, :size => 80, placeholder: "The Best Booklovers Ever" %>
  </div>
  <div class="field">
    <b>URL ending</b> - numbers and letters ONLY. <br />
    www.CrowdPublish.TV/groups/<%= f.text_field :permalink, :size => 50, placeholder:  "YourGroupURLEnding" %>  <p>
  </div>

  <div class="field">
    <b>Address</b> or zip code of typical meeting place <br>
    <i>NOTE: Potential members will be searching for your group by distance, thus you are advised to enter a zip code or City, State in your address</i><br>
    <%= f.text_field :address, :size => 80, placeholder: "Washington, DC, 20016" %>
  </div>
  <div class="field">
    <b>About group </b><br>
      How often do you usually meet? What would people likely join your group for? How can people find you?<br>
    <%= f.text_area :about, :cols => 82, :rows => 7 %>
  </div>
  <div class="field">
      <p>Group type:
      <p><%= f.radio_button(:grouptype, 1) %>
      <%= label_tag(:grouptype_child, "Critique Group") %>
      <br><%= f.radio_button(:grouptype, 2) %>
      <%= label_tag(:grouptype_adult, "Book Club") %>
      <br><%= f.radio_button(:grouptype, 3) %>
      <%= label_tag(:grouptype_adult, "Writers Organization") %>
      <br><%= f.radio_button(:grouptype, 4) %>
      <%= label_tag(:grouptype_adult, "Informal Neighborhood Writer Gathering") %>
      <br><%= f.radio_button(:grouptype, 5) %>
      <%= label_tag(:grouptype_adult, "Library") %>
      <br><%= f.radio_button(:grouptype, 6) %>
      <%= label_tag(:grouptype_adult, "Book Store") %>
      <br><%= f.radio_button(:grouptype, 7) %>
      <%= label_tag(:grouptype_adult, "Other") %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
</div>
