<div class="row" >
  <div class="col-md-7 col-sm-offset-2 col-sm-8 col-sm-offset-1 col-xs-12 " style= "text-align:left" >

<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Use CrowdPublish.TV as your Organization fundraiser! Partner with the storytellers on CrowdPublish.TV and earn 5% of the proceeds you refer to their projects.</h3><br>

You will be able to edit this info later.<br><br>
  <div class="field">
    <b>Organization Name </b><br>
    <%= f.text_field :name, :size => 80, placeholder: "CrowdPublish Book Club" %>
  </div><br>
  <div class="field">
    <b>URL ending</b> for your organization's page - numbers and letters ONLY. <br />
    http://www.CrowdPublish.TV/<%= f.text_field :permalink, :size => 30, placeholder:  "YourGroupURL"  %>  
  </div><br>

  <div class="field">
    <b>Address</b> or zip code of typical meeting place <br>
    <i>NOTE: Potential members might search for you by distance, thus you are advised to enter a zip code or City, State in your address</i><br>
    <%= f.text_field :address, :size => 80, placeholder: "Phoenix, AZ, 85018" %>
  </div><br>
  <div class="field">
    <b>About Organization </b><br>
    <%= f.text_area :about, :cols => 82, :rows => 7, placeholder: "How often do you usually meet? What would people likely join your group for? How can people find you?" %>
  </div><br>
  <div class="field">
    <b>Get More Involvement</b> This is a call to action that will appear on your main page when your organization is supporting an active project. What would you like to ask them to do? Be specific. e.g. Come to your gatherings. Join your cause. Volunteer at events. Support your sponsored projects. <br>
    <%= f.text_area :callaction, :cols => 82, :rows => 5, placeholder: "Please support our projects by clicking on the button above." %>
  </div><br>
  <div class="field">
      <b>Organization's primary purpose for engaging with CrowdPublish.TV members:</b>
      <p><%= f.radio_button(:grouptype, "Project Supporter") %>
      <%= label_tag(:grouptype_child, "Project Supporter") %>
      <br><%= f.radio_button(:grouptype, "Book Club") %>
      <%= label_tag(:grouptype_adult, "Book Club") %>
      <br><%= f.radio_button(:grouptype, "Writers Organization") %>
      <%= label_tag(:grouptype_adult, "Writers Organization") %>
      <br><%= f.radio_button(:grouptype, "Informal Neighborhood Writer & Reader Gathering") %>
      <%= label_tag(:grouptype_adult, "Informal Neighborhood Writer & Reader Gathering") %>
      <br><%= f.radio_button(:grouptype, "Critique Group") %>
      <%= label_tag(:grouptype_adult, "Critique Group") %>
      <br><%= f.radio_button(:grouptype, "Other") %>
      <%= label_tag(:grouptype_adult, "Other") %>
  </div>
  <br><b>Twitter</b> handle (don't include the '@' symbol nor the entire url) <br> 
  <div class="blacktxt" style="vertical-align: text-top">
        <b>@</b> <%= f.text_area :twitter, :cols => 37, :rows => 1, placeholder: "twitterhandle" %>
  </div><br>
  <div class="field">
    Upload a banner picture that represents your organization (.jpg, .gif, .jpeg, or .png) - <i>750x150px works best</i>
    <br><%= f.file_field :grouppic %> 
  </div><br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br><br>
</div>
</div>
