<div class="row" >
  <div class="col-md-7 col-md-offset-1 col-sm-7 col-xs-7 " style= "text-align:left"  >

<p id="notice"><%= notice %></p>

<p>
  <h2><%= @group.name %></h2>
</p>

Projects we support: <br>
      <table>
        <tr style='font-weight:bold;'><td><b>Project</td><td>Creator</b></td><td></td></tr>
        <% @currprojects.each do |proj| %>
          <tr><td style='font-weight:bold;'><%= proj[:projtitle] %></td><td> <%= proj[:authorname] %></td><td><%= button_to(name = "Support " + proj[:projtitle], users_path ) %></td></tr>
          <tr><td><%= proj[:fiftychar] %><br><br></td></tr>
        <% end %>
      </table><br>

<p>
  <% if @group.grouptype == 1 %> Critique Group 
  <% elsif @group.grouptype == 2 %> Book Club
  <% elsif @group.grouptype == 3 %> Writers Organization
  <% elsif @group.grouptype == 4 %> Informal Neighborhood Writer Gathering
  <% elsif @group.grouptype == 5 %> Library
  <% elsif @group.grouptype == 6 %> Book Store
  <% else @group.grouptype == 7 %> 
  <% end %></p>
<p>
  <strong>Usual meeting place or neighborhood:</strong>
  <%= @group.address %>
</p>

<p>
  <strong>Group Host:</strong>
  <%= link_to @user.name, user_profile_path(@user.permalink) %>
</p>
  
<p>
  <strong>About:</strong>
  <% if @group.about %> 
    <%= simple_format @group.about.gsub(/\n/, '<br>') %>
  <% end %>
</p>

  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=12&markers=#{@group.latitude}%2C#{@group.longitude}" %><br><br>

Campaigns we have supported in the past:<br>



  </div>
</div>