<div class="row" >
  <div class="col-md-8 col-sm-offset-2 col-sm-9 col-sm-offset-1 col-xs-12 " style= "text-align:left" >

<p id="notice"><%= notice %></p>

  <% if @group.user_id == current_user.id %>
    <%= link_to 'Edit', edit_group_path(@group) %> |
  <% end %><br><br>

<p>
  <strong><%= @group.name %></strong>
</p>
<p>
  <% if @group.grouptype == 1 %> Critique Group 
  <% elsif @group.grouptype == 2 %> Book Club
  <% elsif @group.grouptype == 3 %> Writers Organization
  <% elsif @group.grouptype == 4 %> Informal Neighborhood Writer Gathering
  <% elsif @group.grouptype == 5 %> Library
  <% elsif @group.grouptype == 6 %> Book Store
  <% else @group.grouptype == 7 %> Other
  <% end %></p>
<p>
  <strong>Usual meeting place or neighborhood:</strong>
  <%= @group.address %>
</p>

<p>
  <strong>Group Host:</strong>
  <%= link_to @user.name, user_profile_path(@user.permalink) %>
</p>
  
<p>
  <strong>About:</strong>
  <%= simple_format @group.about.gsub(/\n/, '<br>') %>
</p>

  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=12&markers=#{@group.latitude}%2C#{@group.longitude}" %>

  </div>
</div>