<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container  col-md-12" style="margin-top:-40px">
    
<% if @group.grouppic.present? && @group.grouppic != '' %>
  <%= image_tag @group.grouppic.url.to_s %>
<% end %>
  <p id="notice"><%= notice %></p>

  <br><h2>Authors and actors we're partnering with: </h2>


When we start implementing groups, This all needs to change to reflect groups partnering with actors/authors instead of campaigns

  <div class="support" ><br>
    <% if @currphases.present? %>  
      <% if @currphases.count == 1 %> 
        Help us earn funds by becoming a Patron of this project.
      <% else %>
        Help us earn funds by becoming a Patron of one of these projects.
      <% end %><br>
    <% end %>
  </div>

  <div class="support" style="text-align:left" >
    <% if @group.callaction.present? %> 
      <%= simple_format @group.callaction.gsub(/\n/, '<br>') %>
    <% end %><br>
  </div>

  <% if @pastphases.present? %>
    <h4>CrowdPublish.TV phases we've partnered with in the past:</h4>
    <table>
      <% @pastphases.each do |proj| %>
        <tr><td><%= link_to (image_tag proj[:pic], :size => "75x75"), user_profile_path(proj[:authorlink]) %></td>
          <td style='font-weight:bold;'><%= link_to proj[:projtitle], phase_path(proj[:permalink]) %></td>
          <td> <%= proj[:authorname] %></td><td><%= button_to(name = "Support " + proj[:authorname], user_profile_path(proj[:authorlink]), method: "get" ) %></td></tr> 
        <tr><td><%= truncate(proj[:desc], :length => 200, :separator => ' ') %><br><br></td></tr>
      <% end %>
    </table><br>
  <% end %>
</div>  

<br><br>
</div>
</div>
</div>
</div>
