<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container  col-md-12" style="margin-top:-40px">
    
<% if @group.grouppic.present? && @group.grouppic != '' %>
  <%= image_tag @group.grouppic %>
<% end %>
  <p id="notice"><%= notice %></p>

  <br><h2>Project phases we're partnering with: </h2>
  <% if @currphases.present? %>  
    <table >
      <% @currphases.each do |proj| %>
        <% if proj[:pic].present? && proj[:pic] != '' %>
          <tr><td><%= link_to (image_tag proj[:pic], :size => "75x75"), phase_path(proj[:permalink], :groupid => @group.id) %></td>
        <% else %>
          <tr><td><%= link_to (image_tag "crowddark.png", :size => "75x75"), phase_path(proj[:permalink], :groupid => @group.id) %></td>
        <% end %>
        <td style= 'font-weight:bold; font-size:22px'><%= link_to proj[:projtitle], phase_path(proj[:permalink], :groupid => @group.id), style: "color:#ddbbff" %></td>
        <td style='font-size:22px;'> <%= proj[:authorname] %></td><td><%= link_to(name = "Become a Patron", phase_path(proj[:permalink], :groupid => @group.id)) %><br> <%= link_to(name = "& get Sneak Preview access!", phase_path(proj[:permalink], :groupid => @group.id)) %></td></tr> 
        <% "Instead of projpath, this should route to purchases_new(group_id, curruser, merch_id). Of what merch? A default for each proj? " %>
        <tr><td></td><td><%= truncate(proj[:desc], :length => 200, :separator => ' ') %></td></tr>
      <% end %>
    </table>
  <% else %>
    We are not partnering with any phases at this time. 
    <% if @pastphases.present? %>
      Become a patron of our past authors and filmmakers by selecting a project phase below.
    <% end %>
  <% end %>  <br><br>

  <div class="support" ><br>
    <% if @currphases.present? %>  
      <% if @currphases.count == 1 %> 
        Help us earn funds by becoming a Patron of this project.
      <% else %>
        Help us earn funds by becoming a Patron of one of these projects.
      <% end %><br>
    <% end %>
  </div>

  <div class="support" style="text-align:left" >
    <% if @group.callaction.present? %> 
      <%= simple_format @group.callaction.gsub(/\n/, '<br>') %>
    <% end %><br>
  </div>

  <% if @pastphases.present? %>
    <h4>CrowdPublish.TV phases we've partnered with in the past:</h4>
    <table>
      <% @pastphases.each do |proj| %>
        <tr><td><%= link_to (image_tag proj[:pic], :size => "75x75"), user_profile_path(proj[:authorlink]) %></td>
          <td style='font-weight:bold;'><%= link_to proj[:projtitle], phase_path(proj[:permalink]) %></td>
          <td> <%= proj[:authorname] %></td><td><%= button_to(name = "Support " + proj[:authorname], user_profile_path(proj[:authorlink]), method: "get" ) %></td></tr> 
        <tr><td><%= truncate(proj[:desc], :length => 200, :separator => ' ') %><br><br></td></tr>
      <% end %>
    </table><br>
  <% end %>
</div>  

<br><br>
</div>
</div>
</div>
</div>
