<div class="row" >
  <div class="col-md-7 col-md-offset-1 col-sm-7 col-xs-7 " style= "text-align:left"  >

<p id="notice"><%= notice %></p>

<p>
  <h2><%= @group.name %></h2>
</p>
<p>
  <% if @group.grouptype == 1 %> Critique Group 
  <% elsif @group.grouptype == 2 %> Book Club
  <% elsif @group.grouptype == 3 %> Writers Organization
  <% elsif @group.grouptype == 4 %> Informal Neighborhood Writer Gathering
  <% elsif @group.grouptype == 5 %> Library
  <% elsif @group.grouptype == 6 %> Book Store
  <% else @group.grouptype == 7 %> Other
  <% end %></p>
<p>
  <strong>Usual meeting place or neighborhood:</strong>
  <%= @group.address %>
</p>

<p>
  <strong>Group Host:</strong>
  <%= link_to @user.name, user_profile_path(@user.permalink) %>
</p>
  
<p>
  <strong>About:</strong>
  <%= simple_format @group.about.gsub(/\n/, '<br>') %>
</p>

  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=12&markers=#{@group.latitude}%2C#{@group.longitude}" %>

  </div>
</div>