<title> CrowdPublish.TV - <%= @user.name %>'s site</title>
<% @descname = @user.name.gsub(/ +/, '-')
if @user.genre1 ; @genreone = @user.genre1.gsub(/ +/, '-') else @genreone = "_"  end
if @user.genre2 ; @genretwo = "," + @user.genre2.gsub(/ +/, '-') else @genretwo = "_" end
if @user.genre3 ; @genrethree = "," + @user.genre3.gsub(/ +/, '-') else @genrethree = "_" end %>

<% content_for :forusers do %>
  <meta name="description" content= <%= "Read_about_author_" + @descname + "'s_books:" + @genreone + @genretwo + @genrethree %> />
<% end %>


<header class="navbar navbar-fixed-top navbar-userpage">
  <div class="nav navbar-inner">
        <ul class="nav pull-left">
              <li><%= link_to @user.name + " Books ", user_booklist_path(@user.permalink) %>
              <li><%= link_to " Blog ", user_blog_path(@user.permalink) %>
              <li><%= link_to " Live Events ", user_profile_path(@user.permalink) %>
              <li><%= link_to " CrowdPublishTV Home ", root_path(@user.permalink) %>
        </ul>

        <ul class="nav pull-right">
              <% if user_signed_in? %>
                <li><%= link_to "#{current_user.name}", user_profile_path(current_user.permalink) %> 
                <li><%= link_to " Sign out ", destroy_user_session_path, :method => :delete %>
              <% else %>
                <li><%= link_to 'SIGN UP!', "/signup" %> 
                <li><%= link_to "Sign in", new_user_session_path %> 
              <% end %>
        </ul>
  </div>
</header>

<div class="row">
  <div class="col-md-2" >
    <% if @user.profilepic.present? && @user.profilepic != '' %>
      <%= image_tag @user.profilepic, :size => "150x150" %>
    <% elsif @user.profilepicurl %>
      <% if @user.profilepicurl.match(/http/) %>
        <%= image_tag @user.profilepicurl, :size => "150x150" %><br >
      <% else %>
        <%= image_tag "whiteBk.jpg", :size => "150x150" %>
      <% end %>
    <% else %>
      <%= image_tag "whiteBk.jpg", :size => "150x150" %>
    <% end %>
  </div>

  <div class="col-md-2" >
    <div class="username" >
      <%= @user.name %>
    <div class="usergenre" >
      <%= @user.genre1 %><br><%= @user.genre2 %><br><%= @user.genre3 %>
    </div>
    </div>
  </div>
</div>

  <div class="col-md-2" >
    <% if @user == current_user %>
      <table><tr><td>
      <%= button_to "Edit Profile", user_profileinfo_path(@user.permalink), :method=> :get %> </td>
      <td><%= button_to "Edit Books", user_edit_path(@user.permalink), :method=> :get %>
      </td></tr></table> 
    <% end %> 
  </div>
