
<!-- Nav tabs -->
	<ul class="nav nav-pills nav-justified" id="dashboardTabs">
    <li role="presentation" class="active"><%= link_to  "Profile", "#profileTab", "data-toggle" => "tab" %></li>
    <li role="presentation"><%= link_to "Perks", "#perksTab", "data-toggle" => "tab" %></li>
    <li role="presentation"><%= link_to "Streaming", "#streamingTab", "data-toggle" => "tab" %></li>
    <li role="presentation"><%= link_to "Account", "#accountTab", "data-toggle" => "tab" %></li>
    <li role="presentation"><%= link_to "Sales", "#salesTab", "data-toggle" => "tab" %></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="profileTab">
		<div class="container-fluid">
			<!--Make a button to see "view" mode of profile -->
			<!--Make the edit account into a partial instead of render :file -->
			<%= render :file => 'users/profileinfo' %>
		</div>
    </div>
    <div class="tab-pane" id="perksTab">
		<div class="container-fluid">
			<!--%= render 'layouts/stripealert' %-->
			<%= render 'layouts/userPerks' %>
			<!-- find a way to make merchandises/new a partial? -->
			<!-- render :file => 'merchandises/new' %-->
		</div>
    </div>
    <div class="tab-pane" id="streamingTab">
		<div class="container-fluid">
        	<%= render 'layouts/jitsi' %>
		</div>
    </div>
    <div class="tab-pane" id="accountTab">
		<div class="container-fluid">
			<!-- seperate the Account div from the rest of the form -->
			<%= render :file => 'users/accountinfo' %>
		</div>
    </div>
    <div class="tab-pane" id="salesTab">
		<div class="container-fluid">
        <%= render :file => 'users/dashboard' %>
    </div>
</div>