<title> CrowdPublish.TV - <%= @user.name %>'s site</title>
<% @descname = @user.name.gsub(/ +/, '-')
if @user.genre1 ; @genreone = @user.genre1.gsub(/ +/, '-') else @genreone = "_"  end
if @user.genre2 ; @genretwo = "," + @user.genre2.gsub(/ +/, '-') else @genretwo = "_" end
if @user.genre3 ; @genrethree = "," + @user.genre3.gsub(/ +/, '-') else @genrethree = "_" end %>

<% content_for :forusers do %>
  <meta name="description" content= <%= "The_" + @descname + "'s_reading&meeting_website:" + @genreone + @genretwo + @genrethree %> />
<% end %>

<div style="position:absolute; left:0px; top:0px">
    <%= image_tag "purpleBar.png", :size => "1010x35" %>
</div>

<div id="pic" style="position:absolute; left:0px; top:35px;">
  <% if @user.profilepic.present? && @user.profilepic != '' %>
    <%= image_tag @user.profilepic, :size => "150x150" %>
  <% elsif @user.profilepicurl %>
    <% if @user.profilepicurl.match(/http/) %>
      <%= image_tag @user.profilepicurl, :size => "150x150" %><br >
    <% else %>
      <%= image_tag "whiteBk.jpg", :size => "150x150" %>
    <% end %>
  <% else %>
    <%= image_tag "whiteBk.jpg", :size => "150x150" %>
  <% end %>
</div>

<div id="name" style="position:absolute; left:170px; top:35px; width:220px">
  <h2><%= @user.name %></h2>
<%= @user.genre1 %><br><%= @user.genre2 %><br><%= @user.genre3 %>
</div>

<div class="usermenu" style="position:absolute; left:10px; top:7px; width:728px; height:53px;">
<%= link_to " Blog ", user_blog_path(@user.permalink), :style => 'color:#FFFFFF' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to " About " + @user.name, user_profile_path(@user.permalink), :style => 'color:#FFFFFF' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to " CrowdPublishTV Home ", root_path(@user.permalink), :style => 'color:#FFFFFF' %>
</div>
<div class="usermenu" style="position:absolute; left:750px; top:7px; ">
  <% if user_signed_in? %>
    <%= link_to "#{current_user.name}", current_user, :style => 'color:#FFFFFF'  %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to " Sign out ", destroy_user_session_path, :method => :delete, :style => 'color:#FFFFFF'%>
  <% else %>
    <%= link_to 'SIGN UP!', "/signup", :style => 'color:#FFFFFF' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    <%= link_to "Sign in", new_user_session_path, :style => 'color:#FFFFFF'%> 
  <% end %>
</div>

<div id="edit buttons" style="position:absolute; left:0px; top:170px;">
  <% if @user == current_user %>
    <table><tr><td>
    <%= button_to "Edit Profile", user_orgprofileinfo_path(@user.permalink), :method=> :get %> </td>
    </tr></table> 
  <% end %> 
</div>
