<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>CrowdPublish.TV <%  @user.name %> 's blog</title>
<meta name="description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!"/>
<meta property="og:title" content="CrowdPublishTV - The Future of Empowerment is Your Story" />
<meta property="og:url" content="http://CrowdPublish.TV" />
<meta property="og:image" content="http://crowdpublish.tv/images/crowdpublishLogo.png" />
<meta property="og:description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!" />
</head>

<% if @user.author == 2 %>
  <%= render 'authorform' %>
  <%= render 'authorsidebar' %>
<% elsif @user.author == 3 %>
  <%= render 'orgform' %>
<% elsif %>
  <%= render 'readerform' %>
<% end %>

  <div id="edit buttons" style="position:absolute; overflow:hidden; left:0px; top:170px; z-index:3">
  <% if @user == current_user %>
    <table><tr><td>
    <%= button_to "Edit Profile", profileinfo_user_path(current_user), :method=> :get %> </td>
    <td><%= button_to "Edit Books", edit_user_path(current_user), :method=> :get %></td></tr></table> 
  <% end %> 
  </div>

<div id="blog" style="position:absolute; left:400px; top:60px; ">

<% if @user.blogurl %>
  <% if @user.blogurl.match /http/ %>
    <iframe frameborder="0" width="900" src= "<%= @user.blogurl %>" height="1000"></iframe>

  <% elsif @user.twitter %>

  <% end %>
<% end %>

</div>
