<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>CrowdPublish.TV <%  @user.name %> 's blog</title>
<meta name="description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!"/>
<meta property="og:title" content="CrowdPublishTV - The Future of Empowerment is Your Story" />
<meta property="og:url" content="http://CrowdPublish.TV" />
<meta property="og:image" content="http://crowdpublish.tv/images/crowdpublishLogo.png" />
<meta property="og:description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!" />
</head>

<% if @user.author == 2 %>
<% elsif @user.author == 3 %>
<% else %>
  <% #= render 'readerform' %>
<% end %>

<% if @user.blogurl %>
  <% if @user.blogurl.match /http/ %>
    <div class="blog" style="position:absolute; left:400px; top:80px; width:1000px; ">
      <iframe frameborder="0" width="900" src= "<%= @user.blogurl %>" height="1000"></iframe>
    </div>
    <% if @user.twitter && ( @user.author == 1 || @user.author == 3 ) %>
      <div style="position:absolute; left:0px; top:200px; width:300px;">
        <a class="twitter-timeline"    
        data-widget-id="375760459510464512"
        data-screen-name="<%= @user.twitter %>" data-show-replies="false"
        data-tweet-limit="5">Tweets by @<%= @user.twitter %> </a>
      </div>
    <% end %>
  <% elsif @user.twitter %>
    <div class="blog" style="position:absolute; left:450px; top:80px; width:550px; ">
      <a class="twitter-timeline"    
      data-widget-id="375760459510464512"
      data-screen-name="<%= @user.twitter %>" data-show-replies="false"
      data-tweet-limit="5">Tweets by @<%= @user.twitter %> </a>
    </div>
  <% end %>
<% end %>
</div>


