<% @title="CrowdPublish.TV - The Future of Empowerment is Your Story - @user.name"  %>

<%= render 'authorform' %>

  <div id="uvid" style="position:absolute; overflow:hidden; left:0px; top:250px; width:300; z-index:3">
    <%= @user.about %>
  </div>

<p id="notice"><%= notice %></p>

<div id="fanbook" style="position:absolute; left:380px; top:50px;">
  <div class= "featured"><%= @user.name %>'s Books:</div>

  <% if @user.books.any? %>
      <%= render @books %>
  <% end %>
</div>
