<% @title="CrowdPublish.TV - The Future of Empowerment is Your Story - @user.name"  %>

    <div class="blurb" >
      <%= @user.about %>
    </div><br><br>

<div class="row" >
  <div class="col-lg-7 col-md-6 col-sm-11 col-sm-offset-1 col-xs-12 " >
    <div class= "featured"><%= @user.name %>'s Books:
    </div><br><br>

    <% if @user.books.any? %>
      <%= render @books %>
    <% else %>
      <br><br><%= @user.name %> doesn't have any books listed yet
    <% end %>
  </div>
</div>

<p id="notice"><%= notice %></p>
