<% @title=" Change Password "  %>

<div style = "margin-top:100px"></div>
<%= render 'layouts/flash_messages' %>
<% if user_signed_in? %>
  <% if current_user.id == @user.id %>
    <%= form_for @user, :html => {:multipart => true} do |f| %>
      <div class="password" >
        <div class="col-md-2 col-sm-3 col-xs-4 " style="text-align:left">
          New Password<br><br>
          Password Confirmation
        </div>
        <div class="col-md-2 col-sm-3 col-xs-5 " style="text-align:left">
          <%= f.password_field :password %><br><br>
          <%= f.password_field :password_confirmation %>
          <%= f.hidden_field :on_password_reset, :value => "changepassword" %>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3 " >
        <center><%= f.submit "Save Profile" %> </center><br><br>
      </div>
    <% end %>
  <% end %>
<% end %>
