<% @title=" Change Password "  %>
<div class='pb-5 mb-5'></div>
<div class='container pb-5 pt-5'>
<div class='row'>
<%= render 'layouts/flash_messages' %>
<% if user_signed_in? %>
  <% if current_user.id == @user.id %>
    <%= form_for @user, :html => {:multipart => true} do |f| %>
      <div class="password" >
        <div class="col-md-2 col-sm-3 col-xs-4 " style="text-align:left">
          New Password <%= f.password_field :password %><br><br>

          Password Confirmation <%= f.password_field :password_confirmation %>
          <%= f.hidden_field :on_password_reset, :value => "changepassword" %>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3 " >
        <center><%= f.submit "Save Profile" %> </center><br><br>
      </div>
    <% end %>
  <% end %>
<% end %>
</div>
</div>