
<!-- Nav tabs -->
<% if user_signed_in? %>
  <% if current_user.id == @user.id %>
  <nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="navbar-collapse justify-content-center" id="navbarNav">
    <ul class=" nav navbar-nav nav-pills nav-justified pt-4">
    <li role="presentation" class="active px-5 font-weight-bold"><%= link_to  "Profile", "#profileTab", "data-toggle" => "tab", class: "profile-settings-tab" %></li>
    <li role="presentation" class="px-5 font-weight-bold"><%= link_to "Conversations", "#streamingTab", "data-toggle" => "tab", class: "events-tab" %></li>
    <li role="presentation" class="px-5 font-weight-bold"><%= link_to "Rewards", "#rewardsTab", "data-toggle" => "tab" %></li>
    <li role="presentation" class="px-5 font-weight-bold"><%= link_to "Sales", "#salesTab", "data-toggle" => "tab" %></li>
    <li role="presentation" class="px-5 font-weight-bold"><%= link_to "Account", "#accountTab", "data-toggle" => "tab", class: "account-settings-tab" %></li>
    <li role="presentation" class="px-5 font-weight-bold"><%= link_to "Blocked Users", "#blockedTab", "data-toggle" => "tab" %></li>
    </ul>
  </div>
</nav>
  <!-- Tab panes -->
  <div class="tab-content">

    <!-- Profile Tab -->
    <div class="tab-pane active" id="profileTab">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1>Edit Profile</h1>
          </div>
        </div>
        <div class="row justify-content-center">
          <!-- Make a button to see "view" mode of profile -->
          <%= render :file => 'users/profileinfo' %>
        </div>
      </div>
    </div>

    <!-- Rewards Tab -->
    <div class="tab-pane" id="rewardsTab">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <br><br>
          <%= render 'layouts/stripealert' %>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h1>Manage Rewards</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <!--%= render 'layouts/stripealert' %-->
            <%= render 'layouts/merchsidebar' %>
          </div>
          <div class="col-md-6">
            <%= render 'layouts/createPerk' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pt-3">
            <%= render 'layouts/expiredPerks' %>
          </div>
        </div>
      </div>
    </div>

    <!-- Conversations Tab -->
    <div class="tab-pane" id="streamingTab">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <h1>Conversations</h1>
          </div>
          <div class="col-md-8" id="shows-button-panel">
            <%= link_to 'Set Up Conversation', new_event_path, :class => "btn btn-lg btn-primary", :style => "margin-left: 50px;"  %>
          </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-6" >
              <%= render file: 'users/eventlist' %><br>
              <%= render file: 'users/pastevents' %>
            </div>
            <div class="col-md-4" >
              <%= render 'layouts/streamDirections' %>
            </div>
        </div>
      </div>
    </div>

    <!-- Account Tab -->
    <div class="tab-pane" id="accountTab">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h1>Account Settings</h1>
          </div>
        </div>
        <div class="row justify-content-center">
          <%= render :file => 'users/accountinfo' %>
        </div>
        <!-- Might want some sort of Stripe Connect panel here-->
      </div>
    </div>

    <!-- Sales Tab -->
    <div class="tab-pane" id="salesTab">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <br><br>
          <%= render 'layouts/stripealert' %>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1>Reward Sales</h1>
          </div>
        </div>
        <%= render :file => 'users/dashboard' %>
      </div>
    </div>

    <!-- Blocked Users Tab -->
    <div class="tab-pane" id="blockedTab">
      <div class="row justify-content-center">
        <br><br>
        <div class="col-md-4">
           <div class="card">
            <h3 class="card-header bg-primary text-white">
              Blocked Users
            </h3>
            <div id="blocked" style="padding:0px 18px 8px 0px; font-size: 15px">
              <% if current_user.BlockedUsers.empty? %>
                <br><p style="text-align:center">You have not blocked any users</p>
              <% else %>
                <% current_user.BlockedUsers.each do |use| %>
                <% user = User.find_by_permalink(use) %>
                  <div style="padding:8px 0px 0px 15px">
                    <% if user.profilepic.present? && user.profilepic != '' %>
                        <%= image_tag user.profilepic.url.to_s, :class => "img-circle", :id => "image", style: "line-height: 1.7; height: 1.7em; line-width: 1.7; width: 1.7em; margin-top: -5px" %>
                    <% else %>
                        <%= image_tag "logoDigitalHollow300.png", :class => "img-circle", :id => "image", style: "background-color:white; line-height: 1.7; height: 1.7em; line-width: 1.7; width: 1.7em; margin-top: -5px" %>
                    <% end %>
                    <% if user.name.length >= 15 %>
                      <% name = user.name[0..14] + "..." %>
                      <a style="padding:0px 0px 0px 5px;" href="https://thinq.tv/<%= user.permalink %>"><%= name %></a>
                    <% else %>
                      <a style="padding:0px 0px 0px 5px;" href="https://thinq.tv/<%= user.permalink %>"><%= user.name %></a>
                    <% end %>
                    <button id="unblock_button" style="float:right; margin-top:-3px" onclick="unblock('<%=current_user.id%>','<%=user.id%>')">Unblock</button>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Stats Page 
    <div class="tab-pane" id="statsTab">
      Stats Coming Soon! 
    </div>
    -->
    
    <script>
      function unblock(current_user_id, to_unblock_id) {
        $.post("/users/unblock", {current_user_id: current_user_id, to_unblock_id: to_unblock_id}, function() {
          $('#blocked').load(document.URL +  ' #blocked');
        })
      }
    </script>
  <% end %>
<% end %>