<% @title=" edit group stripe account "  %>
<p class="flash"><%= flash.notice %></p>

<% if user_signed_in? %>
<% if @user.id == current_user.id %>
  <% if @user.stripeid.present? %>
    <% if @user.stripeid.match(/acct/) %>
      <div class="blacktxt" style="text-align:left">
      <%= form_tag group_correcterr_path %>

        <% if @fieldsneeded.present? %>
          There are errors in the information submitted for verifying your bank account. Payments cannot be received until you correct the following information: <br><br>
          <% @fieldsneeded.each do |x| %>
            <% if x.split('.')[-1] == "country" %>
              Select the code for the country where your bank account is:
              <%= select_tag :countryoftax, options_for_select(["US", "CA", "GB", "AT", "AU", "BE", "CH" "DE", "DK", "ES", "FI", "FR", "IE", "IT", "NO", "LU", "SE", "NL"], prompt: true)  %><br><br>
            <% end %> 
            <% if x.split('.')[-1] == "currency" %>  
              Select the currency of your bank account: 
              <%= select_tag :currency, options_for_select(["USD", "CAD", "AUD" "EUR", "DKK", "NOK", "SEK", "GBP"], prompt: true) %><br><br>
            <% end %> 
            <% if x.split('.')[-1] == "routing_number" %>
              Routing number for your bank: 
              <%= text_field_tag :routingnumber, '', :size => 30 %><br><br>
            <% end %> 
            <% if x.split('.')[-1] == "account_number" %>  
              Bank account number: 
              <%= text_field_tag :bankaccountnumber, '', :size => 30 %><br><br>
            <% end %> 
            <% if x.split('.')[-1] == "country" %>
              Select the code for the country where your bank account has a tax ID:
              <%= select_tag :countryoftax, options_for_select(["US", "CA", "GB", "AT", "AU", "BE", "DE", "DK", "ES", "FI", "FR", "IE", "IT", "NO", "LU", "SE", "NL"], prompt: true)  %><br><br>
            <% end %> 
            <% if x.split('.')[-1] == "business_name" %>  
              Legal business name associated with your bank account 
              <%= text_field_tag :bizname, '', :size => 60 %><br><br>
            <% end %> 
            <% if x.split('.')[-1] == "type" %>  
              Does your bank account belong to a business/company or to an individual: 
              <%= select_tag :accounttype, options_for_select(["company", "individual"], prompt: true) %><br><br>
            <% end %> 
            <% if x.split('.')[-1] == "first_name" %>
              First name of someone who has signature authority for your bank account 
              <%= text_field_tag :firstname, '', :size => 30 %> <br><br>
            <% end %> 
            <% if x.split('.')[-1] == "last_name" %>  
              Last name of person who has signature authority for your bank account
              <%= text_field_tag :lastname, '', :size => 30 %> <br><br>
            <% end %> 
            <% if x.split('.')[-1] == "month" %>  
              Month of birth of person with signature authority bank account 
              <%= select_tag :birthmonth, options_for_select(1..12) %>
            <% end %> 
            <% if x.split('.')[-1] == "day" %>  
              Day of birth of person with signature authority bank account 
              <%= select_tag :birthday, options_for_select(1..31) %>
            <% end %> 
            <% if x.split('.')[-1] == "year" %>  
              Year of birth of person with signature authority bank account 
              <%= select_tag :birthyear, options_for_select(1920..2000) %><br><br>
            <% end %> 
            <% if x.split('.')[-1] == "line1" %>
              Business or personal address <%= @group.name %> uses for tax correspondence <br>
              Street Address <%= text_field_tag :line1, '', :size => 30 %> 
            <% end %> 
            <% if x.split('.')[-1] == "city" %>  
              Business or personal address <%= @group.name %> uses for tax correspondence <br>
              City <%= text_field_tag :city, '', :size => 30 %><br><br>
            <% end %> 
            <% if x.split('.')[-1] == "postal_code" %>  
              Business or personal address <%= @group.name %> uses for tax correspondence <br><br>
              Zip Code <%= text_field_tag :zip, '', :size => 15 %> <br><br>
            <% end %> 
            <% if x.split('.')[-1] == "state" %>
              Business or personal address <%= @group.name %> uses for tax correspondence <br>
              State <%= text_field_tag :state, '', :size => 5 %> <br><br>
            <% end %> 
            <% if x.split('.')[-1] == "business_tax_id" %>
              Employer tax ID Number (EIN) <%= text_field_tag :ein, '', :size => 30, :placeholder => "12-3456789" %> <br><br>
            <% end %> 
            <% if x.split('.')[-1] == "ssn_last_4" %>
              Last 4 digits of Social Security Number (SSN) of person who has signature authority for this account <%= text_field_tag :ssn, '', :size => 30, :placeholder => "4321" %> <br><br>
            <% end %> 

          <% end %>  
          <%= submit_tag "Update Account" %> </center><br><br>
        <% end %>  

        <br><br><br><br>
      </div>
    <% else %>
      To manage account data you must first add a bank account on the <%= link_to "Add Bank Account", user_addbankaccount_path(current_user.permalink) %> page.
    <% end %>
  <% else %>
    To manage account data you must first add a bank account on the <%= link_to "Add Bank Account", user_addbankaccount_path(current_user.permalink) %> page.
  <% end %>
<% end %>
<% end %>
  