<% @title=" edit user profile "  %>
<p class="flash"><%= flash.notice %></p>

<div style="position:absolute; left:0px; top:70px; opacity:0.3; ">
  <% if @user.profilepic.present? && @user.profilepic != '' %>
    <%= image_tag @user.profilepic, :height => "150" %>
  <% elsif @user.profilepicurl %>
    <% if @user.profilepicurl.match(/http/) %>
      <%= image_tag @user.profilepicurl, :height => "150" %><br >
    <% else %>
      <%= image_tag "whiteBk.jpg", :height => "150" %>
    <% end %>
  <% else %>
    <%= image_tag "whiteBk.jpg", :height => "150" %>
  <% end %>
</div>

<% if @user == current_user %>
<% if @user.stripeid.present? %>
<% if @user.stripeid.match(/acct/) %>
  You already have a stripe account
<% else %>
  <div class="col-md-12 " style="text-align:left">
    <div #class="blacktxt" >
      <%= form_tag user_createstripeacnt_path %>

        To create a new account, the following information is legally required before you can receive payments:<br>
        Does your bank account belong to a business or to an individual: <%= select_tag :accounttype, options_for_select(["individual", "company"], prompt: true) %><br><br>
        <table>
          <tr><td>Legal first name associated with your bank account </td><td>Legal last name associated with your bank account </td></tr>
          <tr><td><%= text_field_tag :firstname, '', :size => 30 %></td><td><%= text_field_tag :lastname, '', :size => 30 %></td></tr>
        </table > <br>
        <table>
          <tr><td>Month of Birth </td><td>Day of Birth </td><td>Year of Birth </td></tr>
          <tr><td><%= select_tag :birthmonth, options_for_select(1..12) %></td><td><%= select_tag :birthday, options_for_select(1..31) %></td><td><%= select_tag :birthyear, options_for_select(1920..2000) %></td></tr>
        </table > <br>

        Select the code for the country where you have a tax ID
        <%= select_tag :countryoftax, options_for_select(["US", "CA", "GB", "AT", "AU", "BE", "DE", "DK", "ES", "FI", "FR", "IE", "IT", "NO", "LU", "SE", "NL"], prompt: true)  %><br>

        <center>I accept the Terms of Service <br>

        <%= submit_tag "Create Account" %> </center><br><br>

        The payment processing company we use can handle transactions for businesses and individuals who have tax IDs in the following countries: 
        <table>
          <tr><td>US </td><td>Canada</td><td>Great Britain</td><td>Austria</td></tr>
          <tr><td>Australia</td><td>Belgium</td><td>Germany</td><td>Denmark</td></tr>
          <tr><td>Spain</td><td>Finland</td><td>France</td><td>Ireland</td></tr>
          <tr><td>Italy</td><td>Norway</td><td>Luxembourg</td><td>Sweden</td></tr>
          <tr><td>the Netherlands</td></tr>
        </table >
      At this time, we are unable to support users in countries other than those listed. Please check this page again in the future to find out if our payment processor has added countries.<br>
    </div>
  </div>
<% end %>
<% end %>
<% end %>
