<div class="col-md-5 col-sm-6 col-xs-5 " style="text-align:left">

<% if @user == current_user %>

<p id="notice"><%= notice %></p>
<%= form_for @book, :html => {:multipart => true} do |f| %>
    <% if @book.errors.any? %> 
    This Error message isn't working
      <div id="error_explanation">
          <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
          <ul>
            <% @book.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
      </div>
    <% end %>

  <%= render 'shared/error_messages' %>
  <center><span class="Body-C5">Enter Book info (items with * are required)</span></center> 
  <%= f.hidden_field :user_id %>

  <table width="400">
  <tr><td>
    <div style="float:left;width:75%;">
    <b>* Book title </b></div>
    <div style="float:right;width:25%;">
      Genre </div>
  </td></tr><tr><td>
      <div style="float:left;width:75%;">
    <%= f.text_area :title, :cols => 50, :rows => 2, placeholder: "Book title" %></div>
    <div style="float:right;width:25%;">
    <%= f.text_area :genre, :cols => 15, :rows => 1, placeholder: "Genre" %></div>
  </td></tr><tr><td>
     <b>Price </b>(in USD) $<%= f.text_field :price, placeholder: "4.99"  %>
  </td></tr><tr><td>
    Book jacket blurb (2000 characters max)<br>
    <%= f.text_area :blurb, :cols => 70, :rows => 6, placeholder: "Book jacket blurb" %>
      <span class="blurbcount"></span><br><br>
    Sentence about book (140 characters max) <br>
    <div class="textarea">
      <%= f.text_area :fiftychar, :cols => 70, :rows => 1, placeholder: "Brief sentence about book - MUST be less than 140 characters" %>
          <span class="charcount"></span>
    </div><br>

  </td></tr> <tr><td>
    Date book is estimated to be or was released
    <%= f.date_select :releasedate %>
  </td></tr>   <tr><td>
    <p>Upload a picture of the bookcover (.jpg, .gif, .jpeg, or .png)
    <br><%= f.file_field :coverpic %> OR <br>
    URL for a picture of your book cover
    <%= f.text_area :coverpicurl, :cols => 70, :rows => 1, placeholder: "URL to a PICTURE of bookcover (must end in .jpg, .gif, .jpeg, or .png)" %><br> The easiest way to obtain the URL is to go to a site that has a picture of your book cover, right click on the picture, select Copy image URL, and paste here. This MUST include the 'http://' part of the URL in order to work. Do not post the URL to a webSITE. Only PICTURES will work.  
    </td></tr> <tr><td>
    We recommend uploading files for ALL 4 of the following formats (so your customers have more options for the type of ereader they own)
    <div style="float:left;width:62%;">
      Upload your ebook, as a pdf (for iBooks & PCs)...... </div>
    <div style="float:right;width:38%;">
      <%= f.file_field :bookpdf %> </div><br>
    </td></tr> <tr><td>
    <div style="float:left;width:62%;">
      Upload your ebook, as a mobi (for Kindle).............</div>
    <div style="float:right;width:38%;">
      <%= f.file_field :bookmobi %> </div><br>
    </td></tr> <tr><td>
    <div style="float:left;width:62%;">
      Upload your ebook, as an epub (for Adobe & Nook)... </div>
    <div style="float:right;width:38%;">
      <%= f.file_field :bookepub %> </div><br>
    </td></tr> <tr><td>
    <div style="float:left;width:62%;">
      Upload your ebook, as a epub or pdf (for Sony kobo)...............</div> 
    <div style="float:right;width:38%;">
      <%= f.file_field :bookkobo %> </div><br>
    </td></tr>

  </table>
  <%= f.submit "Save New Book" %>
<% end %>

<br>There are a few situations where book information will fail to save. If you are having trouble saving your book info, please check for these errors: <br>
1. Uploading a file that is not .pdf in the iBook/PC info field, or not a .mobi for Kindle, etc. <br>
2. Uploading a file that is not .jpg, .gif, .jpeg, or .png in the book cover field <br>
3. Entering a URL that does not end in .jpg, .gif, .jpeg, or .png for a picture of your book cover (this URL is not used if you upload a picture of your book cover, so no need to do both) <br>
4. Entering more than 140 characters into the field for Sentence about book <br>
5. Entering more than 2000 characters into the field for Book jacket blurb <br>
6. Leaving title field blank

<br><br><br>

<% if @user.books.any? %>

<% @booklist.each do |bk| %>
   <%= form_for(bk) do |f| %>

  <table width="400">
  <tr>
    <td>
    <div style="float:left;width:75%;">
    <b>* Book title </b></div>
    <div style="float:right;width:25%;">
      Genre </div>
  </td></tr><tr><td>
      <div style="float:left;width:75%;">
    <%= f.text_area :title, :cols => 50, :rows => 2, placeholder: "Book title" %></div>
    <div style="float:right;width:25%;">
    <%= f.text_area :genre, :cols => 15, :rows => 1, placeholder: "Genre" %></div>
  </td></tr><tr><td>
    <b>Price </b>(in USD) $<%= f.text_field :price %>
  </td></tr><tr><td>
    Book jacket blurb (2000 character max) <br>
    <%= f.text_area :blurb, :cols => 70, :rows => 6, placeholder: "Book jacket blurb" %>
          <span class="signup"></span><br><br>

    Sentence about book (140 characters max) <br>
    <%= f.text_area :fiftychar, :cols => 70, :rows => 1, placeholder: "Brief sentence about book - MUST be less than a hundred characters" %>
          <span class=""></span><br><br>
  </td></tr> <tr><td>
    Date book is estimated to be or was released
    <%= f.date_select :releasedate %>
  </td></tr>   <tr><td>
    <p>Upload a picture of the bookcover (.jpg, .gif, .jpeg, or .png)
    <br><%= f.file_field :coverpic %> OR <br>
    URL for a picture of your book cover
   <%= f.text_area :coverpicurl, :cols => 70, :rows => 1, placeholder: "URL to a PICTURE of bookcover (must end in .jpg, .gif, .jpeg, or .png)" %> <br> This MUST include the 'http://' part of the URL in order to work. Do not post the URL to a webSITE. Only PICTURES will work. 
 </td></tr> <tr><td>  
    We recommend uploading files for ALL 4 of the following formats (so your customers have more options for the type of ereader they own)
     
    <div style="float:left;width:62%;">
      Upload your ebook, as a pdf (for iBooks & PCs)...... </div>
    <div style="float:right;width:38%;">
      <%= f.file_field :bookpdf %> </div><br>
    </td></tr> <tr><td>
    <div style="float:left;width:62%;">
      Upload your ebook, as a mobi (for Kindle).............</div>
    <div style="float:right;width:38%;">
      <%= f.file_field :bookmobi %> </div><br>
    </td></tr> <tr><td>
    <div style="float:left;width:62%;">
      Upload your ebook, as an epub (for Adobe & Nook)... </div>
    <div style="float:right;width:38%;">
      <%= f.file_field :bookepub %> </div><br>
    </td></tr> <tr><td>
    <div style="float:left;width:62%;">
      Upload your ebook, as a kobo (Sony)...................</div> 
    <div style="float:right;width:38%;">
      <%= f.file_field :bookkobo %> </div><br>
</tr>
    <tr><td>

 </td>
</tr>
  </table>

  <%= f.submit("Save Changes for " + bk.title ) %>
<br><br><br>
        <% end %>
      <% end %>
   <% end %>
<% end %>

</div>

</body>
