<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Ustreamvid</th>
    <th>Ustreamsocial</th>
    <th>Twitter</th>
    <th>Facebook</th>
    <th>Pinterest</th>
    <th>Youtube</th>
    <th>Genre1</th>
    <th>Genre2</th>
    <th>Genre3</th>
    <th>Blogurl</th>
    <th>Profilepicurl</th>
    <th>Profilepic</th>
    <th>Author</th>
    <th>About</th>
    <th>Password digest</th>
    <th>Remember token</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.ustreamvid %></td>
    <td><%= user.ustreamsocial %></td>
    <td><%= user.twitter %></td>
    <td><%= user.facebook %></td>
    <td><%= user.pinterest %></td>
    <td><%= user.youtube %></td>
    <td><%= user.genre1 %></td>
    <td><%= user.genre2 %></td>
    <td><%= user.genre3 %></td>
    <td><%= user.blogurl %></td>
    <td><%= user.profilepicurl %></td>
    <td><%= user.profilepic %></td>
    <td><%= user.author %></td>
    <td><%= user.about %></td>
    <td><%= user.password_digest %></td>
    <td><%= user.remember_token %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
