<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Ustreamvid</th>
    <th>Ustreamsocial</th>
    <th>Twitter</th>
    <th>Facebook</th>
    <th>Pinterest</th>
    <th>Youtube</th>
    <th>Genre1</th>
    <th>Genre2</th>
    <th>Genre3</th>
    <th>Blogurl</th>
    <th>Profilepicurl</th>
    <th>Profilepic</th>
    <th>Author</th>
    <th>About</th>
    <th>Password digest</th>
    <th>Remember token</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.ustreamvid %></td>
    <td><%= user.ustreamsocial %></td>
    <td><%= user.twitter %></td>
    <td><%= user.facebook %></td>
    <td><%= user.pinterest %></td>
    <td><%= user.youtube %></td>
    <td><%= user.genre1 %></td>
    <td><%= user.genre2 %></td>
    <td><%= user.genre3 %></td>
    <td><%= user.blogurl %></td>
    <td><%= user.profilepicurl %></td>
    <td><%= user.profilepic %></td>
    <td><%= user.author %></td>
    <td><%= user.about %></td>
    <td><%= user.password_digest %></td>
    <td><%= user.remember_token %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>

"candalily@gmail.com"
"gooberone1@yahoo.com"
"jewel@jeweledministries.com"
"staciezoe@aol.com"
"amzolt@gmail.com"
"lisa@crowdpublish.tv"
"akhters3@vcu.edu"
"truegrittent@live.com"
"xunairaj@live.com"
"robjames1984@hotmail.co.uk"
"selena@calidreampub.com"
"bob.van.laerhoven@telenet.be"
"jglgun@gmail.com"
"davidco662001@yahoo.com"
"healingcirclemassage@hotmail.com"
"la@lajohannesson.com"
"mmxrynz@hotmail.com"
"mike.wardsatsw@yahoo.co.uk"
"guitarpoet@aol.com"
"info@agresticpublishing.com"
"l.bahnan@blueyonder.co.uk"
"sylll1220@gmail.com"
"ysam51@yahoo.com"
"sj.richard@yahoo.com"
"pzmiller@gmail.com"
"l.sengul@ymail.com"
"amasonauthor@gmail.com"
"tarek.h.refaat@live.com"
"mwangipatrick34@yahoo.com"
"newsletter@jerryhatchett.com"
"sasseykrupp@.live.com"
"woweditor12@gmail.com"
"timothyo.casey@gmail.com"
"frank@frankfiore.com"
"tom@kindlemojo.com"
"cjheck60porsche@gmail.com"
"nigel699@sky.com"
"jenny@reflexion-uk.co.uk"
"fueledbywhimsy@gmail.com"
"s10.drobbins@yahoo.com"
"arbey.info@gmail.com"
"jraygoza@ca.rr.com"
"kellyoutloud@gmail.com"
"newschiff@mac.com"
"si@siwall.net"
"daleallen0416@gmail.com"
"contact.natasha@marquis16.us"
"robin.fettig@gmail.com"
"maluthabiel@gmail.com"
"glendareynolds2004@yahoo.com"
"kenposempai@dtccom.net"
"rhondarachelle71@yahoo.com"
"johnmartynwilson@yahoo.co.uk"
"robdromb@gmail.com"
"joogs@hotmail.co.uk"
"toni@tonikenyon.com"
"pohtiongho@gmail.com"
"matt42langford@googlemail.com"
"christianahfatefoundation@yahoo.com"
"catbird93@gmail.com"
"garydobbs@hotmail.co.uk"
"abc4allteam@abc4all.net"
"christimonemarie@gmail.com"
"mahuna@yahoo.com"
"meadwriter@gmail.com"
"klynch812@gmail.com"