<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>CrowdPublish.TV <%  @user.name %> 's Organizations</title>
<meta name="description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!"/>
<meta property="og:title" content="CrowdPublishTV - The Future of Empowerment is Your Story" />
<meta property="og:url" content="http://CrowdPublish.TV" />
<meta property="og:image" content="http://crowdpublish.tv/images/crowdpublishLogo.png" />
<meta property="og:description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!" />
</head>

<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container">

<div id="groups"  >
  <%= form_tag groups_path, :method => :get do %>
      <table ><tr>
        <th>Address</th>
        <th>Distance (miles)</th>
        <th></th>
        <th> Find organizations near you</th>
      </tr><tr>
        <td><%= text_field_tag :search, params[:search] %></td>
        <td><%= text_field_tag :dist, params[:dist] %></td>
        <td><%= submit_tag "Search Near", :name => nil %></td>
      </tr></table>  
  <% end %>

<h1><%= @user.name %>'s Organizations</h1>
<% if user_signed_in? %>
  <% if @user.id == current_user.id %>
    <%= button_to "Add Your Organization", new_group_path, :method=> :get %><br><br>
  <% end %>
<% end %></td>  
<% if @groups.count != 0 %>
  <table>
    <tr>
      <th>Organization Name</th>
      <th>Where We Meet</th>
      <th>Organization Type</th>
      <th></th></tr>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= group.address %></td>
        <td><%= group.grouptype %>
        </td><td>
          <% if user_signed_in? %>
            <% if group.user_id == current_user.id %>
              <%= link_to 'Edit', edit_group_path(group.permalink) %> 
            <% end %>
          <% end %></td>  
      </tr>
    <% end %>
  </table>
<% else %>
  *** You do not have any organizations to edit ***
<% end %>  

</div>
</div>
</div>
</div>
</div>
