<% @title="CrowdPublish.TV Community " %>

<%= render 'form' %>

<%
=begin %>
<div id="userlist" style="position:absolute; overflow:hidden; left:455px; top:340px; z-index:3">
<%= button_to "Sign up ", new_user_path, :method=> :get %></div>
<%= link_to "Sign up", new_user_registration_path %> or
<%
=end %>

<div id="usernav" style="position:absolute; overflow:hidden; left:100px; top:300px; z-index:3">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    Already a member? <%= link_to "SIGN IN", new_user_session_path %> <p>
  <% end %>
</div></div>

<div id="userlist" style="position:absolute; overflow:hidden; left:390px; top:320px; z-index:3">

<table CELLPADDING="0" CELLSPACING="10" WIDTH="600" >
  <tr>
    <th></th>
    <th><span class="Body-C3">  Featured People</span></th>
  </tr>
  <tr>
    <th></th>
    <th align="left">&nbsp&nbsp&nbsp&nbspName</th>
    <th align="left">&nbsp&nbsp&nbsp&nbspWriting Genres</th>
  </tr>
<% @users.each do |u| %>
  <tr>
    <td> 
  <% if u.profilepic.present? && u.profilepic != '' %>
    <%= image_tag(u.profilepic, :size => "50x50") %>
  <% elsif u.profilepicurl %>
    <% if u.profilepicurl.match /http/ %>
      <%= link_to(image_tag(u.profilepicurl, :size => "50x50", :profilepicurl => u.name), user_profile_path(u.permalink))  %>
    <% else %>
    <%= link_to(image_tag("http://gurutapas.com/images/whiteBk.jpg", :size => "50x50"), user_profile_path(u.permalink))  %> 
    <% end %>
  <% else %>
      <%= link_to(image_tag("http://gurutapas.com/images/whiteBk.jpg", :size => "50x50", :profilepicurl => u.name), user_profile_path(u.id)) %> 
  <% end %>

</td>
    <td color="#443c55" align="left">
      <%= link_to u.name, user_profile_path(u.id) %></td>
     align="left"> <%= u.genre1 %>, <%= u.genre2 %>, <%= u.genre3 %></td>
  </tr>

<% end %>
</table>
</div>

