<%= image_tag("futureEmpStory.png", :size => "712x25") %><p>
    <title>CrowdPublishTV members</title>

<% @row = 0 %>
<div class="row" >
  <% @users.each do |u| %>

    <% if u.profilepic.present? && u.profilepic != '' %> 
      <div class="span3" >
        <div class="row" style="vertical-align:center; horizontal-align:center; height:170px; overflow:hidden; " >
          <%= link_to(image_tag(u.profilepic, :size => "170x170",  :title => u.name ), user_profile_path(u.permalink)) %> 
        </div>
        <div class="row" >
          <%= link_to u.name, user_profile_path(u.permalink) %>
          <br><%= u.genre1 %>, <%= u.genre2 %>, <%= u.genre3 %><p>
        </div>
      </div> 
    <% elsif u.profilepicurl %>
      <% if u.profilepicurl.match /http/  %> 
        <% if u.profilepicurl.match /jpeg|jpg|gif|png|tif/  %> 
           <div class="span3" >
             <div class="row" style="vertical-align:center; horizontal-align:center; height:170px; overflow:hidden;" >
              <%= link_to(image_tag(u.profilepicurl, :size => "170x170", :title => u.name), user_profile_path(u.permalink)) %> 
            </div>
            <div class="row" >
              <%= link_to u.name, user_profile_path(u.permalink) %>
              <br><%= u.genre1 %>, <%= u.genre2 %>, <%= u.genre3 %><p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
