<% @title="CrowdPublish.TV Community " %>

<div style="background-color:transparent;text-align:left;margin-left:auto;margin-right:auto;position:relative;width:850px;height:700px;">

<%= render 'form' %>

<%
=begin %>
<div id="userlist" style="position:absolute; overflow:hidden; left:455px; top:340px; z-index:3">
<%= button_to "Sign up ", new_user_path, :method=> :get %></div>
<%= link_to "Sign up", new_user_registration_path %> or
<%
=end %>

<div class="indexlist" style="position:absolute; overflow:hidden; left:0px; top:340px; ">
  <img src="/assets/futureEmpStory.png" width="712" height="38"><p>

<table CELLPADDING="0" CELLSPACING="10" WIDTH="600" >
  <tr>
    <th></th>
    <th><div class="featured">  Featured </div></th>
    <th><div class="featured">  Booklovers </div></th>
    <th><div class="featured">  & Authors </div></th>
  </tr>
  <% @row = 0 %>
  <% @users.each do |u| %>

    <% if @row/5.0 == (@row/5.0).to_i %>
      <tr>
    <% end %>
    <% @row = @row + 1 %>

    <td valign="top"> 
    <% if u.profilepic.present? && u.profilepic != '' %> 
      <%= image_tag(u.profilepic, :size => "170x170",  :title => u.name ) %>
    <% elsif u.profilepicurl %>
      <% if u.profilepicurl.match /http/ %> 
        <%= link_to(image_tag(u.profilepicurl, :size => "170x170", :title => u.name), user_profile_path(u.permalink))  %>
      <% else %> <div style=" vertical-align: bottom;">
        <%= link_to(image_tag("/assets/whiteBk.jpg", :size => "170x170",  :title => u.name), user_profile_path(u.permalink))  %> </div> 
      <% end %>
    <% else %> <div style=" vertical-align: bottom;"> 
      <%= link_to(image_tag("/assets/whiteBk.jpg", :size => "170x170", :title => u.name), user_profile_path(u.permalink)) %> </div> 
    <% end %>
    
    <%= link_to u.name, user_profile_path(u.permalink) %>
    <br><%= u.genre1 %>, <%= u.genre2 %>, <%= u.genre3 %><p>
    </td>

    <% if @row/5.0 == (@row/5.0).to_i %>
      </tr>
    <% end %>
  <% end %>
  

</table>
</div>
</div>