<% @title=" edit user profile "  %>
<p class="flash"><%= flash.notice %></p>

<% if @user == current_user %>
  <div class="col-md-5 col-sm-6 col-xs-12 " style="text-align:left">
    <div class="blacktxt" >
      <%= form_for @user, :html => {:multipart => true} do |f| %>
        <%= render 'shared/error_messages', :object => f.object %>
        <%#= devise_error_messages! Undefined method 'resource' in app_helper %>
          Please provide the following info
          <% if @user.countryofaccount == "IE" %>
            Enter your legal first name associated with your bank account <%= f.text_field(:firstname)%><br>
            Enter your legal last name associated with your bank account <%= f.text_field(:lastname) %><br> 
            <%= f.text_field(:day) %>
            legal_entity.first_name, 
            legal_entity.last_name, 
            legal_entity.dob.day, 
            legal_entity.dob.month, 
            legal_entity.dob.year, 
            legal_entity.type, 
            bank_account, 
            tos_acceptance.ip, 
            tos_acceptance.date
          <% elsif @user.countryofaccount == "US" %>
          <% elsif @user.countryofaccount == "GB" %>
          <% elsif @user.countryofaccount == "NO" %>
          <% end %>
        <br>(["US", "CA", "GB", "AT", "AU", "BE", "CH", "DE", "DK", "ES", "FI", "FR", "IE", "IT", "JP", "LU", "MX", "NL", "NO", "SE"])<br>
        <%= f.hidden_field(:managestripeacnt, :value => "editaccount") %>

        <center><%= f.submit "Create Account" %> </center><br>
      <% end %>
    </div>
  </div>
<% end %>

<div id="userlist" >
<%= form_for(@user, :html => { :multipart => true }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  <% end %>
  </div>
<% end %>
</div>
