<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!"/>
<meta property="og:title" content="CrowdPublishTV - The Future of Empowerment is Your Story" />
<meta property="og:url" content="http://CrowdPublish.TV" />
<meta property="og:image" content="http://crowdpublish.tv/images/crowdpublishLogo.png" />
<meta property="og:description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!" />
</head>

<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container-flex">
<% @title="CrowdPublish.TV - @user.name"  %>

		<% if user_signed_in? %>
			<% if current_user.id != @user.id %>
				<% if @user.author == 'author' || @user.author == 'filmmaker' || @user.author == 'actor'%>
					<%= button_to "Add A Movie", user_movieedit_path(current_user.permalink), method: :get, form_class: 'btn btn-small' %>
				<% end %>
			<% end %>
		<% end %>


<div class="row" >
  <div class="col-xs-12 " >
    <div class= "featured"><%= @user.name %>'s Movies:
    </div>

    <% if @user.movies.any? %>
      <%= render @movies %>
    <% else %>
      <br><br><%= @user.name %> doesn't have any movies listed yet
    <% end %>
  </div>
</div>

<p id="notice"><%= notice %></p>

</div>
</div>
</div>
</div>
