
<% if @events.present? %>
  <table >  <tr>
    <th>Event </th>
    <th>When</th>
    <th>Where</th>
    <th></th>
  </tr>
  <% @events.sort_by{|t| t.start_at}.each do |event| %>
  <tr>
    <td><%= link_to event.name, event %><br><br></td>
    <td><%= event.start_at.strftime("%A %B %d, %Y at %I:%M %p")  %><br><br></td>
    <td><%= event.address %><br><br></td>
    <td> </td>
  </tr>
  <% end %>
  </table>
<% else %>  
  <%= @user.name %> hasn't posted any past events
<% end %>  
  <%= link_to "View upcoming events", user_eventlist_path %><br><br>


