<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>CrowdPublish.TV <%  @user.name %> 's Patron Perks</title>
<meta name="description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!"/>
<meta property="og:title" content="CrowdPublishTV - The Future of Empowerment is Your Story" />
<meta property="og:url" content="http://CrowdPublish.TV" />
<meta property="og:image" content="http://crowdpublish.tv/images/crowdpublishLogo.png" />
<meta property="og:description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!" />
</head>

<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container col-lg-12">

<div class="blacktxt"  >
<h1><%= @user.name %>'s Patron Perks</h1>

<% if @user == current_user %>
  Create a <%= button_to "New Perk", new_merchandise_path, method: :get %> <br><br>
<% end %>  

<% if !user_signed_in? %>
  <%= link_to 'Sign in', "/login" %> to support <%= @user%> <br>
<% end %>  

<% if @perks.count != 0 %>
  <table>
  <% @perks.each do |merchandise| %>
    <tr><td><%= link_to merchandise.name, merchandise %></td>
    <% if user_signed_in? %>
      <% if merchandise.user_id == current_user.id %>
        <td><%= button_to 'Edit', edit_merchandise_path(merchandise.id), method: :get %> </td>
      <% end %>
    <% end %>
    <td> <%= truncate(merchandise.desc , length: 30, separator: ' ') %></td> 
    <td>$<%= sprintf('%.2f', merchandise.price) %> USD </td> 
    <% if user_signed_in? %>
      <td><%= link_to image_tag("buynow.png" ), new_purchase_path(user_id: current_user.id, merchandise_id: merchandise.id), method: :get %> </td>
    <% end %>   
    </tr>
  <% end %>
  </table>
<% else %>
  *** <%= @user.name %> does not have any Patron Perks available for you yet ***
<% end %>  

</div>
</div></div>
</div></div>
</div>