<head>
	<title>CrowdPublish.TV <%  @user.name %> 's Patron Perks</title>
</head>


<div class="container-fluid">
	<div class="col-lg-12">
		<h2>Support <%= @user.name %>'s work by purchasing these Patron Perks</h2>

		<% if user_signed_in? %>
			<% if current_user.id != @user.id %>
				Create a <%= button_to "New Perk", new_merchandise_path, method: :get %> <br><br>
			<% end %>  
		<% end %>

		<% if !user_signed_in? %>
			<%= link_to 'Sign in', "/login" %> to support <%= @user.name %> <br>
		<% end %>  

		<% if @perks.count != 0 %>
			<table>
				<% @perks.each do |merchandise| %>
					<tr>
						<td><%= link_to merchandise.name, merchandise %></td>
						<% if user_signed_in? %>
							<% if merchandise.user_id == current_user.id %>
								<td><%= button_to 'Edit', edit_merchandise_path(merchandise.id), method: :get, class: "btn btn-sm btn-warning" %> </td>
							<% end %>
						<% end %>
						<td> <%= truncate(merchandise.desc , length: 30, separator: ' ') %></td> 
						<td>$<%= sprintf('%.2f', merchandise.price) %> USD </td> 
						<% if user_signed_in? %>
							<td><%= link_to "Buy Now", new_purchase_path(user_id: current_user.id, merchandise_id: merchandise.id), method: :get, class: "btn btn-primary"%> </td>
						<% end %>   
					</tr>
				<% end %>
			</table>
		<% else %>
			*** <%= @user.name %> does not have any Patron Perks available for you yet ***
		<% end %>  

</div>
</div>