<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>CrowdPublish.TV <%  @user.name %> 's phases</title>
<meta name="description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!"/>
<meta property="og:title" content="CrowdPublishTV - The Future of Empowerment is Your Story" />
<meta property="og:url" content="http://CrowdPublish.TV" />
<meta property="og:image" content="http://crowdpublish.tv/images/crowdpublishLogo.png" />
<meta property="og:description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!" />
</head>

<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container" >

<div class="blacktxt  col-lg-10 col-md-9 col-sm-9 col-xs-11" >
<% if @user == current_user %>
  <table>
    <% @outstandingagreements.each do |agree| %>
      <tr>
        <td><%= button_to [:approveagreement, @user] do %>
          <strong>Approve </strong>
          <%= hidden_field_tag :agreeid, agree[:agreeid] %>
        <% end %></td>
        <td><%= button_to [:declineagreement, @user] do %>
          <strong>Decline </strong>
          <%= hidden_field_tag :agreeid, agree[:agreeid] %>
        <% end %></td>
        <td><%= link_to agree[:groupname], group_path(agree[:grouppermalink]) %> wants to partner with <%= agree[:phasename]  %> </td>
      </tr>  
    <% end %>  
  </table> <br><br>
  Every book project & every movie project has chapters, scenes, or some other way to break the project down into smaller segments. Why should your fans wait a year or more to be rewarded for supporting your project? Why should you wait until the final product is complete before your fans have the opportunity to support you? They'll be more excited to see your progress as the project progresses. <br><br>
  Therefore, have them fund progress in smaller segments, or phases. Put one chapter or scene out there at a time. It's not written in stone, so you are always welcome to edit chapters or scenes for the final product. In fact, editing the final product is a phase in itself! 
  <%= button_to "Create a New Project Phase", new_phase_path, method: :get %><br>
<% end %>

<% if @activephases.count != 0 %>
  <h2>Current project phases</h2>
  <table>
  <% @activephases.each do |phs| %>
    <tr><td><br><%= link_to phs.name, phs %></td>
      <td><br><%= phs.mission %></td>
    <% if user_signed_in? %>
      <% if phs.user_id == current_user.id %>
        <td><br><%= link_to 'Edit', edit_phase_path(phs.id) %> </td>
      <% end %>
    <% end %>
    </tr>
  <% end %>
  </table>
<% else %><br>
  *** <%= @user.name %> does not have any active phases ***<br><br>
<% end %>  

<% if @pastphases.count != 0 %>
  <h2>Past project phases</h2>
  <table>
  <% @pastphases.each do |phs| %>
    <tr><td><br><%= link_to phs.name, phs %></td>
      <td><br><%= phs.mission %></td>
    <% if user_signed_in? %>
      <% if phs.user_id == current_user.id %>
        <td><br><%= link_to 'Edit', edit_phase_path(phs.id) %> </td>
      <% end %>
    <% end %>
    </tr>
  <% end %>
  </table>
<% else %><br><br>
  <%= @user.name %> does not have any past project phases 
<% end %>  
</div>
</div>
</div>
</div>
</div>
