<% @title=" edit user profile "  %>
<p class="flash"><%= flash.notice %></p>

<div style="position:absolute; left:0px; top:70px; opacity:0.3; ">
  <% if @user.profilepic.present? && @user.profilepic != '' %>
    <%= image_tag @user.profilepic, :height => "150" %>
  <% elsif @user.profilepicurl %>
    <% if @user.profilepicurl.match(/http/) %>
      <%= image_tag @user.profilepicurl, :height => "150" %><br >
    <% else %>
      <%= image_tag "whiteBk.jpg", :height => "150" %>
    <% end %>
  <% else %>
    <%= image_tag "whiteBk.jpg", :height => "150" %>
  <% end %>
</div>

<% if @user == current_user %>

  <%#= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= form_for @user, :html => {:multipart => true} do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <%#= devise_error_messages! Undefined method 'resource' in app_helper %>

  <div class="col-md-5 col-sm-6 col-xs-12 " style="text-align:left">
    <div class="blacktxt" >
      To change your profile picture, upload a picture of yourself (square is best)
      <br><%= f.file_field :profilepic %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      OR - Enter the URL of a picture of you (must end in jpg, gif, or png) <br>
      <div class="profilebox" >
        <%= f.text_area :profilepicurl, :cols => 40, :rows => 2, placeholder:  "URL for profile pic (Square is best)" %>
      </div>
      <br>Three genres that categorize your work <br>
      <div class="profilebox" >
        <%= f.text_area :genre1, :cols => 20, :rows => 1, placeholder: "Main genre of your writing" %><br>
        <%= f.text_area :genre2, :cols => 20, :rows => 1, placeholder: "Sub genre" %><br>
        <%= f.text_area :genre3, :cols => 20, :rows => 1, placeholder: "Another genre" %>
      </div> 
      <br>URL to your blog <br>
      <div class="profilebox" >
        <%= f.text_area :blogurl, :cols => 40, :rows => 2, placeholder: "http://BlogURL.com" %>
      </div>
      <br>Twitter handle (do not include the '@' symbol nor the entire url) <br>
      <div class="profilebox" style="vertical-align: text-top">
        <b style="vertical-align: super">@</b> 
        <%= f.text_area :twitter, :cols => 30, :rows => 1, placeholder: "twitterhandle" %>
      </div>

      <br>Change your zip code, address, or city (this is used to calculate Groups & Events Near You) <br>
      <div class="profilebox" >
        <%= f.text_area :address, :cols => 40, :rows => 1 %>
      </div>
      <br>Change account type:
      <br><%= f.radio_button(:author, 1) %>
      <%= label_tag(:author_child, "Reader") %>
      <br><%= f.radio_button(:author, 2) %>
      <%= label_tag(:author_adult, "Author") %>
 
      <br>Tell us all about yourself. <br />
      <div class="profilebox" >
        <%= f.text_area :about, :cols => 40, :rows => 10, placeholder: 'About Me' %>
      </div>
      <br>For a limited time, you will be allowed to change your custom URL handle (must be less than 20 characters)  
      <div class="profilebox" style="vertical-align: text-bottom">
        <b style="vertical-align: super">www.CrowdPublish.TV/ </b> <%= f.text_area :permalink, :cols => 23, :rows => 1, placeholder:  "Your custom URL handle" %> 
      </div>
      <br>Change your name <br> 
      <div class="profilebox" >
        <%= f.text_area :name, :cols => 40, :rows => 1 %>
      </div>
      <br><br><center><%= f.submit "Save Profile" %> </center><br><br>
    </div>
  </div>
  

  <div class="col-md-7 col-sm-6 col-xs-12 " style="text-align:left">
    <div class="row" >
      <div class="password" >
        <div class="col-md-4 col-sm-4 col-xs-4 " style="text-align:left">
          Change password <br><br>
          Confirm new password   
        </div>
        <div class="col-md-5 col-sm-5 col-xs-5 " style="text-align:left">
          <%= f.password_field :password %><br><br>
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3 " >
        <center><%= f.submit "Save Profile" %> </center><br><br>
      </div>
    </div>

    <div class="blacktxt" >
      <br>If you have a video about you or your brand on <b>YouTube</b>, paste the YouTube URL below. Your video's 11-digit ID will be saved. <br /> 
      Video 1: <br>
      <div class="profilebox" >
        <%= f.text_area :youtube1, :cols => 70, :rows => 2, placeholder: 'http://www.youtube.com/watch?v=/frlviTJcVUo' %>
      </div>
      Video 2: <br /> 
      <div class="profilebox" >
        <%= f.text_area :youtube2, :cols => 70, :rows => 2, placeholder: 'http://www.youtube.com/watch?v=/frlviTJcVUo' %>
      </div>
      Video 3: <br /> 
      <div class="profilebox" >
        <%= f.text_area :youtube3, :cols => 70, :rows => 2, placeholder: 'http://www.youtube.com/watch?v=/frlviTJcVUo' %>
      </div>

      <br>Enter short (less than 255 characters) descriptions of your videos below<br>
      Video 1: <br>
      <div class="profilebox" >
        <%= f.text_area :videodesc1, :cols => 70, :rows => 2 %>
      </div>
      <span class="viddesc1usercount"></span><br>
      Video 2: <br>
      <div class="profilebox" >
        <%= f.text_area :videodesc2, :cols => 70, :rows => 2 %>
      </div>
      <span class="viddesc2usercount"></span><br>
      Video 3: <br>
      <div class="profilebox" >
        <%= f.text_area :videodesc3, :cols => 70, :rows => 2 %>
      </div>
      <span class="viddesc3usercount"></span><br>

      <br>In future versions of CrowdPublish.TV, we will automate linking your account with livestreaming video during signup. But for now, to change the default CrowdPublish.TV video on your Author Stream Page to your own livestreaming video, you can sign up at  <a href= "http://Ustream.TV" target="_blank", color=> Ustream </a>. 

      <br><br>Go to your <b>Ustream</b> dashboard (click on the icon in upper right of your <a href= "http://Ustream.TV" target="_blank"> Ustream.TV </a> page). Under <i>Channel</i> click on <font color = "0000FF"> Embed</font>. Click on the Create Embed button for the <i>Player</i>. A new tab will open. The code to Embed the video player will be in the lower left corner of your screen. It looks something like the default code below. </br>

      <br> Copy & paste the <b>Player</b> code from your Ustream account to replace the default code below. Your Ustream ID will be saved. <br /> 
      <div class="profilebox" >
        <%= f.text_area :ustreamvid, :cols => 70, :rows => 5, placeholder: '<iframe src="http://www.ustream.tv/embed/13434383?wmode=direct" style="border: 0 none transparent;" frameborder="no" width="480" height="302"></iframe><br /><a href="http://www.ustream.tv/" style="padding: 2px 0px 4px; width: 400px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;" target="_blank">Live streaming video by Ustream</a>' %>
      </div>

      <br>If you already regularly use a livestreaming site other than ustream (such as vokle.com, livestream.com, twitch.tv etc.) enter the URL to your show here:<br> 
      <div class="profilebox" >
        <%= f.text_area :ustreamsocial, :cols => 70, :rows => 1, placeholder: 'https://www.vokle.com/series/43300-diva-dr-afshans-show' %><br><br>
      </div>
      <div>
        If you have a BlogTalkRadio podcast, click on the <font color = "0000FF"> <\> </font> symbol below your banner picture on your BlogTalkRadio page. Copy & paste the <font color = "0000FF"> Embed To Sites & Blogs</font> code here.  <br> 
        If you were featured in 1 episode of someone else's BlogTalkRadio show, click the square Share icon with the curved arrow to the right of the player on the top of that show's webpage. A popout button will appear with code to Embed In Sites & Blogs. Copy that code and paste it here.
      </div>
      <div class="profilebox" >
        <%= f.text_area :blogtalkradio, :cols => 70, :rows => 5, placeholder: '<iframe width="400" height="370" src="http://player.cinchcast.com/?platformId=1&assetType=multi&userurl=drafshanhashmi&itemcount=6" frameborder="0" allowfullscreen></iframe><div style="font-size: 10px;text-align: center;width:400px;">Check Out Entertainment Podcasts at Blog Talk Radio with <a href="http://www.blogtalkradio.com/drafshanhashmi" rel="nofollow">Dr Afshan Hashmi</a> on BlogTalkRadio' %>
      </div><br><br><br>
    </div>
  </div><br><br>
  <% end %>
<% end %>

<div id="userlist" >
<%= form_for(@user, :html => { :multipart => true }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  <% end %>
  </div>
<% end %>
