
<!--This partial contains two panels unlike the other panel partials because I don't think they'll ever be seperated, but I want them split to save vertical space.-->


<% @title=" edit user profile "  %>

  <%= render 'layouts/flash_messages' %>

  <% if current_page?("/"+current_user.name.downcase+"/profileinfo") %>
    <!-- Applies the necessary padding when the page is rendered alone.-->
    <div style="height:70px;"></div>
  <% end %>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7" style="margin-left:-50px">
      <%= form_for @user, :html => {:multipart => true} do |f| %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          About
        </div>
        <div class="panel-body">

          <div class="row" style="margin-bottom:-20px">

            <!-- Profile Picture -->
            <div class="col-md-4" style="margin-left:-65px; margin-top:-30px;">
              <div class="form-group">
                <h3><%=f.label :name, "Profile Image" %></h3>
                <% if @user.profilepic.present? && @user.profilepic != '' %>
                  <%= image_tag @user.profilepic.url.to_s, :height => "150" %>
                <% else %>
                  <%= image_tag "logoDigitalHollow300.png", :height => "150", :width => "150" %> <br>
                <% end %>
                  <%= f.file_field :profilepic, :style => "padding-top:5px;" %>
                <p class="help-block">150px &times; 150px is best</p>
              </div>
            </div>

            <!-- Header (For Now) -->
            <div class="col-md-8" style="margin-top:-20px; margin-left:-45px;">
              <div class="form-group">
                <h3><%=f.label :name, "Banner Image" %></h3>
                <%= f.file_field :bannerpic, :style => "padding-top:0px;" %>
                <p class="help-block">1500px &times; 300px is best</p>
              </div>
            </div>

            <!-- Header (Fix Later)
            <div class="col-md-8" style="margin-top:-20px; margin-left:-45px;">
              <div class="form-group">
                <h3><%=f.label :name, "Banner Image" %></h3>
                <% if @user.bannerpic.present? && @user.bannerpic != '' %>
                  <div style="margin-top:20px">
                  <%= image_tag @user.bannerpic.url.to_s, height: "126", :width => "630", :id => "userBannerImage"%>
                  </div>
                <% else %>
                  <div style="margin-top:20px">
                  <%= image_tag "crowddark.png", height: "126", :width => "630", :id => "userBannerImage" %>
                  </div>
                <% end %>
                <%= f.file_field :bannerpic, :style => "padding-top:19px;" %>
                <p class="help-block">1500px &times; 300px is best</p>
              </div>
            </div>
            -->
          </div>

          <!-- Name -->
          <div class="form-group" style="margin-top:0px">
              <div style="margin-bottom:-15px">
                <h3><%= f.label :name, "Name" %></h3>
              </div>
              <%= f.text_field :name, maxlength: 50, :type => "name", :class => "form-control", placeholder: "This could be your name or your organization's name" %>
          </div>

          <!-- About You -->
          <div class="form-group">
            <div style="margin-bottom:-14px">
              <h3><%=f.label :name, "About you" %></h3>
            </div>
            <%= f.text_area :about, placeholder: 'Tell us a little about you or your organization', :class => "form-control" %>
          </div>

          <!-- Three Topics -->
          <div class="form-group">
            <div style="font-size:25px; margin-bottom:-7px;"><%=f.label :name, "Conversation Topics" %></div>
            <%= f.text_field :genre1, :class => "form-control", placeholder: "Topic 1" %>
            <%= f.text_field :genre2, :class => "form-control", placeholder: "Topic 2" %>
            <%= f.text_field :genre3, :class => "form-control", placeholder: "Topic 3" %>
          </div>

          <!-- Cancel and Save Buttons -->
          <div class="btn-group btn-group-lg" id="editProfileButton">
            <%= link_to 'Cancel', user_profile_path, :class => "btn btn-default", :id => "cancelProfileButton" %>
            <%= f.submit "Save Changes", :class => "btn btn-primary", :id => "saveProfileButton" %>
          </div>

        </div>
      </div>
    </div>
  </div>

<% end %>

<!-- This error detection may need to be moved into dashboardbox.-->
<div id="userlist" >
<%= form_for(@user, :html => { :multipart => true }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
    <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  <% end %>
  </div>
<% end %>

<!-- Notes:

Test to ensure form posts correctly

-->
