<% @title="CrowdPublish.TV: The Future of Empowerment is Your Story - edit user profile "  %>
<%= render 'userform' %>

<% if @user == current_user %>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

<div id="bkinp" style="position:absolute; overflow:hidden; left:160px; top:50px; z-index:3">

<%= f.text_area :genre1, :cols => 20, :rows => 1, placeholder: "Main genre of your writing" %><br>
<%= f.text_area :genre2, :cols => 20, :rows => 1, placeholder: "Sub genre" %><br>
<%= f.text_area :genre3, :cols => 20, :rows => 1, placeholder: "Another genre" %></div>

<div id="bkinp" style="position:absolute; overflow:hidden; left:0px; top:350px; z-index:3; width:350px;">
    Upload a picture of yourself (square is best)
    <br><%= f.file_field :profilepic %> OR

<br>    <%= f.text_area :profilepicurl, :cols => 40, :rows => 1, placeholder:  "URL for profile pic (Square is best)" %>
<br><%= f.text_area :blogurl, :cols => 40, :rows => 1, placeholder: "URL to your blog" %>
<br>  <%= f.text_area :twitter, :cols => 40, :rows => 1, placeholder: "Twitter handle (Without the '@' symbol)" %>
</div>

<div id="passwd" style="position:absolute; overflow:hidden; width:350px; left:0px; top:160px; z-index:3"><span class="Body-C0">
<table>
  <tr>
    <td> Password:</td>
    <td><%= f.password_field :password %></td>
  </tr> <tr>
    <td>Password Confirmation:</td>
    <td><%= f.password_field :password_confirmation %></td>
  </tr> 
</table>

<center><%= f.submit "Save user Info" %> </center>
You must enter & confirm password every time you visit this page.
After saving, you will be directed to your user profile. You may come back to this page to edit your info.

</div>

<div id="signup" style="position:absolute; overflow:hidden; 
left:380px; top:40px; z-index:3">

    Soon we will automate linking your account with Ustream during signup. But at this time, sign up at <a href= http://Ustream.TV> Ustream <title= "Ustream" target="_blank"></a> in another browser tab then return to this page.
<p>Go to your Ustream dashboard (click on the icon in upper right of your <a href= http://Ustream.TV> Ustream.TV <title= "Ustream" target="_blank"></a> page). Scroll down under <b>Channel</b> and click on <font color = "0000FF"> Embed</font>. The code to Embed the <font color = "0000FF"> Live </font> video player will look something like this: 
<br>	<font face="Courier New"> [iframe src="http://www.ustream.tv/embed/247796" width="608" height="368" ... (verbose code in here) ...  Live Video streaming by Ustream /a> </font> <br> 
Copy & paste it into the box below. <br />
    <%= f.text_area :ustreamvid, :cols => 62, :rows => 3 %>
<p>
On the same Embed page, click on the <font color = "0000FF">Social Stream</font> tab. You will see code similar to this: 
<br>	<font face="Courier New"> [iframe width="468" scrolling="no" height="586" frameborder="0" style="border: 0px none transparent;" src="http://www.ustream.tv/socialstream /247796">/iframe></font><br>
Copy & paste it into the box below. <br />
    <%= f.text_area :ustreamsocial, :cols => 62, :rows => 3 %>
  </div>

<% end %>
<% end %>

<div id="userlist" style="position:absolute; overflow:hidden; left:0px; top:330px; z-index:3">

<%= form_for(@user, :html => { :multipart => true }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
</div>

</body>