
<!--This partial contains two panels unlike the other panel partials because I don't think they'll ever be seperated, but I want them split to save vertical space.-->


<% @title=" edit user profile "  %>

<%= render 'layouts/flash_messages' %>

<% if current_page?("/"+current_user.name.downcase+"/profileinfo") %>
	<!-- Applies the necessary padding when the page is rendered alone.-->
	<div style="height:70px;"></div>
<% end %>

<div class="col-md-6">
	<%= form_for @user, :html => {:multipart => true} do |f| %>
	<div class="panel panel-primary">
		<div class="panel-heading">
			About
		</div>
		<div class="panel-body">
			<div class="form-group">
				<h3><%=f.label :name, "Name" %></h3>
				<p class="help-block">This could be your name or your organization's name</p>
				<%= f.text_field :name, maxlength: 50, :type => "name", :class => "form-control" %>
			</div>

			<div class="form-group">
				<h3><%=f.label :name, "Profile Image" %></h3>
				<% if @user.profilepic.present? && @user.profilepic != '' %>
					<%= image_tag @user.profilepic.url.to_s, :height => "150" %>
				<% elsif @user.profilepicurl %>
					<% if @user.profilepicurl.match(/http/) %>
						<%= image_tag @user.profilepicurl, :height => "150" %><br >
					<% end %>
				<% end %>
				<p class="help-block">Upload a picture that represents your organization or work (150px &times; 150px is best)</p>
				<%= f.file_field :profilepic, :class => "form-control",:style => "padding-bottom:40px;" %>
			</div>

			<div class="form-group">
				<h3><%=f.label :name, "About you" %></h3>
				<p class="help-block">Tell us a little about your organization.</p>
				<%= f.text_area :about, placeholder: 'About Me', :class => "form-control" %>
			</div>

			<div class="form-group">
				<h3><%=f.label :name, "Discussion Topics" %></h3>
				<p class="help-block">Three categories that categorize what you discuss your live talk shows.</p>
				<%= f.text_field :genre1, :class => "form-control", placeholder: "Category" %>
				<%= f.text_field :genre2, :class => "form-control", placeholder: "Subcategory" %>
				<%= f.text_field :genre3, :class => "form-control", placeholder: "Another subcategory" %>
			</div>

			<div class="form-group">
				<h3><%=f.label :name, "Banner Image" %></h3>
				<p class="help-block">Upload a picture to display on top of your profile (1500px &times; 300px is best)</p>
				<%= f.file_field :bannerpic, :class => "form-control",:style => "padding-bottom:40px;" %>
			</div>
			<div class="btn-group btn-group-lg" id="editProfileButton"> 
				<%= link_to 'Cancel', user_profile_path, :class => "btn btn-default", :id => "cancelProfileButton" %>
				<%= f.submit "Save Changes", :class => "btn btn-primary", :id => "saveProfileButton" %>
			</div>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="panel panel-primary">
		<div class="panel-heading">
			Social
		</div>
		<div class="panel-body">
			<div class="form-group">
				<h3><%=f.label :name, "Twitter Handle" %></h3>
				<div class="input-group">
					<div class="input-group-addon">@</div>
					<%= f.text_field :twitter, placeholder: "twitterhandle", :class => "form-control" %>
				</div>
			</div>


			<div class="form-group">
				<h3><%=f.label :name, "YouTube Videos" %></h3>
				<p class="help-block">If you have a video about your organizations or projects on YouTube, paste the URL below.
				<%= f.text_field :youtube1, placeholder: 'http://www.youtube.com/watch?v=/frlviTJcVUo', :type => "text", :class => "form-control" %>
				<%= f.text_field :youtube2, placeholder: 'http://www.youtube.com/watch?v=/frlviTJcVUo', :type => "text", :class => "form-control" %>
				<%= f.text_field :youtube3, placeholder: 'http://www.youtube.com/watch?v=/frlviTJcVUo', :type => "text", :class => "form-control" %>
			</div>
			<div class="btn-group btn-group-lg" id="editProfileButton">
				<%= link_to 'Cancel', user_profile_path, :class => "btn btn-default", :id => "cancelProfileButton" %>
				<%= f.submit "Save Changes", :class => "btn btn-primary", :id => "saveProfileButton" %>
			</div>
		</div>
	</div>
</div>

<% end %>

<!-- This error detection may need to be moved into dashboardbox.-->
<div id="userlist" >
<%= form_for(@user, :html => { :multipart => true }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
    <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  <% end %>
  </div>
<% end %>

<!-- Notes:

Test to ensure form posts correctly

-->