<% @title=" edit user profile "  %>
<p class="flash"><%= flash.notice %></p>

<div style="position:absolute; left:0px; top:7s0px; opacity:0.3; ">
  <% if @user.profilepic.present? && @user.profilepic != '' %>
    <%= image_tag @user.profilepic, :height => "150" %>
  <% elsif @user.profilepicurl %>
    <% if @user.profilepicurl.match(/http/) %>
      <%= image_tag @user.profilepicurl, :height => "150" %><br >
    <% else %>
      <%= image_tag "whiteBk.jpg", :height => "150" %>
    <% end %>
  <% else %>
    <%= image_tag "whiteBk.jpg", :height => "150" %>
  <% end %>
</div>

<% if @user == current_user %>

  <%#= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= form_for @user, :html => {:multipart => true} do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <%#= devise_error_messages! Undefined method 'resource' in app_helper %>

  <div class="col-md-5 col-sm-6 col-xs-12 " style="text-align:left">
    <div class="blacktxt" >
      To change your profile picture, upload a picture of yourself (square is best)
      <br><%= f.file_field :profilepic %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <br>Three genres that categorize your work <br>
      <div class="profilebox" >
        <%= f.text_area :genre1, :cols => 20, :rows => 1, placeholder: "Main genre of your writing" %><br>
        <%= f.text_area :genre2, :cols => 20, :rows => 1, placeholder: "Sub genre" %><br>
        <%= f.text_area :genre3, :cols => 20, :rows => 1, placeholder: "Another genre" %>
      </div> 
      <br>URL to your blog <br>
      <div class="profilebox" >
        <%= f.text_area :blogurl, :cols => 40, :rows => 2, placeholder: "http://BlogURL.com" %>
      </div>
      <br>Twitter handle (do not include the '@' symbol nor the entire url) <br>
      <div class="profilebox" style="vertical-align: text-top">
        <b style="vertical-align: super">@</b> 
        <%= f.text_area :twitter, :cols => 30, :rows => 1, placeholder: "twitterhandle" %>
      </div>

      <br>Change your zip code, address, or city (this is used to calculate Groups & Events Near You) <br>
      <div class="profilebox" >
        <%= f.text_area :address, :cols => 40, :rows => 1 %>
      </div>
      <br>Change account type:
      <br><%= f.radio_button(:author, 'reader') %>
      <%= label_tag(:author_child, "Reader") %>
      <br><%= f.radio_button(:author, 'author') %>
      <%= label_tag(:author_adult, "Author/Filmmaker") %>
 
      <br>Tell us all about yourself. <br />
      <div class="profilebox" >
        <%= f.text_area :about, :cols => 40, :rows => 10, placeholder: 'About Me' %>
      </div>
      <br>For a limited time, you will be allowed to change your custom URL handle (must be less than 20 characters)  
      <div class="profilebox" style="vertical-align: text-bottom">
        <b style="vertical-align: super">www.CrowdPublish.TV/ </b> <%= f.text_area :permalink, :cols => 23, :rows => 1, placeholder:  "Your custom URL handle" %> 
      </div>
      <br>Change your name <br> 
      <div class="profilebox" >
        <%= f.text_area :name, :cols => 40, :rows => 1 %>
      </div>
      <br>Change your email address <br> 
      <div class="profilebox" >
        <%= f.text_area :email, :cols => 40, :rows => 1 %>
      </div>
      <br><br><center><%= f.submit "Save Profile" %> </center><br><br>
    </div>
  </div>
  

  <div class="col-md-7 col-sm-6 col-xs-12 " style="text-align:left">
    <div class="row" >
      <div class="password" >
        <div class="col-md-4 col-sm-4 col-xs-4 " style="text-align:left">
          Change password <br><br>
          Confirm new password   
        </div>
        <div class="col-md-5 col-sm-5 col-xs-5 " style="text-align:left">
          <%= f.password_field :password %><br><br>
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3 " >
        <center><%= f.submit "Save Profile" %> </center><br><br>
      </div>
    </div>

    <div class="blacktxt" >
      <br>If you have a video about you or your brand on <b>YouTube</b>, paste the YouTube URL below. Your video's 11-digit ID will be saved. Any non-YouTube url will be ignored. <br /> 
      Video 1: <br>
      <div class="profilebox" >
        <%= f.text_area :youtube1, :cols => 70, :rows => 2, placeholder: 'http://www.youtube.com/watch?v=/frlviTJcVUo' %>
      </div>
      Video 2: <br /> 
      <div class="profilebox" >
        <%= f.text_area :youtube2, :cols => 70, :rows => 2, placeholder: 'http://www.youtube.com/watch?v=/frlviTJcVUo' %>
      </div>
      Video 3: <br /> 
      <div class="profilebox" >
        <%= f.text_area :youtube3, :cols => 70, :rows => 2, placeholder: 'http://www.youtube.com/watch?v=/frlviTJcVUo' %>
      </div>

      <br>Enter short (less than 255 characters) descriptions of your videos below<br>
      Video 1: <br>
      <div class="profilebox" >
        <%= f.text_area :videodesc1, :cols => 70, :rows => 2 %>
      </div>
      <span class="viddesc1usercount"></span><br>
      Video 2: <br>
      <div class="profilebox" >
        <%= f.text_area :videodesc2, :cols => 70, :rows => 2 %>
      </div>
      <span class="viddesc2usercount"></span><br>
      Video 3: <br>
      <div class="profilebox" >
        <%= f.text_area :videodesc3, :cols => 70, :rows => 2 %>
      </div>
      <span class="viddesc3usercount"></span><br>

      <br>
    </div>
  </div><br><br>
  <% end %>
<% end %>

<div id="userlist" >
<%= form_for(@user, :html => { :multipart => true }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  <% end %>
  </div>
<% end %>
