<!--This partial contains two panels unlike the other panel partials because I don't think they'll ever be seperated, but I want them split to save vertical space.-->


<% @title=" edit user profile "  %>

  <%= render 'layouts/flash_messages' %>

  <% if current_page?("/"+current_user.name.downcase+"/profileinfo") %>
    <!-- Applies the necessary padding when the page is rendered alone.-->
    <div style="height:70px;"></div>
  <% end %>

  <div class="row ">
    <div class="col-lg-12">
      <%= form_for @user, :html => {:multipart => true} do |f| %>
      <div class="card">
        <h5 class="card-header bg-primary text-white">
          About
        </h5>
        <div class="card-body">

          <div class="row" >
          

          <!-- Profile Picture -->
            <div class="col-md-6" >
              <div class="form-group">
                <h3><%=f.label :name, "Profile Image" %></h3>
                <% if @user.profilepic.present? && @user.profilepic != '' %>
                  <%= image_tag(@user.profilepic.url.to_s, :class => "img-circle", :height => "150", :width => "150", :id => "profileInfoImage") %>
                <% else %>
                  <%= image_tag "logoDigitalHollow300.png", :height => "150", :width => "150", :id => "profileInfoImage" %> <br>
                <% end %>
                <br>
                  <%= f.file_field :profilepic, :class => "pt-2" %>
                <p class="help-block">150px &times; 150px is best</p>
              </div>
            </div>

            <!-- Header -->
            <div class="col-md-6">
              <div class="form-group">
                <h3><%=f.label :name, "Banner Image" %></h3>
                <% if @user.bannerpic.present? && @user.bannerpic != '' %>
                  <div id="profileInfoBanner">
                    <%= image_tag(@user.bannerpic.url.to_s, :class => "img-responsive w-75", :height => "150", :id => "userBannerImage")%> <br>
                  </div>
                <% else %>
                  <div id="profileInfoBanner" style="margin-top:20px;">
                    <%= image_tag("crowddark.png", :class => "img-responsive w-75", :height => "150", :id => "userBannerImage")%> <br>
                  </div>
                <% end %>
                <%= f.file_field :bannerpic, :class => "pt-4" %>
                <p class="help-block">1500px &times; 300px is best</p>
              </div>
            </div>
          </div>
          

          <!-- Name -->
          <div class="form-group" style="margin-top:0px">
              <div style="margin-bottom:-15px">
                <h3><%= f.label :name, "Name" %></h3>
              </div>
              <%= f.text_field :name, maxlength: 50, :type => "name", :class => "form-control", placeholder: "This could be your name or your organization's name" %>
          </div>

          <!-- About You -->
          <div class="form-group">
            <div style="margin-bottom:-14px">
              <h3><%=f.label :name, "About you" %></h3>
            </div>
            <%= f.text_area :about, placeholder: 'Tell us a little about you or your organization', :class => "form-control" %>
          </div>

          <!-- Three Topics -->
          <div class="form-group">
            <div style="font-size:25px; margin-bottom:-7px;"><%=f.label :name, "Conversation Topics" %></div>
            <%= f.text_field :genre1, :class => "form-control", placeholder: "Topic 1" %>
            <%= f.text_field :genre2, :class => "form-control", placeholder: "Topic 2" %>
            <%= f.text_field :genre3, :class => "form-control", placeholder: "Topic 3" %>
          </div>

          <!-- Cancel and Save Buttons -->
          <div class="btn-group btn-group-lg" id="editProfileButton">
            <%= link_to 'Cancel', user_profile_path, :class => "btn btn-secondary"%>
            <%= f.submit "Save Changes", :class => "btn btn-primary" %>
          </div>

        </div>
      </div>
    </div>
  </div>

<% end %>

<!-- This error detection may need to be moved into dashboardbox.-->
<div id="userlist" >
<%= form_for(@user, :html => { :multipart => true }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
    <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  <% end %>
  </div>
<% end %>

<!-- Notes:
Test to ensure form posts correctly
-->