<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>CrowdPublish.TV <%  @user.name %> 's projects</title>
<meta name="description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!"/>
<meta property="og:title" content="CrowdPublishTV - The Future of Empowerment is Your Story" />
<meta property="og:url" content="http://CrowdPublish.TV" />
<meta property="og:image" content="http://crowdpublish.tv/images/crowdpublishLogo.png" />
<meta property="og:description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!" />
</head>

<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container" >

<div class="blacktxt  col-lg-10 col-md-9 col-sm-9 col-xs-11" >
<h1><%= @user.name %>'s projects</h1>
<% if @user == current_user %>
  <%= button_to "Create a New Project", new_project_path, :method=> :get %><br>
  <table>
    <% @outstandingagreements.each do |agree| %>
      <tr>
        <td><%= button_to [:approveagreement, @user] do %>
          <strong>Approve </strong>
          <%= hidden_field_tag :agreeid, agree[:agreeid] %>
        <% end %></td>
        <td><%= button_to [:declineagreement, @user] do %>
          <strong>Decline </strong>
          <%= hidden_field_tag :agreeid, agree[:agreeid] %>
        <% end %></td>
        <td><%= link_to agree[:groupname], group_path(agree[:grouppermalink]) %> wants to partner with <%= agree[:projectname]  %> </td>
      </tr>  
    <% end %>  
  </table> 
<% end %>

<% if @activeprojects.count != 0 %>
  <h2>Current projects</h2>
  <table>
  <% @activeprojects.each do |proj| %>
    <tr><td><br><%= link_to proj.name, proj %></td>
      <td><br><%= proj.mission %></td>
    <% if user_signed_in? %>
      <% if proj.user_id == current_user.id %>
        <td><br><%= link_to 'Edit', edit_project_path(proj.id) %> </td>
      <% end %>
    <% end %>
    </tr>
  <% end %>
  </table>
<% else %><br>
  *** <%= @user.name %> does not have any active projects ***<br><br>
<% end %>  

<% if @pastprojects.count != 0 %>
  <h2>Past projects</h2>
  <table>
  <% @pastprojects.each do |proj| %>
    <tr><td><br><%= link_to proj.name, proj %></td>
      <td><br><%= proj.mission %></td>
    <% if user_signed_in? %>
      <% if proj.user_id == current_user.id %>
        <td><br><%= link_to 'Edit', edit_project_path(proj.id) %> </td>
      <% end %>
    <% end %>
    </tr>
  <% end %>
  </table>
<% else %><br><br>
  <%= @user.name %> does not have any past projects 
<% end %>  
</div>
</div>
</div>
</div>
</div>
