<% @title="CrowdPublish.TV: The Future of Empowerment is Your Story - edit user profile "  %>

<div id="pic" style="position:absolute; left:0px; top:35px; opacity:0.4;">
  <% if @user.profilepic.present? && @user.profilepic != '' %>
    <%= image_tag @user.profilepic, :size => "150x150" %>
  <% elsif @user.profilepicurl %>
    <% if @user.profilepicurl.match(/http/) %>
      <%= image_tag @user.profilepicurl, :size => "150x150" %><br >
    <% else %>
      <%= image_tag "whiteBk.jpg", :size => "150x150" %>
    <% end %>
  <% else %>
    <%= image_tag "whiteBk.jpg", :size => "150x150" %>
  <% end %>
</div>

<% if @user == current_user %>

  <%= form_for @user, :html => {:multipart => true} do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>

  <div class="copyalpha" style="position:absolute; left:0px; top:35px;">
    <p>Upload a picture of yourself<br> (square is best)
    <br><%= f.file_field :profilepic %><p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    OR<br> URL to a picture of you <br>
    <%= f.text_area :profilepicurl, :cols => 40, :rows => 1, placeholder:  "URL for profile pic (Square is best)" %>
  </div>

    <div id="bkinp" style="position:absolute; left:160px; top:25px; width:190px;">
      <h2><%= @user.name %></h2>
    </div>
    <div id="bkinp" style="position:absolute; left:160px; top:190px; width:190px;">
      Three genres that categorize your work <br>
      <%= f.text_area :genre1, :cols => 20, :rows => 1, placeholder: "Main genre that you read" %><br>
      <%= f.text_area :genre2, :cols => 20, :rows => 1, placeholder: "Sub genre" %><br>
      <%= f.text_area :genre3, :cols => 20, :rows => 1, placeholder: "Another genre" %>
    </div>

    <div id="bkinp" style="position:absolute; left:0px; top:320px; width:350px;">
      FOR A LIMITED TIME you will be allowed to change your custom URL handle (e.g. www.CrowdPublish.TV/yourcustomurlhandle)
      <br><%= f.text_area :permalink, :cols => 40, :rows => 1, placeholder:  "Your custom URL handle" %> 

      <br>URL to your blog <br>
      <%= f.text_area :blogurl, :cols => 40, :rows => 1, placeholder: "Blog URL" %>
      <br>Twitter handle (don't include the '@' symbol nor the entire url) <br>
      <div class="featured"> @<%= f.text_area :twitter, :cols => 20, :rows => 1, placeholder: "Twitter" %> </div>

      <p>Change account type:
      <p><%= f.radio_button(:author, 1) %>
      <%= label_tag(:author_child, "Reader") %>
      <br><%= f.radio_button(:author, 2) %>
      <%= label_tag(:author_adult, "Author") %>
      <br><%= f.radio_button(:author, 3) %>
      <%= label_tag(:author_adult, "Organization") %>
 
      <br><br>Change your zip code, address, or city <br>
      <%= f.text_area :address, :cols => 40, :rows => 1 %>
    </div>

    <div class="password" style="position:absolute; left:380px; top:40px;">
    <table>
      <tr>
        <td> Password:</td>
        <td><%= f.password_field :password %></td>
      </tr> <tr>
        <td>Password Confirmation:</td>
        <td><%= f.password_field :password_confirmation %></td>
      </tr> 
    </table>

    <center><%= f.submit "Save user Info" %> </center>
      You must enter & confirm password every time you visit this page.
      After saving, you will be directed to your user profile. You may come back to this page to edit your info.
    </div>

    <div id="signup" style="position:absolute; left:380px; top:200px;">
      <p>Tell us all about yourself. <br />
      <%= f.text_area :about, :cols => 70, :rows => 7, placeholder: 'About Me' %>
    </div>
  <% end %>
<% end %>

<div style="position:absolute; left:0px; top:0px">
    <%= image_tag "purpleBar.png", :size => "1010x35" %>
</div>
<div class="usermenu" style="position:absolute; left:10px; top:7px; ">
<%= link_to " Blog ", user_blog_path(@user.permalink), :style => 'color:#FFFFFF' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to " About " + @user.name, user_profile_path(@user.permalink), :style => 'color:#FFFFFF' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to " CrowdPublishTV Home ", root_path(@user.permalink), :style => 'color:#FFFFFF' %>
</div>
<div class="usermenu" style="position:absolute; left:750px; top:7px; ">
  <% if user_signed_in? %>
    <%= link_to "#{current_user.name}", current_user, :style => 'color:#FFFFFF'  %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to " Sign out ", destroy_user_session_path, :method => :delete, :style => 'color:#FFFFFF'%>
  <% else %>
    <%= link_to 'SIGN UP!', "/signup", :style => 'color:#FFFFFF' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    <%= link_to "Sign in", new_user_session_path, :style => 'color:#FFFFFF'%> 
  <% end %>
</div>

<div id="userlist" style="position:absolute; left:0px; top:330px;">
<%= form_for(@user, :html => { :multipart => true }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  <% end %>
  </div>
<% end %>

</body>