<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title> <% "Support " + @user.name + "'s Projects" %> </title>
<meta property="og:url" content="http://ThinQ.TV" />
<meta property="og:description" content="ThinQTV helps actors, authors increase fan engagement & raise more funds" />
</head>
  <div class="container-fluid" >
    <% if request.host == "crowdpublishtv.herokuapp.com" %>
      <div class="row" id="dashboardTabs">
        <div class="col-md-4">
          <%= render 'layouts/merchsidebar' %>
        </div>
        <div class="col-md-8">
          <%= render 'layouts/jitsi' %>
          <h4>If you're not seeing or hearing the Live Conversation in the viewer above:</h4>
          <li>Are you using Safari? Close that and use Chrome or Firefox. Safari can never be used for live video. - or -</li>
          <li>Reload the page. (Press F5) - or -</li>
          <li>If you have slow wifi, turn off your camera. (Click on the camera icon above) - or -</li>
          <li>Turn up the volume on your speakers. - or - </li>
          <li>Update Chrome or Firefox to the latest version. - or - </li>
          <li>Download the JITSI Meet app onto your phone and join the THINQTV chatroom on the app. - or -</li>
          <li>Call in on your phone: 1.512.402.2718 PIN: 968 707 817# (For audio only)</li>
          You may also type in the chat - click on the Open/Close Chat icon next to the hand above.
          <br><br>
        </div>
      </div>
    <% else %>
      <%= render 'layouts/authorform' %>
      <div class="row" style="padding-top:15px;padding-bottom:30px;">
        <%= render 'layouts/streamButton' %>
      </div>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= value %>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-4">
          <%= render 'layouts/merchsidebar' %>
        </div>
        <div class="col-md-8">
          <% if @events.present? %>
            <%= render 'layouts/maincalendar', collection: @events %><br>
          <% end %>
          <%= render 'layouts/youtube' %>
        </div>
      </div>
    <% end %>
  </div>
