<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title> <%  @user.name %> </title>
<meta name="description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!"/>
<meta property="og:title" content="CrowdPublishTV - The Future of Empowerment is Your Story" />
<meta property="og:url" content="http://CrowdPublish.TV" />
<meta property="og:image" content="http://crowdpublish.tv/images/crowdpublishLogo.png" />
<meta property="og:description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!" />
</head>

<% @title=" Watch " + @user.name + " videos here!" %>

<div class="col-lg-8 col-md-7 col-sm-6 col-xs-12 info-content" >
  <div class="profilebox" >
    <% if @user.about %> 
      <%= simple_format @user.about.gsub(/\r\n/, '<br>') %> <br><br>
    <% end %>
  </div>
  
<% if @user.author == 2 %>

  <div class="row" >
    <div class="col-lg-7 col-md-9 col-sm-10 col-xs-12 " >
      <% if @user.youtube1? %>
        <% if @user.youtube1.match(/[0-9A-Za-z]/) && @user.youtube1.length < 20 %>
          <iframe width="420" height="315" src="//www.youtube.com/embed/<%= @user.youtube1 %>" frameborder="0" allowfullscreen></iframe>
        <% elsif @user.youtube1.match(/<iframe/) && @user.youtube1.match(/\/\/www.youtube.com\/embed/) %>
          <%= @user.youtube1.html_safe %>
        <% end %>
      <% else %>
        <% if @user == current_user %>
          Replace the default YouTube code on your Edit page with the code from your YouTube account and display YOUR videos here!
        <% end %>
        <iframe src="http://www.ustream.tv/embed/13434383?wmode=direct" style="border: 0 none transparent;" frameborder="no" width="408" height="330"></iframe>
      <% end %>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-8 col-xs-9 " style="margin-left:10px">
      <div class="profilebox" >
        <% if @user.videodesc1 %> 
          <br><%= simple_format @user.videodesc1.gsub(/\r\n/, '<br>') %><br><br>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row" >
    <div class="col-lg-7 col-md-9 col-sm-10 col-xs-12 " >
      <% if @user.youtube2? %>
        <% if @user.youtube2.match(/[0-9A-Za-z]/) && @user.youtube2.length < 20 %>
          <iframe width="420" height="315" src="//www.youtube.com/embed/<%= @user.youtube2 %>" frameborder="0" allowfullscreen></iframe>
        <% elsif @user.youtube2.match(/<iframe/) && @user.youtube2.match(/\/\/www.youtube.com\/embed/) %>
          <%= @user.youtube2.html_safe %>
        <% end %>
      <% end %>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-8 col-xs-9 " style="margin-left:10px">
      <div class="profilebox" >
        <% if @user.videodesc2 %> 
          <br><%= simple_format @user.videodesc2.gsub(/\r\n/, '<br>') %><br><br>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row" >
    <div class="col-lg-7 col-md-9 col-sm-10 col-xs-12 " >
      <% if @user.youtube3? %>
        <% if @user.youtube3.match(/[0-9A-Za-z]/) && @user.youtube3.length < 20 %>
          <iframe width="420" height="315" src="//www.youtube.com/embed/<%= @user.youtube3 %>" frameborder="0" allowfullscreen></iframe>
        <% elsif @user.youtube3.match(/<iframe/) && @user.youtube3.match(/\/\/www.youtube.com\/embed/) %>
          <%= @user.youtube3.html_safe %>
        <% end %>
      <% end %>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-8 col-xs-9 " style="margin-left:10px">
      <div class="profilebox" >
        <% if @user.videodesc3 %> 
          <br><%= simple_format @user.videodesc3.gsub(/\r\n/, '<br>') %><br><br>
        <% end %>
      </div>
    </div>
  </div>

    <br><br>

<% else  %>
  <div class="row" >
    <div class="col-md-7 col-md-offset-1 col-sm-7 col-xs-7 " >
      <% if @user.twitter %>
        <a class="twitter-timeline"    
        data-widget-id="375760459510464512"
        data-screen-name="<%= @user.twitter %>" data-show-replies="false"
        data-tweet-limit="5">Tweets by @<%= @user.twitter %> </a>
      <% end %>
    </div>
  </div>
<% end %>

</div>
