<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title> <% "Support " + @user.name + "'s Projects" %> </title>
<meta property="og:url" content="http://CrowdPublish.TV" />
<meta property="og:image" content="http://crowdpublish.tv/images/crowdpublishLogo.png" />
<meta property="og:description" content="CrowdPublishTV helps actors, authors increase fan engagement & raise more funds" />
</head>

<% @title="Get Sneak Preview access to " + @user.name + " stories here!" %>

<% if request.host == "crowdpublishtv.herokuapp.com" %>
  <% if user_signed_in? %>
    <% if @user.id == current_user.id %>
      <% if !current_user.stripeid.present? %>
        <script type="text/javascript">
          window.location.href= "https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_6Ws78QidiUJpM70FWAELSMoUDYE37QA9&scope=read_write"
        </script>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="page-content" >
      <div class="container-flex">

  <script src="https://meet.jit.si/external_api.js">  </script>
  <script>
    jQuery(document).ready(function($) {

      var domain = "meet.jit.si";
      var userRoomName = '<%= @user.permalink %>';
      var options = {
        roomName: "CrowdPublish_" + `${userRoomName}`,
        width: 800,
        height: 700,
        parentNode: document.querySelector('#meet')
      }
      var api = new JitsiMeetExternalAPI(domain, options);
    });
  </script>

  <div id = "meet">
  </div>  


  <% if @user.youtube1? %>
    <div class="post-border">
      <div class="row" >
        <div class="col-lg-6 col-md-10 col-sm-12 col-xs-12 " >
            <% if @user.youtube1.match(/[0-9A-Za-z]/) && @user.youtube1.length < 20 %>
              <iframe width="420" height="315" src="//www.youtube.com/embed/<%= @user.youtube1 %>" frameborder="0" allowfullscreen></iframe>
            <% end %>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 " style="margin-left:10px">
          <div class="profilebox" style="text-shadow: 1px 1px #fff; background: rgba(265, 265, 265, .35); " >
            <% if @user.videodesc1 %> 
              <br><%= simple_format @user.videodesc1.gsub(/\r\n/, '<br>') %><br><br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @user.youtube2? %>
    <div class="post-border">
      <div class="row" >
        <div class="col-lg-6 col-md-10 col-sm-12 col-xs-12 " >
            <% if @user.youtube2.match(/[0-9A-Za-z]/) && @user.youtube2.length < 20 %>
              <iframe width="420" height="315" src="//www.youtube.com/embed/<%= @user.youtube2 %>" frameborder="0" allowfullscreen></iframe>
            <% end %>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 " style="margin-left:10px">
          <div class="profilebox" >
            <% if @user.videodesc2 %> 
              <br><%= simple_format @user.videodesc2.gsub(/\r\n/, '<br>') %><br><br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @user.youtube3? %>
    <div class="post-border">
      <div class="row" >
        <div class="col-lg-6 col-md-10 col-sm-12 col-xs-12 " >
            <% if @user.youtube3.match(/[0-9A-Za-z]/) && @user.youtube3.length < 20 %>
              <iframe width="420" height="315" src="//www.youtube.com/embed/<%= @user.youtube3 %>" frameborder="0" allowfullscreen></iframe>
            <% elsif @user.youtube3.match(/<iframe/) && @user.youtube3.match(/\/\/www.youtube.com\/embed/) %>
              <%= @user.youtube3.html_safe %>
            <% end %>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 " style="margin-left:10px">
          <div class="profilebox" >
            <% if @user.videodesc3 %> 
              <br><%= simple_format @user.videodesc3.gsub(/\r\n/, '<br>') %><br><br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

    </div>
  </div>
</div>
</div>
