<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title> <% "Support " + @user.name + "'s Projects" %> </title>
<meta property="og:url" content="http://CrowdPublish.TV" />
<meta property="og:image" content="http://crowdpublish.tv/images/crowdpublishLogo.png" />
<meta property="og:description" content="CrowdPublishTV helps actors, authors increase fan engagement & raise more funds" />
<script>
    var img = document.getElementById('userBannerImage');
    var c = document.createElement('canvas');
    var ctx = c.getContext('2d');
    var w = img.width, h = img.height;
    c.width = w; c.height = h;
    ctx.drawImage(img, 0, 0);
    var data = ctx.getImageData(0, 0, w, h).data;
    var brightness = 0;
    var sX = 200, sY = 10, eX = 80, eY = 40;
    var start = (w * sY + sX) * 4, end = (w * eY + eX) * 4;
    for (var i = start, n = end; i < n; i += 4) {
        var r = data[i],
            g = data[i + 1],
            b = data[i + 2];
        brightness += 0.34 * r + 0.5 * g + 0.16 * b;
        if (brightness !== 0) brightness /= 2;
    }
    if (brightness > 0.5) var nameColor = "#8C1D40";
    else var nameColor = "#FFC627";
    if (brightness > 0.5) var descColor = "black";
    else var descColor = "white";
    document.getElementById('profileName').style.color = nameColor;
    document.getElementById('profileDescription').style.color = descColor;
</script>
</head>

<% @title="Get Sneak Preview access to " + @user.name + " stories here!" %>

<div class="row">

    <%= render 'layouts/merchsidebar' %>
    
    <div class="col-xl-10 col-lg-9 col-md-8 col-sm-7">
      <% if request.host == "crowdpublishtv.herokuapp.com" %>
        <script src="https://meet.jit.si/external_api.js"></script>
        <script>
            jQuery(document).ready(function($) {
                var domain = "meet.jit.si";
                var userRoomName = '<%= @user.permalink %>';
                var options = {
                    roomName: "CrowdPublishTV_" + `${userRoomName}`,
                    height: 700,
                    parentNode: document.querySelector('#meet')
                }
                var api = new JitsiMeetExternalAPI(domain, options);
                $('#jitsiConferenceFrame0').addClass("embed-responsive-item");
            });
            
        </script>
    <% else %>
        <div style = "margin-top: 30px">
          <%= link_to "Join " + @user.name + "'s Livestream", "https://crowdpublishtv.herokuapp.com/" + @user.permalink, :class => 'btn-huge' %>
        </div>  
    <% end %>

        <!--class="embed-responsive"-->
        <div id="meet"></div>
    </div>
</div>

<div class="row" id="someYoutubeThing">


  <% if @user.youtube1? %>
    <div class="post-border">
      <div class="row" >
        <div class="col-lg-6 col-md-10 col-sm-12 col-xs-12 " >
            <% if @user.youtube1.match(/[0-9A-Za-z]/) && @user.youtube1.length < 20 %>
              <iframe width="420" height="315" src="//www.youtube.com/embed/<%= @user.youtube1 %>" frameborder="0" allowfullscreen></iframe>
            <% end %>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 " style="margin-left:10px">
          <div class="profilebox" style="text-shadow: 1px 1px #fff; background: rgba(265, 265, 265, .35); " >
            <% if @user.videodesc1 %> 
              <br><%= simple_format @user.videodesc1.gsub(/\r\n/, '<br>') %><br><br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @user.youtube2? %>
    <div class="post-border">
      <div class="row" >
        <div class="col-lg-6 col-md-10 col-sm-12 col-xs-12 " >
            <% if @user.youtube2.match(/[0-9A-Za-z]/) && @user.youtube2.length < 20 %>
              <iframe width="420" height="315" src="//www.youtube.com/embed/<%= @user.youtube2 %>" frameborder="0" allowfullscreen></iframe>
            <% end %>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 " style="margin-left:10px">
          <div class="profilebox" >
            <% if @user.videodesc2 %> 
              <br><%= simple_format @user.videodesc2.gsub(/\r\n/, '<br>') %><br><br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @user.youtube3? %>
    <div class="post-border">
      <div class="row" >
        <div class="col-lg-6 col-md-10 col-sm-12 col-xs-12 " >
            <% if @user.youtube3.match(/[0-9A-Za-z]/) && @user.youtube3.length < 20 %>
              <iframe width="420" height="315" src="//www.youtube.com/embed/<%= @user.youtube3 %>" frameborder="0" allowfullscreen></iframe>
            <% elsif @user.youtube3.match(/<iframe/) && @user.youtube3.match(/\/\/www.youtube.com\/embed/) %>
              <%= @user.youtube3.html_safe %>
            <% end %>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 " style="margin-left:10px">
          <div class="profilebox" >
            <% if @user.videodesc3 %> 
              <br><%= simple_format @user.videodesc3.gsub(/\r\n/, '<br>') %><br><br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
    
</div>