<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>CrowdPublish.TV <%  @user.name %> 's blog</title>
<meta name="description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!"/>
<meta property="og:title" content="CrowdPublishTV - The Future of Empowerment is Your Story" />
<meta property="og:url" content="http://CrowdPublish.TV" />
<meta property="og:image" content="http://crowdpublish.tv/images/crowdpublishLogo.png" />
<meta property="og:description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!" />
</head>

<% @title="CrowdPublish.TV interact with " + @user.name + " here live!" %>

<% if @user.author == 2 %>
  <%= render 'authorform' %>
  <%= render 'authorsidebar' %>

  <div id="uvid" style="position:absolute; left:400px; top:35px; z-index:3">
  <% if @user.ustreamvid? %>
    <% if @user.ustreamvid.match /<iframe src="www.ustream.tv\/embed/ %>
      <%= @user.ustreamvid.html_safe %>
    <% end %>
  <% elsif %>
    <iframe src="http://www.ustream.tv/embed/13434383" width="608" height="368" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe><br /></a>
  <% end %>
  </div>

  <div id="usocial" style="position:absolute; left:400px; top:370px; ">
  <% if @user.ustreamsocial? %>
    <% if @user.ustreamsocial.match /<iframe width="468" scrolling="no" height="586" frameborder="0" style="border: 0px none transparent;" src="http:\/\/www.ustream.tv\/socialstream/ %>
      <%= @user.ustreamsocial.html_safe %>
    <% end %>
  <% else %>
    <% if @user == current_user %>
      <br><br>Replace the default Ustream code on your Edit page with the code from your Ustream account and livestream YOUR book discussion here!
    <% end %>
    <iframe width="468" scrolling="no" height="586" frameborder="0" style="border: 0px none transparent;" src="http://www.ustream.tv/socialstream/13434383"></iframe>  
  <% end %>
  </div>

<% elsif @user.author == 3 %>
  <%= render 'orgform' %>
  <div id="uvid" style="position:absolute; left:400px; top:50px; width:550px; height:180px; ">
    <%= @user.youtube %> <p>
    <%= @user.pinterest %> <p>
  </div>
  <div class="blurb" style="position:absolute; left:450px; top:75px; width:500px;">
    <%= @user.about %>
  </div>
   <% if @user.twitter %>
      <div style="position:absolute; left:0px; top:200px; width:300px;">
        <a class="twitter-timeline"    
        data-widget-id="375760459510464512"
        data-screen-name="<%= @user.twitter %>" data-show-replies="false"
        data-tweet-limit="5">Tweets by @<%= @user.twitter %> </a>
      </div>
    <% end %>

<% else  %>
  <%= render 'readerform' %>
  <div class="blurb" style="position:absolute; left:450px; top:75px; width:500px;">
    <%= @user.about %>
  </div>
   <% if @user.twitter %>
      <div style="position:absolute; left:0px; top:200px; width:300px;">
        <a class="twitter-timeline"    
        data-widget-id="375760459510464512"
        data-screen-name="<%= @user.twitter %>" data-show-replies="false"
        data-tweet-limit="5">Tweets by @<%= @user.twitter %> </a>
      </div>
    <% end %>
    
<% end %>
