<% @title="CrowdPublish.TV - interact with " + @user.name + " here live!" %>
<%= render 'userform' %>

<div id="uvid" style="position:absolute; overflow:hidden; left:0px; top:220px; z-index:3">
  <% if @user.ustreamvid? %>
    <% if @user.ustreamvid.match /<iframe src="http:\/\/www.ustream.tv\/embed/ %>
      <%= @user.ustreamvid.html_safe %>
    <% end %>
  <% end %>
</div>

<div id="usocial" style="position:absolute; overflow:hidden; left:600px; top:220px; z-index:3">
  <% if @user.ustreamsocial? %>
    <% if @user.ustreamsocial.match /<iframe width="468" scrolling="no" height="586" frameborder="0" style="border: 0px none transparent;" src="http:\/\/www.ustream.tv\/socialstream/ %>
      <%= @user.ustreamsocial.html_safe %>
    <% end %>
  <% end %>
</div>

<div id="fanbook" style="position:absolute; left:380px; top:35px; width:600px; height:200px; z-index:3; overflow: auto;">



</div>

<div id="edit buttons" style="position:absolute; overflow:hidden; left:0px; top:170px; z-index:3">
<% if @user == current_user %>
  <table><tr><td>
  <%= button_to "Edit Profile", profileinfo_user_path(current_user), :method=> :get %> </td>
  <td><%= button_to "Edit Books", edit_user_path(current_user), :method=> :get %></td></tr></table> 
<% end %> 
</div>
