<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>CrowdPublish.TV <%  @user.name %> 's livestream talks</title>
<meta name="description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!"/>
<meta property="og:title" content="CrowdPublishTV - The Future of Empowerment is Your Story" />
<meta property="og:url" content="http://CrowdPublish.TV" />
<meta property="og:image" content="http://crowdpublish.tv/images/crowdpublishLogo.png" />
<meta property="og:description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!" />
</head>

<% @title = " interact with " + @user.name + " here live!" %>

<% if @user.author == 2 %>

  <% if @user.blogtalkradio? %>
    <% if @user.blogtalkradio.match /player.cinchcast.com/  %>
      <%= @user.blogtalkradio.html_safe %>
    <% end %>
  <% end %>

  <div class="row" >
    <% if @user.ustreamvid? %>
      <% if @user.ustreamvid.match(/[0-9A-Za-z]/) && @user.ustreamvid.length < 20 %>
        <iframe src="http://www.ustream.tv/embed/<%= @user.ustreamvid %>?wmode=direct" style="border: 0 none transparent;" frameborder="no" width="508" height="390"></iframe> aaa
        <iframe src="http://www.ustream.tv/socialstream/<%= @user.ustreamvid %>" style="border: 0 none transparent;" frameborder="no" width="320" height="500"></iframe><br /> bbb

      <% elsif @user.ustreamvid.match /<iframe src="http:\/\/www.ustream.tv\/embed/ %>
        <%= @user.ustreamvid.html_safe %>
      <% elsif @user.ustreamvid.match /<iframe src="https:\/\/www.ustream.tv\/embed/ %>
        <%= @user.ustreamvid.html_safe %>
      <% end %>
    <% end %>

    <% if @user.ustreamsocial.match /https:\/\/www.vokle.com/  %>
      <div class="blog">
        <iframe frameborder="0" width="1000" src= "<%= @user.ustreamsocial %>" height="1500"></iframe>
      </div>
    <% end %>

    <% if @user == current_user %>
      <% if !@user.ustreamvid? && !@user.ustreamsocial? %>
        <br><br>Replace the default Ustream code on your Edit page with the code from your Ustream account and livestream YOUR book discussion here!
      <% end %>
      <iframe src="http://www.ustream.tv/embed/13434383?wmode=direct" style="border: 0 none transparent;" frameborder="no" width="408" height="330"></iframe>
    <% end %>
  </div>

<% else  %>
  <div class="row" >
    <div class="col-md-7 col-md-offset-1 col-sm-7 col-xs-7 " >
      <div class="blurb" >
        <%= simple_format @user.about.gsub(/\n/, '<br>') %>
      </div><br><br>
      <% if @user.twitter %>
        <a class="twitter-timeline"    
        data-widget-id="375760459510464512"
        data-screen-name="<%= @user.twitter %>" data-show-replies="false"
        data-tweet-limit="5">Tweets by @<%= @user.twitter %> </a>
      <% end %>
    </div>
  </div>
<% end %>
