<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>CrowdPublish.TV <%  @user.name %> 's livestream talks</title>
<meta name="description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!"/>
<meta property="og:title" content="CrowdPublishTV - The Future of Empowerment is Your Story" />
<meta property="og:url" content="http://CrowdPublish.TV" />
<meta property="og:image" content="http://crowdpublish.tv/images/crowdpublishLogo.png" />
<meta property="og:description" content="CrowdPublishTV helps authors & fans interact directly & build community. Socialize around your books, experiences, or expertise!" />
</head>

<% @title = " interact with " + @user.name + " here live!" %>

<iframe width="400" height="370" src="http://player.cinchcast.com/?platformId=1&assetType=multi&userurl=drafshanhashmi&itemcount=6" frameborder="0" allowfullscreen></iframe><div style="font-size: 10px;text-align: center;width:400px;">Check Out Entertainment Podcasts at Blog Talk Radio with <a href="http://www.blogtalkradio.com/drafshanhashmi" rel="nofollow">Dr Afshan Hashmi</a> on BlogTalkRadio</div>

<% if @user.author == 2 %>

  <div class="row" >
    <% if @user.ustreamvid? %>
      <% if @user.ustreamvid.match(/[0-9A-Za-z]/) && @user.ustreamvid.length < 20 %>
        <iframe src="http://www.ustream.tv/embed/<%= @user.ustreamvid %>?wmode=direct" style="border: 0 none transparent;" frameborder="no" width="508" height="390"></iframe>
        <iframe src="http://www.ustream.tv/socialstream/<%= @user.ustreamvid %>" style="border: 0 none transparent;" frameborder="no" width="320" height="500"></iframe><br /> 

        <% if @user.ustreamsocial? %>
          <% if @user.ustreamsocial.match /<iframe src="http:\/\/www.ustream.tv\/socialstream/ %>
            <%= @user.ustreamsocial.html_safe %>
          <% elsif @user.ustreamsocial.match /<iframe src="https:\/\/www.ustream.tv\/socialstream/ %>
            <%= @user.ustreamsocial.html_safe %>
          <% end %>
        <% else %>
          <iframe width="468" scrolling="no" height="586" frameborder="0" style="border: 0px none transparent;" src="http://www.ustream.tv/socialstream/13434383"></iframe>  
        <% end %>

      <% elsif @user.ustreamvid.match /<iframe src="http:\/\/www.ustream.tv\/embed/ %>
        <%= @user.ustreamvid.html_safe %>
      <% elsif @user.ustreamvid.match /<iframe src="https:\/\/www.ustream.tv\/embed/ %>
        <%= @user.ustreamvid.html_safe %>

      <% elsif @user.ustreamvid.match /<iframe src="http:\/\/www.vokle.com/  %>
        <div class="blog">
          <iframe frameborder="0" width="800" src= "<%= @user.ustreamvid %>" height="730"></iframe>
        </div>
      <% end %>
    <% else %>
      <% if @user == current_user %>
        <br><br>Replace the default Ustream code on your Edit page with the code from your Ustream account and livestream YOUR book discussion here!
      <% end %>
      <iframe src="http://www.ustream.tv/embed/13434383?wmode=direct" style="border: 0 none transparent;" frameborder="no" width="408" height="330"></iframe>
    <% end %>
  </div>

<% else  %>
  <div class="row" >
    <div class="col-md-7 col-md-offset-1 col-sm-7 col-xs-7 " >
      <div class="blurb" >
        <%= simple_format @user.about.gsub(/\n/, '<br>') %>
      </div><br><br>
      <% if @user.twitter %>
        <a class="twitter-timeline"    
        data-widget-id="375760459510464512"
        data-screen-name="<%= @user.twitter %>" data-show-replies="false"
        data-tweet-limit="5">Tweets by @<%= @user.twitter %> </a>
      <% end %>
    </div>
  </div>
<% end %>
