
<div class="container-flex">

  <br><br>
  <div class="row" >
    <div class="helps" >
      Authors and Actors to Watch
    </div><br>
  </div>
<div class="row" >
  <% @youtubers.each do |u| %>
      <div class="col-md-4 col-sm-6 col-xs-12" >
        <div class="r" style="vertical-align:top; horizontal-align:center; height:290px; width:395px; overflow:hidden;" >
          <iframe width="370" height="220" src="//www.youtube.com/embed/<%= u.youtube1 %>" frameborder="0" allowfullscreen></iframe>
          <br><%= link_to u.name, user_profile_path(u.permalink) %>
          <br><%= u.genre1 %>, <%= u.genre2 %>, <%= u.genre3 %>
        </div>
      </div>
  <% end %>
</div>
  <div class="indexlist" >
    <b>Browse more videos by ThinQ.TV authors</b><br> <%= will_paginate @youtubers, renderer: BootstrapPagination::Rails %> <br>
  </div>

</div>
  <br><br>
