<div class="container">
<div class="row justify-content-center pt-5">
<div class="col-lg-6 bg-light border">
<h1 class="text-center">Forgot your password?</h1>

<%= form_for(resource, :as => resource_name, :url => user_password_path, :html => { :method => :post }) do |f| %>

	<%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, :size => 40 %></div><br>

  <div><%= f.submit "Send me reset password instructions" %></div>
<% end %>

<br>
If gmail does not send an email sent from 'ThinQ tv' within the next 5 minutes, please check your spam folder. <br>

If the message is not in your spam folder, please email info@ThinQ.tv and let us know so we can fix gmail's issues.
<br><br>

<%= render "devise/shared/links" %>
</div>
</div>
</div>