<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => user_password_path, :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, :size => 60 %></div><br>

  <div><%= f.submit "Send me reset password instructions" %></div>
<% end %>

<br>
If you do not see an email sent from 'CrowdPublish.star' within the next 5 minutes, 
<br>please check your spam folder.
<br><br>

<%= render "devise/shared/links" %>
