<h1>Listing purchases</h1>

<table>
  <tr>
    <th>Author</th>
    <th>Book</th>
    <th>Stripe customer token</th>
    <th>Plan</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @purchases.each do |purchase| %>
  <tr>
    <td><%= purchase.author_id %></td>
    <td><%= purchase.book_id %></td>
    <td><%= purchase.stripe_customer_token %></td>
    <td><%= purchase.plan_id %></td>
    <td><%= link_to 'Show', purchase %></td>
    <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
    <td><%= link_to 'Destroy', purchase, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Purchase', new_purchase_path %>
