<div class="row">
  <div class="col-md-9 col-md-offset-3 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2" style="text-align:left">

<br> 
    <%= form_for @purchase do |f| %>
      <% if user_signed_in? %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
      <% else %>
        <b>* EMAIL is required:</b>
        <%= f.text_field :email, placeholder: "Enter email", size: 50 %><br><br>
      <% end %>

      <%= f.hidden_field :stripe_card_token %>
      <%= f.hidden_field :group_id, :value => params[:group_id] %>
      <%= f.hidden_field :pricesold, :value => params[:pricesold] %>
      <%= f.hidden_field :author_id, :value => params[:author_id] %>
      <%= f.hidden_field :merchandise_id %>
      <% if @purchase.errors.any? %>
        <%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved.
        <% @purchase.errors.full_messages.each do |msg| %> 
          <%= msg %>
        <% end %>
      <% end %>

      <div class="field">
        <% if params[:group_id].present? %>
          <% groupsupported = Group.find(params[:group_id]) %>
          5% of purchase will go to <b><%= groupsupported.name %></b><br><br>
        <% end %>

        If you are purchasing a physical item to be mailed, enter entire Shipping Address where the item is to be sent <br><br>
        If purchasing an Reward such as a posting on Facebook or a Tweet, enter your Facebook URL or Twitter handle.<br><br>
        If purchasing a consultation, a mention in a book or movie, or any other Reward that the seller will arrange by text or voice, enter phone number, email address, or other contact info.<br><br>
        You may leave this box blank if you are making a donation or purchasing a download.<br><br>
        Instructions to seller for sending item:
        <%= f.text_area :shipaddress, :cols => 50, :rows => 3 %><p>
      </div>

      <% if user_signed_in? %>
        <% if current_user.stripe_customer_token.present? %>
            <div class="cardinfo" >
              <%= label_tag :card_number, "Credit Card Number" %>
              <%= text_field_tag :card_number, nil, name: nil %><br><br>
  
              <%= label_tag :card_code, "Security Code on Card (CVV)" %>
              <%= text_field_tag :card_code, nil, name: nil %><br><br>

              <%= label_tag :card_month, "Card Expiration" %>
              <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
              <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+5}, {name: nil, id: "card_year"} %> <br><br>
            </div>
          <div class="buynewcard">
            <%if(params[:merchandise_id].present?)%>
              <% merch = Merchandise.find(params[:merchandise_id]) %>
              $<%= merch.price %>0
              <%= f.submit "Buy now" %><br><br>
            <%else%>
              <%= f.submit "Donate now" %>
            <%end%>
          </div>
          <a class="usedefault" href="#togard">
            Use default card ending *<%= @last4 %> instead
          </a>

          <div class="last4">
            You are using default card ending *<%= @last4 %>, Expiration <%= @expmonth %>-<%= @expyear %><br>
          </div>
          <div class="buyexistingcard" onclick="return existingcard();">
          <%if(params[:merchandise_id].present?)%>
            <% merch = Merchandise.find(params[:merchandise_id]) %>
            $<%= merch.price %>0
            <%= f.submit "Buy now" %>
          <%else%>
            <%= f.submit "Donate now" %>
          <%end%>
          </div><br>
          <a class="diffcard" data-toggle="collapse" href="#toggd">
            Enter a different card

          </a><br><br><br><br>

        <% else %>
          <p>
            <%= label_tag :card_number, "Credit Card Number" %>
            <%= text_field_tag :card_number, nil, name: nil %><br><br>
  
            <%= label_tag :card_code, "Security Code on Card (CVV)" %>
            <%= text_field_tag :card_code, nil, name: nil %><br><br>

            <%= label_tag :card_month, "Card Expiration" %>
            <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
            <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+5}, {name: nil, id: "card_year"} %> <br><br>
          </p>
          <%if(params[:merchandise_id].present?)%>
              <%= f.submit "Purchase" %><br><br>
          <%else%>
            <%= f.submit "Donate" %>
          <%end%>

        <% end %>
      <% else %>
        <p><%= label_tag :card_number, "Credit Card Number" %>
        <%= text_field_tag :card_number, nil, name: nil %><p>
 
        <%= label_tag :card_code, "Security Code on Card (CVV)" %>
        <%= text_field_tag :card_code, nil, name: nil %><p>

        <%= label_tag :card_month, "Card Expiration" %>
        <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
        <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+5}, {name: nil, id: "card_year"} %> <br><br>
        <%if(params[:merchandise_id].present?)%>
            <%= f.submit "Purchase", id: 'purchase-btn' %><br><br>
        <%else%>
          <%= f.submit "Donate", id: 'donation-btn' %>
        <%end%>
      <% end %>

      <div id="stripe_error">
        <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
      </div>

    <% end %>
  </div>
</div>
<script>
	var carduse = 'global variable card';
	function existingcard () {
		carduse = "existingcustomer";
	}  
</script>
