#this form is no longer used

<%= form_for(@book) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

<div id="bkinp" style="position:absolute; overflow:hidden; left:380px; top:100px; z-index:3">
  <center><span class="Body-C5">Enter Book info</span></center>

  <table width="400">
  <tr>
    <td>
<div style="float:left;width:75%;">
<%= f.text_area :title, :cols => 50, :rows => 2, placeholder: "Book title" %></div>

  <div style="float:right;width:25%;">
<%= f.text_area :genre, :cols => 15, :rows => 1, placeholder: "Genre" %></div>
</td></tr>

    <td><%= f.text_area :blurb, :cols => 70, :rows => 6, placeholder: "One sentence description of the book" %>
 </td>  </tr>
  <tr>
    <td >Date book is estimated to be or was released
    <%= f.date_select :releasedate %>
 </td>
  </tr>
    <tr><td><%= f.text_area :coverpicurl, :cols => 70, :rows => 1, placeholder: "URL to a picture of the cover of your book" %>
</tr>
  </table>
  <%= f.submit "Enter New Book" %>
<% end %>


<% if @author.books.any? %>

<%= form_for(@booklist) do |f| %>

  <table width="400">
  <tr>
    <td>
<div style="float:left;width:75%;">
<%= f.text_area :title, :cols => 50, :rows => 2, placeholder: "Book title" %></div>

  <div style="float:right;width:25%;">
<%= f.text_area :genre, :cols => 15, :rows => 1, placeholder: "Genre" %></div>
</td></tr>
    <td><%= f.text_area :blurb, :cols => 70, :rows => 6, placeholder: "One sentence description of the book" %>
 </td>  </tr>
  <tr>
    <td >Date book is estimated to be or was released
    <%= f.date_select :releasedate %>
 </td>
  </tr>
    <tr><td><%= f.text_area :coverpicurl, :cols => 70, :rows => 1, placeholder: "URL to a picture of the cover of your book" %>
</tr>
  </table>

  <%= f.submit "Save Changes" %>
<% end %>

</div>

<% end %>
