<div class="row">
    <%= f.hidden_field :usrid, value: current_user.id %>
    <input type="hidden" id="timeZone" name="timeZone">
    <script>
        var offset = -1 * (new Date().getTimezoneOffset() / 60)
        if (offset < 0) {
            offset = "-" + ("0" + (-1 * offset)).slice(-2) + ":00"
        } else {
            offset = "+" + ("0" + offset).slice(-2) + ":00"
        }
        document.getElementById("timeZone").value = offset
    </script>
    <div class="form-group">
        <h3><%= f.label :buttontype, "*Title of Conversation" %></h3>
        <p class="help-block">Will your Fellowship hour have a topic? Do you have an area of expertise?</p>
        <%= f.text_field :name, size: 80 %><p>
    </div>

    <div class="form-group">
        <h3><%= f.label :buttontype, "Start Time" %></h3>
        <p class="help-block" id="hb1">Enter date in your timezone</p>
        <%= f.datetime_select :start_at, ampm: true, default: 7.days.from_now, minute_step: 15, start_year: Date.today.year, end_year: Date.today.year + 1 %>
    </div>

    <div class="form-group">
        <h3><%= f.label :buttontype, "End Time" %></h3>
        <p class="help-block" id="hb2">Enter date in your timezone</p>
        <%= f.datetime_select :end_at, ampm: true, default: 7.days.from_now, minute_step: 15, start_year: Date.today.year, end_year: Date.today.year + 1 %><br>
    </div>

    <div class="form-group">
        <h3><%= f.label :buttontype, "Details about Conversation Topic" %></h3>
        <p class="help-block"><i>NOTE: Descriptions containing URLs will not be saved. Paste all the info attendees need here.</i></p>
        <%= f.text_area :desc, cols: 82, rows: 7 %><p>
    </div>

    <% offset = -1 * Time.now.in_time_zone("Pacific Time (US & Canada)").gmt_offset/3600%>

    <script>   
        function getTimezoneName() {
            const today = new Date();
            const short = today.toLocaleDateString(undefined);
            const full = today.toLocaleDateString(undefined, {
                timeZoneName: 'long'
            });

            // Trying to remove date from the string in a locale-agnostic way
            const shortIndex = full.indexOf(short);
            if (shortIndex >= 0) {
                const trimmed = full.substring(0, shortIndex) + full.substring(shortIndex + short.length);

                // by this time `trimmed` should be the timezone's name with some punctuation -
                // trim it from both sides
                return trimmed.replace(/^[\s,.\-:;]+|[\s,.\-:;]+$/g, '');

            } else {
                // in some magic case when short representation of date is not present in the long one, just return the long one as a fallback, since it should contain the timezone's name
                return full;
            }
        }

        var route = String("<%=request.env['PATH_INFO']%>")

        document.getElementById("hb1").innerHTML = getTimezoneName()
        document.getElementById("hb2").innerHTML = getTimezoneName()

        if (route.includes("edit") == true) {
            var r_time = "<%= event.start_at.strftime("%FT%T%:z") %>"
            var r_e_time = "<%= event.end_at.iso8601 %>"
            var st_date = new Date(Date.parse(r_time))
            var en_date = new Date(Date.parse(r_e_time))
            
            st_date.setHours(st_date.getHours() + parseInt("<%=offset%>"))
            en_date.setHours(en_date.getHours() + parseInt("<%=offset%>"))
            
            var t_1 = new Date(Date.parse(st_date.toLocaleString()))
            var t_2 = new Date(Date.parse(en_date.toLocaleString()))


            document.getElementById("event_start_at_1i").value = t_1.getFullYear()
            document.getElementById("event_start_at_2i").value = t_1.getMonth() + 1
            document.getElementById("event_start_at_3i").value = t_1.getDate()
            document.getElementById("event_start_at_4i").selectedIndex = t_1.getHours()
            document.getElementById("event_start_at_5i").value = ("0" + t_1.getMinutes()).slice(-2)

            document.getElementById("event_end_at_1i").value = t_2.getFullYear()
            document.getElementById("event_end_at_2i").value = t_2.getMonth() + 1
            document.getElementById("event_end_at_3i").value = t_2.getDate()
            document.getElementById("event_end_at_4i").selectedIndex = t_2.getHours()
            document.getElementById("event_end_at_5i").value = ("0" + t_2.getMinutes()).slice(-2)
        }
    </script>
</div>