<div class="col">
  <%= f.hidden_field :user_id, value: current_user.id %>
  <input type="hidden" id="timeZone" name="timeZone">

  <div class="form-group">
    <h3><%= f.label :buttontype, "*Title of Event" %></h3>
    <p class="help-block">Will your event have a topic? Do you have an area of expertise?</p>
    <%= f.text_field :name, size: 80 %><p>
  </div>

  <div class="form-group">
    <h3><%= f.label :buttontype, "*Topic" %></h3>
    <p class="help-block">Will your event be a Drop-In Hour or a Conversation</p>
    <%= f.select(:topic, ['DropIn', 'Conversation', 'Group Problem Solving'], {}) %><p>
  </div>

  <div class="form-group">
    <h3><%= f.label :buttontype, "Start Time" %></h3>
    <p class="help-block" id="hb1"></p>
    <%= f.datetime_select :start_at, ampm: true, default: 3.days.from_now, minute_step: 60, start_year: Date.today.year, end_year: Date.today.year + 1 %>
  </div>

  <div class="form-group">
    <h3><%= f.label :buttontype, "Repeated" %></h3>
    <p class="help-block"></p>
    <%= f.select_recurring :recurring, nil, allow_blank: true %>
  </div>

  <div class="form-group">
    <h3><%= f.label :buttontype, "Details about Topic" %></h3>
    <p class="help-block"><i>NOTE: Descriptions containing URLs will not be saved. Paste all the info attendees need here.</i></p>
    <%= f.text_area :desc, cols: 82, rows: 7 %><p>
  </div>
</div>

<% offset = -1 * Time.now.in_time_zone("Pacific Time (US & Canada)").gmt_offset/3600%>

<script>   
  function getTimezoneName() {
      const today = new Date();
      const short = today.toLocaleDateString(undefined);
      const full = today.toLocaleDateString(undefined, {
          timeZoneName: 'long'
      });

      // Trying to remove date from the string in a locale-agnostic way
      const shortIndex = full.indexOf(short);
      if (shortIndex >= 0) {
          const trimmed = full.substring(0, shortIndex) + full.substring(shortIndex + short.length);

          // by this time `trimmed` should be the timezone's name with some punctuation -
          // trim it from both sides
          return trimmed.replace(/^[\s,.\-:;]+|[\s,.\-:;]+$/g, '');

      } else {
          // in some magic case when short representation of date is not present in the long one, just return the long one as a fallback, since it should contain the timezone's name
          return full;
      }
  }

  var f_offset = -1 * (new Date().getTimezoneOffset() / 60);

  if (f_offset < 0) {
      f_offset = "-" + ("0" + (-1 * f_offset)).slice(-2) + ":00"
  } else {
      f_offset = "+" + ("0" + f_offset).slice(-2) + ":00"
  }

  document.getElementById("timeZone").value = f_offset
  document.getElementById("hb1").innerHTML = getTimezoneName()
  document.getElementById("hb2").innerHTML = getTimezoneName()

  var route = String("<%=request.env['PATH_INFO']%>")

  if (route.includes("edit") == true) {
    var start_date = new Date(Date.parse("<%= event.start_at.strftime("%FT%T%:z") %>"))
    var end_date = new Date(Date.parse("<%= event.end_at.strftime("%FT%T%:z") %>"))
    start_date.setHours(start_date.getHours() + parseInt("<%=offset%>"))
    end_date.setHours(end_date.getHours() + parseInt("<%=offset%>"))
    start_date = new Date(Date.parse(start_date.toLocaleString()))
    end_date = new Date(Date.parse(end_date.toLocaleString()))

    // modify start date
    document.getElementById("event_start_at_1i").value = start_date.getFullYear()
    document.getElementById("event_start_at_2i").value = start_date.getMonth() + 1
    document.getElementById("event_start_at_3i").value = start_date.getDate()
    document.getElementById("event_start_at_4i").selectedIndex = start_date.getHours()
    document.getElementById("event_start_at_5i").value = ("0" + start_date.getMinutes()).slice(-2)

    // modify end date
    document.getElementById("event_end_at_1i").value = end_date.getFullYear()
    document.getElementById("event_end_at_2i").value = end_date.getMonth() + 1
    document.getElementById("event_end_at_3i").value = end_date.getDate()
    document.getElementById("event_end_at_4i").selectedIndex = end_date.getHours()
    document.getElementById("event_end_at_5i").value = ("0" + end_date.getMinutes()).slice(-2)
  }
</script>