<div>
  <h1>Conversations</h1>
</div>

<nav class="navbar">
  <span class="cal-nav-action"><%= link_to "Technology", "#" %></span>
  <span class="cal-nav-action"><%= link_to "Faith", "#" %></span>
  <span class="cal-nav-action"><%= link_to "International", "#" %></span>
</nav>

<%= month_calendar attribute: :start_at, events: @events do |date, events| %>
  <%= date.day %>
  <% @events.each do |event| %>
    <br />
    <% if event.start_at.strftime("%Y-%m-%d").eql? date.strftime("%Y-%m-%d")  %>
      <%= render "events/show_modal", event: event %>
    <% end %>
  <% end %>
<% end %>
