<div id="groups" style="position:absolute; width:1000px; height:757px;" >

    <%= form_tag events_path, :method => :get do %>
      <table >
      <tr>
        <th>Address</th>
        <th>Distance (miles)</th>
        <th></th>
        <th> Find in-person events in your Local area (5 - 20 miles) </th>
      </tr>
      <tr>
        <td><%= text_field_tag :search, params[:search] %></td>
        <td><%= text_field_tag :dist, params[:dist] %></td>
        <td><%= submit_tag "Search Near", :name => nil %></td>
        <td> Or in your MicroLocal area (1 - 5 miles) </td>
      </tr>
      </table>  
    <% end %>

<h1>Upcoming Events</h1>

<%= link_to 'Create a New Book Event', new_event_path %>  in Your Community!<br><br>
<% if user_signed_in? %>
  Need to change your Home location? <%= link_to 'Edit your zip code or address', user_profileinfo_path(current_user.permalink) %> <br><br>
<% end %>

<% if @events.count != 0 %>
  <table >
  <tr>
    <th>Event </th>
    <th>When</th>
    <th>Where</th>
    <th></th>
  </tr>

  <% @events.sort_by{|t| t.start_at}.each do |event| %>
    <tr>
    <td ><%= link_to event.name, event %></td>
    <td ><%= event.start_at.strftime("%A %B %d, %Y at %I:%M %p")  %></td>
    <td><%= event.address %></td>
    <td>
      <% if user_signed_in? %>
        <% if event.user_id == current_user.id %>
          <%= link_to 'Edit Event', edit_event_path(event.id) %> 
        <% end %>
      <% end %>
    </td>  
    </tr>
  <% end %>
  </table>
<% else %>
  *** No events near you yet ***
<% end %>  

</div>	
</div>