<% @title="CrowdPublish.TV - Upcoming Book Events in DC" %>

<%= render 'form' %>

<div id="calendar" style="position:absolute; left:0px; top:300px; width:900px; height:757px;" >

  <%= form_tag events_path, :method => :get do %>
      <table >
      <tr>
        <th>Address</th>
        <th>Distance (miles)</th>
        <th></th>
      </tr>
      <tr>
        <td><%= text_field_tag :search, params[:search] %></td>
        <td><%= text_field_tag :dist, params[:dist] %></td>
        <td><%= submit_tag "Search Near", :name => nil %></td>
      </tr>
    </table>  
  <% end %>

<h1>Listing of events</h1>

<%= link_to 'Create a New Book Event', new_event_path %>  in Your Community!<br><br>
Need to change your location? <%= link_to 'Edit profile', user_profileinfo_path(current_user.permalink) %> <br><br>


<table width="900">

If there's no events,
"No events near you yet." <br><br>
  <tr>
    <th>Event & Info/RSVP</th>
    <th>When</th>
    <th>Where</th>
  </tr>

<% @events.sort_by{|t| t.start_at}.each do |event| %>
  <% if event.start_at.to_i >= Time.now.to_i - 18000  %>
  <tr>
    <td width="200"><%= link_to event.name, event %></td>
    <td width="200"><%= event.start_at %></td>
    <td><%= event.address %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />

</div>	