<div class="row" >
  <div class="col-md-9 col-sm-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 " style= "text-align:left" >

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>

  <div class="field">
    Event title<br>
    <%= f.text_field :name, :size => 80 %><p>
  </div>

  <div class="field">
    Start time...
    <%= f.datetime_select :start_at, :ampm => true, :default => 10.days.from_now, :minute_step => 15 %>
    <% #= date_field(:event, :start_at) %>
  </div>
  <div class="field">
    End time.....
    <%= f.datetime_select :end_at, :ampm => true, :default => 10.days.from_now, :minute_step => 15 %>
  </div>
  <div class="field">
    Description of event<br />
    <%= f.text_area :desc, :cols => 82, :rows => 7 %><p>
  </div>
  <div class="field">
    If an in-person event, street address where this event will take place, otherwise enter "online" <br />
    (An online event would be a livestream that will take place on your http://www.CrowdPublish.TV/<%= current_user.permalink %>/stream page) <br>
    <%= f.text_field :address, :size => 80, placeholder: "online" %><p>
  </div>
  <div class="field">
   You can select up to 3 groups/organizations near you ( <%= link_to "Need to change your zip code?", user_profileinfo_path(current_user.permalink) %> ) for placing your event on their calendar (the group moderator will delete your event from the calendar if it does not meet that group's criteria for posting events) <br><br> 

    <%= f.collection_select(:group1id, @groups.all, :id, :name, prompt: true) %>
    <%= f.collection_select(:group2id, @groups.all, :id, :name, prompt: true) %>
    <%= f.collection_select(:group3id, @groups.all, :id, :name, prompt: true) %>
    <br><br>
    If no groups are showing up, you may need to change your Home location <%= link_to 'Edit your zip code or address', user_profileinfo_path(current_user.permalink) %> 
    <br><br>
<% 
=begin %>
    <% i = 0 %>
    <% @groups.each do |group| %>
      <%= f.check_box(:group1id ) %>
      <%= label_tag(:grouptype_child, group.name ) %>
      <% #= f.check_box(:group1id, { :multiple => true }, "group.id") %>
      <%= group.name %> <br>
        <% @tempval = group.id %>
        <% i = i+1 %>
    <% end %>  
<% 
=end %>

  </div>
    <%= f.submit %>
<% end %>
<br><br>
</div>
</div>