<div class="container pt-5">
  <div class="row" >
    <h1>Post a time to host live video Conversation</h1>
    <p>
      By entering a time for a Conversation below, the details of your Conversation will be posted on our home page schedule. 
      Make sure you have your browser open or have the THINQTV chatroom open on the JitsiMeet phone app during your posted time.
    </p>
  </div>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved: A <%=@event[:topic] %> has already been scheduled for this hour. Please visit the home page to RSVP for that <%=@event[:topic] %>.</h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= form_for @event do |f| %>
      <%= render "events/form", f: f, event: @event %>

      <%= f.submit "Post Conversation", class: "btn btn-lg btn-primary create-event-btn", id: "eventSubmit" %>
    <% end %>
  </div>
</div>
