<div class="container">
    <div class="row" >
<h1>Post a New Show Time</h1>
        <p>By creating an event below, the details of your livestream will be posted on the Home page of CrowdPublish.TV. This will allow your viewers to easily find the time and date of your livestream discussion.</p>
    </div>

    <div class="row">
        <%= form_for(@event) do |f| %>
          <% if @event.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

              <ul>
              <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
    </div>

    <div class="row">
        <%= f.hidden_field :usrid, value: current_user.id %>

          <div class="form-group">
            <h3><%= f.label :buttontype, "*Title of Livestream Show" %></h3>
                    <p class="help-block">What will you be discussing in your livestream?</p>
            <%= f.text_field :name, :size => 80 %><p>
          </div>

          <div class="form-group">
              <h3><%= f.label :buttontype, "Start Time" %></h3>
          <p class="help-block">Pacific Daylight Time (PDT)</p>
            <%= f.datetime_select :start_at, ampm: true, default: 7.days.from_now, minute_step: 15, start_year: Date.today.year, end_year: Date.today.year + 1 %>
          </div>

          <div class="form-group">
            <h3><%= f.label :buttontype, "End Time" %></h3>
                    <p class="help-block">Pacific Daylight Time (PDT)</p>
            <%= f.datetime_select :end_at, ampm: true, default: 7.days.from_now, minute_step: 15, start_year: Date.today.year, end_year: Date.today.year + 2 %><br>
          </div>

          <div class="form-group">
            <h3><%= f.label :buttontype, "Details about Livestream Discussion Topic" %></h3>
                    <p class="help-block"><i>NOTE: Descriptions containing URLs will not be saved. Paste all the info attendees need here.</i></p>
            <%= f.text_area :desc, :cols => 82, :rows => 7 %><p>
          </div>

            <%= f.submit "Post Talk Show", :class => "btn btn-lg btn-primary", :id => "eventSubmit" %>

        <% end %>
    </div>
</div>
