<div id="groups" style="position:absolute; width:1000px; height:757px;" >

    <%= form_tag events_path, :method => :get do %>
      <table >
      <tr>
        <th>Address</th>
        <th>Distance (miles)</th>
        <th></th>
        <th> Find in-person events in your Local area (5 - 20 miles) </th>
      </tr>
      <tr>
        <td><%= text_field_tag :search, params[:search] %></td>
        <td><%= text_field_tag :dist, params[:dist] %></td>
        <td><%= submit_tag "Search Near", :name => nil %></td>
        <td> Or in your MicroLocal area (1 - 5 miles) </td>
      </tr>
      </table>  
    <% end %>

<br><%= link_to 'Browse In-Person Events', events_path %><br>

<h1>Upcoming Livestreamed Readings</h1>

<%= link_to 'Create a New Book-Related Event', new_event_path %>  in Your Community!<br><br>

<% if @events.count != 0 %>
  <table >
  <tr>
    <th>Event </th>
    <th>When</th>
    <th>Where</th>
    <th></th>
  </tr>

  <% @events.sort_by{|t| t.start_at}.each do |event| %>
    <tr>
    <td ><%= link_to event.name, event %></td>
    <td ><%= event.start_at.strftime("%A %B %d, %Y at %I:%M %p")  %></td>
    <td>
        <% user = User.find(event.usrid) %>
        <%= link_to user.name + "'s livestream site", user_stream_path(user.permalink) %> </b>
    </td>
    <td>
      <% if user_signed_in? %>
        <% if event.usrid == current_user.id %>
          <%= link_to 'Edit Event', edit_event_path(event.id) %> 
        <% end %>
      <% end %>
    </td>  
    </tr>
  <% end %>
  </table>
<% else %>
  *** No events near you yet ***
<% end %>  

<br><br>
<h1>Past Livestreamed Readings</h1>

<% if @pastevents.count != 0 %>
  <table >
  <tr>
    <th>Event </th>
    <th>When</th>
    <th>Where</th>
    <th></th>
  </tr>

  <% @pastevents.sort_by{|t| t.start_at}.each do |pastevent| %>
    <tr>
    <td ><%= link_to pastevent.name, pastevent %></td>
    <td ><%= pastevent.start_at.strftime("%A %B %d, %Y at %I:%M %p")  %></td>
    <td>
        <% user = User.find(pastevent.usrid) %>
        <%= link_to user.name + "'s livestream site", user_stream_path(user.permalink) %> </b>
    </td>
    <td>
      <% if user_signed_in? %>
        <% if pastevent.usrid == current_user.id %>
          <%= link_to 'Edit Event', edit_event_path(pastevent.id) %> 
        <% end %>
      <% end %>
    </td>  
    </tr>
  <% end %>
  </table>
<% else %>
  *** No past online events ***
<% end %>  
</div>	
</div>