
<br><%= link_to 'Browse Upcoming Events', events_path %><br>

<h1>Past Events</h1>

<%= link_to 'Create a New Event', new_event_path %> <br><br>
<% if user_signed_in? %>
  Need to change your Home location? <%= link_to 'Edit your zip code or address', user_profileinfo_path(current_user.permalink) %> <br><br>
<% end %>

<% if @events.count != 0 %>
  <table >
  <tr>
    <th>Event </th>
    <th>When</th>
    <th>Where</th>
    <th></th>
  </tr>

  <% @events.sort_by{|t| t.start_at}.each do |event| %>
    <tr>
    <td ><%= link_to event.name, event %></td>
    <td ><%= event.start_at.strftime("%A %B %d, %Y at %I:%M %p")  %></td>
    <td><%= event.address %></td>
    <td>
      <% if user_signed_in? %>
        <% if event.user_id == current_user.id %>
          <%= link_to 'Edit Event', edit_event_path(event.id) %> 
        <% end %>
      <% end %>
    </td>  
    </tr>
  <% end %>
  </table>
<% else %>
  *** No events near you yet ***
<% end %>  

<