<% @title="CrowdPublish.TV - Upcoming Book Event in DC" %>
<!--rails generate migration add_fields_to_events desc:text address:string rsvp:string address:string user_id:integer
rails generate migration add_login_to_events personname:string email:string
-->
<p id="notice"><%= notice %></p>
<%= render 'form' %>

<div id="calendar" style="position:absolute; left:100px; top:340px; width:900px; height:757px; text-align:left">
<p>
  <%= link_to "Edit", edit_event_path(@event) %> |
  <%= link_to "Delete Event", @event, :confirm => 'Are you sure?', :method => :delete %> |
</p>

<p>
  <b>Event title:</b>
  <%= @event.name %>
</p>
<p>
  <b>Event host:
  <%= link_to @user.name, user_profile_path(@user.permalink) %> </b>
</p>
<p>

  <b>Start time:</b>
  <%= @event.start_at.strftime("%A %B %d, %Y at %I:%M %p") %>
</p>
<p>
  <b>End time:</b>
  <%= @event.end_at.strftime("%A %B %d, %Y at %I:%M %p") %>
</p>
<p>
  <b>Event description:</b>
  <%= @event.desc %>
</p>
<p>
  <b>Where:</b>
  <%= @event.address %><p>
</p>


<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}" %>

</div>