<% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
            <%= value %>
      </div>
<% end %>

<div id="event-page-layout" style="width: 50%; margin: auto;">
<meta property="og:description" content="Host Livestream Discussions" />
<% @title="CrowdPublish.tv" %>

    <% if user_signed_in? %>
      <% if @event.usrid == current_user.id %>
        <%= link_to "Edit", edit_event_path(@event) %> 
      <% end %>
    <% end %>

<div>
	<div class=".col-12 .col-md-8">
		<h1><%= @event.name %></h1>
	</div>

	<% if user_signed_in? %>
	      <% if @event.usrid == current_user.id %>
		      <%= link_to "Edit Show", edit_event_path(@event) %> 
	      <% end %>
      <% end %>

<p style="color:#808080; font-size: 12px;">
 <b>Hosted by
  <%= link_to @user.name, user_profile_path(@user.permalink) %> </b>
 </p>
 <% if @rsvps.count > 1 %>
	 <div>
		 <b>Discussion RSVPs:</b>
		 <% @rsvpusers.each do |rsvpuser| %>
			 <%= link_to rsvpuser.name, rsvpuser %>,
			 <% nguests = Rsvpq.where("user_id = ? AND event_id = ?", rsvpuser.id, @event.id) %>
		 <% end %>
	 </div>
 <% end %>

 <br>
<p>
<b>Starts at:</b>
<% edt = @event.start_at + 3.hours %>
<% edtend = @event.end_at + 3.hours %>
  <div style="margin-left:5px">
  <%= @event.start_at.strftime("%B %d, %Y") %> 
  <br>
  <%= @event.start_at.strftime("%I:%M %p")%> PDT
  / <%= edt.strftime("%I:%M %p") %> EDT
</p>

  </div>
<p>
  <% duration = (@event.end_at - @event.start_at)/60 %>
  <b>Length:</b><div style="margin-left:5px"><%= duration.floor %> minutes</div>
</p>
<p>
  <b>Additional details:</b>  
  <div style="margin-left:5px; word-wrap:break-word;">
  <% if @event.desc.present? %>
    <%= @event.desc %>
  <% else %>
	  No additional details 		  
<% end %>
</p>
<br>
  </div>
<%= link_to "Join Live Show", "https://crowdpublishtv.herokuapp.com/" + @user.permalink, :class => 'btn btn-lg btn-warning' %>

<p>
  <div style= "text-align:left" >
    <% if @rsvps.count > 5 %>
      <b><%= @rsvps.count %> guests said they'll be there</b><br>
    <% end %>
      <br>
      Invite friends & RSVP for this event! <br>
      <% surl = "http://www.crowdpublish.tv/" + @user.permalink %>
      <button id="shareBtn" class="showButton">SHARE</button>		
      <div id="pp" class="pop">
	     
	     <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= surl %>" target="_blank">
		        <img src="https://static.licdn.com/sc/h/eahiplrwoq61f4uan012ia17i" alt="LinkedIn" style="width:25px; height:25x;" />
	     
	     
		     
	<a href="http://www.facebook.com/sharer.php?u=<%= surl %>" target="_blank">
		         <img src="https://www.facebook.com/images/fb_icon_325x325.png" alt="Facebook" style="margin-left: -4px; width:25px; height:25px;" />
	</a>
	
			     <a href="https://twitter.com/home?status=<%= surl %> <<%= @event.name %>>" target="_blank">
		<img src="https://about.twitter.com/etc/designs/about-twitter/public/img/apple-touch-icon-72x72.png" alt="Twitter" style="margin-left:-4px; width:25px; height:25px;border-radius:1px;">
	</a>	


      </div>
	<script>
		$(function() {
			    $('button#shareBtn').click(function(event) {
				            event.preventDefault();
				           $('div#pp').toggle();
				        });
		});
	</script>

	<div style="margin-top:20px;">	
 <%= form_for(@rsvp) do |f| %>
	 <% if @rsvp.errors.any? %>
	 <div id="error_explanation">
		 <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>
		 <ul>
			 <% @rsvp.errors.full_messages.each do |msg| %>
				 <li><%= msg %></li>
			 <% end %>
		 </ul>
	 </div>
 <% end %>

 RSVP for this event: <br>
 <%= f.hidden_field :event_id, :value => @event.id %>
 <% if user_signed_in? %>
	 <%= f.hidden_field :user_id, :value => current_user.id %>
 <% else %>
	 
	 <br><%= f.text_field :email, :style => "border: 1px solid grey; border-radius: 0px", placeholder: "Enter email" %>
 <% end %>
 <%= f.submit "RSVP NOW", :style => "color: #fff; padding: 2px 20px; font-weight: normal; border-radius:0px", :id => "RSVPsubmit" %>
 <% end %><br>

	</div>

	
      </div> 
 
  </div>
    </div>
	</div> 
