<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<div id="event-page-layout" style="width: 50%; margin: auto;">
  <meta property="og:description" content="Host Conversations" />
  <% @title="ThinQ.tv" %>

        <div style="margin-top:20px;">
          <%= form_for(@rsvp) do |f| %>
            <% if @rsvp.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>
                <ul>
                  <% @rsvp.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <%= f.hidden_field :event_id, :value => @event.id %>
            <% if user_signed_in? %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
            <% else %>
              <br><%= f.text_field :email, :style => "border: 1px solid grey; border-radius: 0px", placeholder: "Enter email" %>
            <% end %>
            <%= f.submit "RSVP NOW", :style => "color: #fff; padding: 2px 20px; font-weight: normal; border-radius:0px", :id => "RSVPsubmit" %><br>
          <% end %>
        </div>

  <div>
    <% if user_signed_in? %>
      <% if @event.usrid == current_user.id %>
        <%= link_to "Edit Conversation", edit_event_path(@event)%><br><br>
      <% end %>
    <% end %>

        <% if @rsvps.count > 0 %>
          <br><b>Conversationalists who said they would be there:</b><br>
          <div>
            <% @rsvpusers.each do |rsvpuser| %>
              <%= link_to rsvpuser.name, rsvpuser %>,
            <% end %>
          </div>
        <% end %>
        <h2>Share the Conversation with friends! </h2>
        <div style="margin-left: 50px">

    <!--THIS IS A RUBY APPLICATION!!! Please figure out how to code popup boxes in Ruby, not html. Images should be ASSETS, not urls to remote images we do not control-->
          <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= @surl %>"
             onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url=<%= @surl %>',
             'newwindow',
             'width=600,height=400,top=100,left=300');
             return false;">
             <img src="https://static.licdn.com/sc/h/eahiplrwoq61f4uan012ia17i" alt="LinkedIn" style="width:25px; height:25px;" />
          </a>&nbsp
          <a href="http://www.facebook.com/sharer.php?u=<%= @surl %>"
             onclick="window.open('http://www.facebook.com/sharer.php?u=<%= @surl %>',
             'newwindow',
             'width=600,height=400,top=100,left=300');
             return false;">
             <img src="https://www.facebook.com/images/fb_icon_325x325.png" alt="Facebook" style="margin-left: -4px; width:25px; height:25px;" />
          </a>&nbsp
          <a href="https://twitter.com/intent/tweet?text=Join <%= @user.permalink %>'s livestream for an exciting conversation on: <<%= @event.name %>> at <%= @event.start_at.strftime("%B %d, %I:%M %p") %> PST: <%= @surl %>"
             onclick="window.open('https://twitter.com/intent/tweet?text=Join <%= @user.permalink %> 's livestream for an exciting conversation on: <<%= @event.name %>> at <%= @event.start_at.strftime("%B %d, %I:%M %p") %> PST:<%= @surl %>',
             'newwindow',
             'width=600,height=400,top=80,left=300');
             return false;">
             <img src="https://about.twitter.com/etc/designs/about-twitter/public/img/apple-touch-icon-72x72.png" alt="Twitter" style="margin-left:-4px; width:25px; height:25px;border-radius:1px;">
          </a><br><br>
        </div>

    <h3>Make sure your people are part of the Conversation. </h3>
    <h2>EMAIL THIS MESSAGE TO FRIENDS AND COLLEAGUES: </h2>

    <div style="font-size: 18px; font-style: italic;">
      Join me for a LIVE video Conversation and talk with us about<br>
      <div style="font-color: #F00">
        <b><%= @event.name %></b><br>
        <b>Hosted by <%= link_to @user.name, user_profile_path(@user.permalink) %> </b><br>
      </div>
    
      <% edt = @event.start_at + 3.hours %>
      <%= @event.start_at.strftime("%A, %B %d") %> <br>
      <%= @event.start_at.strftime("%I:%M %p")%> PST / <%= edt.strftime("%I:%M %p") %> EST<br>

      <%= @duration %> minutes<br>
        <% if @event.desc.present? %>
          <b><%= @event.desc %></b>
          <br>
        <% end %>
      It's easy to be a part of the Conversation! Go to <a href="http://ThinQ.tv", target="_blank"">ThinQ.tv</a> and click the <br><%= link_to "Join Conversation", "https://thinQtv.herokuapp.com/" + @user.permalink, :class => 'btn btn-lg btn-primary' %> button. <br>
      If you'd like to participate in our Conversation by phone, download the JITSI meet app and join the THINQTV chatroom.<br>

    </div>
  </div>
</div>
