<% @title="CrowdPublish.TV - Upcoming Book Event in DC" %>
<div class="row" >
  <div class="col-md-7 col-sm-offset-1 col-sm-8 col-xs-8 " style= "text-align:left" >
    <p id="notice"><%= notice %></p>

    <% if user_signed_in? %>
      <% if @event.user_id == current_user.id %>
        <%= link_to "Edit", edit_event_path(@event) %> |
        <%= link_to "Delete Event", @event, :confirm => 'Are you sure?', :method => :delete %> |
      <% end %>
    <% end %>
  
    <%= form_for(@rsvp) do |f| %>
      <% if @rsvp.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>
          <ul>
          <% @rsvp.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <%= f.hidden_field :event_id, :value => @event.id %>
        Number of guests you'll bring: <%= f.number_field :guests %>
        <%= f.submit "RSVP" %>
    <% end %><br>

<p>
  <b>Event title:</b>
  <%= @event.name %>
</p>
<p>
  <b>Event host:
  <%= link_to @user.name, user_profile_path(@user.permalink) %> </b>
</p>
<p>
  <b>Start time:</b>
  <%= @event.start_at.strftime("%A %B %d, %Y at %I:%M %p") %>
</p>
<p>
  <b>End time:</b>
  <%= @event.end_at.strftime("%A %B %d, %Y at %I:%M %p") %>
</p>
<p>
  <b>Event description:</b>
  <% if @event.desc %> 
    <%= simple_format @event.desc.gsub(/\n/, '<br>') %>
  <% end %>
</p>
<p>
  <b>Where:</b>
  <%= @event.address %><p>
</p>

  <% if @event.address != "online" %> 
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=11&markers=#{@event.latitude}%2C#{@event.longitude}" %><br><br><br>
  <% else %>
    at <%= link_to @user.name + "'s livestream site", user_stream_path(@user.permalink) %> </b>
  <% end %>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-3 " style= "text-align:left" >
      <b><%= @rsvpusers.sum(:guests) + @rsvpusers.count %> guests said they'll be there</b><br> 
      <% @rsvpusers.each do |rsvpuser| %>
        <%= link_to rsvpuser.name, rsvpuser %>
        <% nguests = Rsvp.where("user_id = ? AND event_id = ?", rsvpuser.id, @event.id) %>

        <% nguests.each do |nguest| %>
          <% if nguest.guests %>
            + <%= nguest.guests %> 
          <% end %>
        <% end %><br>
      <% end %>
  </div>
</div>  
<br><br>