<!DOCTYPE html>
<html>
<link href='https://fonts.googleapis.com/css?family=Montserrat&display=swap' rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
  <title>Purchase Confirmed</title>
</head>
<body style="font-family: 'Montserrat', sans-serif; text-align: center;">
  <br>
  <div class = "header">
    <h2>ThinQ.tv</h2>
  </div>
  <br>      
  <div style="font-size: 18pt; margin: 10px auto 10px auto; text-align: left; width : 60%; padding: 1%;" >
    <h1 style="font-size: 40px; color: #8B0942; font-style: bold;" align="center" >Your purchase has been confirmed!</h1>
    <br>
    <p>
      <%if @user.present?%>
      <%=@user.name %>,
      <%end%>
      <br><br>
      Thank you for purchasing <%=@merchandise.name%>.
      Your purchase totals of $<%=@purchase.pricesold%>.<br><br><br>
    
      Best, <br>
      ThinQ.tv
    </p>
    <div class = "img">
        <%= image_tag attachments['starIcon.png'].url, size: "50x50"%>
      </div>
    <p>Visit us at again at <a href="https://thinq.tv/" target="_blank" style="color: #8B0942; text-decoration-line: none;">ThinQ.tv</a></p>
    <br> 
    </div>  
  <div style="background-color: #8B0942; margin: 10px auto 10px auto; padding: .5%; ">
    <table align="center" width="100%" style="width: 60%; border: 0px; text-align: center; margin: auto; padding: 0; border-spacing: 0px; border-color: none;border-collapse: collapse;">
        <td colspan="4"><p style = "color:white; font-size: 15px;">Contact us<br><a href="mailto:info@thinq.tv" alt="Email" target="_blank" style="color: #FFC627; text-decoration-line: none; text-decoration-color: #FFC627;">info@ThinQ.tv</a><br>Washington DC: 703-495-3185<br> Scottsdale: 602-888-3089</p>
        </td>
        <td colspan="4"><p style = "color:white; font-size: 15px;">Headquarters<br>ASU Venture Devils Suite 1951<br>1475 N.Scottsdale Rd,<br>Scottsdale, AZ 85257</p>
        </td>
        <td colspan="4">
        <p style = "color:white; font-size: 15px;" class="f-header">Share</p>
        <% url = "https://thinq.tv/" %>
        <% desc = "Broadcast live discussions about what you're doing to change the world and participate in intellectual discussions to broaden your knowledge!"%>
        <!-- Facebook Share -->
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>
        <div class="social-share-button"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.crowdpublish.tv%2F&amp;src=sdkpreparse", style="color: #FFC627; text-decoration-line: none; text-decoration-color: #FFC627;"><%=image_tag attachments['facebook.png'].url%></a>
        <!-- Twitter Tweet -->
        <a href="https://twitter.com/intent/tweet?hashtags=CrowdPublishTV&text=Broadcast%20live%20discussions%20about%20what%20you%27re%20doing%20to%20change%20the%20world%20and%20participate%20in%20intellectual%20discussions%20to%20broaden%20your%20knowledge!&tw_p=tweetbutton&url=http%3A%2F%2Fwww.crowdpublish.tv%2F", style="color: #FFC627; text-decoration-line: none; text-decoration-color: #FFC627;"><%=image_tag attachments['twitter.png'].url%></a>
        <!-- LinkedIn Share -->
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= url %>&title=CrowdPublishTV&summary=<%= desc %>" onclick="window.open(this.href, 'mywin',); return false;", style="color: #FFC627; text-decoration-line: none; text-decoration-color: #FFC627;"><%=image_tag attachments['linkedin.png'].url%></a>
        <!-- Email Share -->
        <a href="mailto:?subject=Check out this site called CrowdPublishTV!&amp;body=You are invited to check out <%= url %>!%0D%0A%0D%0A<%= desc %>%0D%0A%0D%0AThe schedule is: Tuesdays 6:30pm PDT / 9:30pm EDT - Tech Tuesday%0D%0AWednesdays 6:30pm PDT / 9:30pm EDT - Discussions on Faith%0D%0AThursdays 7:30pm PDT / 10:30pm EDT - International Awareness%0D%0A%0D%0AStay tuned for more weekly topics on Books, Innovation, and Environmental issues.%0D%0A%0D%0A%0D%0A%0D%0A", style="color: #FFC627; text-decoration-line: none; text-decoration-color: #FFC627;"><%=image_tag attachments['email.png'].url%></a>
  </div>
      <br>
      </td>
</table>
  </body>
</html>

