<body >
<h3>Current Projects To Support</h3>
<%= form_for(Agreement.new) do |f| %> 

  <% if user_signed_in? %>
    <% if @numusrgroups == 1 %>
      You are the admin for the <%= @usrgrpnameid[0][0] %> organization<br><br> 
      <%= f.hidden_field :group_id, :value => @usrgrpnameid[0][1] %>
    <% end %>
    <% if @numusrgroups > 1 %>
      Select one of your organizations to partner with a project: <%= f.select :group_id, options_for_select(@usrgrpnameid, prompt: true) %><br><br> 
    <% end %>
    <% if @numusrgroups > 0 %>
      <div class = "blacktxt">If the project creator accepts your partnership request, your organization will receive 5% of the proceeds for Patron Perks purchased through a referal from your CrowdPublish.TV Organization Page. 
      <br>Partner one of the projects below & it will appear on your Organization Page:</div><br> 
    <% end %>
  <% end %>

    <% @agreedeclined.find_each do |d| %>
      Your request to partner with <%= Project.find(d.project_id).name %> for 
      <%= Group.find(d.group_id).name %> has been declined.<br>
    <% end %>

  <% if @partnerproj.count != 0 %>
    <% @partnerproj.each do |proj| %>

      <div class="col-md-4 col-sm-6 col-xs-12" > 
        <div class= "groupimage" style="vertical-align: top; height:190px; width:300px; overflow:hidden" >
          <% if proj[:projpic].present? && proj[:projpic] != '' %>
            <% groupthumb = proj[:projpic] %>
          <% else %>
            <% groupthumb = "crowddark.png" %>
          <% end %>

          <%= link_to (image_tag groupthumb, :style => "filter: brightness(50%); max-height:150px;"), project_path(proj[:permalink])
          %>
          <projecttext >
            <div style="padding:0px; font-size:22px"><%= link_to proj[:name], project_path(proj[:permalink]) %>
            </div>
            <%= proj[:creator] %>
            <% "Write code to send email to author asking permission to post. " %>
            <br><%= link_to truncate(proj[:mission], :length => 160, :separator => ' '), project_path(proj[:permalink]) %>...
            <% if user_signed_in? %>
              <% if @numusrgroups > 0 %>
                <% projid = proj[:id] %>
                <div style = "color:#000"> <%= button_tag 'Partner', value: projid, type: :submit, name: "agreement[project_id]" %></div>
              <% end %>
            <% end %>
          </projecttext>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
<br><br>
</body>
