<div class="blacktxt">

<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <b>Project Name </b><br>
    <%= f.text_field :name, :size => 80, placeholder: "The Best Project Ever" %>
  <br><br>
    <b>URL ending</b> - numbers and letters ONLY. <br />
    www.CrowdPublish.TV/projects/<%= f.text_field :permalink, :size => 50, placeholder:  "YourprojectURLEnding" %>  <br><br>
    <b>About project </b><br>
      What is your mission statement? What will you accomplish? (You may add to this later)<br>
    <%= f.text_area :mission, :cols => 82, :rows => 7 %><br><br>
    <b>Deadline </b><br>
    When does this project expire?<br>
    <%= f.date_select :deadline %><br><br>

    <%= f.submit %><br>
<% end %><br><br><br>

</div>
