<div class="blacktxt">

<%= form_for @merchandise, :html => {:multipart => true} do |f| %>
    <b>Reward Name </b><br>
    <%= f.text_field :name, :size => 80, placeholder: "Great Patron Perk" %><br><br>
    <b>About this reward </b><br>
      What is this product? What is the main reason someone might want this item? (You may add to this later)<br>
    <%= f.text_area :desc, :cols => 82, :rows => 7 %><br><br>
    <b>Price </b><br>
    <%= f.text_field :price, :size => 80, placeholder: "$10.00" %><br>

    <%= f.hidden_field :project_id, value: @project.id %>
    <div class="covername"> <br> </div>
    <%= f.submit "Save New Perk" %>
<% end %>

    <h3> - OR - </h3>

        <br><b>Add existing Patron Perks to Project <i><%= @project.name %></i>: </b><br>
        <% if @dropdown.any? %>
          <% @dropdown.each do |perk| %>
            <%= form_for(perk) do |f| %>
              <%= f.hidden_field :project_id, :value => @project.id %> 
              <%= f.submit("Add " + perk.name ) %><br> 
            <% end %>
          <% end %>
        <% elsif @perklist.any? %>
          Please add merchandise to your account that you are able to sell and deliver in support of <%= project.name %> 
          <%= button_to(name = "Create Patron Perk", new_merchandise_path, :method => :get) %>
        <% end %>
<br><br>
</div>
