<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container" style="float:left; text-align:left; width:700px;">
<p id="notice"><%= notice %></p>

  <% if @project.projectpic.present? && @project.projectpic != '' %>
    <%= image_tag(@project.projectpic, size: '500x200') %>
  <% end %>
  <h3><%= @project.name %>   
    <% if user_signed_in? %>
      <% if @project.user_id == current_user.id %>
        <%= button_to(name = "Edit Project", edit_project_path(@project.id), method: :get, form_class: 'btn btn-small') %>
      <% end %>
    <% end %>
  </h3>

  <%= @author.name %><br><br>

<div class="blacktxt">
  <% if @project.mission %> 
    <%= simple_format @project.mission.gsub(/\n/, '<br>') %>
  <% end %>
</div>
<br><br><br>
</div>
</div>
</div>
</div>