<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container col-md-12">

  <% if @user == current_user %>
    <p id="notice"><%= notice %></p>
    <%= form_for @book, :html => {:multipart => true} do |f| %>
      <% if @book.errors.any? %> 
        <div id="error_explanation">
          <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
          <ul>
            <% @book.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @book.created_at < Time.now + 5.days %>
        <%= link_to 'Delete ' + @book.title, @book, method: :delete, data: { confirm: 'Are you sure you want to delete this book?' } %>
      <% end %>

      <%= render 'shared/error_messages' %>
      <center><span class="Body-C5">Items with * are required</span></center> 
      <%= f.hidden_field :user_id %>

      <div class="editbooktxt" >
        <div style="float:left;width:75%;">
          <b>* Book title </b></div>
        <div style="float:right;width:25%;">
          Genre <br></div>
      </div>
      <div class="profilebox" >
        <div style="float:left;width:75%;">
          <%= f.text_area :title, :cols => 50, :rows => 2, placeholder: "Book title" %>
        </div>
        <div style="float:right;width:25%;">
          <%= f.text_area :genre, :cols => 15, :rows => 1, placeholder: "Genre" %>
        </div><br>
      </div><br><br>

      <div class="editbooktxt" >
        <br><b>Price </b>
        <% if current_user.stripeid.present? %>
          $<%= f.text_field :price, size: 80, value: 10.00 || :price %>USD<br>
        <% else %>
          You must first sign up for a <%= link_to "Stripe Account", user_createstripeaccount_path(current_user.permalink) %>  (to receive payments) before offering items for sale.

        <% end %>

        <br><br><b>Book jacket blurb</b> (2000 characters max)<br>
      </div>
      <div class="profilebox" >
        <%= f.text_area :blurb, :cols => 70, :rows => 6, placeholder: "Book jacket blurb" %>
      </div>
      <span class="blurbcount"></span>
      <div class="editbooktxt">
        <br><b>Sentence</b> about book (140 characters max) 
      </div>
      <div class="profilebox" >
        <%= f.text_area :fiftychar, :cols => 70, :rows => 1, placeholder: "Brief sentence about book - MUST be less than 140 characters" %>
      </div>
      <span class="charcount"></span>

      <div class="editbooktxt" >
        <br>Release date or estimated release date
        <%= f.date_select :releasedate %><br>
        <br>Upload a picture of the bookcover (.jpg, .gif, .jpeg, or .png)
        <br><%= f.file_field :coverpic %><br>
      </div>
        
      <div class="editbooktxt" >
        We recommend uploading files for ALL 3 of the following formats (so your customers have more options for the type of ereader they own)<br>
      </div>

    <% if current_user.stripeid.present? %>
      <div class="blacktxt">
        <table><tr><td>
        <div style="float:left;width:60%;">
          Upload your ebook, as a pdf (for iBooks, PCs, & Kobo) </div>
        <div style="float:left;width:40%;">
          <%= f.file_field :bookpdf %> </div></td></tr><tr><td>
        <div style="float:left;width:60%;">
          Upload your ebook, as a mobi (for Kindle) </div>
        <div style="float:left;width:40%;">
          <%= f.file_field :bookmobi %> </div></td></tr><tr><td>
        <div style="float:left;width:60%;">
          Upload your ebook, as an epub (for Adobe, Nook, & Sony kobo) </div>
        <div style="float:left;width:40%;">
          <%= f.file_field :bookepub %> </div></td></tr><br>
        </table>
      </div>
    <% else %>
      You must first sign up for a <%= link_to "Stripe Account", user_createstripeaccount_path(current_user.permalink) %> (to receive payments) before uploading ebooks & offering them for sale.
    <% end %>

      <div class="editbooktxt" >
        <br><br>If you have video about your book on <b>YouTube</b>, paste the YouTube URL below. Your video's 11-digit ID will be saved. URLs from any other site will be ignored. <br /> 
      </div>
      <div class="profilebox" >
        Video 1: <br>
        <%= f.text_area :youtube1, :cols => 70, :rows => 1, placeholder: 'http://www.youtube.com/watch?v=/frlviTJcVUo' %><br>
        <br>Video 2:<br /> 
        <%= f.text_area :youtube2, :cols => 70, :rows => 1, placeholder: 'http://www.youtube.com/watch?v=/frlviTJcVUo' %><br><br>
        <b>Enter short descriptions </b> (less than 255 characters) of your videos below<br>
        Video 1:<br>
        <%= f.text_area :bkvideodesc1, :cols => 70, :rows => 2 %>
        <span class="youtube1bookcount"></span><br>
        Video 2: <br>
        <%= f.text_area :bkvideodesc2, :cols => 70, :rows => 2 %>
        <span class="youtube2bookcount"></span>

        <%= f.submit "Save " + @book.title %><br>

 <br>There are a few situations where book information will fail to save. If you are having trouble saving your book info, please check for these errors: <br>
1. Uploading a file that is not a .pdf for iBook/PC, or not a .mobi for Kindle, etc. <br>
2. Uploading a file that is not a .jpg, .gif, .jpeg, or .png for book cover <br>
3. Entering more than 140 characters into the field for Sentence about book <br>
4. Entering more than 2000 characters into the field for Book jacket blurb <br>
5. Leaving title field blank<br>
6. Entering text into Video fields that does not contain a YouTube.com URL</i>
<br><br><br>
      </div>
    <% end %>
  <% end %>

</div>
</div>
</div>
</div>
