<h1>Listing books</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Blurb</th>
    <th>Releasedate</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Fiftychar</th>
    <th>Price</th>
    <th>Bookpdf</th>
    <th>Coverpic</th>
    <th>Coverpicurl</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.blurb %></td>
    <td><%= book.releasedate %></td>
    <td><%= book.author_id %></td>
    <td><%= book.genre %></td>
    <td><%= book.fiftychar %></td>
    <td><%= book.price %></td>
    <td><%= book.bookpdf %></td>
    <td><%= book.coverpic %></td>
    <td><%= book.coverpicurl %></td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Book', new_book_path %>

title,blurb,releasedate,author,genre,fiftychar,price,bookpdf,coverpic,coverpicurl

\COPY books (title,blurb,releasedate,author_id,genre,fiftychar,price,bookpdf,coverpic,coverpicurl,created_at,updated_at,user_id) FROM booksNoIndex.csv delimiter ',';
