<title>CrowdPublishTV members</title>
<div class="featured">  Featured Books </div><br>

<% @books.each do |book| %>
  <div class="col-md-2 col-sm-3 col-xs-4" >
    <div style="vertical-align:top; horizontal-align:center; height:220px; overflow:hidden; " >
      <% if book.coverpic.present? && book.coverpic != '' %> 
        <%= link_to(image_tag(book.coverpic, :size => "100x133",  :title => book.title ), book_path(book.id)) %> 
        <br><%= link_to book.title, book_path(:id => book.id) %>
        <% usr = User.find(book.user_id) %>
        <br>by <%= link_to usr.name, user_profile_path(usr.permalink) %>
        <br><%= book.genre %>
      <% elsif book.title.match /[0-9A-Za-z]/ %> 
        <div class="fanbook" style="width:100px;height:133px;background-color:#cfddaa; text-align: center; border-width:thin medium medium thin; border-color: 000; border-style: solid;" >
          <%= link_to book.title, book_path(id: book.id), :class => 'covertitle', style: 'color:#880000', title: "Purchase " + book.title %><br>
          <% usr = User.find(book.user_id) %>
          <%= link_to usr.name, book_path(id: book.id), :class => 'covername', style: 'color:#2c3651',  title: "Purchase " + book.title %>
        </div> 
        <%= link_to usr.name, user_profile_path(usr.permalink) %>
        <br><%= book.genre %>
      <% end %>
    </div> 
  </div> 
<% end %>
