<title>CrowdPublishTV members</title>
<div class="row">
    <h1>Featured Books</h1>
</div>
<div class="row">
<% @books.each do |book| %>
    <div class="col-md-2 col-sm-3 col-xs-4" >
        <div>
            <% if book.coverpic.present? && book.coverpic != '' %> 
                <%= link_to(image_tag(book.coverpic.url.to_s, :size => "100x133",  :title => book.title ), book_path(book.id)) %> 
                <br><%= link_to book.title, book_path(:id => book.id) %>
                <% usr = User.find(book.user_id) %>
                <br>by <%= link_to usr.name, user_profile_path(usr.permalink) %>
                <br><%= book.genre %>
            <% elsif book.title.match /[0-9A-Za-z]/ %> 
                <div class="fanbook" style="width:100px;height:133px;background-color:#cfddaa; text-align: center; border-width:thin medium medium thin; border-color: 000; border-style: solid;" >
                    <%= link_to book.title, book_path(id: book.id), :class => 'covertitle', style: 'color:#880000', title: "Purchase " + book.title %><br>
                    <% usr = User.find(book.user_id) %>
                    <%= link_to usr.name, book_path(id: book.id), :class => 'covername', style: 'color:#2c3651',  title: "Purchase " + book.title %>
                </div> 
                <%= link_to usr.name, user_profile_path(usr.permalink) %>
                <br><%= book.genre %>
            <% end %>
        </div> 
    </div> 
<% end %>
</div>
<div class="indexlist" >
    <b>Browse more works</b><br> <%= will_paginate @books, renderer: BootstrapPagination::Rails %> <br>
</div>