<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container" >
<p id="notice"><%= notice %></p>

<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" style="margin-top:15px">
  <table >
    <tr><td>
      <div class="graygreenbkcover" style="width:200px;height:260px;background-color:#cfddaa; vertical-align:middle; text-align:center">
        <% if @book.coverpic.present? && @book.coverpic != '' %>
          <%= image_tag(@book.coverpic.url.to_s, :size => "200x260") %> 
        <% elsif @book.coverpicurl.present? && @book.coverpicurl.match(/http/) && @book.coverpicurl.match(/jpeg|jpg|gif|png|tif|GIF|TIF|PNG|JPEG|JPG/) %> 
            <%= image_tag(@book.coverpicurl, :size => "200x260") %> 
            <br><br> 
        <% elsif @book.title.match /[0-9A-Za-z]/ %> 
          <div class="signupbutton">
            <br><%= @book.title %> 
          </div>
          <div class="password" >
            <br><%= @user.name %> 
          </div> 
        <% end %>
      </div> </td>

    <td><div class="blacktxt" style = "text-align:center">
        <%= @book.genre %>  <br><br>
        <div data-no-turbolink> 
          <% if @book.bookpdf.present? && @book.bookepub != '' %>
            <%= link_to new_purchase_path(:book_id => @book.id, :bookfiletype => "pdf"), "Buy PDF", :method=> :get, :class => "btn btn-primary" %> <br>
          <% end %> 
          <% if @book.bookmobi.present? && @book.bookepub != '' %>
            <%= link_to new_purchase_path(:book_id => @book.id, :bookfiletype => "mobi"), "Buy Mobi", :method=> :get, :class => "btn btn-primary" %> <br>
          <% end %> 
          <% if @book.bookepub.present? && @book.bookepub != '' %>
            <%= link_to new_purchase_path(:book_id => @book.id, :bookfiletype => "epub"), "Buy ePub", :method=> :get, :class => "btn btn-primary" %> <br>
          <% end %> 
          <br>
        </div>
        $<%= sprintf('%.2f', @book.price) %> USD
      </div>
    </td></tr>
  </table>
  <div class="profilebox">  
    <% if @book.blurb.present? %> 
      <br><%= simple_format @book.blurb.gsub(/\r\n/, '<br>') %>
    <% end %><br><br>
  </div>
</div> 

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
        <% if @book.youtube1.present?  && @book.youtube1 != '' %> 
          <% if @book.youtube1.match(/[0-9A-Za-z]/) && @book.youtube1.length < 20 && @book.youtube1.length > 6 %>
            <iframe width="420" height="315" src="//www.youtube.com/embed/<%= @book.youtube1 %>" frameborder="0" allowfullscreen></iframe>
          <% end %><br>
          <div class="profilebox" style="margin-left:15px">
            <% if @book.bkvideodesc1.present? %> 
              <br><%= simple_format @book.bkvideodesc1.gsub(/\r\n/, '<br>') %><br><br>
            <% end %><br><br>
          </div>
        <% end %>

      <% if @book.youtube2.present?  && @book.youtube2 != '' %> 
        <% if @book.youtube2.match(/[0-9A-Za-z]/) && @book.youtube2.length < 20 && @book.youtube2.length > 6 %>
          <iframe width="420" height="315" src="//www.youtube.com/embed/<%= @book.youtube2 %>" frameborder="0" allowfullscreen></iframe>
        <% end %><br>
      <% end %>
        <div class="profilebox" style="margin-left:col-xs-125px">
          <% if @book.bkvideodesc2.present? %> 
            <br><%= simple_format @book.bkvideodesc2.gsub(/\r\n/, '<br>') %><br><br>
          <% end %><br><br>
        </div>
</div>

<br><br><br>
</div>
</div>
</div>
</div>
