<%= render 'form' %>

<div style="position:absolute; left:330px; top:350px; text-align:left">
<% userid = @book.user_id %>
<% user = User.find(userid) %>

<table CELLPADDING="0" CELLSPACING="8" WIDTH="800">
  <tr>
    <td style="width:50px;"> </td> <td>
      <div class="socialize" style="float:left;width:75%;"> <b>
        <%= @book.title %></b> by <%= user.name %></a></div>
      <div style="float:right;width:25%;">
        &nbsp&nbsp<%= @book.genre %>  </div>
    </td>
  </tr> 
  <tr>
    <td style="width:100px;height:130px;background-color:#dddddd; " >
    <% if @book.coverpic.present? && @book.coverpic != '' %>
      <%= image_tag(@book.coverpic, :size => "100x130") %>
    <% elsif @book.coverpicurl.present? && @book.coverpicurl.match(/http/) %>
      <%= image_tag(@book.coverpicurl, :size => "100x130") %>
    <% elsif @book.title.match /[0-9A-Za-z]/ %> 
      <div class="covertitle">
        <%= @book.title %> </div><br> 
      <div class="covername">
        <%= user.name %></a>  </div>
    <% end %>
    </td>
    <td class="blurb"> <%= @book.blurb %></td>
  </tr>
</table>
</div>

<div class="buybook" style="position:absolute; left:350px; top:550px; text-align:left;">
<table CELLPADDING="0" CELLSPACING="8" WIDTH="600">
  <tr>
    <td>$<%= sprintf('%.2f', @book.price) %> USD 
    </td>  
    <td><% if @book.bookpdf.present? && @book.bookpdf != '' %>
      <%= link_to "Buy ebook as pdf (iBooks & PCs)", new_purchase_path(:book_id => @book.id, :bookfiletype => "pdf"), :style => 'color:#880000' %>
    <% end %>
    <% # if @book.bookmobi.present? && @book.bookmobi != '' %>
      </td></tr><tr><td></td><td> <%= link_to "Buy ebook as mobi (Kindle)", new_purchase_path(:book_id => @book.id, :bookfiletype => "mobi"), :style => 'color:#880000' %>
    <% # end %>
    <% # if @book.bookepub.present? && @book.bookepub != '' %>
      </td></tr><tr><td></td><td> <%= link_to "Buy ebook as epub (Adobe & Nook)", new_purchase_path(:book_id => @book.id, :bookfiletype => "epub"), :style => 'color:#880000' %>
    <% # end %>
    <% if @book.bookkobo.present? && @book.bookkobo != '' %>
      </td></tr><tr><td></td><td> <%= link_to "Buy ebook as kobo (Sony)", new_purchase_path(:book_id => @book.id, :bookfiletype => "kobo"), :style => 'color:#880000' %>
    <% end %>
    </td>
  </tr>
</table>
</div>