<%= render 'form' %>

<div style="position:absolute; left:330px; top:350px; text-align:left">
<% userid = @book.user_id %>
<% user = User.find(userid) %>

<table CELLPADDING="0" CELLSPACING="8" WIDTH="800">
  <tr>
    <td class="copyalpha" style="width:50px;"> </td> <td>
      <div style="float:left;width:55%;"> <b>
      <%= @book.title %></b> by <%= user.name %></a></div>
      <div style="float:right;width:45%;">
      &nbsp&nbsp<%= @book.genre %>  </div>
    </td>
  </tr> 
  <tr>
    <td style="width:100px;height:130px;background-color:#dddddd; " >
    <% if @book.coverpic.present? && @book.coverpic != '' %>
      <%= image_tag(@book.coverpic, :size => "100x130") %>
    <% elsif @book.coverpicurl.present? && @book.coverpicurl.match(/http/) %>
      <%= image_tag(@book.coverpicurl, :size => "100x130" %>
    <% elsif @book.title.match /[A-Za-z]/ %> 
      <span class="covertitle">
      <%= @book.title %> <br>
      <a href= ../books/<%= @book.id %>> by <%= user.name %></a>
      </span>
    <% end %>
    </td>
    <td class="blurb"> <%= @book.blurb %></td>
  </tr>
  <tr><td></td>
    <td>$<%= sprintf('%.2f', @book.price) %> USD 
    <% if @book.bookpdf.present? && @book.bookpdf != '' %>
      <%= link_to "...Buy as pdf (iBooks & PCs)", new_purchase_path(:book_id => @book.id, :bookfiletype => "pdf") %>
    <% end %>
    <% if @book.bookmobi.present? && @book.bookmobi != '' %>
      </td></tr><tr><td></td><td> <%= link_to "....................Buy as mobi (Kindle)", new_purchase_path(:book_id => @book.id, :bookfiletype => "mobi") %>
    <% end %>
    <% if @book.bookepub.present? && @book.bookepub != '' %>
      </td></tr><tr><td></td><td> <%= link_to "....................Buy as epub (Adobe & Nook)", new_purchase_path(:book_id => @book.id, :bookfiletype => "epub") %>
    <% end %>
    <% if @book.bookkobo.present? && @book.bookkobo != '' %>
      </td></tr><tr><td></td><td> <%= link_to "....................Buy as kobo (Sony)", new_purchase_path(:book_id => @book.id, :bookfiletype => "kobo") %>
    <% end %>
    </td>
  </tr>
</table>
</div>