<div class="row" >
  <div class="col-md-6 col-sm-10 col-xs-12">
    <div class="socialize" > 
      <b><%= @book.title %></b> by <%= @user.name %>
    </div>
  </div>
  <div class="col-md-6 col-sm-2 col-xs-12">
    <%= @book.genre %>  
  </div>
</div>

<div class="row"  style="margin-top:10px;">
  <div class="col-md-2 col-sm-4 col-xs-4" style="width:100px;height:130px;background-color:#dddddd; vertical-align:middle; margin-right:10px; ">
        <% if @book.coverpic.present? && @book.coverpic != '' %>
          <%= image_tag(@book.coverpic, :size => "100x130") %>
        <% elsif @book.coverpicurl.present? && @book.coverpicurl.match(/http/) %>
          <%= image_tag(@book.coverpicurl, :size => "100x130") %>
        <% elsif @book.title.match /[0-9A-Za-z]/ %> 
          <div class="covertitle">
            <br><%= @book.title %> <br> <br>  
          </div>
          <div class="covername" >
            <%= @user.name %> 
          </div>
        <% end %>
  </div>
  <div class="col-md-10 ">
    <div class="blurb">   <%= simple_format @book.blurb.gsub(/\n/, '<br>') %>
    </div>
  </div>
</div>

<div class="row"  style="margin-top:10px;">
  <div class="buybook">
    <div class="col-md-3 col-sm-4 col-xs-4">
      $<%= sprintf('%.2f', @book.price) %> USD 
    </div>
    <div class="col-md-9 col-sm-8 col-xs-8">
      <% # if @book.bookpdf.present? && @book.bookpdf != '' %>
      <%= link_to "Buy ebook as pdf (iBooks & PCs)", new_purchase_path(:book_id => @book.id, :bookfiletype => "pdf"), :style => 'color:#880000' %><br>
      <% # end # put some buttons here %>
      <% # if @book.bookmobi.present? && @book.bookmobi != '' %>
        <%= link_to "Buy ebook as mobi (Kindle)", new_purchase_path(:book_id => @book.id, :bookfiletype => "mobi"), :style => 'color:#880000' %><br>
      <% # end %>
      <% # if @book.bookepub.present? && @book.bookepub != '' %>
        <%= link_to "Buy ebook as epub (Adobe & Nook)", new_purchase_path(:book_id => @book.id, :bookfiletype => "epub"), :style => 'color:#880000' %><br>
      <% # end %>
      <% # if @book.bookkobo.present? && @book.bookkobo != '' %>
        <%= link_to "Buy ebook as kobo (Sony)", new_purchase_path(:book_id => @book.id, :bookfiletype => "kobo"), :style => 'color:#880000' %>
      <% # end %>
    </div>
  </div>
</div>
