<% @title=" Community " %>

<!--Used to display error message when invalid credentials are inputted -->
<%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<%- end -%>

<div class="container">

    <% if request.host == "crowdpublishtv.herokuapp.com" %>
        You must confirm your sign in to access Stripe
    <% end %>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-1">
            <h1>Login</h1>

            <div class="well">
            <%= form_for(resource, :as => resource_name, :url => user_session_path) do |f| %>
                <div class="form-group">
                    <h2><%= f.label :email %></h2>
                    <%= f.email_field :email, :autofocus => true, :class => "form-control" %>
                </div>
                <div class="form-group">
                    <h2><%= f.label :password %></h2>
                    <%= f.password_field :password, :class => "form-control" %>
                </div>

                <% if devise_mapping.rememberable? -%>
                    <div class="checkbox">
                        <label>
                            <p><%= f.check_box :remember_me, :type => "checkbox" %> Remember me?</p>
                        </label>
                    </div>
                <% end -%>

                <small>By clicking 'Sign In,' you agree to the ThinQ.tv <%= link_to("Terms of Service", tos_path, :target => "_blank") %>.</small><br><br>

                <%= f.submit "Sign In", :class => "form-control btn-primary" %>
            <% end %>
            </div>
        </div>
        <br><br>
        <div class="col-lg-3">
            <p>Not a member? <%= render "devise/shared/links" %></p>
        </div>
    </div>
</div>
