<% @title=" Community " %>

<!--Used to display error message when invalid credentials are inputted -->
<%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<%- end -%>

<div class="container">
    
    <div class="row">
        <div class="col-xs-5 col-xs-offset-2">
            <h1>Login</h1>
        </div>
    </div>
    <% if request.host == "crowdpublishtv.herokuapp.com" %> 
      You must confirm your sign in to access Stripe
    <% end %>

    <div class="row">
        <div class="col-xs-5 col-xs-offset-2">
            <%= form_for(resource, :as => resource_name, :url => user_session_path) do |f| %>
                <div class="form-group">
                    <h2><%= f.label :email %></h2>
                    <%= f.email_field :email, :autofocus => true, :class => "form-control" %>
                </div>
                <div class="form-group">
                    <h2><%= f.label :password %></h2>
                    <%= f.password_field :password, :class => "form-control" %>
                </div>

                <% if devise_mapping.rememberable? -%>
                    <div class="checkbox">
                        <label>
                            <p><%= f.check_box :remember_me, :type => "checkbox" %> Remember me?</p>
                        </label>
                    </div>
                <% end -%>

                <%= f.submit "Sign in", :class => "btn btn-primary" %>

                <br><br>
                <small>By clicking 'Sign In,' you agree to the CrowdPublishTV <%= link_to("Terms of Service", tos_path, :target => "_blank") %>.</small>

            <% end %>
        </div>

        <div class="col-xs-2">
            <p>Not a member?</p>
            <p><%= render "devise/shared/links" %></p>
        </div>
    </div>
</div>
