<% @title="CrowdPublish.TV Community " %>

<div id="user" style="position:absolute; overflow:hidden; left:400px; top:300px; z-index:3">
<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

<p>

  <div><%= f.submit "Sign in" %></div>
<% end %>
</div>

<div id="user" style="position:absolute; overflow:hidden; left:740px; top:353px; z-index:3">
Not a member? <p>
<%= render "devise/shared/links" %>
</div>
