  <% @title=" Community " %>

  <!--Used to display error message when invalid credentials are inputted -->


  <div class="container">

    <% if request.host == "thinqtv.herokuapp.com" %>
      You must confirm your sign in to access Stripe
    <% end %>

    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="well">
          <div style="text-align:center">
            <h1>Login</h1>
            <p>Not a member? <%= link_to "Sign up", new_user_signup_path %></p>
          </div>
          <%= form_for(resource, :as => resource_name, :url => user_session_path) do |f| %>

          <!--Used to display error message when invalid credentials are inputted -->
  <%- flash.each do |name, msg| -%>
  <div class="alert alert-danger" role="alert">
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      </div>
  <%- end -%>


          <!-- Email Box -->
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon" style="font-size:20px">
                &#9993
              </div>
              <%= f.email_field :email, placeholder: "Email", :autofocus => true, :class => "form-control" %>
            </div>
          </div>

          <!-- Password Box -->
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-lock" style="font-size:20px"></i>
              </div>
              <%= f.password_field :password, placeholder: "Password", :class => "form-control" %>
            </div>
          </div>

          <!-- Forgot Password Link -->
          <div style="text-align:right; margin-top:-10px; margin-bottom:-10px">
            <%= link_to "Forgot your password?", new_user_password_path %>
          </div>

          <!-- Remember Me Button -->
          <% if devise_mapping.rememberable? -%>
            <div class="checkbox">
              <label>
                <p><%= f.check_box :remember_me, :type => "checkbox" %> Remember me?</p>
              </label>
            </div>
          <% end -%>

          <!-- Agree to ToS Prompt -->
          <div style="text-align:center; margin-top:-15px; margin-bottom:-10px">
            <small>By clicking 'Sign In,' you agree to the ThinQ.tv <%= link_to("Terms of Service", tos_path, :target => "_blank") %>.</small><br><br>
          </div>

          <!-- Sign In Button -->
          <%= f.submit "Sign In", :class => "form-control btn-primary" %>

          <br><div style="text-align:center">OR</div><br>

          <!-- Log In With Facebook 
          <div style="text-align:center">
            <%- resource_class.omniauth_providers.each do |provider| %>
              <a href="/users/auth/facebook" style="margin-top: 8px; margin-bottom: 10px; border: 1px solid transparent; border-radius: 3px; padding: 8px; font-family: Helvetica, Arial, sans-serif; font-size: 15px; text-decoration: none; background-color: #4267B2; color: #fff;">
                <img src="https://cdn.usbrandcolors.com/images/logos/facebook-logo.svg" alt="Facebook Logo" style="width:40px; height:36px; margin-left: -10px">
                <b>Sign In With Facebook</b>
              </a>
            <% end -%>
          </div>
-->

        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
