<p>

Someone invited you to speak.<br>

A new message from: <%= @message.fullname %> <br>
phone number = <%= @message.phone_number %> <br>
Email Address  = <%= @message.email %> <br>
Subject = <%= @message.subject %> <br>
Message = <%= @message.message %> <br>


Thankyou.<br>


</p>