<!DOCTYPE html>
<html>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
  <title>Event Reminder</title>
  <style type = "text/css">
    body {border: 5px solid #000000; padding:2%;}  
    div.one{margin: 10px auto 10px auto; text-align: left; border: 5px solid #000000; width : 40%;padding: 50px;}
    div.img{margin: 10% auto 10% auto;padding: 5%; }
    div.col-sm-2{margin: 10px auto 10px auto;border: 5px solid #000000; width: 40%;padding: 50px;}
    div.social-share-button{float: left;}
  </style> 
</head>
<body>
  <div class = "one">
    <p> Hello, <%= @user.name %> <br><br>
     <%= @user.name %> this is a reminder about your event, <%=@event.name %>.
     You made this event for this date <%=@date_body_format%>. 
     Please invite your friends to your <a href = <%=@event_url%>>event</a>.<br><br>
     Sincerely,<br>
     crowdpublish.TV
     </p>
     <div class = "img">
       <%= image_tag 'maroonLogo.png', size: "200x200"%>
     </div>
  </div>
  <div class="col-sm-2">
    <p class="f-header">Share</p>
    <% url = "http://www.crowdpublish.tv" %>
    <% desc = "Broadcast live discussions about what you're doing to change the world and participate in intellectual discussions to broaden your knowledge!"%>
    <!-- Facebook Share -->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>
    <div class="social-share-button" data-href="<%= url %>"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.crowdpublish.tv%2F&amp;src=sdkpreparse"><img src="<%= asset_url('social-share-button/facebook.svg') %>"></img></a>
    <!-- Twitter Tweet -->
    <a href="https://twitter.com/intent/tweet?hashtags=CrowdPublishTV&text=Broadcast%20live%20discussions%20about%20what%20you%27re%20doing%20to%20change%20the%20world%20and%20participate%20in%20intellectual%20discussions%20to%20broaden%20your%20knowledge!&tw_p=tweetbutton&url=http%3A%2F%2Fwww.crowdpublish.tv%2F"><img src="<%= asset_url('social-share-button/twitter.svg') %>"></img></a>
    <!-- LinkedIn Share -->
    <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= url %>&title=CrowdPublishTV&summary=<%= desc %>" onclick="window.open(this.href, 'mywin',); return false;"><img src="<%= asset_url('social-share-button/linkedin.svg') %>"/></a>
    <!-- Email Share -->
    <a href="mailto:?subject=Check out this site called CrowdPublishTV!&amp;body=You are invited to check out <%= url %>!%0D%0A%0D%0A<%= desc %>%0D%0A%0D%0AThe schedule is: Tuesdays 6:30pm PDT / 9:30pm EDT - Tech Tuesday%0D%0AWednesdays 6:30pm PDT / 9:30pm EDT - Discussions on Faith%0D%0AThursdays 7:30pm PDT / 10:30pm EDT - International Awareness%0D%0A%0D%0AStay tuned for more weekly topics on Books, Innovation, and Environmental issues.%0D%0A%0D%0A%0D%0A%0D%0A"><img src="<%= asset_url('social-share-button/email.svg') %>"></a>
  </div> 
  
  </div>
</body>
</html>
