<%= form_with(model: timeslot, local: true) do |form| %>
  <% if timeslot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(timeslot.errors.count, "error") %> prohibited this timeslot from being saved:</h2>

      <ul>
      <% timeslot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3><%= form.label :topic, "Title of Livestream Show" %></h3>
      <p class="help-block">Choose a topic to discuss or leave it open to your followers to decide</p>
    <%= form.text_field(:name, size: 40) %>
  </div>

  <div class="field">
    <h3><%= form.label :start_at, "Start Time" %></h3>
      <p class="help-block">Pacific Daylight Time (PDT)</p>
    <%= form.datetime_select :start_at, ampm: true, default: 7.days.from_now, minute_step: 15 %>
  </div>

  <div class="field">
    <h3><%= form.label :end_at, "End Time" %></h3>
      <p class="help-block">Pacific Daylight Time (PDT)</p>
    <%= form.datetime_select :end_at, ampm: true, default: 7.days.from_now, minute_step: 15 %>
  </div>

  <div class="field">
    <h3><%= form.label :show_duration, "Show Duration" %></h3>
      <p class="help-block">How long do you want your show to run for?</p>
    <%= form.select(:show_duration, options_for_select([['1 week', 1], ['2 weeks', 2], ['3 weeks', 3], ['4 weeks', 4], ['5 weeks', 5], ['6 weeks', 6], ['7 weeks', 7], ['8 weeks', 8], ['9 weeks', 9], ['10 weeks', 10], ['11 weeks', 11],['12 weeks', 12]])) %>
  </div>
  <br>

  <!-- <div class="field">
    <h3>User's Role for the Show</h3>
    <%= form.radio_button(:role, 'Interviewer') %>
    <%= form.label(:role, 'Interviewer') %>
    <%= form.radio_button :role, 'Guest' %>
    <%= form.label :role, 'Guest' %>
  </div>
  <br> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
