<p id="notice"><%= notice %></p>

<h1>Timeslots</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Start at</th>
      <th>End at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timeslots.each do |timeslot| %>
      <% user = User.find(timeslot.user_id) %>
      <tr>
        <td>
          <%= link_to user.name, user.permalink, id: "calendar-host" %>
        <td><%= timeslot.start_at %></td>
        <td><%= timeslot.end_at %></td>
        <td><%= link_to 'Show', timeslot %></td>
        <td><%= link_to 'Edit', edit_timeslot_path(timeslot) %></td>
        <td>
          <% if user == current_user %>
            <%= link_to 'Destroy', timeslot, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timeslot', new_timeslot_path %>
