<p id="notice"><%= notice %></p>

<h1>Available Timeslots</h1>

<table>
  <!-- <thead>
    <tr>
      <th>User</th>
      <th>Start at</th>
      <th>End at</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <tbody>
    <% @timeslots.each do |timeslot| %>
      <% user = User.find(timeslot.user_id) %>
      <tr>
        <td>
          <%= link_to user.name, user.permalink, id: "calendar-host" %>
        <td class=col-xs-3>
          <% edt = timeslot.start_at + 3.hours %> 
          <span style="font-size:125%;" id=calendar-time><%= timeslot.start_at.strftime("%a, %b. %d") %></span>
          <span style="font-size:90%;" id=calendar-time><%= timeslot.start_at.strftime("%l:%M%P") %> PDT</span>
          <span style="font-size:90%;" id=calendar-time><%= edt.strftime("%l:%M%P") %> EDT</span>
        </td>
        <td class=col-xs-3>
          <% edtEnd = timeslot.end_at + 3.hours %> 
          <span style="font-size:125%;" id=calendar-time><%= timeslot.end_at.strftime("%a, %b. %d") %></span>
          <span style="font-size:90%;" id=calendar-time><%= timeslot.end_at.strftime("%l:%M%P") %> PDT</span>
          <span style="font-size:90%;" id=calendar-time><%= edtEnd.strftime("%l:%M%P") %> EDT</span>
        </td>
        <td><%= link_to 'Show', timeslot, class: "btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Edit', edit_timeslot_path(timeslot), class: "btn btn-primary btn-sm" %></td>
        <td>
          <% if user == current_user %>
            <%= link_to 'Destroy', timeslot, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timeslot', new_timeslot_path, class: "btn btn-primary btn-sm" %>
