<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <% user = User.find(@timeslot.user_id) %>
  <%= link_to user.name, user.permalink %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @timeslot.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @timeslot.end_at %>
</p>

<p>
  <strong>Interviewer:</strong>
  <%= @timeslot.interviewer_user_id %>
</p>

<%= link_to 'Edit', edit_timeslot_path(@timeslot) %> |
<%= link_to 'Back', timeslots_path %>