<div class="blacktxt">
<% if user_signed_in? %>
<% if @phase.user_id == current_user.id || current_user.id == 143 %>

  <div class="socialize" >
    Need ideas for Perks to offer your fans? Offer these Perks as-is or modify them (recommended) to be specific to your project or expertise. </i> 
  </div><br>


  <div class="row" > 
      <div class="col-sm-6 col-xs-12" > 
        <div class="socialize" >
          Engage directly with fans
        </div><br>

<% "SOCIAL MEDIA POST" %>
    <div class="accordion" id="accordiona">
      <div class="accordion-group">
        <div id="accordion-togglea" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= form_for(@merchandise) do |f| %>
              <%= f.hidden_field :phase_id, value: @phase.id %>
              <b>Perk Name </b><br>
              <%= f.text_field :name, size: 80, value: "I'll Post on your facebook wall or mention you in a tweet every week for 4 weeks" || :name %><br><br>
              <b>About this Patron Perk </b><br>
              What is this product? What is the main reason someone might want this item? (You may edit this before fans purchase)<br>
              <%= f.text_area :desc, cols: 82, rows: 7, value: "I will write a brief greeting or line from my latest book on your facebook wall or to your twitter account every Tuesday for the next 4 weeks. Please state whether you'd prefer a facebook post or tweet." || :desc %><br><br>
              <b>Price </b><br>
              $<%= f.text_field :price, size: 10, value: 20.00 || :price %>USD<br>
              <%= button_to "Offer Social Media Post", { controller: 'phases', id: @phase.id}, :method => :post, class: "button" %><br><br>
            <% end %>
          </div>
        </div>
        <a class="accordion-togglea" data-toggle="collapse" href="#accordion-togglea ">
          <span>
            Social Media Post
          </span>
          <span class="hiddenamore">
            ...Hide <b>Social Media Post</b> details
          </span>
        </a>
      </div>
    </div>
<% "RUNNING STORY ON SOCIAL MEDIA" %>
    <div class="accordion" id="accordion11">
      <div class="accordion-group">
        <div id="accordion-toggle11" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= form_for(@merchandise) do |f| %>
              <%= f.hidden_field :phase_id, value: @phase.id %>
              <b>Perk Name </b><br>
              <%= f.text_field :name, size: 80, value: "We'll write a 30-line story together on your Facebook wall or your latest Instagram picture" || :name %><br><br>
              <b>About this Patron Perk </b><br>
              Be specific about what you're willing to offer (You may edit this before fans purchase)<br>
              <%= f.text_area :desc, cols: 82, rows: 7, value: "I will write a the first sentence of a story on your facebook wall or latest instagram photo. You write the second line. I'll write the third and we'll keep taking turns until I've written 15 lines, resulting in a 30 or more line story (more lines if your friends join in). Please state whether you'd prefer a facebook post or instagram comment." || :desc %><br><br>
              <b>Price </b><br>
              $<%= f.text_field :price, size: 10, value: 20.00 || :price %>USD<br>
              <%= button_to "Offer Social Media Post", { controller: 'phases', id: @phase.id}, :method => :post, class: "button" %><br><br>
            <% end %>
          </div>
        </div>
        <a class="accordion-toggl11" data-toggle="collapse" href="#accordion-toggle11 ">
          <span>
            30 Line Story
          </span>
          <span class="hidden11more">
            ...Hide <b>30 Line Story</b> details
          </span>
        </a>
      </div>
    </div>
<% "SOCIAL MEDIA VIDEO" %>
    <div class="accordion" id="accordion6">
      <div class="accordion-group">
        <div id="accordion-toggle6" class="accordion-body collapse">
          <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <%= f.hidden_field :phase_id, value: @phase.id %>
                <b>Perk Name </b><br>
                <%= f.text_field :name, size: 80, value: "Video Reading posted on your facebook wall" || :name %><br><br>
                <b>About this Patron Perk </b><br>
                What is this product? Main reason someone might want this item? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 82, rows: 7, value: "I will record a video of myself reading from my next chapter and post it on your facebook wall. " || :desc %><br><br>
            <b>Price </b><br>
            $<%= f.text_field :price, size: 10, value: 400.00 || :price %>USD<br>
                <%= button_to "Offer Facebook Video Perk", { controller: 'phases', id: @phase.id, method: :post}, class: "button" %><br><br>
              <% end %>
          </div>
        </div>
          <a class="accordion-toggle6" data-toggle="collapse" href="#accordion-toggle6">
            <span>
              Facebook Video Post
            </span>
            <span class="hidden6more">
              ...Hide <b>Facebook Video Post</b> details
            </span>
          </a><br>
      </div>
    </div>
<% "READ FAN WORK ON FACEBOOK LIVE" %>
    <div class="accordion" id="accordion13">
      <div class="accordion-group">
        <div id="accordion-toggle3" class="accordion-body collapse">
          <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <%= f.hidden_field :phase_id, value: @phase.id %>
                <b>Perk Name </b><br>
                <%= f.text_field :name, size: 80, value: "Facebook Livestream Reading " || :name %><br><br>
                <b>About this Patron Perk </b><br>
                What is this product? Main reason someone might want this item? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 82, rows: 7, value: "I'll read a 3 minute excerpt of your writing as a Facebook Livestream and discuss it with my fans for another five minutes. Feel free to share the video on your own facebook wall after the stream is completed." || :desc %><br><br>
            <b>Price </b><br>
            $<%= f.text_field :price, size: 10, value: 40.00 || :price %>USD<br>
                <%= button_to "Offer Live Online Reading Perk", { controller: 'phases', id: @phase.id, method: :post}, class: "button" %><br><br>
              <% end %>
          </div>
        </div>
      </td><td>
        <a class="accordion-togglea3" data-toggle="collapse" href="#accordion-toggle13">
          <span>
            Facebook Livestream Reading
          </span>
          <span class="hidden13more">
            ...Hide <b>Facebook Livestream Reading</b> details
          </span>
        </a><br>
      </div>
    </div>
<% "LIVE READING" %>
    <div class="accordion" id="accordion3">
      <div class="accordion-group">
        <div id="accordion-toggle3" class="accordion-body collapse">
          <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <%= f.hidden_field :phase_id, value: @phase.id %>
                <b>Perk Name </b><br>
                <%= f.text_field :name, size: 80, value: "Live Online Reading " + @phase.name + " before it's released" || :name %><br><br>
                <b>About this Patron Perk </b><br> 
                What is this product? Main reason someone might want this item? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 82, rows: 7, value: "Fans can reserve a spot to listen to me give a 10 minute reading on Skype, Hangouts, or Facetime. Suggested times are: Weeknights at 7:00pm PST and 7:15 PST. " || :desc %><br><br>
            <b>Price </b><br>
            $<%= f.text_field :price, size: 10, value: 40.00 || :price %>USD<br>
                <%= button_to "Offer Live Online Reading Perk", { controller: 'phases', id: @phase.id, method: :post}, class: "button" %><br><br>
              <% end %>
          </div>
        </div>
      </td><td>
        <a class="accordion-toggle3" data-toggle="collapse" href="#accordion-toggle3">
          <span>
            Live Online Reading
          </span>
          <span class="hidden3more">
            ...Hide <b>Live Online Reading</b> details
          </span>
        </a><br>
      </div>
    </div>
<% "EVENT TICKETS" %>
        <div class="accordion" id="accordion9">
          <div class="accordion-group">
            <div id="accordion-toggle9" class="accordion-body collapse">
              <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <%= f.hidden_field :phase_id, value: @phase.id %>
                <b>Perk Name </b><br>
                <%= f.text_field :name, size: 80, value: "Attend My Panel Discussion"|| :name %><br><br>
                <b>About this Patron Perk </b><br>
                Main reason someone might want this item? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 82, rows: 7, value: "Four local authors are putting on a panel discussion about our books on May 9 7:30pm at the Central Library in Phoenix. Come and join the Q & A. " || :desc %><br><br>
                <b>Price </b><br>
                $<%= f.text_field :price, size: 10, value: 20.00 || :price %>USD<br>
                <%= button_to "Offer Event Perk", { controller: 'phases', id: @phase.id, method: :post}, class: "button" %>
              <% end %>
              </div>
            </div>
            <a class="accordion-toggle9" data-toggle="collapse" href="#accordion-toggle9">
              <span>
                Event Tickets 
              </span>
              <span class="hidden9more">
                ...Hide <b>Event Tickets</b> details<br><br>
              </span>
            </a><br>
          </div>
        </div>
<% "INTERACTIVE MURDER MYSTERY" %>
        <div class="accordion" id="accordion12">
          <div class="accordion-group">
            <div id="accordion-toggle12" class="accordion-body collapse">
              <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <%= f.hidden_field :phase_id, value: @phase.id %>
                <b>Perk Name </b><br>
                <%= f.text_field :name, size: 80, value: "Be part of a Live presentation"|| :name %><br><br>
                <b>About this Patron Perk </b><br>
                Main reason someone might want this item? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 82, rows: 7, value: "Join me and up to 7 other fans in a google Hangouts session at 6:30pm PST (9:30pm EST) on November 15. My colleagues and I will each play characters in a Murder Mystery we have written. My colleagues and I will all be in the same location, however the first 7 lucky fans will join us onscreen and participate in the dialogue from the comfort of their own home. I'll send instructions on how to join the Hangouts session three days before the Hangouts event. Will one of YOU be the culprit?" || :desc %><br><br>
                <b>Price </b><br>
                $<%= f.text_field :price, size: 10, value: 60.00 || :price %>USD<br>
                <%= button_to "Offer Interactive TV Perk", { controller: 'phases', id: @phase.id, method: :post}, class: "button" %>
              <% end %>
              </div>
            </div>
            <a class="accordion-toggle12" data-toggle="collapse" href="#accordion-toggle12">
              <span>
                Murder Mystery perk
              </span>
              <span class="hidden12more">
                ...Hide <b>Murder Mystery</b> details<br><br>
              </span>
            </a><br>
          </div>
        </div>
<% "APPEARANCE AT BOOK CLUB" %>
    <div class="accordion" id="accordion1">
      <div class="accordion-group">
        <div id="accordion-toggle1" class="accordion-body collapse">
          <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <%= f.hidden_field :phase_id, value: @phase.id %>
                <b>Perk Name </b><br>
                <%= f.text_field :name, size: 80, value: "Speak at your book club meeting " || :name %><br><br>
                <%= f.text_field :name, size: 80, value: "Speak at your movie party " || :name %><br><br>
                <b>About this Patron Perk </b><br>
                What is this product? Main reason someone might want this item? Be specific so it isn't a mystery what you are offering. (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 82, rows: 7, value: "I will talk to your book club members for a half hour about what went on behind the scenes of my latest book. Must be within the Phoenix metro area or on Skype." || :desc %><br><br>
            <b>Price </b><br>
            $<%= f.text_field :price, size: 10, value: 200.00 || :price %>USD<br>
                <%= button_to "Offer Party Appearance Perk", { controller: 'phases', id: @phase.id, method: :post}, class: "button" %><br><br>
              <% end %>
          </div>
        </div>
          <a class="accordion-toggle5" data-toggle="collapse" href="#accordion-toggle1">
            <span>
              Make an Appearance at your Book Club Meeting
            </span>
            <span class="hidden10more">
              ...Hide <b>Book Club Appearance</b> details
            </span>
          </a><br>
      </div>
    </div>
<% "EXPERT CONSULTATION" %>
        <div class="accordion" id="accordion5">
          <div class="accordion-group">
            <div id="accordion-toggle5" class="accordion-body collapse">
              <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <%= f.hidden_field :phase_id, value: @phase.id %>
                <b>Perk Name </b><br>
                <%= f.text_field :name, size: 80, value: "Consultation package" || :name %><br><br>
                <b>About this Patron Perk </b><br>
                What is this product? Main reason someone might want this item? Be specific so it isn't a mystery what you are offering. (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 82, rows: 7, value: "We will set up weekly phone appointments for a half hour each over the next eight weeks to discuss any questions you may have or any advice you are seeking." || :desc %><br><br>
                <b>Price </b><br>
                $<%= f.text_field :price, size: 10, value: 1000.00 || :price %>USD<br>
                    <%= button_to "Offer Consultation Perk", { controller: 'phases', id: @phase.id, method: :post}, class: "button" %><br><br>
                  <% end %>
              </div>
            </div>
            <a class="accordion-toggle5" data-toggle="collapse" href="#accordion-toggle5">
              <span>
                Expert Consultation
              </span>
              <span class="hidden5more">
                ...Hide <b>Consultation</b> details
              </span>
            </a><br>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xs-12" > 
        <div class="socialize" >
          Special content relevant to your book 
        </div><br>

<% "NAME IN CREDITS" %>
        <div class="accordion" id="accordion7">
          <div class="accordion-group">
            <div id="accordion-toggle7" class="accordion-body collapse">
              <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <%= f.hidden_field :phase_id, value: @phase.id %>
                <b>Perk Name </b><br>
                <%= f.text_field :name, size: 80, value: "Your Name In Credits of the next chapter of my book" || :name %><br><br>
                <b>About this Patron Perk </b><br>
                Main reason someone might want this item? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 82, rows: 7, value: "Get on the list of Patrons at the end of the next chapter of the book I'm currently writing. This chapter will be send out to qualifying Patrons in two months. After the book is completed, your name will be included in the page of thanks at the end of the book." || :desc %><br><br>
                <b>Price </b><br>
                $<%= f.text_field :price, size: 10, value: 40.00 || :price %>USD<br><br>
                <b>Perk Picture </b><br>
                Upload a picture (optional) that represents the item you are offering (.jpg, .gif, .jpeg, or .png) - <i>a square picture works best</i>
                <br><%= f.file_field :itempic %> 
                <%= button_to "Offer Name in Credits Perk", { controller: 'phases', id: @phase.id, method: :post}, class: "button" %><br><br>
              <% end %>
              </div>
            </div>
            <a class="accordion-toggle7" data-toggle="collapse" href="#accordion-toggle7">
              <span>
                Include Your Name in the credits at the end of my next chapter
              </span>
              <span class="hidden7more">
                ...Hide <b>Name in Credits</b> details
              </span>
            </a><br>
          </div>
        </div>

<% "NAME A CHARACTER" %>
        <div class="accordion" id="accordion8">
          <div class="accordion-group">
            <div id="accordion-toggle8" class="accordion-body collapse">
              <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <%= f.hidden_field :phase_id, value: @phase.id %>
                <b>Perk Name </b><br>
                <%= f.text_field :name, size: 80, value: "Name the next Character in my book"|| :name %><br><br>
                <b>About this Patron Perk </b><br>
                Main reason someone might want this item? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 82, rows: 7, value: "The next character we introduce will be hilarious. Name her or him after yourself or select your own custom name." || :desc %><br><br>
                <b>Price </b><br>
                $<%= f.text_field :price, size: 10, value: 40.00 || :price %>USD<br>
                <%= button_to "Offer Character Name Perk", { controller: 'phases', id: @phase.id, method: :post}, class: "button" %><br><br>
              <% end %>
              </div>
            </div>
            <a class="accordion-toggle8" data-toggle="collapse" href="#accordion-toggle8">
              <span>
                Name a Character perk
              </span>
              <span class="hidden8more">
                ...Hide <b>Character Name</b> details
              </span>
            </a><br>
          </div>
        </div>
<% "ADVANCE CHAPTER ACCESS" %>
        <div class="accordion" id="accordion4">
          <div class="accordion-group">
            <div id="accordion-toggle4" class="accordion-body collapse">
              <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <%= f.hidden_field :phase_id, value: @phase.id %>
                <b>Perk Name </b><br>
                <%= f.text_field :name, size: 80, value: "Advance access to read a chapter of my current book before it's released" || :name %><br><br>
                <b>About this Patron Perk </b><br>
                What is this product? Main reason someone might want this item? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 82, rows: 7, value: "Within the next two months I will email a near-final draft of the next chapter of my book to everyone who orders this perk." || :desc %><br><br>
                <b>Price </b><br>
                $<%= f.text_field :price, size: 10, value: 30.00 || :price %>USD<br>
                <%= button_to "Offer Chapter Advance Perk", { controller: 'phases', id: @phase.id, method: :post}, class: "button" %><br><br>
              <% end %>
              </div>
            </div>
            <a class="accordion-toggle4" data-toggle="collapse" href="#accordion-toggle4">
              <span>
                Advance Chapter Access 
              </span>
              <span class="hidden4more">
                ...Hide <b>Advance Chapter Access</b> details
              </span>
            </a><br>
          </div>
        </div>


        <div class="socialize" >
          Miscellaneous Perks 
        </div><br>

<% "RECIPE" %>
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div id="accordion-toggle2" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= form_for(@merchandise) do |f| %>
                  <%= f.hidden_field :phase_id, value: @phase.id %>
                  <b>Perk Name </b><br>
                  <%= f.text_field :name, size: 80, value: @author.name + "'s Personal Recipe for Something Delicious" || :name %><br><br>
                  <b>About this Patron Perk </b><br>
                  What is this product? What is the main reason someone might want this item? (You may edit this before fans purchase)<br>
                  <%= f.text_area :desc, cols: 82, rows: 7, value: "Recipe for Disaster: My assistant will email you my personal recipe for how to turn your baking disasters into bread pudding." || :desc %><br><br>
                  <b>Price </b><br>
                  $<%= f.text_field :price, size: 10, value: 20.00 || :price %>USD<br>
                  <%= button_to "Offer Recipe Perk", { controller: 'phases', id: @phase.id, method: :post}, class: "button" %><br><br>
                <% end %>
              </div>
            </div>
            <a class="accordion-toggle2" data-toggle="collapse" href="#accordion-toggle2 ">
              <span>
                Recipe perk
              </span>
              <span class="hidden2more">
                ...Hide <b>Recipe</b> details
              </span>
            </a>
          </div>
        </div>

<% "COMBO" %>
        <div class="accordion" id="accordion10">
          <div class="accordion-group">
            <div id="accordion-toggle10" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= form_for(@merchandise) do |f| %>
                  <%= f.hidden_field :phase_id, value: @phase.id %>
                  <b>Perk Name </b><br>
                  <%= f.text_field :name, size: 80, value: "One Hour Consultation, One Tweet Per Week, Plus Your Name at the end of Scene X" || :name %><br><br>
                  <b>About this Patron Perk </b><br>
                  What is this product? Main reason someone might want this item? (You may edit this before fans purchase)<br>
                  <%= f.text_area :desc, cols: 82, rows: 7, value: "Get all three of these items for one special price by the end of the month." || :desc %><br><br>
                  <b>Price </b><br>
                  $<%= f.text_field :price, size: 10, value: 400.00 || :price %>USD<br>
                  <%= button_to "Offer Combo Perk", { controller: 'phases', id: @phase.id, method: :post}, class: "button" %><br><br>
                <% end %>
              </div>
            </div>
            <a class="accordion-toggle10" data-toggle="collapse" href="#accordion-toggle10">
              <span>
                Combo Package
              </span> 
              <span class="hidden10more">
                ...Hide <b>Combo Package</b> details
              </span>
            </a><br>
          </div>
        </div>

      </div>
    </div>

  <%= button_to "Add my own custom Perk", phase_patronperk_path(@phase.permalink) , method: :get, class: "button" %>
  <%= button_to "Edit something else on this Campaign", edit_phase_path(@phase.permalink) , method: :get, class: "button" %>

<br>All items offered for sale through CrowdPublish.TV are meant to be immediately available and fulfilled within a week. 
<br><b>Check your dashboard often</b> to see if any Perks were ordered by your Fans.<br>

        <% if @perklist.any? %>
          <br><b>Add existing Patron Perk to be sold in support of phase <%= @phase.name %>: </b><br>
          <div class="row">
            <% @perklist.each do |perk| %>
              <div class="col-md-4 col-sm-6 col-xs-6">
                <%= form_for(perk) do |f| %>
                  <%= f.hidden_field :phase_id, value: @phase.id %> 
                  <%= f.submit("Add " + perk.name, class: "button" ) %><br> 
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>  

  <br>I'm done adding Perks for now. <%= link_to "Go to my page " , user_profile_path(current_user.permalink) %> and see how it looks.

</div>

<% end %>
<% end %>

<br><br><br>
