<p id="notice"><%= notice %></p>

<%= form_for(Agreement.new) do |f| %> 
  <% if user_signed_in? %>

    <div class = "row" style="text-align:left;">
      <% if @numusrgroupstripe > 0 %>
        <div class="col-md-6">
          <h3 style="margin-top:-18px">Organizations:</h3>
          Select one of your groups to <b>Partner</b> with a project phase below
          <%= f.select :group_id, options_for_select(@usrgrpnameidstripe, prompt: true) %><br><br> 
        </div>
      <% elsif @numusrgroupsnostripe == 0 %>
        Are you an officer of an organization? Get your members to support your favorite project so you can earn a share of the funds<br><%= button_to "Add Your Organization", new_group_path, style: "font-size:20px", method: :get %><br><br>
      <% end %>

      <% if @numusrgroupsnostripe > 0 %>
        <div class="col-md-6">
          If you want any of these groups to <b>Partner</b> with a project phase, you must link bank account information.<br>
          <table>
            <% @groupswithoutstripe.each do |group| %>
              <tr><td> <%= group[:name] %></td>
              <td><%= link_to "Add Bank Info", group_createstripeaccount_path(group[:permalink]), method: :get %></td></tr>
            <% end %> 
          </table>
        </div>
      <% end %>
    </div>

    <div class = "row" style="text-align:left">
      <br>If the project's owner accepts your partnership request, your organization will receive 5% of the proceeds from Patron Perks purchased after patrons click through to the project from your Organization's CrowdPublish.TV Page. <br><br>
    </div> 
    <% @agreedeclined.find_each do |d| %>
      <b>Your request to partner with <%= Phase.find(d.phase_id).name %> for 
      <%= Group.find(d.group_id).name %> has been declined.</b><br><br>
    <% end %>
  <% end %>

  <h3>Get Sneak Preview Access to Current Projects</h3>
  <% if @partnerphs.count != 0 %>
    <% @partnerphs.each do |phs| %>

      <div class="col-md-4 col-sm-6 col-xs-12" > 
        <% if user_signed_in? %>
          <% if @numusrgroupstripe > 0 %>
            <div class= "groupimage" style="vertical-align: top; height:230px; width:300px; overflow:hidden" >
          <% else %>
            <div class= "groupimage" style="vertical-align: top; height:200px; width:300px; overflow:hidden" >
          <% end %>
        <% else %>
          <div class= "groupimage" style="vertical-align: top; height:200px; width:300px; overflow:hidden" >
        <% end %>
          <% if phs[:phasepic].present? && phs[:phasepic] != '' %>
            <% groupthumb = phs[:phasepic] %>
          <% else %>
            <% groupthumb = "crowddark.png" %>
          <% end %>

          <%= link_to (image_tag groupthumb, :style => "filter: brightness(50%); max-height:150px;"), phase_path(phs[:permalink])
          %>
          <projecttext >
            <div style="padding:0px; font-size:22px"><%= link_to phs[:name], phase_path(phs[:permalink]) %>
            </div>
            <%= phs[:creator] %>
            <% "Write code to send email to author asking permission to post. " %>
            <br><%= link_to truncate(phs[:mission], :length => 160, :separator => ' '), phase_path(phs[:permalink]) %>...
            <% if user_signed_in? %>
              <% if @numusrgroupstripe > 0 %><br>
              <div style = "color:#000; float:left"> <%= button_tag 'Partner', value: phs[:id], type: :submit, name: "agreement[phase_id]" %></div>
              <% end %>
              <div style = "color:#000; float:right"> <%= button_to 'Sneak Preview', phase_path(phs[:permalink]), method: :get %></div>
            <% end %>
          </projecttext>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
<br><br>
