<body >
<h3>Get Sneak Preview Access to Current Projects</h3>
<%= form_for(Agreement.new) do |f| %> 

  <% if user_signed_in? %>
    <% if @numusrgroups == 1 %>
      You are the admin for the <%= @usrgrpnameid[0][0] %> organization<br><br> 
      <%= f.hidden_field :group_id, :value => @usrgrpnameid[0][1] %>
    <% end %>
    <% if @numusrgroups > 1 %>
      Select one of your organizations to partner with a phase: <%= f.select :group_id, options_for_select(@usrgrpnameid, prompt: true) %><br><br> 
    <% end %>
    <% if @numusrgroups > 0 %>
      <div class = "blacktxt">If the phase creator accepts your partnership request, your organization will receive 5% of the proceeds for Patron Perks purchased through a referal from your CrowdPublish.TV Organization Page. 
      <br>Partner one of the phases below & it will appear on your Organization Page:</div><br> 
    <% end %>
  <% end %>

    <% @agreedeclined.find_each do |d| %>
      Your request to partner with <%= phase.find(d.phase_id).name %> for 
      <%= Group.find(d.group_id).name %> has been declined.<br>
    <% end %>

  <% if @partnerphs.count != 0 %>
    <% @partnerphs.each do |phs| %>

      <div class="col-md-4 col-sm-6 col-xs-12" > 
        <div class= "groupimage" style="vertical-align: top; height:190px; width:300px; overflow:hidden" >
          <% if phs[:phasepic].present? && phs[:phasepic] != '' %>
            <% groupthumb = phs[:phasepic] %>
          <% else %>
            <% groupthumb = "crowddark.png" %>
          <% end %>

          <%= link_to (image_tag groupthumb, :style => "filter: brightness(50%); max-height:150px;"), phase_path(phs[:permalink])
          %>
          <phasetext >
            <div style="padding:0px; font-size:22px"><%= link_to phs[:name], phase_path(phs[:permalink]) %>
            </div>
            <%= phs[:creator] %>
            <% "Write code to send email to author asking permission to post. " %>
            <br><%= link_to truncate(phs[:mission], :length => 160, :separator => ' '), phase_path(phs[:permalink]) %>...
            <% if user_signed_in? %>
              <% if @numusrgroups > 0 %>
                <% phsid = phs[:id] %>
                <div style = "color:#000"> <%= button_tag 'Partner', value: phsid, type: :submit, name: "agreement[phase_id]" %></div>
              <% end %>
            <% end %>
          </phasetext>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
<br><br>
</body>
