<div class="blacktxt">
All items offered for sale through CrowdPublish.TV are meant to be immediately available and fulfilled within a week. No need for your Patrons to wait until project or phase is complete before they receive their items. So if you're offering to tweet to them, do it as soon as you see their contribution posted on your dashboard. If you're offering an hour of consulting time, text or call to arrange a session right away! Check your dashboard often.<br><br>

<% "if (current_user.stripeid.present? && @phase.user_id == current_user.id) ||current_user.id == 143 " %>
<h3>Offer a New Patron Perk to support this phase of your project</h3>

  <%= form_for @merchandise, :html => {:multipart => true} do |f| %>
    <b>Perk Name </b><br>
    <%= f.text_field :name, :size => 80, placeholder: "Great Patron Perk" %><br><br>
    <b>About this Perk </b> <br>
    <%= f.text_area :desc, :cols => 82, :rows => 7, placeholder: "What is this product? What is the main reason someone might want this item? (You may edit this later)" %><br><br>
            <b>Price </b><br>
            $<%= f.text_field :price, size: 80, value: 50.00 || :price %>USD<br>
    <%= f.hidden_field :phase_id, value: @phase.id %>

      <br>If you happen to have a video about your Perk item on <b>YouTube</b>, paste the YouTube URL below. Your video's 11-digit ID will be saved. Any non-YouTube url will be ignored. <br> 
      <div class="profilebox" >
        <%= f.text_area :youtube, :cols => 70, :rows => 2, placeholder: 'http://www.youtube.com/watch?v=/frlviTJcVUo' %><br>
      </div>

    <%= f.submit "Save New Perk" %>
  <% end %>

<% "else %>
  You must first sign up for a <%= link_to 'Stripe Account', user_createstripeaccount_path(current_user.permalink) %>  (to receive payments) before offering items for sale.
<% end " %>
<br><br>
</div>
