<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container  col-md-12" style="margin-top:-50px">
<p id="notice"><%= notice %></p>

  <% if @phase.phasepic.present? && @phase.phasepic != '' %>
    <%= image_tag(@phase.phasepic.url.to_s, height: '250') %>
  <% else %>
    <% if user_signed_in? %>
      <% if @phase.user_id == current_user.id %>
        <br><%= button_to("Add a Campaign Banner", edit_phase_path(@phase.permalink), method: :get, class: 'button') %>  
      <% end %>
    <% end %>
  <% end %>
  <h3><%= @phase.name %>   </h3>
  <%= @author.name %>
    <% if user_signed_in? %>
      <% if @phase.user_id == current_user.id %>
        <%= button_to(name = "Edit this Campaign", edit_phase_path(@phase.permalink), method: :get ) %>
      <% end %>
    <% end %>

<%= form_for(Agreement.new) do |f| %> 
  <% if user_signed_in? %>
    <%= f.hidden_field :phase_id, value: @phase.id %>
    <div class = "row" style="text-align:left">
      <% if @numusrgroupstripe > 0 %>
        <div class="col-md-6">
          Partner with <%= @phase.name %> through a group linked to a bank account
          <%= f.select :group_id, options_for_select(@usrgrpnameidstripe, prompt: true) %><br><br> 
        </div>
      <% end %>
      <% if @numusrgroupsnostripe > 0 %>
        <div class="col-md-6">
          If you want any of these groups to partner with <%= @phase.name %>, you must link bank account information.<br>
          <table>
          <% @groupswithoutstripe.each do |group| %>
            <tr><td>
            <%= group[:name] %></td><td>
            <%= link_to "Add.Bank.Info", group_createstripeaccount_path(group[:permalink]), method: :get %></td></tr>
          <% end %> 
          </table>
        </div>
      <% end %>
    </div>

    <% if @numusrgroupstripe > 0 %><br>
      <div class = "row" style="text-align:left">
        If <%= @phase.name %>'s owner accepts your partnership request, your organization will receive 5% of the proceeds from Perks purchased by Fans who click through to <%= @phase.name %> from your Organization's CrowdPublish.TV Page. 
      </div> 
      <div style = "color:#000"> <%= button_tag 'Partner', value: @phase.id, type: :submit, name: "agreement[phase_id]" %></div><br>
    <% end %>
  <% end %><div><br><br></div>
<% end %>

      <% if @phase.youtube? %>
        <% if @phase.youtube.match(/[0-9A-Za-z]/) && @phase.youtube.length < 20 %>
          <iframe width="420" height="315" src="//www.youtube.com/embed/<%= @phase.youtube %>" frameborder="0" allowfullscreen></iframe>
        <% end %>
      <% end %>

<div class="blacktxt">
  <h4> About </h4>
  <% if @phase.mission %> 
    <%= simple_format @phase.mission.gsub(/\n/, '<br>') %>
  <% end %>
</div>
<div class="blacktxt">
  <br>
  <h4> Why one or more of the characters in this story are classy </h4>
  <% if @phase.why_classy %> 
    <%= simple_format @phase.why_classy.gsub(/\n/, '<br>') %>
  <% end %>
</div>
<br><br><br>
</div>
</div>
</div>
</div>