<div class="blacktxt">
All items offered for sale through CrowdPublish.TV are meant to be immediately available and fulfilled within a week. No need for your Patrons to wait until project or phase is complete before they receive their items. So if you're offering to tweet to them, do it as soon as you see their contribution posted on your dashboard. If you're offering an hour of consulting time, text or call to arrange a session right away! Check your dashboard often.<br><br>

<% if current_user.stripeid.present? %>
  <div class="socialize" >Modify a few of the suggested Patron Perks listed below and offer them in support of <i><%= @phase.name %></i> </div><br>

<table>
    <tr>
      <th>Suggested Perks</th>
      <th></th>
    </tr>

  <tr><td>
  <div class="accordion" id="accordion1">
    <div class="accordion-group">
      Add an Author social media Post perk
      <div id="accordion-togglea" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= form_for(@merchandise) do |f| %>
            <%= f.hidden_field :phase_id, value: @phase.id %>
            <b>Perk Name </b><br>
            <%= f.text_field :name, size: 80, placeholder: @author.name + "'s Post on your facebook wall/mention you in a tweet every week for x weeks" %><br><br>
            <b>About this Patron Perk </b><br>
            What is this product? What is the main reason someone might want this item? (You may edit this before fans purchase)<br>
            <%= f.text_area :desc, cols: 82, rows: 7, placeholder: "I will write a brief greeting/line from my latest book on your facebook wall every Tuesday for 4 weeks... " %><br><br>
            <b>Price </b><br>
            $<%= f.text_field :price, size: 80, value: 20.00 || :price %>USD<br>
            <%= button_to "Offer Post Perk", { controller: 'phases', id: @phase.id}, :method => :post %><br><br>
          <% end %>
        </div>
      </div>
      </td><td>
      <a class="accordion-togglea" data-toggle="collapse" href="#accordion-togglea ">
        <span>
          ...Details for <b>Author Post</b> 
        </span>
        <span class="hiddenamore">
          ...Hide <b>Author Post</b> details
        </span>
      </a>
    </div>
  </div>
  </td></tr>

   <tr><td>
    <div class="accordion" id="accordion7">
      <div class="accordion-group">
        Add Include Your Name at the end of my next chapter/scene perk
        <div id="accordion-toggle7" class="accordion-body collapse">
          <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <%= f.hidden_field :phase_id, value: @phase.id %>
                <b>Perk Name </b><br>
                <%= f.text_field :name, size: 80, placeholder: "Your Name In Credits for " + @phase.name %><br><br>
                <b>About this Patron Perk </b><br>
                Main reason someone might want this item? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 82, rows: 7, placeholder: "Get on the list of Patrons at the end of this chapter. When the Project is complete, your name will be in the page of thanks... " %><br><br>
            <b>Price </b><br>
            $<%= f.text_field :price, size: 80, value: 40.00 || :price %>USD<br>
                <%= button_to "Offer Name in Credits Perk", { controller: 'phases', id: @phase.id, method: :post} %><br><br>
              <% end %>
          </div>
        </div>
      </td><td>
          <a class="accordion-toggle7" data-toggle="collapse" href="#accordion-toggle7">
            <span>
              ...Details for <b>Name in Credits</b> perk
            </span>
            <span class="hidden7more">
              ...Hide <b>Name in Credits</b> details
            </span>
          </a><br>
        </div>
      </div>
    </div>
    </td></tr>

   <tr><td>
    <div class="accordion" id="accordion8">
      <div class="accordion-group">
        Add Name a Character perk
        <div id="accordion-toggle8" class="accordion-body collapse">
          <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <%= f.hidden_field :phase_id, value: @phase.id %>
                <b>Perk Name </b><br>
                <%= f.text_field :name, size: 80, placeholder: "Name the next Character in" + @phase.name %><br><br>
                <b>About this Patron Perk </b><br>
                Main reason someone might want this item? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 82, rows: 7, placeholder: "The next character we introduce in Chapter X will be a hero/villain... " %><br><br>
            <b>Price </b><br>
            $<%= f.text_field :price, size: 80, value: 40.00 || :price %>USD<br>
                <%= button_to "Offer Character Name Perk", { controller: 'phases', id: @phase.id, method: :post} %><br><br>
              <% end %>
          </div>
        </div>
      </td><td>
          <a class="accordion-toggle8" data-toggle="collapse" href="#accordion-toggle8">
            <span>
              ...Details for <b>Character Name</b> perk
            </span>
            <span class="hidden8more">
              ...Hide <b>Character Name</b> details
            </span>
          </a><br>
        </div>
      </div>
    </div>
    </td></tr>

  <tr><td>
  <div class="accordion" id="accordion2">
    <div class="accordion-group">
      Add a Recipe perk
      <div id="accordion-togglec" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= form_for(@merchandise) do |f| %>
            <%= f.hidden_field :phase_id, value: @phase.id %>
            <b>Perk Name </b><br>
            <%= f.text_field :name, size: 80, placeholder: @author.name + "'s Personal Recipe for Something Delicious" %><br><br>
            <b>About this Patron Perk </b><br>
            What is this product? What is the main reason someone might want this item? (You may edit this before fans purchase)<br>
            <%= f.text_area :desc, cols: 82, rows: 7, placeholder: "Recipe for Disaster: My assistant will email you my personal recipe for how to turn your baking disasters into bread pudding ... " %><br><br>
            <b>Price </b><br>
            $<%= f.text_field :price, size: 80, value: 20.00 || :price %>USD<br>
            <%= button_to "Offer Recipe Perk", { controller: 'phases', id: @phase.id}, method: :post %><br><br>
          <% end %>
        </div>
      </div>
      </td><td>
      <a class="accordion-togglec" data-toggle="collapse" href="#accordion-togglec ">
        <span>
          ...Details for <b>Recipe</b> perks
        </span>
        <span class="hiddencmore">
          ...Hide <b>Recipe</b> details
        </span>
      </a>
    </div>
  </div>
  </td></tr>

   <tr><td>
    <div class="accordion" id="accordion4">
      <div class="accordion-group">
        Add an Advance Chapter/Scene Access perk
        <div id="accordion-toggle4" class="accordion-body collapse">
          <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <%= f.hidden_field :phase_id, value: @phase.id %>
                <b>Perk Name </b><br>
                <%= f.text_field :name, size: 80, placeholder: "Advance access to read a chapter of " + @phase.name + " before it's released" %><br><br>
                <b>About this Patron Perk </b><br>
                What is this product? Main reason someone might want this item? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 82, rows: 7, placeholder: "I will email a near-final draft of the first chapter of the book (or link to movie scene) to everyone who orders this perk" %><br><br>
            <b>Price </b><br>
            $<%= f.text_field :price, size: 80, value: 30.00 || :price %>USD<br>
                <%= button_to "Offer Chapter Advance Perk", { controller: 'phases', id: @phase.id, method: :post} %><br><br>
              <% end %>
          </div>
        </div>
      </td><td>
          <a class="accordion-toggle4" data-toggle="collapse" href="#accordion-toggle4">
            <span>
              ...Details for <b>Advance Chapter Access</b> perk
            </span>
            <span class="hidden4more">
              ...Hide <b>Advance Chapter Access</b> details
            </span>
          </a><br>
      </td></tr>

   <tr><td>
    <div class="accordion" id="accordion3">
      <div class="accordion-group">
        Add Live Online Reading perks
        <div id="accordion-toggle3" class="accordion-body collapse">
          <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <%= f.hidden_field :phase_id, value: @phase.id %>
                <b>Perk Name </b><br>
                <%= f.text_field :name, size: 80, placeholder: "Live Online Reading " + @phase.name + " before it's released" %><br><br>
                <b>About this Patron Perk </b><br>
                What is this product? Main reason someone might want this item? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 82, rows: 7, placeholder: "Fans can reserve a spot to listen to me give a 10 minute reading on Skype, Hangouts, or Facetime. Suggested times are... " %><br><br>
            <b>Price </b><br>
            $<%= f.text_field :price, size: 80, value: 40.00 || :price %>USD<br>
                <%= button_to "Offer Live Online Reading Perk", { controller: 'phases', id: @phase.id, method: :post} %><br><br>
              <% end %>
          </div>
        </div>
      </td><td>
          <a class="accordion-toggle3" data-toggle="collapse" href="#accordion-toggle3">
            <span>
              ...Details for <b>Live Online Reading</b> perk
            </span>
            <span class="hidden3more">
              ...Hide <b>Live Online Reading</b> details
            </span>
          </a><br>
        </div>
      </div>
    </div>
    </td></tr>

   <tr><td>
    <div class="accordion" id="accordion5">
      <div class="accordion-group">
        Add Hours of your Expertise as a perk
        <div id="accordion-toggle5" class="accordion-body collapse">
          <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <%= f.hidden_field :phase_id, value: @phase.id %>
                <b>Perk Name </b><br>
                <%= f.text_field :name, size: 80, placeholder: "Two Hour Consultation about Meditation" %><br><br>
                <b>About this Patron Perk </b><br>
                What is this product? Main reason someone might want this item? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 82, rows: 7, placeholder: "Set up a phone appointment. Ask about how I came up with the idea for this book/movie, what I had to research... Two one-hour time slots. Suggested times are... " %><br><br>
            <b>Price </b><br>
            $<%= f.text_field :price, size: 80, value: 400.00 || :price %>USD<br>
                <%= button_to "Offer Consultation Perk", { controller: 'phases', id: @phase.id, method: :post} %><br><br>
              <% end %>
          </div>
        </div>
      </td><td>
          <a class="accordion-toggle5" data-toggle="collapse" href="#accordion-toggle5">
            <span>
              ...Details for <b>Consultation</b> perk
            </span>
            <span class="hidden5more">
              ...Hide <b>Consultation</b> details
            </span>
          </a><br>
        </div>
      </div>
    </div>
    </td></tr>

   <tr><td>
    <div class="accordion" id="accordion6">
      <div class="accordion-group">
        Add Produce 30 Second Video as a perk
        <div id="accordion-toggle6" class="accordion-body collapse">
          <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <%= f.hidden_field :phase_id, value: @phase.id %>
                <b>Perk Name </b><br>
                <%= f.text_field :name, size: 80, placeholder: "30 Second Personal Video" %><br><br>
                <b>About this Patron Perk </b><br>
                What is this product? Main reason someone might want this item? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 82, rows: 7, placeholder: "I will produce a video (ad) for you that you can post on your web site. Video file will be delivered via dropbox. The video may include... Whatever you promise, the quality & time required should be reflected in the price - giving a 30 second reading of something already written would be much cheaper than producing an ad. " %><br><br>
            <b>Price </b><br>
            $<%= f.text_field :price, size: 80, value: 200.00 || :price %>USD<br>
                <%= button_to "Offer 30 Second Video Perk", { controller: 'phases', id: @phase.id, method: :post} %><br><br>
              <% end %>
          </div>
        </div>
      </td><td>
          <a class="accordion-toggle6" data-toggle="collapse" href="#accordion-toggle6">
            <span>
              ...Details for <b>30 Second Video</b> perk
            </span>
            <span class="hidden6more">
              ...Hide <b>30 Second Video</b> details
            </span>
          </a><br>
        </div>
      </div>
    </div>
    </td></tr>

   <tr><td>
    <div class="accordion" id="accordion10">
      <div class="accordion-group">
        Combo Package
        <div id="accordion-toggle10" class="accordion-body collapse">
          <div class="accordion-inner">
              <%= form_for(@merchandise) do |f| %>
                <%= f.hidden_field :phase_id, value: @phase.id %>
                <b>Perk Name </b><br>
                <%= f.text_field :name, size: 80, placeholder: "One Hour Consultation, One Tweet Per Week, Plus Your Name at the end of Scene X" %><br><br>
                <b>About this Patron Perk </b><br>
                What is this product? Main reason someone might want this item? (You may edit this before fans purchase)<br>
                <%= f.text_area :desc, cols: 82, rows: 7, placeholder: "Get all three of these items for one special price by the end of the month... " %><br><br>
            <b>Price </b><br>
            $<%= f.text_field :price, size: 80, value: 400.00 || :price %>USD<br>
                <%= button_to "Offer Combo Perk", { controller: 'phases', id: @phase.id, method: :post} %><br><br>
              <% end %>
          </div>
        </div>
      </td><td>
          <a class="accordion-toggle10" data-toggle="collapse" href="#accordion-toggle10">
            <span>
              ...Details for <b>Combo Package</b> perk
            </span>
            <span class="hidden10more">
              ...Hide <b>Combo Package</b> details
            </span>
          </a><br>
        </div>
      </div>
    </div>
    </td></tr>

  </table>

<br><%= link_to "I just want to add my own custom Perk", phase_patronperk_path(@phase.permalink) %><br>
<br><%= link_to "I want to edit something else on this project Phase", edit_phase_path(@phase.permalink) %><br>
        <br><b>Add existing Patron Perk to be sold in support of phase <%= @phase.name %>: </b><br>
        <% if @dropdown.any? %>
          <div class="row">
            <% @dropdown.each do |perk| %>
              <div class="col-md-4 col-sm-6 col-xs-6">
                <%= form_for(perk) do |f| %>
                  <%= f.hidden_field :phase_id, value: @phase.id %> 
                  <%= f.submit("Add " + perk.name, :class => 'btn btn-small' ) %><br> 
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>  
</div>
<% else %>
  You must first sign up for a <%= link_to "Stripe Account ", user_createstripeaccount_path(current_user.permalink) %> (to receive payments) before offering items for sale.
<% end %>
<br><br><br>
