<% pdtnow = Time.now - 7.hours %>
<% if request.original_url.include? "Study" %> <!-- Will need to be updated as chatrooms change -->
  <% event = Event.where( "start_at < ? AND usrid = ? AND topic = ?", pdtnow, @user.id, "Study Hall" ).last %>
  <% users = User.where("last_viewed = ?", event.id)%>
<% elsif request.original_url.include? "Conversation" %>
  <% event = Event.where( "start_at < ? AND usrid = ? AND topic = ?", pdtnow, @user.id, "Conversation" ).last %>
  <% users = User.where("last_viewed = ?", event.id)%>
<% end %>
<% user_array = [] %>

<% users.each do |user| %>
  <% user =  User.find_by_id(user) %>
  <% user_array << user %>
<% end %>

<% user_array = user_array.sort_by {|u| u.name} %>

<div style="padding:8px 0px 8px 0px; font-size: 15px">
  <div style="padding:5px 0px 0px 0px">
    <div class="row" style="padding: 0px 0px 0px 15px;">
      <% user_array.each do |user| %>
        <div class="col-sm-8" style="padding:8px 0px 0px 15px">
          <% if user.profilepic.present? && user.profilepic != '' %>
              <%= image_tag user.profilepic.url.to_s, :class => "img-circle", :id => "image", style: "line-height: 1.7; height: 1.7em; line-width: 1.7; width: 1.7em; margin-top: -5px" %>
          <% else %>
              <%= image_tag "logoDigitalHollow300.png", :class => "img-circle", :id => "image", style: "background-color:white; line-height: 1.7; height: 1.7em; line-width: 1.7; width: 1.7em; margin-top: -5px" %>
          <% end %>
          <% if user.name.length >= 40 %>
            <% name = user.name[0..20] + "..." %> 
            <a href="<%= request.base_url %>/<%= user.permalink %>"><%= name %></a>
          <% else %>
            <a id="attendeeName" href="<%= request.base_url %>/<%= user.permalink %>"><%= user.name %></a>
          <% end %>
        </div>
        <% if current_user.permalink == @user.permalink && user.permalink != @user.permalink %>
          <div class="col-sm-3 col-sm-offset-1" style="margin-top:3px">
            <button id="block_button" style="margin-left:-1em" onclick="block('<%=user.name%>','<%=@user.id%>','<%=@user.permalink%>','<%=user.id%>','<%=user.permalink%>')">Block</button>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  function block(name, owner_id, owner_permalink, block_id, block_permalink) {
    if (confirm("Are you sure you want to block " + name + " from your page?")) {
      $.post("/users/block", {owner: owner_id, owner_perma: owner_permalink, to_block: block_id, to_block_perma: block_permalink})
    }
  }
</script>