<title> CrowdPublish.TV - <%= @user.name %>'s site</title>
<% @descname = @user.name.gsub(/ +/, '-')
if @user.genre1 ; @genreone = @user.genre1.gsub(/ +/, '-') else @genreone = "_"  end
if @user.genre2 ; @genretwo = "," + @user.genre2.gsub(/ +/, '-') else @genretwo = "_" end
if @user.genre3 ; @genrethree = "," + @user.genre3.gsub(/ +/, '-') else @genrethree = "_" end %>

<div class="container-fluid">
    <div class="row">
        <div id="profileBanner">
            <% if @user.bannerpic.present? && @user.bannerpic != '' %>
                <%= image_tag @user.bannerpic.url.to_s, height: "300" %>
            <% else %>
                <%= image_tag "crowddark.png", height: "300" %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1" id="profileHeader">
            <% if @user.profilepic.present? && @user.profilepic != '' %>
                <%= image_tag @user.profilepic.url.to_s, :class => "img-circle", :id => "profileImage" %>
                <div id="profileTitle">
                    <h1 id="profileName"><%= @user.name %></h1>
                    <span id="profileDescription"> <%= @user.genre1 %>, <%= @user.genre2 %>, <%= @user.genre3 %></span>
                </div>

            <% else # no buttons no pic %>
                <div class="col-xl-12 col-md-12 col-xs-12 username">
                    <div style="text-shadow: 2px 2px #fff; background: rgba(265, 265, 265, .35); margin-top:110px">
                        <%= @user.name %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>

    <!--Not sure what this is-->
    <% content_for :forusers do %>
        <meta name="description" content="<%= "Read_about_author_" + @descname + "'s_books:" + @genreone + @genretwo + @genrethree %>">
    <% end %>

</div>    
<!--Old subnav. Saved in case I need the user link and I don't want to retype it.-->
<!--header class="navbar unfixed-header">
  <div class="navbar-inner ">
    <div class="navtable">
      <ul class="nav navbar-nav usermenu"> 
        <li><#%= link_to @user.name, user_profile_path(@user.permalink) , class: 'link-to-text' %> </li>

            <li><#%= render '/users/follow_form', :user => User.find_by_permalink(params[:permalink]) %> </li>
          
            <#% if @user.about.present? || @user.twitter.present? %>
              <li><#%= link_to " About Me ", user_about_path(@user.permalink), class: 'link-to-text'  %> </li>
            <#% end %>
      </ul>
    </div>
  </div>
</header-->