<title> CrowdPublish.TV - <%= @user.name %>'s site</title>
<% @descname = @user.name.gsub(/ +/, '-')
if @user.genre1 ; @genreone = @user.genre1.gsub(/ +/, '-') else @genreone = "_"  end
if @user.genre2 ; @genretwo = "," + @user.genre2.gsub(/ +/, '-') else @genretwo = "_" end
if @user.genre3 ; @genrethree = "," + @user.genre3.gsub(/ +/, '-') else @genrethree = "_" end %>


<%= render 'layouts/userpersonalheader' %>


<div style = "text-align:center; margin-top:35px;  margin-bottom:20px; overflow-x: hidden; " >
  <% if @user.bannerpic.present? && @user.bannerpic != '' %>
    <%= image_tag @user.bannerpic.url.to_s, height: "300" %>
  <% else %>
    <%= image_tag "crowddark.png", height: "300" %>
  <% end %>
</div>


<div style = "position: absolute; z-index: 1; top:55px; height:200px;">
  <% if user_signed_in? %>
    <% if @user == current_user %>
      <% if @user.author == 'author' || @user.author == 'storyteller' %>
        <%if controller.controller_name == 'users' %>
          <div style = "display:inline-flex;">
            
          </div> <br>

          <div style = "display:inline-flex;">
            
          </div> <br>

          <div style = "display:inline-flex;">
            <br>
          </div> 
        <% else #curruser is not this author/actor/filmkr %> 
          <div style="margin-top:130px"><br>
          </div> 
        <% end %> 

      <% else #user is NOT a creator %> 
        
      <% end %>
    <% else %> 
      <div style="margin-top:130px"><br>
      </div> 
    <% end %> 
  <% else %>
    <div style="margin-top:130px"><br>
    </div> 
  <% end %> 

    <div class="row" >
          <% if @user.profilepic.present? && @user.profilepic != '' %>
            <div class="col-xl-8 col-md-4 col-xs-5">
              <%= image_tag @user.profilepic.url.to_s, height: "150" %>
            </div>
            <div class="col-xl-4 col-md-8 col-xs-7 username">
              <div style="text-shadow: 2px 2px #fff; background: rgba(265, 265, 265, .35); margin-top:110px">
                <%= @user.name %>
              </div>
            </div>

          <% else # no buttons no pic %>
            <div class="col-xl-12 col-md-12 col-xs-12 username">
              <div style="text-shadow: 2px 2px #fff; background: rgba(265, 265, 265, .35); margin-top:110px">
                <%= @user.name %>
              </div>
            </div>
          <% end %>
    </div>

</div>

<% content_for :forusers do %>
  <meta name="description" content= <%= "Read_about_author_" + @descname + "'s_books:" + @genreone + @genretwo + @genrethree %>
<% end %>
<header class="navbar unfixed-header">
  <div class="navbar-inner ">
    <div class="navtable">
      <ul class="nav navbar-nav usermenu"> 
        <li><%= link_to @user.name + " Home ", user_profile_path(@user.permalink) , class: 'link-to-text' %> </li>
          <% if @user.author == 'storyteller' || @user.author == 'author'%>
            <li><%= link_to @user.following.count.to_s + " following", user_followingpage_path(@user.permalink), class: 'link-to-text' %> </li>
            <li><%= link_to @user.followers.count.to_s + " followers", user_followerspage_path(@user.permalink), class: 'link-to-text' %> </li>
            <li><%= render '/users/follow_form', :user => User.find_by_permalink(params[:permalink]) %> </li>
          
            <% if @user.about.present? || @user.twitter.present? %>
              <li><%= link_to " About Me ", user_about_path(@user.permalink), class: 'link-to-text'  %> </li>
            <% end %>
          <% end %>
      </ul>
    </div>
  </div>
</header>

