<title> CrowdPublish.TV - <%= @user.name %>'s site</title>
<% @descname = @user.name.gsub(/ +/, '-')
if @user.genre1 ; @genreone = @user.genre1.gsub(/ +/, '-') else @genreone = "_"  end
if @user.genre2 ; @genretwo = "," + @user.genre2.gsub(/ +/, '-') else @genretwo = "_" end
if @user.genre3 ; @genrethree = "," + @user.genre3.gsub(/ +/, '-') else @genrethree = "_" end %>

<div style = "text-align:center; margin-top:-20px;  margin-bottom:20px; " >
  <% if @user.bannerpic.present? && @user.bannerpic != '' %>
    <%= image_tag @user.bannerpic, height: "300" %>
  <% else %>
    <%= image_tag "crowddark.png", height: "300" %>
  <% end %>
</div>

<div style = "position: absolute; z-index: 1; top:0; height:200px">
  <% if user_signed_in? %>
    <% if @user == current_user %>
      <% if @user.author == 'author' || @user.author == 'actor' || @user.author == 'filmmaker' %>
        <%if controller.controller_name == 'users' %>
          <div style = "display:inline-flex;">
            <%= button_to "Edit Profile", user_profileinfo_path(current_user.permalink), method: :get, class: 'button' %>

            <% if @user.stripeid.present? %>
              <%= button_to "Check Dashboard OFTEN", user_dashboard_path, method: :get, class: 'button' %>
            <% end %>
          </div> <br>

          <div style = "display:inline-flex;">
            <% if @mynullagreements.count != 0 %>
              <%= button_to "You have partner request", user_phases_path(current_user.permalink), {:style => "background-color:red", method: :get, class: 'button'} %>
            <% else %> 
              <% if current_user.phases.any? %>
                <% if @sidebarphase.merchandises.any? %>
                  <%= button_to "Edit Campaigns", user_phases_path(current_user.permalink), method: :get, class: 'button' %>
                <% else %> 
                  <% if current_user.author == "author" %>
                    <% @perkpath = phase_authorperks_path(@sidebarphase.permalink) %>
                  <% else %>
                    <% @perkpath = phase_actorperks_path(@sidebarphase.permalink) %>
                  <% end %>
                  <%= button_to "Create Perks", @perkpath, method: :get, class: 'button', style:"color:red; font-size:28px;"  %>
                <% end %> 
              <% else %> 
                <%= button_to "Start a Campaign", new_phase_path(current_user.permalink), method: :get, class: 'button', style:"color:red; font-size:28px;" %>
              <% end %> 
            <% end %> 
          </div> <br>

          <div style = "display:inline-flex;">
            <% if current_user.stripeid.present? %>
              <% if current_user.stripeid.match(/acct/) %>
                <% if @fieldsneeded.present? %>
                  <%= button_to "Correct Bank Account Errors", user_correcterrors_path(current_user.permalink), { style: "background-color:red", method: :get} %>
                <% else %> 
                  <%= button_to "Edit $ Account", user_manageaccounts_path(current_user.permalink), method: :get, class: 'button' %>
                <% end %>
              <% else %> 
                <%= button_to "Add Bank Account", user_addbankaccount_path(current_user.permalink), method: :get, class: 'button' %>
              <% end %> 
            <% else %> 
              <% if current_user.phases.any? && current_user.id != 143 %>
                <% if @sidebarphase.merchandises.any? %>
                  <%= button_to "Get Paid", user_createstripeaccount_path(current_user.permalink), method: :get, class: 'button', style:"color:red; font-size:28px;" %>
                <% end %> 
              <% end %> 
            <% end %> <br>
          </div> 
        <% else #curruser is not this author/actor/filmkr %> 
          <div style="margin-top:130px"><br>
          </div> 
        <% end %> 

      <% else #user is NOT a creator %> 
        <%= button_to "Edit Profile", user_readerprofileinfo_path(current_user.permalink), method: :get, class: 'button' %>
        <% if current_user.groups.any? %>
          <%= button_to "Edit Organizations", user_groups_path, method: :get, class: 'button' %>
        <% else %>
          <%= button_to "Get a Page for Your Org", user_groups_path, method: :get, class: 'button' %>
        <% end %> <br>
        <%= button_to "View Dashboard", user_dashboard_path, method: :get, class: 'button' %><br>
      <% end %>
    <% else %> 
      <div style="margin-top:130px"><br>
      </div> 
    <% end %> 
  <% else %>
    <div style="margin-top:130px"><br>
    </div> 
  <% end %> 

    <div class="row" >
          <% if @user.profilepic.present? && @user.profilepic != '' %>
            <div class="col-xl-8 col-md-4 col-xs-5">
              <%= image_tag @user.profilepic, height: "150" %>
            </div>
            <div class="col-xl-4 col-md-8 col-xs-7 username">
              <div style="text-shadow: 2px 2px #fff; background: rgba(265, 265, 265, .35); margin-top:110px">
                <%= @user.name %>
              </div>
            </div>

          <% else # no buttons no pic %>
            <div class="col-xl-12 col-md-12 col-xs-12 username">
              <div style="text-shadow: 2px 2px #fff; background: rgba(265, 265, 265, .35); margin-top:110px">
                <%= @user.name %>
              </div>
            </div>
          <% end %>
    </div>

</div>

<% content_for :forusers do %>
  <meta name="description" content= <%= "Read_about_author_" + @descname + "'s_books:" + @genreone + @genretwo + @genrethree %>
<% end %>
<header class="navbar navbar-userpage">
  <div class="navbar-inner ">
    <ul class="nav navbar-nav pull-left usermenu"> 
        <li><%= link_to @user.name + " Home ", user_profile_path(@user.permalink) %>
        <% if @user.author == 'filmmaker' || @user.author == 'actor' ||  @user.author == 'author'%>
        <% if @user.phases.any? %>
          <li><%= link_to " Campaigns ", user_phases_path(@user.permalink) %>
        <% end %>
        <% if @user.movies.any? %>
          <li><%= link_to " Movies & Theater ", user_movielist_path(@user.permalink) %>
        <% end %>
        <% if @user.books.any? %>
          <li><%= link_to " Books ", user_booklist_path(@user.permalink) %>
        <% end %>
        <% if @user.about.present? || @user.twitter.present? %>
          <li><%= link_to " About Me ", user_about_path(@user.permalink) %>
        <% end %>

      <% elsif @user.author == 'reader' %>
        <li><%= link_to " About " + @user.name, user_profile_path(@user.permalink) %>
      <% end %>
    </ul>

    <ul class="nav navbar-nav pull-right usermenu">
        <li><%= link_to " CrowdPublishTV Home ", root_path(@user.permalink) %>
        <li><%= link_to " Recent Campaigns ", phases_path %>
      <% if user_signed_in? %>
        <li><%= link_to "#{current_user.name}", user_profile_path(current_user.permalink) %> 
        <li><%= link_to " Sign out ", destroy_user_session_path, :method => :delete %>
      <% else %>
        <li><%= link_to 'SIGN UP!', "/signup" %> 
        <li><%= link_to "Sign in", new_user_session_path %> 
      <% end %>
    </ul>
  </div>
</header>

