<% prevMDisabled = "disabled" if  (Time.now - 5.hour).to_date.beginning_of_month.eql? baseDate.beginning_of_month%>
<% offset = -1 * Time.now.in_time_zone("Pacific Time (US & Canada)").gmt_offset/3600%>

<h1 class = "text-primary" id="month"> <%= baseDate.strftime("%B %Y") %> </h2>
<div style="display: inline-block;">
  <%=link_to "<", "/monthCalendar?monthNum=#{monthNum - 1}&type=#{type}", class: "btn btn-primary btn-sm #{prevMDisabled}", remote: true%>
  <%=link_to ">", "/monthCalendar?monthNum=#{monthNum + 1}&type=#{type}", class: "btn btn-primary btn-sm", remote: true%>
</div>
<div style="overflow-x: scroll;">
  <table class="caler">
    <tr class="sticky-top">
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
    <% getWeeks(baseDate).each do |week| %>
      <tr style="padding: 0px;">
        <%week.each do |day|%>
          <%dayClass = day == Date.today ? "today" : (day.month != baseDate.month ? "notmonth" : "") %>
          <td class = "<%= dayClass%>">
            <div>
              <%= day.day %>
              <%count = 0%>
              <%events.select{|event| event.start_at.to_date.eql? (day)}.each do |event|%>
                <%id = "lg-calendar-#{day.strftime("%F")}-#{count}"%>
                <%if count == 2 %>
                  <span class="more" style="display: none;">
                <%end%>
                <ul>
                  <li>
                    <%= link_to event.name, event_path(event.id), title: event.desc, class: dayClass%>
                    <% user = User.find(event.user_id) %>
                    <br>
                    By: <%= link_to user.name, user.permalink, class: dayClass %>
                    <br>
                    <% edt = event.start_at + 3.hours %>
                    <span style="font-size:90%;" id="time-<%=id%>"</span>
                  </li>
                  <script>
                    var date = new Date(Date.parse("<%= event.start_at.strftime("%FT%T%:z") %>"));
                    date.setHours(date.getHours() + parseInt("<%=offset%>")) // the 7 is for daylight savings time
                    var optionsDay = { weekday: 'short', month: 'long', day: 'numeric' };
                    var optionsTime = { hour: '2-digit', minute: '2-digit', timeZoneName: 'short'};
                    document.getElementById('time-<%=id%>').innerHTML = date.toLocaleString(undefined, optionsTime);
                  </script>
                </ul>
                <%count += 1%>
              <%end%>
              <ul>
              <li></li>
              </ul>
              <%if count > 2 %>
                </span>
                <button class="expand" onclick="monthMoreEvents(this)">More Conversations</button>
              <%end%>
            </div>
          </td>
        <%end%>
      </tr>
    <%end%>
  </table>
</div>
