<footer>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div  class="container-fluid">
        <div class="row" id="footer">
            <div class="col-sm-2 col-sm-offset-1">
                <p class="f-header">Site</p>
                <%= link_to "About", '/aboutus', :class => "f-link" %><br>
                <%= link_to "FAQ", '/faq', :class => "f-link"  %><br>
                <%= link_to "Terms of Service", '/tos', :class => "f-link" %>
            </div>
            <br class="visible-xs-block">
            <div class="col-sm-2">
                <p class="f-header">Contact</p>
                <a href="mailto:info@crowdpublish.tv" alt="Email" target="_blank" class="f-link">info@CrowdPublish.TV</a><br>
                Washington DC: 703-495-3185<br>
                Scottsdale: 602-888-3089<br><br>
                Headquarters: <br>
                ASU Venture Devils Suite 1951 <br>
                1475 N. Scottsdale Rd, <br>
                Scottsdale, AZ 85257 
            </div>
            <br class="visible-xs-block">
            <div class="col-sm-2">
                <p class="f-header">Share</p>
                <% description = "Broadcast live discussions about what you are doing to change the world and participate in intellectual discussions to broaden your knowledge!" %>
                <% url = "http://www.crowdpublish.tv" %>
                <% image = "http://www.crowdpublish.tv/assets/starIcon-6366711ec5372faf96c1dd49077ad0d40aaf5522dbc8cb0b6cbd4850dc7470fa.png" %>
                <%= social_share_button_tag( "Share to Facebook", desc: description, :url => url, :allow_sites => %w(facebook)) %>
                <%= social_share_button_tag( description, :url => url, "data-twitter-hashtags"=> "CrowdPublishTV", :allow_sites => %w(twitter)) %>
                <%= social_share_button_tag( description, :image => image, :url => url, :allow_sites => %w(linkedin)) %>
            </div>
            <div class="col-sm-3 pull-right" id="copyright">
                <small>&copy; 2019 RoleModel Enterprises, LLC</small>
            </div>
        </div>
    </div>
</footer>