<footer>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div  class="container-fluid">
        <div class="row" id="footer">
            <div class="col-sm-2 col-sm-offset-1">
                <p class="f-header">Site</p>
                <%= link_to "FAQ", '/faq', :class => "f-link"  %><br>
                <%= link_to "Terms of Service", '/tos', :class => "f-link" %>
            </div>
            <br class="visible-xs-block">
            <div class="col-sm-2">
                <p class="f-header">Contact</p>
                <a href="mailto:info@thinq.tv" alt="Email" target="_blank" class="f-link">info@ThinQ.tv</a><br>
                Washington DC: 703-495-3185<br>
                Scottsdale: 602-888-3089<br><br>
                Headquarters: <br>
                ASU Venture Devils Suite 1951 <br>
                1475 N. Scottsdale Rd, <br>
                Scottsdale, AZ 85257
            </div>
            <br class="visible-xs-block">
            <div class="col-sm-2">
                <p class="f-header">Share</p>
                <% url = "http://www.ThinQ.tv" %>
                <% desc = "Participate in thought-provoking conversations and learn to love the world more deeply!"%>
                <!-- Facebook Share -->
                <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>
                <div class="social-share-button" data-href="<%= url %>"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.thinq.tv%2F&amp;src=sdkpreparse"><img src="<%= asset_url('social-share-button/facebook.png') %>"></img></a></div>
                <!-- Twitter Tweet -->
                <a href="https://twitter.com/intent/tweet?hashtags=ThinQTV&text=Participate%20in%20live%20thought-provoking%20conversations%20and%20learn%20to%20love%20the%20world%20more%20deeply!&tw_p=tweetbutton&url=http%3A%2F%2Fwww.ThinQ.tv%2F"><img src="<%= asset_url('social-share-button/twitter.png') %>"></img></a>
                <!-- LinkedIn Share -->
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= url %>&title=ThinQTV&summary=<%= desc %>" onclick="window.open(this.href, 'mywin',); return false;"><img src="<%= asset_url('social-share-button/linkedin.png') %>"/></a>
                <!-- Email Share -->
                <a href="mailto:?subject=Check out this site called ThinQTV!&amp;body=You are invited to check out <%= url %>!%0D%0A%0D%0A<%= desc %>%0D%0A%0D%0AThe schedule is: Tuesdays 6:00pm PDT / 9:00pm EDT - Tech Tuesday%0D%0AWednesdays 6:00pm PDT / 9:00pm EDT - Conversations on Faith%0D%0AThursdays 6:00pm PDT / 9:00pm EDT - International Cultures%0D%0A%0D%0A%0D%0A%0D%0A"><img src="<%= asset_url('social-share-button/email.png') %>"></a>
            </div>
            <div class="col-sm-3 pull-right" id="fb">

            </div>
            <div class="col-sm-3 pull-right" id="copyright">
                <small>&copy; 2019 RoleModel Enterprises, LLC</small>
            </div>
        </div>
    </div>
</footer>
