<footer>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div  class="container-fluid">
      <div class="row" id="footer">
        <div class="col-sm-2">
          <p class="f-header">SITE</p>
          <%= link_to "FAQ", '/faq', :class => "f-link"  %> <br>
          <%= link_to "Invite Us To Speak", "/drschaeferspeaking", :class => "f-link"%> <br>
          <%= link_to "Terms of Service", "/tos", :class => "f-link" %> <br>
          <%= link_to "Privacy Policy", "/privacy", :class => "f-link"%><br><br>
        </div>
        <br class="visible-lg-block">
        <div class="col-sm-2">
          <p class="f-header">CONTACT</p>
          <a href="mailto:info@thinq.tv" alt="Email" target="_blank" class="f-link">info@ThinQ.tv</a><br>
          <a class="f-link">602-888-3089</a><br>

        </div>
        <br class="visible-lg-block">
        <div class="col-sm-2">
          <p class="f-header">SHARE</p>
          <% domainurl = "https://thinq.tv" %>
          <% desc = "Participate in thought-provoking conversations!"%>

          <!-- Share -->
          <div class="social-share-button" data-href="<%= domainurl %>">
            <!-- Facebook Share -->
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.ThinQ.tv%2F&amp;src=sdkpreparse"
              onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.ThinQ.tv%2F&amp;src=sdkpreparse',
              'newwindow',
              'width=600,height=400,top=100,left=300');
              return false;">
              <%= image_tag("facebook_icon.png", :style => "width:25px; height:25px;") %>
            </a>
            <!-- Twitter Tweet -->
            <a href="https://twitter.com/intent/tweet?hashtags=ThinQTV&text=Participate%20in%20live%20thought-provoking%20conversations%20or%20Host%20your%20own%20Live%20Video%20office%20hours!&tw_p=tweetbutton&url=http%3A%2F%2Fwww.ThinQ.tv%2F">
              <%= image_tag("twitter_icon.png", :style => "margin-left: 5px; width:25px; height:25px;") %>
            </a>
            <!-- LinkedIn Share -->
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= domainurl %>&title=ThinQTV&summary=<%= desc %>" onclick="window.open(this.href, 'mywin',); return false;">
              <%= image_tag("linkedin_icon.png", :style => "margin-left: 5px; width:25px; height:25px;") %>
            </a>
            <!-- Email Share -->
            <a href="mailto:?subject=Check out ThinQ.TV! Conversations to Make you ThinQ&amp;body=You are invited to check out <%= domainurl %>!%0D%0A%0D%0A<%= desc %>%0D%0A%0D%0AHost your own Live Video office hours on thought-provoking topics!%0D%0A%0D%0A%0D%0A%0D%0A">
              <%= image_tag("email_icon.png", :style => "margin-left: 5px; width:25px; height:25px;") %>
            </a>

          </div>
        </div>
        <div class="col-sm-6">
      <div class="pull-right" id="copyright">
        <small>&copy; 2020 RoleModel Enterprises, LLC</small><br><br>
      </div>
       </div>
    </div>
  </div>
</footer>
