<sidebar class>
  <div class="groupname" >
    <%= @group.name %>
  </div><br>
  <% if current_user && @group.user_id == current_user.id %>
    <%= button_to "Edit Group", edit_group_path(@group.permalink), :method=> :get %><br>
    <% if @group.stripeid.present? %>
      <% if @group.stripeid.match(/acct/) #is this correct?%>
        <% if @fieldsneeded.present? %>
          <%= button_to "Correct Bank Account Errors", group_correcterrors_path(@group.permalink), {:style => "background-color:red", :method=> :get} %><br>
        <% else %> 
          <%= button_to "Edit Group Bank Account", group_manageaccounts_path(@group.permalink), :method=> :get %><br>
        <% end %> 
      <% else %> 
        <%= button_to "Add Group Bank Account", group_addbankaccount_path(@group.permalink), :method=> :get %><br>
      <% end %> 
    <% else %> 
      <%= button_to "Get Paid", group_createstripeaccount_path(@group.permalink), :method=> :get %><br>
    <% end %> 
    <%= button_to "Support A Project", projects_path, :method=> :get %>
    <br><br>
  <% end %> 
  <strong>About Us:</strong>
  <% if @group.about %> 
    <%= simple_format @group.about.gsub(/\n/, '<br>') %>
  <% end %><br>

  <strong>Location:</strong>
  <%= @group.address %><br><br>
  
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=350x300&sensor=false&zoom=12&markers=#{@group.latitude}%2C#{@group.longitude}" %><br><br>

<p>
  This group page is managed by <%= link_to @user.name, user_profile_path(@user.permalink) %>
</p>

</sidebar>
