<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#globalNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to image_tag("starIcon.png", :class => "navbar-brand", :title => "CrowdPublish.TV Home"), "/" %>
                
            </div>
            <div class="collapse navbar-collapse" id="globalNavbar">
                <ul class="nav navbar-nav">
                    <li><%= link_to "Home", "/" %></li>
                    <li><%= link_to "Discover Discussion Hosts", '/userswithmerch' %></li>
                    <% if user_signed_in? %>
                    <% else %>
                        <li><%= link_to "Create Page", '/signup' %></li>
                    <% end %>
                </ul>
                 
                <ul class="nav navbar-nav navbar-right">
                    <% if user_signed_in? %>
                        <li class="navbar-link">
                            <%= link_to current_user.name, user_profile_url(current_user.permalink), method: :get %>
                        </li>
                        <li>
                            <p class="navbar-btn">
                                <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn btn-default" %>
                            </p>
                        </li>
                    <% else %>
                        <li>
                            <p class="navbar-btn">
                                <%= link_to 'Sign in', "/login", :class => "btn btn-primary" %>
                            </p>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>
</header>