<header class="navbar ">
  <div class="container-flex">

    <div class="row">
          <div class="navbar-inner fixed-header" style="padding-left:20px;">
            <ul class="nav navbar-nav pull-left"style="font-size:18px; font-family:Arial" >
              <li><%= link_to "Home", "/" %>
        <li><%= link_to "SUPPORT EACH OTHER", userswithmerch_path %>
        <% if user_signed_in? %>
          <li><%= link_to 'EARN FUNDS', new_merchandise_path %>
        <% else %>
          <li><%= link_to 'EARN FUNDS', "/signup" %>
        <% end %>
        <li><%= link_to 'Livestream', "/livestream" %>
              <% if user_signed_in? %>
                <li><%= link_to current_user.name, user_profile_path(current_user.permalink) %>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete%>
              <% else %>
                <li><%= link_to 'Sign in', "/login" %>
              <% end %>
            </ul>
          </div> 
    </div>
  </div>

</header>
