<header class="navbar navbar-custom">
<div class="container">
<nav>

<div class="row">
  <div class="col-md-3 col-sm-7 col-xs-7">
    <%= image_tag("cpLogo150.png", class: 'img-responsive', alt: "Responsive image") %>
    <br><%= link_to image_tag("facebk.png", :size => "32x32"), "http://facebook.com/CrowdPublishTV", :target => "_blank" %>
    <%= link_to image_tag("twitter.png", :size => "32x32"), "http://twitter.com/CrowdPublishTV", :target => "_blank" %>
    <%= link_to image_tag("linkedin.png", :size => "32x32"), "http://linkedin.com/in/lisaannschaefer", :target => "_blank" %>  
  </div>
  <div class="col-md-1">
  </div>

  <div class="col-md-3 col-sm-5 col-xs-5">
    <div class="menu" style="text-align:left; " >
      <%= link_to 'Home', root_path %>
      <% #= link_to 'Online Events', calendar_path, :style => 'color:#FFFFFF' %>
      <br><%= link_to 'Events Near You!', calendar_path  %>
      <br><%= link_to 'List Your Event', new_event_path %>
      <br><%= link_to 'Groups Near You!', groups_path %>
      <br><%= link_to 'List Your Group', new_group_path %>
      <br><%= link_to 'Members to Watch', users_path  %>
    </div>
    <div class="smmenu" style="text-align:left; " >
      <% if user_signed_in? %>
        <br><%= link_to "My profile", user_profile_path(current_user.permalink) %>
        <br><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
      <% else %>
        <br><%= link_to 'SIGN UP!', "/signup" %>
        <br><%= link_to 'Sign in', "/login" %>
      <% end %>
      <br><%= link_to 'About', "/howwork" %>
    </div>
  </div>

  <div class="col-md-5 col-sm-12 col-xs-12">
    <div id="frag_22" style="text-align:left; width:450px; height:205px; overflow:hidden; ">

      <object width="460" height="250" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"><param name="flashvars" value="cid=13434383&amp;autoplay=false"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="src" value="http://www.ustream.tv/flash/viewer.swf"/><embed flashvars="cid=13434383&amp;autoplay=false" width="460" height="250" allowfullscreen="true" allowscriptaccess="always" src="http://www.ustream.tv/flash/viewer.swf" type="application/x-shockwave-flash"></embed></object>

    </div>
  </div>
</div>

<div class="row" style="margin-top:10px;">
  <div class="col-md-3 col-sm-12 col-xs-12">
    <div class="blacktxt" style= "text-align:center;">
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to image_tag("bubbleButton165.png", :size => "155x40"), "/signup" %>
      <br>
      Already a member? <%= link_to "SIGN IN", new_user_session_path %> 
    <% end %>
    </div>
  </div>
  <div class="col-md-5 col-sm-6 col-xs-12">
    <div class="helps" >
      CrowdPublishTV helps authors &amp; fans interact directly &amp; build community
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 ">
    <div class="socialize" >
      Socialize around your books, experiences, or expertise
    </div>
  </div>
</div>

  <hr noshade>


</nav>
</header>
