<header class="navbar navbar-custom headerimage ">
  <div class="container">

        <div class="whitetitle", style="position:relative; z-index: 9999;">
          CrowdFunding, CrowdSelling, CrowdEngagement
        </div>
        <div class="whitesub" style="text-shadow: 1px 1px #000;">
          <% if user_signed_in? %>
            <%= link_to "Sneak preview access to books & movies", phases_path %>
          <% end %>
        </div>


        <% if user_signed_in? %>
          <div class="navbar-inner clearfix usermenu">
            <ul class="nav navbar-nav pull-left">
              <li><%= link_to ".", "/" %>
              <li><%= link_to "Home", "/" %>
              <li><%= link_to "Projects", phases_path %>
              <li><%= link_to "Organizations", groups_path %>
              <li><%= link_to "Authors & Filmmakers", users_path %>
              <li><%= link_to current_user.name, user_profile_path(current_user.permalink) %>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete%>
            </ul>
          </div> 
        <% else %>
          <div class="col-md-4 col-sm-6 col-xs-12 lavenderlink">
            <%= link_to "Get $ & buzz for your ", "/signup" %><br>
            <%= link_to "Writing or movie projects", "/signup" %>
          </div>   

          <div class="col-md-4 col-sm-6 col-xs-12 lavenderlink">
            <%= link_to image_tag("signup.png", title: "Sign Me Up!"), "/signup"%> <br>
            <%= link_to 'Sign in', "/login", {:style=>'color:#ddd; font-size:14px'}  %><br><br>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 lavenderlink" style="text-shadow:1px1px#000; width:350px">
            <%= link_to "Get sneak preview access to books & movies!", "/signup", title: "Sign Me Up!" %>
          </div>
        <% end %>

  </div>
</header>
