<header class="navbar navbar-custom">
  <div class="container">
    <nav>

      <div class="headerimage row">
        <div class="whitetitle", style="position:relative; z-index: 9999;">
          CrowdFunding, CrowdSelling, CrowdEngagement for Authors & Filmmakers
        </div>

        <div class="col-md-6 col-sm-8 col-xs-12 ">
          <% if user_signed_in? %>
            <div class="whitetxt", style=" height:40px;" >
              Signed in as <%= link_to current_user.name, user_profile_path(current_user.permalink) %>
            </div> 
            <div class="usermenu" >
              Not you?
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete%>
            </div> 
            <div class="whitetxt", style=" height:20px;" >
            </div> 
          <% else %>
            <div class="lavenderlink" style="width:500px">
              <div style="font-size:28px"><%= link_to "SIGN UP ", "/signup" %></div>
              <%= link_to "To get $$$ & buzz for your ", "/signup" %><br>
              <%= link_to "Writing or movie projects", "/signup" %>
            </div>   
            <div class="usermenu" >
              <br><%= link_to 'Sign in', "/login", {:style=>'color:#FFFFFF;'}  %><br><br>.
            </div> 
          <% end %>
        </div>
        <div class="col-md-6 col-sm-4 col-xs-12", style = "position:relative; text-align:center; z-index: 1;">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="48ALUTCSBS5F4">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
      </div>

    </nav>
  </div>
</header>

