<header class="navbar navbar-custom headerimage ">
  <div class="container">

<div class="headerimage" >
  <div class="row">
    <div class="col-md-5 col-sm-6 col-xs-12" style="padding-top:20px">
      <div class="whitetxt", style="position:relative; z-index: 9999; font-size:28px">
        <b>Filmmakers - Actors - Authors </b>
      </div>
      <div class="lavenderlink" style="text-shadow: 1px 1px #000; width:350px;">
        <br><%= link_to "Earn more Revenue &", "/signup" %><br>
        <%= link_to "increase Engagement", "/signup" %>
      </div>
    </div>

    <div class="col-md-2 col-sm-6 col-xs-12">
      <%= image_tag("cpLogo150.png") %><br><br> 
          <% if !user_signed_in? %>
            <div class="lavenderlink">
              <div style="font-size:28px">
                <%= link_to "SIGN UP ", "/signup" %>
              </div>
            </div>   
            <div class="usermenu" >
              <%= link_to 'Sign in', "/login", {:style=>'color:#FFFFFF;'}  %><br>
            </div> 
          <% end %>
    </div>
    <div class="col-md-5 col-sm-7 col-xs-12" style="padding-top:20px">
      <div class="whitetxt" style="font-size:28px" >
        <b>Movie Fans - Readers </b>
      </div>
      <div class="lavenderlink" style="text-shadow: 1px 1px #000; width:350px;">
        <br><%= link_to "Get sneak preview access to Premium Content", phases_path %>
      </div>
    </div>
  </div>

  <div class="row">
          <div class="navbar-inner clearfix usermenu" style="padding-left:20px">
            <ul class="nav navbar-nav pull-left">
              <li><%= link_to "Projects", phases_path %>
              <li><%= link_to "Organizations", groups_path, title: "Find the Organization that referred you to CrowdPublish.TV" %>
              <li><%= link_to "Filmmakers", users_path %>
              <li><%= link_to "Actors", users_path %>
              <li><%= link_to "Authors", users_path %>
              <li><%= link_to "FAQ", '/howwork' %>
              <% if user_signed_in? %>
                <li><%= link_to current_user.name, user_profile_path(current_user.permalink) %>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete%>
              <% end %>
            </ul>
          </div> 
  </div>
</div>

  </div>
</header>
