<header class="navbar navbar-custom">
  <div class="container">
    <nav>

      <div class="headerimage row">
        <div class="whitetitle", style="position:relative; z-index: 9999;">
          Where authors who own their rights grow their Crowd
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 ", style = "margin-top: -25px">
          <%= link_to image_tag("cpLogo150.png", class: 'img-responsive', alt: "Responsive image"), root_path %>
          <% if user_signed_in? %>
            <div class="whitetxt", style=" height:55px;" >
              <%= link_to "Browse " + current_user.name + "'s Site", user_profile_path(current_user.permalink), {:style=>'color:#FFFFFF;'} %>
            </div> 
           <% else %>
            <div class="usermenu", style=" height:80px;" >
              <br><%= link_to image_tag("bubbleButton165.png", :size => "155x40"), "/signup" %>
              <%= link_to 'Sign in', "/login", {:style=>'color:#FFFFFF;'}  %><br>
            </div> 
           <% end %>
          <div class="usermenu", style=" height:90px;" >
            Participate in the evolution of CrowdPublish.TV!
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="48ALUTCSBS5F4">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </div> 
          <% if user_signed_in? %>
            <div class="usermenu">
              Signed in as <%= current_user.email %>. Not you?
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :style=>'color:#EFBFFF;' %>
            </div>
          <% end %>
        </div>

        <div class="col-md-8 col-sm-12 col-xs-12", style = "margin-top: -45px; position:relative; z-index: 1;">
          <div id="frag_22" style="text-align:left; width:670px; height:340px; overflow:hidden; ">
            <iframe src="http://www.ustream.tv/embed/13434383?wmode=opaque" style="border: 0 none transparent;" frameborder="no" width="680" height="380" text-align="left" ></iframe>
          </div>
        </div>
      </div>

    </nav>
  </div>
</header>

<!--
          <div class="col-md-7 col-sm-7 col-xs-7">
            <div class="menu" style="text-align:left; margin-left:30px;" >
              <br><%= link_to 'Events Near You!', calendar_path  %>
              <br><%= link_to 'Post Your Event', new_event_path %>
              <br><%= link_to 'Clubs & Organizations Near You!', groups_path %>
              <br><%= link_to 'Get a Page for Your Club', new_group_path %>
              <br><%= link_to 'Future of Books', "/howwork" %>
            </div><br><br>
          -->
