<header class="navbar navbar-custom">
  <div class="container">
    <nav>

      <div class="headerimage row">
        <div class="whitetitle", style="position:relative; z-index: 9999;">
          CrowdFunding, CrowdSelling, CrowdEngagement for Authors & Filmmakers
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 ">
          <% if user_signed_in? %>
            <div class="whitetxt", style=" height:40px;" >
              Signed in as <%= link_to current_user.name, user_profile_path(current_user.permalink) %>
            </div> 
            <div class="usermenu" >
              Not you?
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete%>
            </div> 
            <div class="whitetxt", style=" height:20px;" >
            </div> 
          <% else %>
            <div class="whitetxt" style="text-align:left">
              * Sell your writings, videos, etc.<br>
              * Get funding & buzz for your next project <br>
              * Get leading-edge access to upcoming books & movies!
            </div> 
              <%= link_to image_tag("bubbleButton165.png", :size => "155x40"), "/signup" %> 
            <div class="usermenu" >
              <br><%= link_to 'Sign in', "/login", {:style=>'color:#FFFFFF;'}  %><br><br>.
            </div> 
          <% end %>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12 ", style = "margin-top: -25px">
          <%= link_to (image_tag "cpLogo150.png"), root_path %><br><br>
        </div>
        <div class="col-md-4 col-sm-10 col-xs-12", style = "position:relative; z-index: 1;">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="48ALUTCSBS5F4">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
      </div>

    </nav>
  </div>
</header>

