<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<%= will_paginate @events, renderer: BootstrapPagination::Rails %>

<div class="panel panel-default">
  <div class=panel-heading>
    Upcoming LIVE Online Conversations
  </div>
  <% if user_signed_in? %>
    <div class=panel-body>
        <%= link_to 'Host a Live Conversation', new_event_path, class: "btn btn-warning", id: "tableHost calendar-create" %>
    </div>
  <% end %>
  <% if @events.count != 0 %>
    <table class="table table-hover" id=calendar>
      <tbody>
        <% @events.sort_by{|t| t.start_at}.each do |event| %>
        <% user = User.find(event.usrid) %>
        <tr>
          <td class=col-xs-5>
            <%= link_to event.name, event, id: "calendar-event", title: event.desc, 'data-toggle': "tooltip", 'data-placement': "left" %>
            Hosted by: <%= link_to user.name, user.permalink, id: "calendar-host" %>
            <% if user_signed_in? %>
              <% if event.usrid == current_user.id %>
                <%= link_to '(Edit Conversation)', edit_event_path(event.id), id: "calendar-host" %>
              <% end %>
            <% end %>
          </td>
          <td class=col-xs-3>
            <% edt = event.start_at + 3.hours %>
            <span style="font-size:125%;" id=calendar-time><%= event.start_at.strftime("%a, %b. %d") %></span>
            <span style="font-size:90%;"id=calendar-time><%= event.start_at.strftime("%l:%M%P") %> PDT</span>
            <span style="font-size:90%;" id=calendar-time><%= edt.strftime("%l:%M%P") %> EDT</span>
          </td>
          <td class=col-xs-3>
            <%= link_to "Join Live Conversation", "https://crowdpublishtv.herokuapp.com/" + user.permalink, class: "btn btn-primary btn-sm" %>
          </td>
          <td class=col-xs-1>
            <% shareurl = "http://www.THINQ.tv/" + user.permalink %>
              <div id= "social-button"><span class="fb-share-button" data-href= <%= shareurl %> data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href=<%= shareurl %> class="fb-xfbml-parse-ignore">Share</a></span></div>
            <div id="social-button"><span><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text= "Participate in <%= user.name %>'s Conversation: <%=  event.name + "," %> <%= event.start_at.strftime("%B %d, %I:%M %p")%> PDT: <%= shareurl %>" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></span></div>
            <div>
              <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
              <script type="IN/Share" data-url="<%= shareurl %>" data-counter="top">Share</script>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<%= will_paginate @events, renderer: BootstrapPagination::Rails %>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
