<div class="helps">

  <h2>Upcoming Livestream Discussions</h2>

  <%= link_to 'Host a livestream discussion', new_event_path %><br><br>
  <% if user_signed_in? %>
  <% end %>

  <% if @events.count != 0 %>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
          <th>Topic </th>
          <th style="text-align:center">When <div style="font-size:14px; text-align:center"> All times in PDT </div></th>
          <th style="text-align:center">Host</th> 
          <th></th>
          </tr>
        <% @events.sort_by{|t| t.start_at}.each do |event| %>
          <tr>
          <td ><%= link_to event.name, event %></td>
          <td ><%= event.start_at.strftime("%A %B %d, %Y at %I:%M %p")  %></td>
          <td>
              <% user = User.find(event.usrid) %>
              <%= link_to user.name, user_profile_path(user.permalink) %> </b>
          </td>
          <td>
            <% if user_signed_in? %>
              <% if event.usrid == current_user.id %>
                <%= link_to 'Edit Event', edit_event_path(event.id) %> 
              <% end %>
            <% end %>
          </td>  
          </tr>
        <% end %>
      </table>
    </div>  
  <% end %>  
</div>

