<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<%= will_paginate @events, renderer: BootstrapPagination::Rails %>

<div class="panel panel-default">
  <div class=panel-heading>
    Upcoming Livestream Discussions
  </div>
  <% if user_signed_in? %>
    <div class=panel-body>
        <%= link_to 'Host a Livestream Discussion', new_event_path, class: "btn btn-warning", id: "tableHost calendar-create" %>
    </div>
  <% end %>
  <% if @events.count != 0 %>
    <table class="table table-hover" id=calendar>
      <tbody>
        <% @events.sort_by{|t| t.start_at}.each do |event| %>
        <% user = User.find(event.usrid) %>
        <tr>
          <td class=col-xs-5>
            <%= link_to event.name, event, id: "calendar-event", title: event.desc, 'data-toggle': "tooltip", 'data-placement': "left" %>
            Hosted by: <%= link_to user.name, user.permalink, id: "calendar-host" %>
            <% if user_signed_in? %>
              <% if event.usrid == current_user.id %>
                <%= link_to '(Edit Show)', edit_event_path(event.id), id: "calendar-host" %> 
              <% end %>
            <% end %>
          </td>
          <td class=col-xs-3>
            <% edt = event.start_at + 3.hours %> 
            <span style="font-size:125%;" id=calendar-time><%= event.start_at.strftime("%a, %b. %d") %></span>
            <span style="font-size:90%;"id=calendar-time><%= event.start_at.strftime("%l:%M%P") %> PDT</span>
            <span style="font-size:90%;" id=calendar-time><%= edt.strftime("%l:%M%P") %> EDT</span>
          </td>
          <td class=col-xs-3>
            <%= link_to "Join Live Discussion", "https://crowdpublishtv.herokuapp.com/" + user.permalink, class: "btn btn-primary btn-sm" %>
          </td>
          <td class=col-xs-1>
            <% shareurl = "http://www.CrowdPublish.TV/" + user.permalink %>
            <%= social_share_button_tag("Share to Facebook", desc: event.desc, :url => shareurl) %>
            <%= social_share_button_tag( event.desc, :url => shareurl, "data-twitter-hashtags"=> "CrowdPublishTV", :allow_sites => %w(twitter)) %>
            <%= social_share_button_tag( event.desc, :image => "http://www.crowdpublish.tv/assets/starIcon-6366711ec5372faf96c1dd49077ad0d40aaf5522dbc8cb0b6cbd4850dc7470fa.png", :url => shareurl, :allow_sites => %w(linkedin)) %>
          </td>  
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<%= will_paginate @events, renderer: BootstrapPagination::Rails %>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
