<!--Modal for editing perk-->
<div class="modal fade" tabindex="-1" id="myModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
				<h4 class="modal-title">Edit Perk</h4>
			</div>
			<div class="modal-body">
				<!--= TAKE PERK'S PASSABLE ID AND DISPLAY ITS FORM %-->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary">Save Perk</button>
			</div>
		</div>
	</div>
</div>

<!--Actual panel-->
<div class="panel panel-primary">
<div class="panel-heading">
	<% if user_signed_in? %>
		<% if current_user.id == @user.id %>
			Current Perks
		<% else %>
			Support our work!
		<% end %>
	<% else %>
		Support our work!
	<% end %>
	<!--span class="badge pull-right"><#%= @user.merchandises.count %> Perks</span> currently doesn't work-->
</div>
<div class="panel-body" id="merchSidebar">
  <% if @sidebarmerchandise.present? %>
    <% @sidebarmerchandise.each do |merch| %>
    <div class="media">
      <div class="pull-left">
				<% if merch.itempic.present? %>
					<%= image_tag merch.itempic.url.to_s, class: "media-object", id: "perkImage" %>
				<% else %>
					<%= image_tag "starIcon.png", class: "media-object", id: "perkImage" %>
				<% end %>
			</div>
      <div class="media-body">
        <h4 class="media-heading">
					<%= link_to(merch.name, merchandise_path(merch.id, :groupid => params[:groupid]) ) %>
				</h4>

        <% if merch.desc.present? %>
          <% if merch.desc.length > 150 %>
            <div>
						<%= truncate(merch.desc, length: 150) %>
						<%= link_to 'more', '', class: "read-more-#{merch.id}" %>
						<script>
							$('.read-more-<%= merch.id %>').on('click', function(e) {
							e.preventDefault()
							$(this).parent().html('<%= escape_javascript merch.desc %>')
											  })
						</script>
						</div>
          <% else %>
            <%= merch.desc %>
          <% end %>
        <% end %>
				
        <% if user_signed_in? %>
          <% if current_user.id == @user.id %>
            <!--Links to seperate edit perk page-->
            <%= button_to "Edit Perk", edit_merchandise_path(merch.id), method: :get, class: "btn btn-warning pull-right" %>

            <!-- TODO: Switch to below button when edit perk form can be shown as a modal-->
            <!--%= button_tag "Edit Perk", class: "btn btn-primary pull-right", "data-toggle" => "modal", "data-target" => "#myModal" %-->
				
          <% else %>
            <% if (merch.deadline) != nil %>
              <% daysaway = (merch.deadline.to_date - Date.today.to_date).to_i %>
              <% if daysaway.nil? || daysaway.zero? %>
                <td>Last day!</td>
              <% elsif (daysaway <= 7) %>
                <td>Only <%= ActionController::Base.helpers.pluralize(daysaway.to_s, 'day') %> left!</td>
              <% else %>
                <td><%= ActionController::Base.helpers.pluralize(daysaway.to_s, 'day') %> left!</td>
              <% end %>
            <% end %>
				
            <% if (merch.buttontype) == 'Donate' %>
              <% buyPrice = ("Donate $" + sprintf('%.2f', merch.price) + "!") %>
            <% else %>
              <% buyPrice = ("Buy for $" + sprintf('%.2f', merch.price) + "!") %>
            <% end %>
				
            <% if @user.stripeid.present? || @user.id == 143 %>   
              <%= link_to buyPrice, new_purchase_path(:merchandise_id => merch.id), method: :get, :class => "btn btn-warning pull-right", :target => "_blank" %>
            <% else %>
              <br> * <%= @user.name %> cannot accept funds yet
            <% end %>
          <% end %>
  				
        <% else %>
          <% if (merch.deadline) != nil %>
            <% daysaway = (merch.deadline.to_date - Date.today.to_date).to_i %>
              <% if daysaway.nil? || daysaway.zero? %>
                <td>Last day!</td>
              <% elsif (daysaway <= 7) %>
                <td>Only <%= ActionController::Base.helpers.pluralize(daysaway.to_s, 'day') %> left!</td>
              <% else %>
                <td><%= ActionController::Base.helpers.pluralize(daysaway.to_s, 'day') %> left!</td>
              <% end %>
            <% end %>
				
          <%if (merch.buttontype) == 'Donate'%>
            <% buyPrice = ("Donate $" + sprintf('%.2f', merch.price) + "!") %>
          <%else%>
            <% buyPrice = ("Buy for $" + sprintf('%.2f', merch.price) + "!") %>
          <%end%>
				
          <% if @user.stripeid.present? || @user.id == 143 %>   
            <%= link_to buyPrice, new_purchase_path(:merchandise_id => merch.id), method: :get, :class => "btn btn-warning pull-right", :target => "_blank" %>
          <% else %>
            <br> * <%= @user.name %> cannot accept funds yet
          <% end %>
				
				<% end %>
			</div>
		</div>
		<hr>
		<% end %>
	<% else %>
		<!--This is where the default Donate button are displayed-->
		<!--To add or modify donation buttons and prices, it should be done through the code below only-->
        <% if @user.stripeid.present? %>
            <% btnTxt = ("Donate $" + sprintf('%.2f',25) + "!") %>
            <%= link_to btnTxt, new_purchase_path(:pricesold => 25.0, :author_id => @user.id), method: :get, :class => "btn btn-warning btn-lg", :target => "_blank" %>
            <br /><br />
            <% btnTxt = ("Donate $" + sprintf('%.2f',50) + "!") %>
            <%= link_to btnTxt, new_purchase_path(:pricesold => 50, :author_id => @user.id), method: :get, :class => "btn btn-warning btn-lg", :target => "_blank" %>
            <br /><br />
            <% btnTxt = ("Donate $" + sprintf('%.2f',100) + "!") %>
            <%= link_to btnTxt, new_purchase_path(:pricesold => 100, :author_id => @user.id), method: :get, :class => "btn btn-warning btn-lg", :target => "_blank" %>
        <% else %>
          <%= @user.name %> has not made sales or donations available yet. 
        <% end %>
	<% end %>
</div>
</div>

<!-- Notes:
The Edit button should give the Edit Perk modal each Perk's individual ID.
Lisa's Notes: What does this mean?
-->