<div class="card">
  <div class="bg-primary text-white card-header">
    <% if user_signed_in? %>
      <% if current_user.id == @user.id %>
        Current Rewards
      <% else %>
        Support our work!
      <% end %>
    <% else %>
      Support our work!
    <% end %>
  </div>
</div>

<div class="card-body" id="merchSidebar">
  <% if @sidebarmerchandise.present? %>
    <% @sidebarmerchandise.each do |merch| %>
      <div class="media">
        <div class="pull-left">

          <% if merch.itempic.present? %>
            <%= image_tag merch.itempic.url.to_s, class: "media-object", id: "perkImage" %>
          <% else %>
            <%= image_tag "starIcon.png", class: "media-object", id: "perkImage" %>
          <% end %>
        </div>
        <div class="media-body pl-3">

          <div style = "font-size: 20px">
            <%= link_to(merch.name, merchandise_path(merch.id, :groupid => params[:groupid]) ) %>
          </div>

          <% if merch.desc.present? %>
            <% if merch.desc.length > 150 %>
              <div>
                <%= truncate(merch.desc, length: 150) %>
                <%= link_to 'more', '', class: "read-more-#{merch.id}" %>
                <script>
                  $('.read-more-<%= merch.id %>').on('click', function(e)
                    { e.preventDefault()
                      $(this).parent().html('<%= escape_javascript merch.desc %>')
                    })
                </script>
              </div>
            <% else %>
              <%= merch.desc %>
            <% end %>
          <% end %>
          <br>

          <% if user_signed_in? %>
            <% if current_user.id == @user.id %>
            <!--Links to seperate edit Reward page-->
              <%= button_to "Edit Reward", edit_merchandise_path(merch.id), method: :get, class: "btn btn-warning" %><br>
            <% end %>
          <% end %>

            <!-- TODO: Switch to below button when edit Reward form can be shown as a modal-->
            <!--%= button_tag "Edit Reward", class: "btn btn-primary pull-right", "data-toggle" => "modal", "data-target" => "#myModal" %-->

          <% if merch.deadline != nil %>
              <% daysaway = (merch.deadline.to_date - Date.today.to_date).to_i %>
              <br><b>
              <% if daysaway == 0 %>
                <td>Last day available!</td>
              <% elsif (daysaway <= 7 ) %>
                <td>Only <%= ActionController::Base.helpers.pluralize(daysaway.to_s, 'day') %> left until it's gone!</td>
              <% end %></b>
          <% end %>

          <% if (merch.buttontype) == 'Donate' %>
              <% buyPrice = ("Donate $" + sprintf('%.2f', merch.price) + "!") %>
          <% else %>
              <% buyPrice = ("Buy for $" + sprintf('%.2f', merch.price) + "!") %>
          <% end %>

          <% if @user.stripeid.present? || @user.id == 143 %>
              <%= link_to buyPrice, new_purchase_path(:merchandise_id => merch.id), method: :get, :class => "btn btn-warning ", :target => "_blank" %>
          <% else %>
              <br> * <%= @user.name %> cannot accept funds yet
          <% end %>

        </div>
      </div>
      <hr>

      <% end #foreach sidebar merch %>
    <% else %>
    <!--This is where the Default Donate button are displayed-->
    <!--To add or modify Default Donation buttons and prices, it should be done through the code below only-->
        <% if @user.stripeid.present? || @user.id == 1337 || @user.id == 1345 %>
            <% btnTxt = ("Donate $" + sprintf('%.2f',25) + "!") %>
            <%= link_to btnTxt, new_purchase_path(:pricesold => 25.0, :author_id => @user.id), method: :get, :class => "btn btn-warning btn-lg", :target => "_blank" %>
            <br /><br />
            <% btnTxt = ("Donate $" + sprintf('%.2f',50) + "!") %>
            <%= link_to btnTxt, new_purchase_path(:pricesold => 50, :author_id => @user.id), method: :get, :class => "btn btn-warning btn-lg", :target => "_blank" %>
            <br /><br />
            <% btnTxt = ("Donate $" + sprintf('%.2f',100) + "!") %>
            <%= link_to btnTxt, new_purchase_path(:pricesold => 100, :author_id => @user.id), method: :get, :class => "btn btn-warning btn-lg", :target => "_blank" %>
        <% else %>
          <%= @user.name %> has not made sales or donations available yet.
        <% end %>
    <% end %>
</div>

<!-- Notes:
The Edit button should give the Edit Reward modal each Reward's individual ID.
Lisa's Notes: What does this even mean???
-->