<div id="wrapper">
  <div id="sidebar-wrapper">
  <ul class="sidebar-nav">

  <div class="container col-xs-12" style="margin-top:10px; margin-left: 10px; padding-left:10px;">
    <div class="post-border" style="width: 335px;">
      <% if user_signed_in? %>
        <% if current_user.id == @user.id %>
          <% if !current_user.stripeid.present? %>
            You must Sign Up for Stripe to receive payments 
            <% if Rails.env.development? || Rails.env.test? %>
              <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%= STRIPE_CONNECT_CLIENT_ID %>&scope=read_write" target="_blank"><%= image_tag("stripebutton.png") %></a>
            <% else %>
              <br><br>Confirm your secure login to proceed to Stripe payments<br><br>
              <%= link_to image_tag("stripebutton.png"), "https://crowdpublishtv.herokuapp.com/login" %>
            <% end %>
          <% end %><br><br>

        <% end %><br><br>


          <% if @user.merchandises.any? %>
            <% if current_user.id == @user.id %>
                <%= link_to "Add More Perks", standardperks_path %> to offer your Fans.
            <% else %>
              <% if !@user.stripeid.present? && @user.id != 143 %>
                <%= @user.name %> has not made these Perks available yet. Please check back later to get access to these fantastic Perks.
              <% end %>
            <% end %>
          <% else %>     
            <% if current_user.id == @user.id %>
                <%= link_to "Create Perks", standardperks_path, style:"color:red;" %> so your Fans can support your work.
            <% end %>
              <%= @user.name %> has not made any Perks available yet. Please check back later to support <%= @user.name %> 
          <% end %>

      <% else %>
        <%= button_to "SIGN UP", "/signup", class: "button", style: "font-size:28px" %>to access Perks 
        <%= link_to 'or SIGN IN...', "/login", {:style=>'float:right'} %><br> <br>
      <% end %>
    </div>

<div class="author-books" style = "width: 335px; overflow: wrap;">
  <% if @user.merchandises.any? %>
    <% if params[:groupid].present? %>
      <% groupsupported = Group.find(params[:groupid]) %>
      5% of purchase will go to <%= groupsupported.name %><br>
    <% end %>

    <% @sidebarmerchandise.each do |merch| %>
      <% if user_signed_in? %>
        <% if merch.itempic.present? && merch.itempic != '' %>
          <table><tr>
            <td style = "width: 250px; overflow:hidden">
              <%= link_to (image_tag merch.itempic.url.to_s, :style => "max-width:240px"), merchandise_path(merch.id) %>
            </td>
            <td>
              <% if current_user.id == @user.id %>
                <%= button_to "Edit Perk", edit_merchandise_path(merch.id), method: :get, form_class: 'btn btn-small', class: 'button' %><br>
              <% end %>
              <% if @user.stripeid.present? || @user.id == 143 %>
                <%= link_to image_tag("buynow.png" ), new_purchase_path( :merchandise_id => merch.id, :group_id => params[:groupid]), method: :get %> 
              <% end %>
            </td>
          </tr>
          </table>
          <table style = "width: 330px;"><tr><td><%= link_to(merch.name, merchandise_path(merch.id, :groupid => params[:groupid]) ) %></td> 
            <% if @user.stripeid.present? || @user.id == 143 %>
              <td style='float:right'>$<%= sprintf('%.2f', merch.price) %> USD</td> 
              <% if (merch.deadline) != nil %>
                    <% daysaway = (merch.deadline.to_date - Date.today.to_date).to_i %>
                    <%= "Expires in " + daysaway.to_s + " days"%>
                  <% end %>
            <% end %>
          </tr>
          </table>
          <%= truncate(merch.desc, :length => 200, :separator => ' ') %><br><br>

        <% else %>
          <div class="post-border">
            <table>
              <tr>
              <td style = "width: 250px;">
                <%= link_to(merch.name, merchandise_path(merch.id, :groupid => params[:groupid]), class: 'link-to-text') %></td>
              <td>
                <% if current_user.id == @user.id %>
                  <br><br>  <%= button_to "Edit Perk", edit_merchandise_path(merch.id), method: :get, form_class: 'btn btn-small', class: 'button' %>
                  <br>$<%= sprintf('%.2f', merch.price) %> USD</br>
                  <% if (merch.deadline) != nil %>
                    <% daysaway = (merch.deadline.to_date - Date.today.to_date).to_i %>
                    <%= "Expires in " + daysaway.to_s + " days"%>
                    <% if daysaway < 8 %>
                      <br><i> Ending Soon! </i></br>
                    <% end %>
                  <% end %>
                <% end %>
                <% if @user.stripeid.present? || @user.id == 143 %>
                  <%= link_to image_tag("buynow.png" ), new_purchase_path( :merchandise_id => merch.id, :group_id => params[:groupid]), method: :get %> 
                <% end %>
              </td></tr>
              <tr><td><%= truncate(merch.desc , :length => 200, :separator => ' ') %></td>
                <% if @user.stripeid.present? || @user.id == 143 %>
                  <% if merch.price.present? %>
                    <td style='float:right'>$<%= sprintf('%.2f', merch.price) %> USD</td>
                  <% end %>
                  <% if (merch.deadline) != nil %>
                    <% daysaway = (merch.deadline.to_date - Date.today.to_date).to_i %>
                    <%= "Expires in " + daysaway.to_s + " days"%>
                  <% end %>
                <% end %>
              </tr>
            </table>
          </div>
        <% end %>

      <% else %>
        <table style = "width: 330px;"><tr><td>
          <% if merch.itempic.present? && merch.itempic != '' %>
            <%= link_to (image_tag merch.itempic.url.to_s, :style => "max-width:330px"), merchandise_path(merch.id) %><br>
          <% end %>
          <%= link_to(merch.name, merchandise_path(merch.id, :groupid => params[:groupid]) ) %></td> </tr>
        </table>
        <%= truncate(merch.desc , :length => 200, :separator => ' ') %><br><br>
      <% end %> 

    <% end %> 
  <% end %>
    <br><br>
</div>
</div>
</ul>
</div>
</div>
