
<style type="text/css">
  
  #articles .caler {

    border-collapse: collapse;
    width: 100%; }

/*    td, th {
      font-family: "Lucida Grande", arial, helvetica, sans-serif;
      font-size: 10px;
      padding: 6px;
      border: 1px solid #999;
    }*/

     th {
      font-family: "Lucida Grande", arial, helvetica, sans-serif;
      font-size: 10px;
      padding: 6px;
      border: 1px solid #999;
      background: #DDD;
      color: #666;
      text-align: center;
      width: 14.2857142857143%;
    }

      td{
      font-family: "Lucida Grande", arial, helvetica, sans-serif;
      font-size: 10px;
      padding: 6px;
      border: 1px solid #999;
      background: #FFF;
      color: #020202;
      height: 150px;
      
      vertical-align: top;
      font-size: 16px;
    }

    .notmonth { color: #CCC; }
    .today { background-color: #D7F2FF; }

  /*}*/

  #articles #month {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    
    a {
      text-decoration: none;
      padding: 0 10px;
      color: #999;
    }
  }

  #articles ul {
    font-size: 11px;
    padding-left: 20px;
  }

.title {
  font-family: sans-serif;
  color: #dc2d5e;
  /*text-align: center;*/
}

.tabContainer{
  width: 100%;
  height: auto;
  
}

.tabContainer .buttonContainer {
  height: 15%;
  /*text-align: center;*/
  padding-left: 70px;
}

.tabContainer .buttonContainer button{
  width: 300px;
  height: 100%;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-family: sans-serif;
  font-size: 18px;
  background-color: #eee;
  
}

.tabContainer .buttonContainer button:hover{
  background-color: #d7d4d4;
}

.tabContainer .tabPanel{
  height: auto;
  background-color: gray;
  color: white;
  /*text-align: center;*/
  padding-top: 10px;
  /*padding-bottom: 10px;*/
  box-sizing: border-box;
  font-family: sans-serif;
  /*font-size: 22px;*/
  display: none;


}

</style>
<%= will_paginate @events, renderer: BootstrapPagination::Rails %>
<% offset = -1 * Time.now.in_time_zone("Pacific Time (US & Canada)").gmt_offset/3600%>
<%i = 0%>



<div class="container" style="padding-top: 50px; float: center; width: auto; max-width: 1470px;">
<div id="articles">
	<%= caler do |date| %>
		<%= date.day %>
      <% if @events.count != 0 %>
        <% @events.sort_by{|t| t.start_at}.each do |event| %>
        <% user = User.find(event.usrid) %>
        <% i += 1 %>  
        <%= link_to user.name, user.permalink, id: "calendar-event" %>
        Let's talk about <%= link_to event.name, event, title: event.desc %>

      <% end %>  
	<% end %>
	</div>
</div>
<% end %>

