<title> CrowdPublish.TV - <%= @user.name %>'s site</title>
<% @descname = @user.name.gsub(/ +/, '-')
if @user.genre1 ; @genreone = @user.genre1.gsub(/ +/, '-') else @genreone = "_"  end
if @user.genre2 ; @genretwo = "," + @user.genre2.gsub(/ +/, '-') else @genretwo = "_" end
if @user.genre3 ; @genrethree = "," + @user.genre3.gsub(/ +/, '-') else @genrethree = "_" end %>

<% content_for :forusers do %>
  <meta name="description" content= <%= "Read_about_author_" + @descname + "'s_books:" + @genreone + @genretwo + @genrethree %>
<% end %>

<header class="navbar navbar-userpage">
  <div class="navbar-inner clearfix">
    <ul class="nav navbar-nav pull-left">
      <% if @user.author == 2 %>
        <li><%= link_to @user.name + " Home ", user_profile_path(@user.permalink) %>
        <li><%= link_to " Projects ", user_projects_path(@user.permalink) %>
        <li><%= link_to " Books ", user_booklist_path(@user.permalink) %>
        <li><%= link_to " Perks ", user_merchandise_path(@user.permalink) %>
        <li><%= link_to " Calendar ", user_calendar_path(@user.permalink) %>
      <% else %>
        <li><%= link_to " About " + @user.name, user_profile_path(@user.permalink) %>
      <% end %>
        <li><%= link_to " Blog ", user_blog_path(@user.permalink) %>
    </ul>

    <ul class="nav navbar-nav pull-right usermenu">
        <li><%= link_to " CrowdPublishTV Home ", root_path(@user.permalink) %>
        <li><%= link_to " Recent Projects ", projects_path %>
      <% if user_signed_in? %>
        <li><%= link_to "#{current_user.name}", user_profile_path(current_user.permalink) %> 
        <li><%= link_to " Sign out ", destroy_user_session_path, :method => :delete %>
      <% else %>
        <li><%= link_to 'SIGN UP!', "/signup" %> 
        <li><%= link_to "Sign in", new_user_session_path %> 
      <% end %>
    </ul>
  </div>
</header>

