<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>
<% offset = -1 * Time.now.in_time_zone("Pacific Time (US & Canada)").gmt_offset/3600%>
<%eventCount = 0%>
<div class="panel panel-default border-right border-left border-top table-responsive">
  <% if @calendar_events_all.count != 0 %>
    <table class="table table-hover" id=calendar>
      <tbody>
        <% @calendar_events_all.sort_by{|t| t.start_at}.each_with_index do |event, i| %>
          <% if event.start_at.to_date.eql?(currentDate) %>
            <%eventCount += 1%>
            <% user = User.find(event.user_id) %>
            <tr>
              <td class=col-xs-3>
                <div id = "calendar-event">
                  <%= link_to event.name, event_path(event.id), id: "calendar-event", title: event.desc %>
                </div>
                <%= link_to user.name, user.permalink%>
                <% if user_signed_in? %>
                  <% if event.user_id == current_user.id %>
                    <%= link_to '(Edit Conversation)', edit_event_path(event.id), id: "calendar-host" %>
                  <% end %>
                <% end %>
              </td>
              <td class=col-xs-3>
                <% edt = event.start_at + 3.hours %>
                <% dayId = "week-day-#{currentDate.strftime('%A')}-#{i}"%>
                <% timeId = "week-time-#{currentDate.strftime('%A')}-#{i}"%>
                <span style="font-size:125%;" id="<%=dayId%>"></span>
                <br>
                <span style="font-size:90%;"id="<%=timeId%>"></span>
              </td>
              <script>
                var date = new Date(Date.parse("<%= event.start_at.strftime("%FT%T%:z") %>"));
                date.setHours(date.getHours() + parseInt("<%=offset%>")) // the 7 is for daylight savings time
                var optionsDay = { weekday: 'short', month: 'long', day: 'numeric' };
                var optionsTime = { hour: '2-digit', minute: '2-digit', timeZoneName: 'long'};
                document.getElementById('<%=dayId%>').innerHTML = date.toLocaleString(undefined, optionsDay);
                document.getElementById('<%=timeId%>').innerHTML = date.toLocaleString(undefined, optionsTime);
              </script>
              <td class=col-xs-3>
                <% @rsvp = Rsvpq.new %>
                <% start_time = event.start_at.strftime("%B %d %Y") + ' ' + event.start_at.strftime("%T") %>
                <% end_time = event.end_at.strftime("%B %d %Y") + ' ' + event.end_at.strftime("%T") %>

                <% if ((Time.current - offset.hours) > Time.find_zone("UTC").parse(start_time) ) && ((Time.current - offset.hours) < Time.find_zone("UTC").parse(end_time)) %>
                  <%= link_to " Join Conversation NOW ", user_viewer_path(user.permalink, chatrm: event.topic , event: event.id), class: "btn btn-primary btn-sm fa fa-video-camera" %>
                  <div id="live<%=eventCount%>"></div>
                  <script>
                    function liveCount() {
                      $.get("/conversations/livecounter", {id: "<%=event.id%>"}, function(data) {
                        if (data.success == true)
                          $('#live<%=eventCount%>').html(data.html)
                      })
                      setTimeout(liveCount, 8000);
                    }

                    liveCount()
                  </script>
                <% else %>
                    <%= form_for(@rsvp) do |f| %>
                      <% if @rsvp.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>
                          <ul>
                            <% @rsvp.errors.full_messages.each do |msg| %>
                              <li><%= msg %></li>
                            <% end %>
                          </ul>
                        </div>
                      <% end %>
                      <input type="hidden" id="timeZone<%=i%>" name="timeZone">
                      <%= f.hidden_field :event_id, :value => event.id %>
                      <script>
                        var date = new Date(Date.parse("<%= event.start_at.strftime("%FT%T%:z") %>"))
                        date.setHours(date.getHours() + parseInt("<%=offset%>"))
                        var optionsTime = { hour: '2-digit', minute: '2-digit'};
                        document.getElementById("timeZone<%=i%>").value = date.toLocaleString(undefined, optionsTime)
                      </script>
                      <% if user_signed_in? %>
                        <%= f.hidden_field :user_id, :value => current_user.id %>
                        <%= f.submit "RSVP", :style => "color: #fff; background-color: #880f42; padding: 2px 20px; font-weight: normal; border-radius:0px;", :id => "RSVPsubmit" %>
                      <% else %>
                        <%= f.text_field :email, :style => "border: 1px solid grey; border-radius: 0px;", placeholder: "Enter email", :class =>"enter_email" %>
                        <%= f.submit "RSVP", :style => "color: #fff; background-color: #880f42; padding: 2px 20px; font-weight: normal; border-radius:0px;", :id => "RSVPsubmit" %>
                      <% end %>
                    <% end %>
                <% end %>
              </td>

              <!-- Share Buttons -->
              <td class=col-xs-2>
                <% domainurl = "http://www.thinq.tv/"%>

                <!-- Facebook Share -->
                <a href="http://www.facebook.com/sharer.php?u=<%= domainurl %><%= user.permalink %>%"
                  onclick="window.open('http://www.facebook.com/sharer.php?u=<%= domainurl %><%= user.permalink %>',
                  'newwindow',
                  'width=600,height=400,top=100,left=300');
                  return false;">
                  <%= image_tag("social-share-button/facebook.png")%>

                </a>&nbsp

                  <!-- Twitter Share -->
                  <a href="https://twitter.com/intent/tweet?text=Join <%= user.name %>'s' Conversation to talk about: <%= event.name + "," %> <%= event.start_at.strftime("%B %d, %I:%M %p")%> PDT: http://www.thinq.tv/<%= user.permalink %>%20Every%20afternoon%20and%20evening%20ThinQ.tv%20has%20meaningful%20live%20video%20chat%20conversations%20to%20get%20you%20motivated%20for%20the%202020%20elections.%20Go%20to%20http://ThinQ.tv%20and%20browse%20the%20schedule%20of%20Conversations."
                    onclick="window.open('https://twitter.com/intent/tweet?text=Join <%= user.name %> Conversation: <%= event.name + "," %> <%= event.start_at.strftime("%B %d, %I:%M %p")%> PDT: http://www.thinq.tv/<%= user.permalink %>,
                    'newwindow',
                    'width=600,height=400,top=80,left=300');
                    return false;">
                    <%= image_tag("social-share-button/twitter.png")%>
                  </a>&nbsp

                <!-- LinkedIn -->
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= @surl %>"
                  onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url=<%= @surl %>',
                  'newwindow',
                  'width=600,height=400,top=100,left=300');
                  return false;">
                  <%= image_tag("social-share-button/linkedin.png")%>
                </a>&nbsp

              </td>
            </tr>
          <% end %>
        <% end %>
        <% if eventCount == 0 %>
          <tr>
            <td>
              <h4>There are no more conversations on <%=currentDate.strftime('%A') %>. Try the following day!</h4>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  <% end %>
</div>
