<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>
<% offset = -1 * Time.now.in_time_zone("Pacific Time (US & Canada)").gmt_offset/3600%>
<%eventCount = 0%>
<div class="panel panel-default border-right border-left border-top table-responsive">
  <% if @calendar_events_all.count != 0 %>
    <table class="table table-hover" id=calendar>
      <tbody>
        <% @calendar_events_all.sort_by{|t| t.start_at}.each_with_index do |event, i| %>
          <% if event.start_at.to_date.eql?(currentDate) %>
            <%eventCount += 1%>
            <% user = User.find(event.user_id) %>
            <tr>
              <td class=col-xs-2>
                <% rsvpeople = "" %>
                <% rsvpusers = event.users %>

                <% dayId = "week-day-#{currentDate.strftime('%A')}-#{i}"%>
                <% timeId = "week-time-#{currentDate.strftime('%A')}-#{i}"%>

                <span style="font-size:90%;" id=<%=dayId%>></span>
                <br>
                <span style="font-size:125%;"id=<%=timeId%>></span>
              </td>
              <script>
                var date = new Date(Date.parse("<%= event.start_at.strftime("%FT%T%:z") %>"));
                date.setHours(date.getHours() + parseInt("<%=offset%>"))
                var optionsDay = { weekday: 'short', month: 'long', day: 'numeric' };
                var optionsHour = { hour: '2-digit', minute: '2-digit', timeZoneName: 'short' };
                document.getElementById('<%=dayId%>').innerHTML = date.toLocaleString(undefined, optionsDay);
                document.getElementById('<%=timeId%>').innerHTML = date.toLocaleString(undefined, optionsHour);
              </script>
              <td class=col-xs-2>
                <%= event.topic %><br>
                <%= link_to user.name, user.permalink, title: rsvpeople %>

                <% if user_signed_in? %>
                  <% if event.user_id == current_user.id %>
                    <%= link_to '(Edit)', edit_event_path(event.id), id: "calendar-host" %>
                  <% end %>
                <% end %>
              </td>
              <td class="col-xs-3 overflow-visible">
                <% rsvps = event.rsvpqs %>
                 <% rsvpusers = event.users %>
                <% if rsvps.count > 0 %>
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" >
                  <span class="caret"></span> &nbsp; Who will be there &nbsp; <span><%= rsvps.count %></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right rsvp-dropdown">
                  <% rsvps.each do |rsvp| %>
                  <%if !rsvp.user_id.nil? %>
                    <% rsvpuser = User.find(rsvp.user_id) %>
                    <%= link_to user_profile_path(rsvpuser.permalink) do %>
                      <div class="dropdown-item">
                        <span>
                          <% if rsvpuser.profilepic.present? && rsvpuser.profilepic != '' %>
                            <%= image_tag rsvpuser.profilepic.url.to_s, :class => 'img-xs' %>
                          <% elsif !rsvpuser.profilepic.url.nil? %>
                            <% if rsvpuser.profilepic.url.match(/http/) %>
                              <%= image_tag rsvpuser.profilepic.url, :class => 'img-xs' %>
                            <% end %>
                          <% else %>
                            <%= image_tag "logoDigitalHollow300.png", :class => 'img-xs' %>
                          <% end %>
                        </span>
                        <%= rsvpuser.name %></div>
                    <% end %>
                  <% end %>
                  <% end %>
                  <% rsvps.each do |rsvp| %>
                    <% unless rsvp.email.blank? %>
                      <% parts = rsvp.email.split('@') %>
                      <div class="dropdown-item"><%= parts[0] %></div>
                    <% end %>
                  <% end %>
                </div>
                <% end %>
              </td>

              <td class=col-xs-2>
                <% @rsvp = Rsvpq.new %>
                <% start_time = event.start_at.strftime("%B %d %Y") + ' ' + event.start_at.strftime("%T") %>
                <% end_time = event.end_at.strftime("%B %d %Y") + ' ' + event.end_at.strftime("%T") %>

                <% if ((Time.current - offset.hours) > Time.find_zone("UTC").parse(start_time) ) && ((Time.current - offset.hours) < Time.find_zone("UTC").parse(end_time)) %>
                  <%= link_to " Join " + event.topic, user_viewer_path(user.permalink, chatrm: event.topic , event: event.id), class: "btn btn-primary btn-sm fa fa-video-camera" %>
                  <div id="live<%=eventCount%>"></div>
                  <script>
                    function liveCount() {
                      $.get("/conversations/livecounter", {id: "<%=event.id%>"}, function(data) {
                        if (data.success == true)
                          $('#live<%=eventCount%>').html(data.html)
                      })
                      setTimeout(liveCount, 8000);
                    }
                    
                    liveCount()
                  </script>
                <% else %>
                    <%= form_for(@rsvp) do |f| %>
                      <% if @rsvp.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>
                          <ul>
                            <% @rsvp.errors.full_messages.each do |msg| %>
                              <li><%= msg %></li>
                            <% end %>
                          </ul>
                        </div>
                      <input type="hidden" id="timeZone<%=i%>" name="timeZone">
                      <%= f.hidden_field :event_id, :value => event.id %>
                      <% if user_signed_in? %>
                        <%= f.hidden_field :user_id, :value => current_user.id %>

                        <% flag = true %>
                        <% event.rsvpqs.each do |rsvp| %>
                          <% if rsvp.user_id == current_user.id %>
                            <% flag = false %>
                          <% end %>
                        <% end %>

                        <% if flag %>
                        <%= f.submit "RSVP", :style => "color: #fff; background-color: #880f42; padding: 2px 20px; font-weight: normal; border-radius:0px;", :id => "RSVPsubmit"  %>
                        <% end %>
                      <% else %>
                        <%= f.text_field :email, :style => "border: 1px solid grey; border-radius: 0px;", placeholder: "Enter email", :class =>"enter_email" %>
                        <%= f.submit "RSVP", :style => "color: #fff; background-color: #880f42; padding: 2px 20px; font-weight: normal; border-radius:0px;", :id => "RSVPsubmit" %>
                      <% end %>
                    <% end %>

                    <input type="hidden" id="timeZone<%=i%>" name="timeZone">
                    <%= f.hidden_field :event_id, :value => event.id %>

                    <script>
                      var date = new Date(Date.parse("<%= event.start_at.strftime("%FT%T%:z") %>"))
                      date.setHours(date.getHours() + parseInt("<%=offset%>"))
                      var optionsTime = { hour: '2-digit', minute: '2-digit'};
                      document.getElementById("timeZone<%=i%>").value = date.toLocaleString(undefined, optionsTime)
                    </script>

                    <% if user_signed_in? %>
                      <%= f.hidden_field :user_id, :value => current_user.id %>
                      <%= f.submit "RSVP", :style => "color: #fff; background-color: #880f42; padding: 2px 20px; font-weight: normal; border-radius:0px;", :id => "RSVPsubmit" %>
                    <% else %>
                      <%= f.text_field :email, :style => "border: 1px solid grey; border-radius: 0px;", placeholder: "Enter email", :class =>"enter_email" %>
                      <%= f.submit "RSVP", :style => "color: #fff; background-color: #880f42; padding: 2px 20px; font-weight: normal; border-radius:0px;", :id => "RSVPsubmit" %>
                    <% end %>
                  <% end %>
                <% end %>
              </td>


              <!-- Share Buttons -->
              <td class=col-xs-2>
                <% domainurl = "https://thinq.tv/" %>

                <!-- Facebook Share -->
                <a href="http://www.facebook.com/sharer.php?u=<%= domainurl %><%= user.permalink %>%"
                  onclick="window.open('http://www.facebook.com/sharer.php?u=<%= domainurl %><%= user.permalink %>',
                  'newwindow',
                  'width=600,height=400,top=100,left=300');
                  return false;">
                  <%= image_tag("facebook_icon.png", :style => "margin-left: 0px; width:25px; height:25px; border-radius:4px")%>
                </a>&nbsp

                  <!-- Twitter Share -->
                  <a href="https://twitter.com/intent/tweet?text=Join <%= user.name %>'s' Conversation to talk about: <%= event.name + "," %> <%= event.start_at.strftime("%B %d, %I:%M %p")%> PDT: <%= request.base_url %><%= user.permalink %>%20Every%20afternoon%20and%20evening%20ThinQ.tv%20has%20meaningful%20live%20video%20chat%20conversations%20to%20get%20you%20motivated%20for%20the%202020%20elections.%20Go%20to%20http://ThinQ.tv%20and%20browse%20the%20schedule%20of%20Conversations."
                    onclick="window.open('https://twitter.com/intent/tweet?text=Join <%= user.name %> Conversation: <%= event.name + "," %> <%= event.start_at.strftime("%B %d, %I:%M %p")%> PDT: <%= request.base_url %><%= user.permalink %>,
                    'newwindow',
                    'width=600,height=400,top=80,left=300');
                    return false;">
                  <%= image_tag("twitter_icon.png", :style => "margin-left: -5px; width:25px; height:25px; border-radius:4px")%>
                  </a>

                <!-- LinkedIn -->
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= @surl %>"
                  onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url=<%= @surl %>',
                  'newwindow',
                  'width=600,height=400,top=100,left=300');
                  return false;">
                  <%= image_tag("linkedin_icon.png", :style => "margin-left: 0px; width:25px; height:25px; border-radius:4px")%>
                </a>&nbsp

              </td>
            </tr>
          <%end%>
        <% end %>
        <% if eventCount == 0 %>
          <tr>
            <td>
              <h4>There are no more Drop-In hours on <%=currentDate.strftime('%A') %>. Try the following day!</h4>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  <% end %>
</div>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>