<div>
  <a class="btn" style="padding: 0px;" onclick="window.open('<%= facebookLink %>',
    'facebook', 'width=600,height=400,top=100,left=300'); return false;">
    <%= image_tag("facebook_icon.png", :style => "width:25px; height:25px;")%>
  </a>
  <a class="btn" style="padding: 0px;" onclick="window.open('<%= twitterLink %>',
    'twitter', 'width=600,height=400,top=80,left=300'); return false;">
    <%= image_tag("twitter_icon.png", :style => "width:25px; height:25px;") %>
  </a>
  <a class="btn" style="padding: 0px;" onclick="window.open('<%= linkedInLink %>',
    'linkedin', 'width=600,height=400,top=100,left=300'); return false;">
    <%= image_tag("linkedin_icon.png", :style => "width:25px; height:25px;")%>
  </a>
</div>
