<sidebar class="clearfix col-lg-3 col-md-3">
<div class="wrapper clearfix">
  <div class="profile-pic col-md-3 col-sm-3 col-xs-3" >
    <div>
    <% if @user.profilepic.present? && @user.profilepic != '' %>
      <%= image_tag @user.profilepic, :height => "150" %>
    <% elsif @user.profilepicurl %>
      <% if @user.profilepicurl.match(/http/) && @user.profilepicurl.match(/jpeg|jpg|gif|png|tif|GIF|TIF|PNG|JPEG|JPG/) %>
        <%= image_tag @user.profilepicurl, :height => "150" %><br >
      <% else %>
        <%= image_tag "whiteBk.jpg", :height => "150" %>
      <% end %>
    <% else %>
      <%= image_tag "whiteBk.jpg", :height => "150" %>
    <% end %>
    </div>

    <% if @user == current_user %>
      <% if @user.author == 2 #user is an author %>
        <%= button_to "Edit Profile", user_profileinfo_path(@user.permalink), :method=> :get %>
        <%= button_to "Edit Your Books", user_edit_path(@user.permalink), :method=> :get %>
        <%= button_to "Edit Your Merchandise", user_loot_path(@user.permalink), :method=> :get %>
        <%= button_to "Edit Your Groups", user_groups_path, :method=> :get %>
        <%= button_to "Edit Your Events", user_eventlist_path(@user.permalink), :method=> :get %>
        <%= button_to "Edit Your Projects", user_projects_path(@user.permalink), :method=> :get %>
        <%#= button_to "$$$", "https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_6Ws7cje29FmtiJa6Lwh9DcxsehbXBC4Q&scope=read_write", :method=> :get %>
      <% else #user is NOT an author therefore has not written any books %> 
        <%= button_to "Edit Profile", user_readerprofileinfo_path(@user.permalink), :method=> :get %>
        <%= button_to "Edit Your Groups", groups_path, :method=> :get %>
        <%= button_to "Edit Your Events", user_eventlist_path(@user.permalink), :method=> :get %>
      <% end %> 
    <% end %> 
  </div>

  <div class="col-md-9 col-sm-9 col-xs-9 author-info" >
    <div class="username" >
      <%= @user.name %>
    </div>
    <div class="usergenre" >
      <%= @user.genre1 %><br><%= @user.genre2 %><br><%= @user.genre3 %>
    </div>
  </div>
</div>

<div class="author-books">
<% if @user.author == 2 %>
  <% if @user.books.any? %>
    <% @user.books.each do |book| %>
      <%= form_for(book) do |f| %>
        <div class="clearfix">
          <div class="col-md-3 col-sm-3 col-xs-3 book-cover">
            <div class="fanbook" style="width:75px;height:100px;background-color:#bbdd99; line-height:0.9em; text-align: center; border-width:thin medium medium thin; border-color: 000; border-style: solid" >
              <% if book.coverpic.present? && book.coverpic != '' %>
                <%= link_to image_tag(book.coverpic, :size => "75x100", :title => "Purchase " + book.title), book_path(:id => book.id)  %>
              <% elsif book.coverpicurl.present? && book.coverpicurl.match(/http/) && book.coverpicurl.match(/jpeg|jpg|gif|png|tif|GIF|TIF|PNG|JPEG|JPG/) %>
                <%= link_to image_tag(book.coverpicurl, :size => "75x100", :title => "Purchase " + book.title), book_path(:id => book.id) %>
              <% elsif book.title.match /[0-9A-Za-z]/ %> 
                <%= link_to book.title, book_path(:id => book.id), :class => 'covertitle', :style => 'color:#880000', :title => "Purchase " + book.title %><br><br>
                <%= link_to @user.name, book_path(:id => book.id), :class => 'covername', :style => 'color:#2c3651',  :title => "Purchase " + book.title %><br>
              <% end %>
            </div><br>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8 book-info">
            <div class="clearfix" style="line-height:94%;">
              <div class="fanbook" style="float:left; font-weight:bold">
                <%= link_to book.title, book_path(:id => book.id), :style => 'color:#2c3651', :title => "Purchase " + book.title %><br>
              </div>
              <div class="fanbook" style="float:right;">
                &nbsp<%= book.genre %><br>
              </div>
            </div>
            <div class="fifty"><br><%= link_to book.fiftychar, book_path(:id => book.id), :style => 'color:#2c3651', :title => "Purchase " + book.title  %> </div><br>
          </div>
        </div>
      <% end #form_for %>
    <% end #@user.bks.each do %>
  <% else %>
    <% if @user == current_user %>
      <p>Click on Edit Books to list your writings - even those in progress - so this sidebar won't be empty!. </p>
    <% end %>
  <% end %>
<% else # sidebar for reader%>

<% end %>
</div>
</sidebar>
