<sidebar class>
<div class="row">
  <div class="col-md-5 col-sm-5 col-xs-5" >
    <div style="vertical-align:top; horizontal-align:center; height:150px; width:150px; overflow:hidden;" >
    <% if @user.profilepic.present? && @user.profilepic != '' %>
      <%= image_tag @user.profilepic, :height => "150" %>
    <% elsif @user.profilepicurl %>
      <% if @user.profilepicurl.match(/http/) %>
        <%= image_tag @user.profilepicurl, :height => "150" %><br >
      <% else %>
        <%= image_tag "whiteBk.jpg", :height => "150" %>
      <% end %>
    <% else %>
      <%= image_tag "whiteBk.jpg", :height => "150" %>
    <% end %>
    </div>

    <% if @user == current_user %>
      <% if @user.author == 2 %>
        <%= button_to "Edit Profile", user_profileinfo_path(@user.permalink), :method=> :get %>
        <%= button_to "Edit Books", user_edit_path(@user.permalink), :method=> :get %>
        <%= button_to "Edit Your Groups", user_groups_path, :method=> :get %>
        <%= button_to "Edit Your Events", user_eventlist_path(@user.permalink), :method=> :get %>
      <% else %> 
        <%= button_to "Edit Profile", user_readerprofileinfo_path(@user.permalink), :method=> :get %>
        <%= button_to "Edit Your Groups", groups_path, :method=> :get %>
        <%= button_to "Edit Your Events", user_eventlist_path(@user.permalink), :method=> :get %>
      <% end %> 
    <% end %> 
  </div>

  <div class="col-md-7 col-sm-7 col-xs-7" >
    <div class="username" >
      <%= @user.name %>
    </div>
    <div class="usergenre" >
      <%= @user.genre1 %><br><%= @user.genre2 %><br><%= @user.genre3 %>
    </div>
  </div>
</div>

<div class="row">
<% if @user.author == 2 %>
  <% if @user.books.any? %>
    <% @user.books.each do |book| %>
      <%= form_for(book) do |f| %>
        <div class="row" style="margin-top:20px; margin-left:1px;" >
          <div class="col-md-3 col-sm-3 col-xs-3" >
            <div class="fanbook" style="width:75px;height:100px;background-color:#bbdd99;  text-align: center; line-height:70%" >
              <% if book.coverpic.present? && book.coverpic != '' %>
                <%= link_to image_tag(book.coverpic, :size => "75x100", :title => "Purchase " + book.title), book_path(:id => book.id)  %>
              <% elsif book.coverpicurl.present? && book.coverpicurl.match(/http/) %>
                <%= link_to image_tag(book.coverpicurl, :size => "75x100", :title => "Purchase " + book.title), book_path(:id => book.id) %>
              <% elsif book.title.match /[0-9A-Za-z]/ %> 
                <br><%= link_to book.title, book_path(:id => book.id), :class => 'covertitle', :style => 'color:#880000', :title => "Purchase " + book.title %><br><br>
                <%= link_to @user.name, book_path(:id => book.id), :class => 'covername', :style => 'color:#2c3651',  :title => "Purchase " + book.title %><br>
              <% end %>
            </div><br><br>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <div class="row" style="line-height:94%; margin-right:5px; margin-top:5px">
              <div class="fanbook" style="float:left; width:65%; font-weight:bold">
                <%= link_to book.title, book_path(:id => book.id), :style => 'color:#2c3651', :title => "Purchase " + book.title %><br>
              </div>
              <div class="fanbook" style="float:right; width:35%">
                &nbsp<%= book.genre %><br>
              </div>
            </div>
            <div class="fifty" style="margin-right:20px"><br><%= link_to book.fiftychar, book_path(:id => book.id), :style => 'color:#2c3651', :title => "Purchase " + book.title  %> </div><br>
          </div>
        </div>
      <% end #form_for %>
    <% end #@user.bks.each do %>
  <% else %>
    <% if @user == current_user %>
      <p>Edit/List your books - even the ones In Progress - so this sidebar won't be empty!. </p>
    <% end %>
  <% end %>
<% else # sidebar for reader%>

<% end %>
</div>
</sidebar>
