<% if user_signed_in? %>
  <% if current_user.id == @user.id %>
    <% if !current_user.stripeid.present? || current_user.stripeid == '' %>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <% if Rails.env.development? || Rails.env.test? %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="stripeAlert">
           
              <span class="clearfix">
                <span id="stripeAlertText">You must <strong><a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%= STRIPE_CONNECT_CLIENT_ID %>&scope=read_write" target="_blank">connect to Stripe</a></strong> to sell Rewards!</span>
                <span class="justify-content-end">
                  <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%= STRIPE_CONNECT_CLIENT_ID %>&scope=read_write" target="_blank"><%= image_tag("stripebutton.png")%></a>
                </span>
              </span>
            </div>
          <% else %>
            <div class="alert alert-danger alert-dismissible fade in clearfix" id="stripeAlert">
              
              <span class="clearfix">
                <span id="stripeAlertText">You must <strong><a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%= ENV['STRIPE_CONNECT_CLIENT_ID'] %>&scope=read_write" target="_blank">connect to Stripe</a></strong> to sell Rewards!</span>
                <span class="pull-right">
                  <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%= ENV['STRIPE_CONNECT_CLIENT_ID'] %>&scope=read_write" target="_blank"><%= image_tag("stripebutton.png")%></a>
                </span>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>