<div class="bar-shadow" >
  <ul class="fixed-header">
    <li id="crowdPublishIcon-logo" style="float:left"> <%=  image_tag("crowdPublishIcon.png", width: "35") %> </li>
    <li style="float:left"><%= link_to " CrowdPublishTV Home ", root_path(@user.permalink) %> </li>
    <li style="float:left"><%= link_to " Recent Campaigns ", phases_path %> </li>

    <% if user_signed_in? %>
      <li><%= link_to " Sign out ", destroy_user_session_path, :method => :delete %> </li>
      <li class="dropdown"> 
         <button class="btn dropdown-toggle btn-lettering button" data-toggle="dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false"> Options <i class="fa fa-caret-down"></i> </button>
          <div class="dropdown-menu dropdown-menu-right">
            <% if user_signed_in? %>
              <% if @user == current_user %>
                  <%if controller.controller_name == 'users' %>
                    <%= link_to "Edit Profile", user_profileinfo_path(current_user.permalink), method: :get, class: 'dropdown-item'%> 
                      <%= link_to "Check Dashboard OFTEN", user_dashboard_path, method: :get, class: 'dropdown-item'%>

                    <% if @mynullagreements.count != 0 %>
                      <%= link_to "You have partner request", user_phases_path(current_user.permalink), method: :get, class: 'dropdown-item' %>
                    <% end %> 
                    <%= link_to "Create Perks", standardperks_path, method: :get, class: 'dropdown-item' %>

                  <% end %>
              <% end %>
            <% end %>
          </div>
      </li>
      <li> <%= link_to "#{current_user.name}", user_profile_path(current_user.permalink) %> </li>
    <% else %>
      <li><%= link_to 'SIGN UP!', "/signup" %> </li>
      <li><%= link_to "Sign in", new_user_session_path %> </li>
    <% end %>
  </ul>
</div>