<div class="modal fade" tabindex="-1" id="myModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
				<h4 class="modal-title">Edit Perk</h4>
			</div>
			<div class="modal-body">
				<!--= PUT EDIT FORM IN SOME SORT OF RELATIONSHIP WITH ITS PASSABLE ID %-->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary">Save Perk</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row">
	<div class="col-xs-12">
		<h1>Manage Perks</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Current Perks <span class="badge pull-right"><%= @user.merchandises.count %> Perks</span>
			</div>
			<div class="panel-body">
				<% if @sidebarmerchandise.present? %>
					<% @sidebarmerchandise.each do |merch| %>
					<div class="media"><!--NUMBER OF PERKS AS A BADGE-->
						<div class="pull-left">
							<%= image_tag merch.itempic.url.to_s, class: "media-object", id: "perkImage" %>
						</div>
						<div class="media-body">
							<h4 class="media-heading">
								<%= link_to(merch.name, merchandise_path(merch.id, :groupid => params[:groupid]) ) %>
							</h4>
							
							<!--pops a modal which contains edit page-->
							<%= button_to "Edit Perk", edit_merchandise_path(merch.id), method: :get, class: "btn btn-primary pull-right", "data-toggle" => "modal", "data-target" => "#myModal" %>
							<%= button_tag "Edit Perk", class: "btn btn-primary pull-right", "data-toggle" => "modal", "data-target" => "#myModal" %>
							
							<% if merch.desc.present? %>
								<%= merch.desc %>
							<% end %>
						</div>
					</div>
					<% end %>
				<% else %>
					<span>No perks :(</span>
				<% end %>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Create Perk
			</div>
			<div class="panel-body">
			</div>
		</div>
	</div>
</div>