<div class="container mb-4 py-3 border shadow">
    <div class="text-center">

        <div class="text-center">
            <% if @user.profilepic.present? && @user.profilepic != '' %>
            <%= image_tag @user.profilepic.url.to_s, :class => "rounded-circle", :id => "profileImage", :style=> "height: 150px; width: 150px;" %>
            <% else %>
            <%= image_tag "logoDigitalHollow300.png", :class => "img-circle", :id => "profileImage", :style=> "background-color:white" %>
            <% end %>
        </div>
        <br>
        <div>
            <h1 class="maroon" id="profileName" style="font-size:2.0em"><%= @user.name %></h1>

            <% if @user.genre1.blank? == false && @user.genre1 != 'Other'%>
            <span style="font-size: 20px; font-family: helvetica;">
                <b> <%= @user.genre1 %></b>
            </span>
            <% elsif @user.genre2.blank? == false %>
            <span style="font-size: 20px; font-family: helvetica">
                <b> <%= @user.genre2 %></b>
            </span>
            <% end %>
        </div>
    </div>
    <br>
    <h4 class="text-center">
        <%= link_to "View My Profile", user_profile_url(@user.permalink), method: :get, :class => "text-dark backgroundbrand p-2", :target => "_blank"%>
    </h4>
</div>