<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>

<% offset = -1 * Time.now.in_time_zone("Pacific Time (US & Canada)").gmt_offset/3600%>
<% i = 0 %>
<% j = 0 %>
<% k = 0 %>
<% l = 0 %>
 <% @passing1 = 0%>
<br>
<div class="container">
  <div class="row" style="float:left;">
    <% getWeekDays.each_with_index do |date, index|%>
    <button onclick="Panel1(<%=index%>,'#900C3F')" class="btn btn-primary weekBtn" style="margin-bottom:2px;">
      <%=date.strftime("%A")%><br><%= date.month%><%= "/" %><%= date.day %>
    </button>
    <%end%>
  </div>
</div>
<% getWeekDays.each do |date|%>
  <div class="tabsPanel1">
    <%= render 'layouts/renderdayhome', currentDate: date%>
  </div>
<%end%>

<script>
  function Panel1 (panelIndex, colorCode) {
    var tabButtons=document.querySelectorAll(".weekBtn");
    var tabPanels=document.querySelectorAll(".container .tabsPanel1");
    tabButtons.forEach(function(node) {
      node.style.backgroundColor=colorCode;
      node.style.color="#FFFFFF";
      node.style.width="120px";
    });

    tabButtons[panelIndex].style.backgroundColor="none";
    tabButtons[panelIndex].style.color="none";
    tabPanels.forEach(function(node) {
      node.style.display="none";
    });
    tabPanels[panelIndex].style.display="block";
    tabPanels[panelIndex].style.backgroundColor="white";
  }
  Panel1(0,'#900C3F');
</script>
