<br>
<div class="container-fluid" >
  <div class="row">
    <% getWeekDays.each_with_index do |date, index|%>
    <button onclick="Panel1(<%=index%>,'#900C3F')" class="btn btn-primary weekBtn" style="margin-bottom:2px;">
      <%=date.strftime("%A")%><br><%= date.month%><%= "/" %><%= date.day %>
    </button>
    <%end%>
  </div>
</div>
<br>
<% getWeekDays.each do |date|%>
  <div class="weekDays">
    <%= render 'layouts/renderdayhome', currentDate: date%>
  </div>
<%end%>

<script>
  function Panel1 (panelIndex, colorCode) {
    var tabButtons=document.querySelectorAll(".weekBtn");
    var tabPanels=document.querySelectorAll(".weekDays");
    tabButtons.forEach(function(node) {
      node.style.backgroundColor=colorCode;
      node.style.color="#FFFFFF";
      node.style.width="120px";
    });

    tabButtons[panelIndex].style.backgroundColor="none";
    tabButtons[panelIndex].style.color="none";
    tabPanels.forEach(function(node) {
      node.style.display="none";
    });
    tabPanels[panelIndex].style.display="block";
    tabPanels[panelIndex].style.backgroundColor="white";
  }
  Panel1(0,'#900C3F');
</script>
