<!DOCTYPE html>
<html>
<head>
  <title>Crowdpublishtv</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <% if content_for? :forusers %>
    <%= yield :forusers %>
  <% end %>

</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
