<!DOCTYPE html>
<html lang="en">
<head>

  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>

  <% if content_for? :forusers %>
    <%= yield :forusers %>
  <% end %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= render 'application/favicon' %>
  <%= favicon_link_tag 'starIcon.png' %>

  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <% if Rails.env.development? || Rails.env.test? %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <% else %>
    <%= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLIC_KEY'] %>
  <% end %>

</head>

<body class="pt-5">

    <%= render 'layouts/header' %>

    <main id="absoluteWrapper ">
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>

    

</body>
</html>