<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
  <link rel="shortcut icon" type="favicon.ico" href="http://www.crowdpublish.tv/assets/crowdpublishLogo-a2376e7a854a42464a6f7cba888b27ce.png"/>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLIC_KEY'] %>
  <%# tag :meta, :name => "stripe-key", :content => 'STRIPE_PUBLIC_KEY' %>
  
  <% if content_for? :forusers %>
    <%= yield :forusers %>
  <% end %>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
<body2>

  <center>
    <div class="container">
      <%= yield %>
    </div> 
    <% #= render 'layouts/footer' %>   
  </center>

</body2>
</html>
